{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | All Tractor brands {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="brands">
    <div class="container">
        <h4 class="tractor-year__title">All Brands</h4>
        <div class="tractor-budget__navContainer">
            <ul class="nav nav-tabs customNavtab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#newTractor" role="tab" aria-controls="newTractor" aria-selected="true">New Tractor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#usedTractor" role="tab" aria-controls="usedTractor" aria-selected="false">Used Tractor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#implements" role="tab" aria-controls="implements" aria-selected="false">Implements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#harvester" role="tab" aria-controls="harvester" aria-selected="false">Harvester</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tools" role="tab" aria-controls="tools" aria-selected="false">Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#lubricants" role="tab" aria-controls="lubricants" aria-selected="false">Lubricants</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <!-- New Tractor -->
            <div class="tab-pane fade show active" id="newTractor" role="tabpanel" aria-labelledby="newTractor-tab">
                <div class="row g-2">
                    {% for brand in new_tractor %}
                    
                    <div class="col-4 col-sm-4 col-md-4 col-lg-2">
                        <div class="brands__brands-tractor">
                            <a href="">
                                <img src="{{brand.image.url}}" alt="" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Used tractor -->
            <div class="tab-pane fade" id="usedTractor" role="tabpanel" aria-labelledby="usedTractor-tab">
                <div class="row g-2">
                    {% for brand in old_tractor %}
                    <div class="col-4 col-sm-4 col-md-4 col-lg-2">
                        <div class="brands__brands-tractor">
                            <a href="">
                                <img src="{{brand.image.url}}" alt="" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Implement -->
            <div class="tab-pane fade" id="implements" role="tabpanel" aria-labelledby="implements-tab">
                <div class="row g-2">
                    {% for brand in implement_brand %}
                    <div class="col-4 col-sm-4 col-md-4 col-lg-2">
                        <div class="brands__brands-tractor">
                            <a href="">
                                <img src="{{ brand.image.url }}" alt="" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Harvester -->
            <div class="tab-pane fade" id="harvester" role="tabpanel" aria-labelledby="harvester-tab">
                <div class="row g-2">
                    {% for brand in harvester_brand %}
                    <div class="col-4 col-sm-4 col-md-4 col-lg-2">
                        <div class="brands__brands-tractor">
                            <a href="">
                                <img src="{{ brand.image.url }}" alt="" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--  Tools-->
            <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">
                <div class="row g-2">
                    {% for brand in tool_brand %}
                    <div class="col-4 col-sm-4 col-md-4 col-lg-2">
                        <div class="brands__brands-tractor">
                            <a href="">
                                <img src="{{ brand.image.url }}" alt="" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Lubricants -->
            <div class="tab-pane fade" id="lubricants" role="tabpanel" aria-labelledby="lubricants-tab">
                <div class="row g-2">
                    {% for brand in lubricant_brand %}
                    <div class="col-4 col-sm-4 col-md-4 col-lg-2">
                        <div class="brands__brands-tractor">
                            <a href="">
                                <img src="{{ brand.image.url }}" alt="" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">More About Tractor Brands</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->

{% block script %} {% endblock %}