{% extends "layout/base.html" %}
<!-- load static  -->
{% load static %}
<!-- title -->
{% block title %} | Compare Result {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="compare-tractor">
    <div class="container">
        <h4 class="text-center mb-3">Compare {{ tractor1.brand }} {{ tractor1.model }} {{ tractor1.wheel_tyre }}WD VS {{ tractor2.brand }} {{ tractor2.model }} {{ tractor2.wheel_tyre }}WD {% if tractor3 %} VS {{ tractor3.brand }} {{ tractor3.model }} {{ wheel_tyre }}WD {% endif %}</h4>
        <div class="table-responsive compareTractorSingle-comparison">
            <table class="table">
                <tbody class="compareTractor-tractors">
                    <tr class="separator" colspan="5"></tr>
                    <tr>
                        <td>&nbsp;</td>
                        {% if tractor1 %}
                        <td>
                            <div class="newTractorRate-inner ">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>{{ tractor1.engine.hp }} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ tractor1.wheel_tyre }} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ tractor1.image.left_image.url }}" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ tractor1.brand }} {{ tractor1.model }} {{ tractor1.wheel_tyre }}WD</h6>
                                    <p class="cardTractor__body---price">Nrs. {{ tractor1.price }}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (10 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="{% url 'tractor-detail' tractor1.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                        {% if tractor2 %}
                        <td>
                            <div class="newTractorRate-inner ">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>{{ tractor2.engine.hp }} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ tractor2.wheel_tyre }} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ tractor2.image.left_image.url }}" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ tractor2.brand }} {{ tractor2.model }}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{ tractor2.price }}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (20 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="{% url 'tractor-detail' tractor2.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                        {% if tractor3 %}
                        <td>
                            <div class="newTractorRate-inner ">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>{{ tractor3.engine.hp }} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ tractor3.wheel_tyre }} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ tractor3.image.left_image.url }}" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ tractor3.brand }} {{ tractor3.model }}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{ tractor3.price }}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (44 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="{% url 'tractor-detail' tractor3.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                </tbody>

                <tbody class="compareTractor-para">
                    <tr class="separator" colspan="5"></tr>
                    <tr>
                        <td colspan="5">
                            <h6>{{ tractor1.brand }} {{ tractor1.model }} {{ tractor1.wheel_tyre }}WD VS {{ tractor2.brand }} {{ tractor2.model }} {{ tractor2.wheel_tyre }}WD {% if tractor3 %} VS {{ tractor3.brand }} {{ tractor3.model }} {{ tractor3.wheel_tyre }}WD {% endif %} Comparison</h6>
                            <p> Wish to compare {{ tractor1.brand }} {{ tractor1.model }}, {% if tractor3 %} {{ tractor3.brand }} {{ tractor3.model }} {% endif %} and {{ tractor2.brand }} {{ tractor2.model }} , Find out which tractor is best for you. The Price of {{ tractor1.brand }} {{ tractor1.model }} is Rs. {{ tractor1.price }} {% if tractor3 %}, {{ tractor3.brand }} {{ tractor3.model }} is Rs. {{ tractor3.price }} {% endif %} whereas {{ tractor2.brand }} {{ tractor2.model }} is
                                Rs. {{ tractor2.price }}. The HP of {{ tractor1.brand }} {{ tractor1.model }} is {{ tractor1.engine.hp }} HP {% if tractor3 %}, {{ tractor3.brand }} {{ tractor3.model }} is {{ tractor3.engine.hp }} HP {% endif %} and {{ tractor2.brand }} {{ tractor2.model }} is {{ tractor2.engine.hp }} HP. The Engine of {{ tractor1.brand }} {{ tractor1.model }} is {{ tractor1.engine.capacity_cc }} CC,{% if tractor3 %} {{ tractor3.brand }} {{ tractor3.model }} is {{ tractor3.engine.capacity_cc }} CC {% endif %} and {{ tractor2.brand }} {{ tractor2.model }} is {{ tractor2.engine.capacity_cc }} CC.</p>
                        </td>
                    </tr>
                </tbody>

                <tbody class="compareTractor-specification">
                    <tr class="separator" colspan="5"></tr>
                    <tr class="compareTractorSingledetail-heading">
                        <td colspan="5">Engine</td>
                    </tr>
                    <tr>
                        <td>No. Of Cylinder</td>
                        <td>
                            <div class="specificationDivBlock">{{ tractor1.engine.no_cylinder }}</div>
                        </td>
                        <td>
                            <div class="specificationDivBlock">{{ tractor2.engine.no_cylinder }}</div>
                        </td>
                        <td>
                            <div class="specificationDivBlock">{{ tractor3.engine.no_cylinder }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>HP Category</td>
                        <td>{{ tractor1.engine.hp }}</td>
                        <td>{{ tractor2.engine.hp }}</td>
                        <td>{{ tractor3.engine.hp }}</td>
                    </tr>
                    <tr>
                        <td>Capacity</td>
                        <td>{{ tractor1.engine.capacity_cc }} CC</td>
                        <td>{{ tractor2.engine.capacity_cc }} CC</td>
                        {% if tractor3 %}
                        <td>{{ tractor3.engine.capacity_cc }} CC</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Engine Rated RPM</td>
                        {% if tractor1.engine.engine_rated_rpm %}
                        <td>{{ tractor1.engine.engine_rated_rpm }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.engine.engine_rated_rpm %}
                        <td>{{ tractor2.engine.engine_rated_rpm }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor3.engine.engine_rated_rpm %}
                        <td>{{ tractor3.engine.engine_rated_rpm }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Cooling</td>
                        {% if tractor1.engine.cooling %}
                        <td>{{ tractor1.engine.cooling }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.engine.cooling %}
                        <td>{{ tractor2.engine.cooling }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor3.engine.cooling %}
                        <td>{{ tractor3.engine.cooling }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Air Filter</td>
                        {% if tractor1.engine.air_filter %}
                        <td>{{ tractor1.engine.air_filter }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.engine.air_filter %}
                        <td>{{ tractor2.engine.air_filter }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor3.engine.air_filter %}
                        <td>{{ tractor3.engine.air_filter }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                </tbody>

                <tbody class="compareTractor-specification">
                    <tr class="separator" colspan="5"></tr>
                    <tr class="compareTractorSingledetail-heading">
                        <td colspan="5">Transmission</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ tractor1.transmission.transmission_type }}</td>
                        <td>{{ tractor2.transmission.transmission_type }}</td>
                        <td>{{ tractor3.transmission.transmission_type }}</td>
                    </tr>
                    <tr>
                        <td>Clutch</td>
                        <td>{{ tractor1.transmission.clutch }}</td>
                        <td>{{ tractor2.transmission.clutch }}</td>
                        <td>{{ tractor3.transmission.clutch }}</td>
                    </tr>
                    <tr>
                        <td>Gear Box</td>
                        <td>{{ tractor1.transmission.gear_box }}</td>
                        <td>{{ tractor2.transmission.gear_box }}</td>
                        <td>{{ tractor3.transmission.gear_box }}</td>
                    </tr>
                    <tr>
                        <td>Battery</td>
                        {% if tractor1.transmission.battery %}
                        <td>{{ tractor1.transmission.battery }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.transmission.battery %}
                        <td>{{ tractor2.transmission.battery }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor1.transmission.battery %}
                        <td>{{ tractor1.transmission.battery }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Alternator</td>
                        {% if tractor1.transmission.alternator %}
                        <td>{{ tractor1.transmission.alternator }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.transmission.alternator %}
                        <td>{{ tractor2.transmission.alternator }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor1.transmission.alternator %}
                        <td>{{ tractor1.transmission.alternator }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Forward Speed</td>
                        {% if tractor1.transmission.forward_speed %}
                        <td>{{ tractor1.transmission.forward_speed }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.transmission.forward_speed %}
                        <td>{{ tractor2.transmission.forward_speed }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor1.transmission.forward_speed %}
                        <td>{{ tractor1.transmission.forward_speed }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Reverse Speed</td>
                        {% if tractor1.transmission.reverse_speed %}
                        <td>{{ tractor1.transmission.reverse_speed }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.transmission.reverse_speed %}
                        <td>{{ tractor2.transmission.reverse_speed }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor1.transmission.reverse_speed %}
                        <td>{{ tractor1.transmission.reverse_speed }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                </tbody>

                <tbody class="compareTractor-specification">
                    <tr class="separator" colspan="5"></tr>
                    <tr class="compareTractorSingledetail-heading">
                        <td colspan="5">Brakes</td>
                    </tr>
                    <tr>
                        <td>Brakes</td>
                        <td>{{ tractor1.brakes }}</td>
                        <td>{{ tractor2.brakes }}</td>
                        <td>{{ tractor3.brakes }}</td>
                    </tr>
                </tbody>

                <tbody class="compareTractor-specification">
                    <tr class="separator" colspan="5"></tr>
                    <tr class="compareTractorSingledetail-heading">
                        <td colspan="5">Steering</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ tractor1.steering.steering_type }}</td>
                        <td>{{ tractor2.steering.steering_type }}</td>
                        <td>{{ tractor3.steering.steering_type }}</td>
                    </tr>
                </tbody>

                <tbody class="compareTractor-specification">
                    <tr class="separator" colspan="5"></tr>
                    <tr class="compareTractorSingledetail-heading">
                        <td colspan="5">Power Take Off</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        {% if tractor1.power.power_type %}
                        <td>{{ tractor1.power.power_type }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.power.power_type %}
                        <td>{{ tractor2.power.power_type }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor1.power.power_type %}
                        <td>{{ tractor1.power.power_type }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>RPM</td>
                        {% if tractor1.power.rpm %}
                        <td>{{ tractor1.power.rpm }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.power.rpm %}
                        <td>{{ tractor2.power.rpm }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor1.power.rpm %}
                        <td>{{ tractor1.power.rpm }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                </tbody>

                <tbody class="compareTractor-specification">
                    <tr class="separator" colspan="5"></tr>
                    <tr class="compareTractorSingledetail-heading">
                        <td colspan="5">Fuel Tank</td>
                    </tr>
                    <tr>
                        <td>Capacity</td>
                        <td>{{ tractor1.fuel_tank.capacity }} litre</td>
                        <td>{{ tractor2.fuel_tank.capacity }} litre</td>
                        {% if tractor3 %}
                        <td>{{ tractor3.fuel_tank.capacity }} litre</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                </tbody>

                <tbody class="compareTractor-specification">
                    <tr class="separator" colspan="5"></tr>
                    <tr class="compareTractorSingledetail-heading">
                        <td colspan="5">Dimensions And Weight Of Tractor </td>
                    </tr>
                    <tr>
                        <td>Total Weight</td>
                        <td>{{ tractor1.dimension_weight.total_weight }} KG</td>
                        <td>{{ tractor2.dimension_weight.total_weight }} KG</td>
                        {% if tractor3 %}
                        <td>{{ tractor3.dimension_weight.total_weight }} KG</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Wheel Base</td>
                        {% if tractor1.dimension_weight.wheel_base %}
                        <td>{{ tractor1.dimension_weight.wheel_base }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.dimension_weight.wheel_base %}
                        <td>{{ tractor2.dimension_weight.wheel_base }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor1.dimension_weight.wheel_base %}
                        <td>{{ tractor1.dimension_weight.wheel_base }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Overall Length</td>
                        <td>{{ tractor1.dimension_weight.overall_length }} MM</td>
                        <td>{{ tractor2.dimension_weight.overall_length }} MM</td>
                        {% if tractor3 %}
                        <td>{{ tractor3.dimension_weight.overall_length }} MM</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Overall Width</td>
                        <td>{{ tractor1.dimension_weight.overall_weight }} MM</td>
                        <td>{{ tractor2.dimension_weight.overall_weight }} MM</td>
                        {% if tractor3 %}
                        <td>{{ tractor3.dimension_weight.overall_weight }} MM</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Ground Clearance</td>
                        {% if tractor1.dimension_weight.ground_clearance %}
                        <td>{{ tractor1.dimension_weight.ground_clearance }} MM</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.dimension_weight.ground_clearance %}
                        <td>{{ tractor2.dimension_weight.ground_clearance }} MM</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor1.dimension_weight.ground_clearance %}
                        <td>{{ tractor1.dimension_weight.ground_clearance }} MM</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Turning Radius With Brakes</td>
                        {% if tractor1.dimension_weight.turning_radius_brakes %}
                        <td>{{ tractor1.dimension_weight.turning_radius_brakes }} MM</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.dimension_weight.turning_radius_brakes %}
                        <td>{{ tractor2.dimension_weight.turning_radius_brakes }} MM</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor1.dimension_weight.turning_radius_brakes %}
                        <td>{{ tractor1.dimension_weight.turning_radius_brakes }} MM</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                </tbody>

                <tbody class="compareTractor-specification">
                    <tr class="separator" colspan="5"></tr>
                    <tr class="compareTractorSingledetail-heading">
                        <td colspan="5">Hydraulics</td>
                    </tr>
                    <tr>
                        <td>Lifting Capacity</td>
                        <td>{{ tractor1.hydraulic.lifting_capacity }} Kg</td>
                        <td>{{ tractor2.hydraulic.lifting_capacity }} kgs</td>
                        {% if tractor3 %}
                        <td>{{ tractor3.hydraulic.lifting_capacity }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>3 point Linkage</td>
                        <td>{{ tractor1.hydraulic.three_point_linkage }}</td>
                        <td>{{ tractor2.hydraulic.three_point_linkage }}</td>
                        <td>{{ tractor3.hydraulic.three_point_linkage }}</td>
                    </tr>
                </tbody>

                <tbody class="compareTractor-specification">
                    <tr class="separator" colspan="5"></tr>
                    <tr class="compareTractorSingledetail-heading">
                        <td colspan="5">Wheels And Tyres</td>
                    </tr>
                    <tr>
                        <td>Wheel drive</td>
                        <td>{{ tractor1.wheel_tyre.wheel_drive }}</td>
                        <td>{{ tractor2.wheel_tyre.wheel_drive }}</td>
                        <td>{{ tractor3.wheel_tyre.wheel_drive }}</td>
                    </tr>
                    <tr>
                        <td>Front</td>
                        <td>{{ tractor1.wheel_tyre.front }}</td>
                        <td>{{ tractor2.wheel_tyre.front }}</td>
                        <td>{{ tractor3.wheel_tyre.front }}</td>
                    </tr>
                    <tr>
                        <td>Rear</td>
                        <td>{{ tractor1.wheel_tyre.rear }}</td>
                        <td>{{ tractor2.wheel_tyre.rear }}</td>
                        <td>{{ tractor3.wheel_tyre.rear }}</td>
                    </tr>
                </tbody>

                <tbody class="compareTractor-specification">
                    <tr class="separator" colspan="5"></tr>
                    <tr class="compareTractorSingledetail-heading">
                        <td colspan="5">Accessories</td>
                    </tr>
                    <tr>
                        <td>Accessories</td>
                        <td>{{ tractor1.other_info.accessories }}</td>
                        <td>{{ tractor2.other_info.accessories }}</td>
                        <td>{{ tractor3.other_info.accessories }}</td>
                    </tr>
                    <tr>
                        <td>Options</td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>Additional Features</td>
                        <td>{{ tractor1.other_info.additional_feature }} </td>
                        <td>{{ tractor2.other_info.additional_feature }}</td>
                        <td>{{ tractor3.other_info.additional_feature }}</td>
                    </tr>
                    <tr>
                        <td>Warranty</td>
                        {% if tractor1.other_info.warranty %}
                        <td>{{ tractor1.other_info.warranty }} MM</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor2.other_info.warranty %}
                        <td>{{ tractor2.other_info.warranty }} MM</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}

                        {% if tractor3 %}
                        {% if tractor1.other_info.warranty %}
                        <td>{{ tractor1.other_info.warranty }} MM</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ tractor1.other_info.status }}</td>
                        <td>{{ tractor2.other_info.status }}</td>
                        <td>{{ tractor3.other_info.status }}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>Nrs. {{ tractor1.price }}</td>
                        <td>Nrs. {{ tractor2.price }}</td>
                        {% if tractor3 %}
                        <td>Nrs. {{ tractor3.price }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>PTO HP</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>Fuel Pump</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock%}