
{% extends "layout/base.html" %}
<!-- load static  -->
{% load static %}
<!-- title -->
{% block title %} | Compare {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="compare-tractor">
    <div class="container">
        <h4 class="text-center mb-3">Compare Tractors</h4>
        <p class="text-center">Please select at least 2 Tractors for comparison</p>
        <form action="{% url 'compare-result' %}" method="GET" enctype="multipart/form-data">
        <div class="row g-3">
            <div class="col-12 col-sm-12 col-md-4">
                <div class="compareMainBlocks">
                    <div class="compareMainBlocks__heading">
                        <p>Tractor 1</p>
                    </div>
                    <div class="compareMainBlocks__img">
                        <img id="output1" src="{% static 'images/tractordummy.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="compareMainBlocks__filter">
                        <div class="row">
                            <div class="col-6">
                                <select name="brand1" class="form-select" id="tractorbrand1" >
                                    <option selected disabled>Select Brand</option>
                                    {% for brand in brands %}
                                    <option value="{{brand.name}}">{{brand.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="model1" data-target="#output1" class="form-select select-image" id="tractormodel1" disabled > 
                                    <option selected disabled>Select Model</option>
                                    {% for tractor in tractors %}
                                    <option data-value="{{tractor.brand}}" data-src="{{ tractor.image.left_image.url }}" value="{{ tractor.model }}">{{tractor.model}}</option>
                                    {%endfor %}
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <div class="compareMainBlocks">
                    <div class="compareMainBlocks__heading">
                        <p>Tractor 2</p>
                    </div>
                    <div class="compareMainBlocks__img">
                        <img id="output2" src="{% static 'images/tractordummy.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="compareMainBlocks__filter">
                        <div class="row">
                            <div class="col-6">
                                <select name="brand2" class="form-select" id="tractorbrand2" disabled>
                                    <option selected disabled>Select Brand</option>
                                    {% for brand in brands %}
                                    <option value="{{brand.name}}">{{brand.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="model2" data-target="#output2" class="form-select select-image" id="tractormodel2" disabled> 
                                    <option selected disabled>Select Model</option>
                                    {% for tractor in tractors %}
                                    <option data-value="{{tractor.brand}}" data-src="{{ tractor.image.left_image.url }}" value="{{ tractor.model }}">{{tractor.model}}</option>
                                    {% endfor %}
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <div class="compareMainBlocks">
                    <div class="compareMainBlocks__heading">
                        <p>Tractor 3</p>
                    </div>
                    <div class="compareMainBlocks__img">
                        <img id="output3" src="{% static 'images/tractordummy.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="compareMainBlocks__filter">
                        <div class="row">
                            <div class="col-6">
                                <select name="brand3" class="form-select" id="tractorbrand3" disabled>
                                    <option selected disabled>Select Brand</option>
                                    {% for brand in brands %}
                                    <option value="{{brand.name}}">{{brand.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="model3" data-target="#output3" class="form-select select-image" id="tractormodel3" disabled> 
                                    <option selected disabled>Select Model</option>
                                  {% for tractor in tractors %}
                                    <option data-value="{{tractor.brand}}" data-src="{{ tractor.image.left_image.url }}" value="{{ tractor.model }}">{{tractor.model}}</option>
                                    {%endfor %}
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-theme-dark">Compare Tractor Now </button>
        </div>
    </form>
    </div>
</section>
<hr class="section-divider">
<section class="compare-tractor">
    <div class="container">
        <h4 class="compare-tractor__title">Compare To Buy The Right Tractor</h4>
        <div class="row g-2">
            <div class="col-xl-4 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">COMPARE TRACTORS</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock%} {% block script %}
<script>
    $("#tractorbrand1").change(function() {
        if ($(this).data('options') == undefined) {
            $(this).data('options', $('#tractormodel1 option').clone());
        }
        var id = $(this).val();
        var options = $(this).data('options').filter('[data-value=' + id + ']');
        $('#tractormodel1').prop('disabled', false);
        $('#tractorbrand2').prop('disabled', false);
        $('#tractormodel1').html(options).show();
        $(this).parents('.row').find('.select-image').trigger('change')

    });
    $("#tractorbrand2").change(function() {
        if ($(this).data('options') == undefined) {
            $(this).data('options', $('#tractormodel2 option').clone());
        }
        var id = $(this).val();
        var options = $(this).data('options').filter('[data-value=' + id + ']');
        $('#tractormodel2').prop('disabled', false);
        $('#tractorbrand3').prop('disabled', false);
        $('#tractormodel2').html(options).show();
        $(this).parents('.row').find('.select-image').trigger('change')

    });
    $("#tractorbrand3").change(function() {
        if ($(this).data('options') == undefined) {
            $(this).data('options', $('#tractormodel3 option').clone());
        }
        var id = $(this).val();
        var options = $(this).data('options').filter('[data-value=' + id + ']');
       
        $('#tractormodel3').prop('disabled', false);
        $('#tractormodel3').html(options).show();
        $(this).parents('.row').find('.select-image').trigger('change')

    });
</script>
<script>
    $('body').on('change', '.select-image', function(){
        var img_src = $(this).children("option:selected").data('src')
        var img_target = $(this).data('target')
        console.log(img_src)
        $(img_target).attr('src',img_src)
        console.log(img_src)
    })

</script>
{% endblock %}