{% extends "layout/base.html" %} {% load humanize %}
<!--  -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractors">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__SingleSlider">
                    <!-- main Slider -->
                    <div class="tractors__sliderMain">
                        <div class="tractor-year__container">
                            <div id="tractorMainSlider" class="singleSlider owl-carousel owl-theme fancynewtractorGaller">
                                <!-- repeat item showing only 3 item -->
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{% static 'images/1.jpg' %}">
                                            <img src="{% static 'images/1.jpg' %}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{% static 'images/straw-walker.jpg' %}">
                                            <img src="{% static 'images/straw-walker.jpg' %}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="tractor-content-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tractors__thumbnail">
                        <div class="tractor-year__container">
                            <div class="thumbnail owl-carousel owl-theme" id="tractorThumbSlider">
                                <!-- showing only 3 item  -->
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{% static 'images/1.jpg' %}" class="small_img" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{% static 'images/straw-walker.jpg' %}" class="small_img" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__description">
                    <h4 class="tractors__description--title">
                        Preet 987
                    </h4>
                    <ul class="specTableList">
                        <li>
                            <h5><span>Brand</span> <a href=""> Preet</a></h5>
                        </li>
                        <li>
                            <h5><span>Model Name</span> 987</h5>
                        </li>
                        <li>
                            <h5>
                                <span>Power</span> N/A
                            </h5>
                        </li>
                        <li>
                            <h5><span>Cutter Bar – Width </span> 14 FEET</h5>
                        </li>
                        <li>
                            <h5><span>No Of Cylinder</span> N/A</h5>
                        </li>
                        <li>
                            <h5><span>Power Source</span> Self Propelled
                            </h5>
                        </li>
                        <li>
                            <h5><span>Crop</span> Multicrop
                            </h5>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-theme-light f-14">Get Best Price</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block">
                <div class="tractors__ad">
                    <img src="{% static 'images/eicher.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-fullDetail">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-dark-theme f-bold mb-3">Preet 987 Harvester Features</h4>
                <div class="tractor-fullDetail__card mb-0">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Overview</h5>
                    </div>
                    <div class="harvesterFullDetail-block">
                        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                            <tbody>
                                <tr>
                                    <td colspan="7"><strong>Technical Specification&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Engine&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Model</td>
                                    <td colspan="5">PCH-1049</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Power&nbsp;</td>
                                    <td colspan="5">101 HP @ 2200 RPM&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">No. of Cylinder&nbsp;</td>
                                    <td colspan="5">6</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Air Cleaner&nbsp;</td>
                                    <td colspan="5">Combination of Dry &amp; Wet Type&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Cooling System&nbsp;</td>
                                    <td colspan="5">Water Cooled&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Clutch&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Type&nbsp;</td>
                                    <td colspan="5">Single, Heavy Duty Dry Clutch&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Diameter (mm)</td>
                                    <td colspan="5">310&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Transmission&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">No. Of Gears&nbsp;</td>
                                    <td colspan="2">3 Forward + 1 Reverse&nbsp;</td>
                                    <td colspan="3">4 Forward + 1 Reverse&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Gear Speed (km/hr)</td>
                                    <td colspan="2">&nbsp;</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Forward&nbsp;</td>
                                    <td>L</td>
                                    <td>H</td>
                                    <td>L</td>
                                    <td>H</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1st Gear&nbsp;</td>
                                    <td>2</td>
                                    <td>4</td>
                                    <td>1.6</td>
                                    <td>2.5</td>
                                </tr>
                                <tr>
                                    <td colspan="2">2nd Gear&nbsp;</td>
                                    <td>4</td>
                                    <td>8</td>
                                    <td>3.4</td>
                                    <td>5.5</td>
                                </tr>
                                <tr>
                                    <td colspan="2">3rd Gear&nbsp;</td>
                                    <td>8</td>
                                    <td>20</td>
                                    <td>6.2</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td colspan="2">4th Gear&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>13.7</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Reverse&nbsp;</td>
                                    <td>4</td>
                                    <td>8</td>
                                    <td>4.5</td>
                                    <td>7.3</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Cutter Bar&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span style="color:#e74c3c">For Wheat, Paddy &amp; Others&nbsp;</span></td>
                                    <td colspan="5">4.3</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Width (mm)</td>
                                    <td colspan="5">14 Feet (4.3m)</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Cutting Height (mm)</td>
                                    <td colspan="5">65-1275</td>
                                </tr>
                                <tr>
                                    <td colspan="2">No. of Blades&nbsp;</td>
                                    <td colspan="5">57</td>
                                </tr>
                                <tr>
                                    <td colspan="2">No. of Gaurds&nbsp;</td>
                                    <td colspan="5">57</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Stroke (mm)</td>
                                    <td colspan="5">85</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Reel (rpm)</td>
                                    <td colspan="5">915</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Dia (mm)</td>
                                    <td colspan="5">Chain Type Feed Back&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span style="color:#e74c3c">For Maize &amp; Sunflower&nbsp;</span></td>
                                    <td colspan="5">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Width&nbsp;</td>
                                    <td colspan="5">
                                        <div>11.25 Feet (3.4m), 10.25 Feet (3.12m)</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>No.of Rows&nbsp;</td>
                                    <td>Front (mm)</td>
                                    <td colspan="5">6/7&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Spacing of Rows&nbsp;</td>
                                    <td>Read (mm)</td>
                                    <td colspan="5">610/457</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Threshing Mechanism</strong>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Thresher Drum&nbsp;</td>
                                    <td><strong>Wheat (Rasp Bar)</strong></td>
                                    <td><strong>Paddy (Peg Tooth )</strong></td>
                                    <td colspan="3"><strong>Maize (Rasp Bar)</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Width (mm)</td>
                                    <td>1250</td>
                                    <td>1265</td>
                                    <td colspan="3">1250</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Diameter of Drum&nbsp;</td>
                                    <td>605</td>
                                    <td>605</td>
                                    <td colspan="3">605</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Speed (rpm)</td>
                                    <td colspan="2">540-1200</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Speed Adjustment&nbsp;</td>
                                    <td colspan="5">By means of Mechanical Variator&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Concave&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Clearance&nbsp;</td>
                                    <td><strong>Wheat (Rasp Bar)</strong></td>
                                    <td><strong>Paddy (Peg Tooth )</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Front (mm)</td>
                                    <td>17-30</td>
                                    <td>13-35</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Rear (mm)</td>
                                    <td>7.5&nbsp;</td>
                                    <td>9-12</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Adjustment</td>
                                    <td colspan="5">Mechanical&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Straw Walker&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">No.of Straw Walker&nbsp;</td>
                                    <td colspan="5">5</td>
                                </tr>
                                <tr>
                                    <td colspan="2">No.of Steps&nbsp;</td>
                                    <td colspan="5">5</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Width (mm)</td>
                                    <td colspan="5">234</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Length (mm)</td>
                                    <td colspan="5">3770</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Cleaning Sieves&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Area&nbsp;</td>
                                    <td colspan="5">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Upper Sieve Area (m<sup>2)</sup></td>
                                    <td colspan="5">2.42</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Lower Sieve Area (m<sup>2)</sup></td>
                                    <td colspan="5">1.77</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Capacity&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Grain Tank (m<sup>2)</sup></td>
                                    <td colspan="5">2.5&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Fuel Tank (ltr.)</td>
                                    <td colspan="5">365</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Battery&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">No. of Batteries&nbsp;</td>
                                    <td colspan="5">2</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Capacity &amp; Rating of each&nbsp;</td>
                                    <td colspan="5">12 V, 100Ah</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Tyre&nbsp;</strong></td>
                                    <td colspan="2"><strong>Size&nbsp;</strong></td>
                                    <td colspan="3"><strong>Ply Rating</strong>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Front&nbsp;</td>
                                    <td colspan="2">18.4 / 15 x 30</td>
                                    <td colspan="3">12 pr / 14 pr&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Rear</td>
                                    <td colspan="2">9.00 x 16</td>
                                    <td colspan="3">16 pr&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Main Dimensions (Approx.)</strong></td>
                                    <td colspan="2" rowspan="1"><strong>In Working&nbsp;</strong></td>
                                    <td colspan="3" rowspan="1"><strong>In Transport&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Length (mm)</td>
                                    <td colspan="2">8370</td>
                                    <td colspan="3">12280</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Width (mm)</td>
                                    <td colspan="2">4665</td>
                                    <td colspan="3">3045</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Height (mm)</td>
                                    <td colspan="2">3800&nbsp;</td>
                                    <td colspan="3">3800</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Ground Clearance (mm)</td>
                                    <td colspan="2">340</td>
                                    <td colspan="3">-</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Total Weight (kg)</td>
                                    <td colspan="2">-</td>
                                    <td colspan="3">8580 Approx.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-year">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Similar Harvesters</h4>
        <div class="tractor-content__container" id="usedTractorContainer">
            <div class="usedTractor-content-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topRight">
                                <span>50HP</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/70499999.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                            <p class="cardTractor__body---price">Cutting Width : 14 Feet</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">
                                <i class="fas fa-hand-point-right mr-2 rotate45"></i>Self Propelled
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topRight">
                                <span>50HP</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/70499999.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                            <p class="cardTractor__body---price">Cutting Width : 14 Feet</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">
                                <i class="fas fa-hand-point-right mr-2 rotate45"></i>Self Propelled
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topRight">
                                <span>50HP</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/70499999.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                            <p class="cardTractor__body---price">Cutting Width : 14 Feet</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">
                                <i class="fas fa-hand-point-right mr-2 rotate45"></i>Self Propelled
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topRight">
                                <span>50HP</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/70499999.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                            <p class="cardTractor__body---price">Cutting Width : 14 Feet</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">
                                <i class="fas fa-hand-point-right mr-2 rotate45"></i>Self Propelled
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-theme-dark">View All Harvesters<i class="fas fa-chevron-circle-right ml-2"></i></button>
        </div>
    </div>
</section>

<section class="disclaimer">
    <div class="container">
        <h5 class="mb-3">
            Disclaimer :-
        </h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe laborum, provident quibusdam consectetur laudantium, nam quo incidunt velit debitis vel harum repudiandae iure id facilis maiores suscipit facere. Impedit.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var bigimage = $("#tractorMainSlider");
        var thumbs = $("#tractorThumbSlider");
        var syncedSecondary = true;
        bigimage.owlCarousel({
            items: 1,
            slideSpeed: 9000,
            nav: true,
            autoplay: true,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navContainer: '.tractor-year__container .tractor-content-nav',
            navText: ["<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        }).on("changed.owl.carousel", syncPosition);
        thumbs.on("initialized.owl.carousel", function() {
            thumbs.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
            items: 3,
            dots: false,
            nav: false,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: 3,
            responsiveRefreshRate: 100,
        }).on("changed.owl.carousel", syncPosition2);
        // thumbnail image
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumbs.find(".owl-item").removeClass("current").eq(current).addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs.find(".owl-item.active").first().index();
            var end = thumbs.find(".owl-item.active").last().index();
            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }
        thumbs.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });

        // image zoom on click
        $('.fancynewtractorGaller').fancybox({
            selector: '.owl-item:not(.cloned) .fancynewtractor',
            hash: false,
            thumbs: {
                autoStart: false
            },
            autoFocus: false,
            trapFocus: false,
            spinnerTpl: '<div class="fancybox-loading"></div>',
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                //"fullScreen",
                //"download",
                // "thumbs",
                "close"
            ]
        });
    })
</script>
{% endblock %}