{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Implement {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractor-year implement">
    <div class="container">
        <h4 class="tractor-year__title">{{type.name}} Implements</h4>
        <div class="row g-4">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="filterMain">
                    <div class="filterMainBackground">
                        <form>
                            <div class="newandUsedLinks">
                                <div class="newandUsedLinks-mobile d-block d-sm-block d-md-none d-lg-none">
                                    <div class="row">
                                        <div class="col-4"><a href="" title="Cancel">Cancel</a></div>
                                        <div class="col-4"><button type="reset" class="btn btn-block btn-reset">Reset</button></div>
                                        <div class="col-4"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>
                                    </div>
                                </div>
                                <div class="newandUsedLinks-desktop d-none d-sm-none d-md-block d-lg-block">
                                    <div class="row g-2">
                                        <div class="col-12">
                                            <a class="nav-link btn-block">More Categories</a>
                                        </div>
                                        <div class="col-6"><button type="reset" class="btn btn-block btn-reset">Reset</button></div>
                                        <div class="col-6"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>

                                    </div>
                                </div>
                            </div>

                            <div class="filterMain__listing">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                 BRANDS
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input name="harbrand" id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            <input class="chbox harbrand" type="checkbox" value="" id="dasmesh">
                                                            <label class="form-check-label" for="dasmesh">
                                                                Dasmesh <span>(11) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="claas">
                                                            <label class="form-check-label" for="claas">
                                                                Claas <span>(7) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="preet">
                                                            <label class="form-check-label" for="preet">
                                                                Preet <span>(7) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="kartar">
                                                            <label class="form-check-label" for="kartar">
                                                                Kartar <span>(6) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="agristar">
                                                            <label class="form-check-label" for="agristar">
                                                                Agristar <span>(5) </span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                 CATEGORIES
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input name="harbrand" id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="ace">
                                                            <label class="form-check-label" for="ace">
                                                                ACE <span>(2) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="landforce">
                                                            <label class="form-check-label" for="landforce">
                                                                Landforce <span>(2) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="indoFarm">
                                                            <label class="form-check-label" for="indoFarm">
                                                                Indo Farm <span>(2) </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                 Types
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input name="harbrand" id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="landforce">
                                                            <label class="form-check-label" for="landforce">
                                                                Landforce <span>(2) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="indoFarm">
                                                            <label class="form-check-label" for="indoFarm">
                                                                Indo Farm <span>(2) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="shaktiman">
                                                            <label class="form-check-label" for="shaktiman">
                                                                Shaktiman <span>(2) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="kubota">
                                                            <label class="form-check-label" for="kubota">
                                                                Kubota <span>(1) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="mahindra">
                                                            <label class="form-check-label" for="mahindra">
                                                                Mahindra <span>(1) </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="sorting">
                    <div class="row g-2">
                        <div class="col-sm-12 col-md-8 col-lg-9 align-self-center">
                            <h5 class="sorting__title">Implements Found <span>7</span></h5>
                        </div>
                        <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block">
                            <div class="soritng__price">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Implement Sort by</option>
                                    <option value="1">Power - Low to High</option>
                                    <option value="2">Power - High to Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    {% for imp in type.implement_set.all %}
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---topLeft">
                                    <span>{{imp.implementcategory}}</span>
                                </div>
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{{imp.image.url}}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">{{imp.name}}</h6>
                                <p class="cardTractor__body---price">Nrs. {{imp.price}} </p>
                                <p class="cardTractor__body---roadPrice text-light-grey">By {{imp.brand}}</p>
                                <a href="{% url 'implement-detail' imp.slug %}" class="btn btn-theme-light btn-block btn-sm"><i class="fas fa-bolt mr-2"></i>Power: {{imp.implementpower}}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">Load More Tractors<i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">About Tractor Implements</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock%}