{% extends "layout/base.html" %} {% load humanize %}
<!--  -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractors">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__SingleSlider">
                    <!-- main Slider -->
                    <div class="tractors__sliderMain">
                        <div class="tractor-year__container">
                            <div id="tractorMainSlider" class="singleSlider owl-carousel owl-theme fancynewtractorGaller">
                                <!-- repeat item showing only 3 item -->
                                {% for img in implement.image.all %}
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{img.image.url}}">
                                            <img src="{{img.image.url}}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="tractor-content-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tractors__thumbnail">
                        <div class="tractor-year__container">
                            <div class="thumbnail owl-carousel owl-theme" id="tractorThumbSlider">
                                <!-- showing only 3 item  -->
                                {% for img in implement.image.all %}
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{img.image.url}}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__description">
                    <h4 class="tractors__description--title">
                        {{implement.name}}
                    </h4>
                    <ul class="specTableList">
                        <li>
                            <h5><span>Brand</span> <a href="" title="Bullz Power Implements">{{implement.brand}}</a></h5>
                        </li>
                        <li>
                            <h5><span>Model Name</span> {{implement.modelname}}</h5>
                        </li>
                        <li>
                            <h5>
                                <span>Implement Type</span>
                                <a href="">{{implement.implementtype}}</a>
                            </h5>
                        </li>
                        <li>
                            <h5><span>Category</span> {{implement.implementcategory}}</h5>
                        </li>
                        <li>
                            <h5><span>Implement Power</span> {{implement.implementpower}}</h5>
                        </li>
                        <li>
                            <h5><span>Price</span> Nrs: {{implement.price}}
                            </h5>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-theme-light f-14 mr-2">Get Best Price</a>
                        <a href="#" class="btn btn-theme-light f-14">Demo Request</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block">
                <div class="tractors__ad">
                    <img src="{{implement.image.url}}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-fullDetail">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="tractor-fullDetail__card  mb-0">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">{{implement.name}} Description</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body">
                        {{implement.description|safe}}
  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-year">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Similar Tractor Implements</h4>
        <div class="tractor-content__container" id="usedTractorContainer">
            <div class="usedTractor-content-carousel owl-carousel owl-theme">
                {% for imp in cats.implement_set.all|slice:6 %}
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span>{{imp.implementcategory}}</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{{imp.thumbnail.url}}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">{{imp.name}}</h6>
                            <p class="cardTractor__body---price">Nrs. {{imp.price}} </p>
                            <p class="cardTractor__body---roadPrice text-light-grey">By {{imp.brand}}</p>
                            <a href="{% url 'implement-detail' imp.slug %}" class="btn btn-theme-light btn-block btn-sm"><i class="fas fa-bolt mr-2"></i>Power: {{imp.implementpower}}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-theme-dark">View All Tractor Implements<i class="fas fa-chevron-circle-right ml-2"></i></button>
        </div>
    </div>
</section>

<section class="disclaimer">
    <div class="container">
        <h5 class="mb-3">
            Disclaimer :-
        </h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe laborum, provident quibusdam consectetur laudantium, nam quo incidunt velit debitis vel harum repudiandae iure id facilis maiores suscipit facere. Impedit.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var bigimage = $("#tractorMainSlider");
        var thumbs = $("#tractorThumbSlider");
        var syncedSecondary = true;
        bigimage.owlCarousel({
            items: 1,
            slideSpeed: 9000,
            nav: true,
            autoplay: true,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navContainer: '.tractor-year__container .tractor-content-nav',
            navText: ["<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        }).on("changed.owl.carousel", syncPosition);
        thumbs.on("initialized.owl.carousel", function() {
            thumbs.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
            items: 3,
            dots: false,
            nav: false,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: 3,
            responsiveRefreshRate: 100,
        }).on("changed.owl.carousel", syncPosition2);
        // thumbnail image
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumbs.find(".owl-item").removeClass("current").eq(current).addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs.find(".owl-item.active").first().index();
            var end = thumbs.find(".owl-item.active").last().index();
            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }
        thumbs.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });

        // image zoom on click
        $('.fancynewtractorGaller').fancybox({
            selector: '.owl-item:not(.cloned) .fancynewtractor',
            hash: false,
            thumbs: {
                autoStart: false
            },
            autoFocus: false,
            trapFocus: false,
            spinnerTpl: '<div class="fancybox-loading"></div>',
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                //"fullScreen",
                //"download",
                // "thumbs",
                "close"
            ]
        });
    })
</script>
{% endblock %}