{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Implement {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractor-year implement">
    <div class="container">
        <h4 class="tractor-year__title">Rotary Tiller Implements</h4>
        <div class="row g-4">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="filterMain">
                    <div class="filterMainBackground">
                        <form action=".">
                            <div class="newandUsedLinks">
                                <div class="newandUsedLinks-mobile d-block d-sm-block d-md-none d-lg-none">
                                    <div class="row">
                                        <div class="col-4"><a href="" title="Cancel">Cancel</a></div>
                                        <div class="col-4"><a href="{% url 'rotary_tiller' %}" type="reset" class="btn btn-block btn-reset">Reset</a></div>
                                        <div class="col-4"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>
                                    </div>
                                </div>
                                <div class="newandUsedLinks-desktop d-none d-sm-none d-md-block d-lg-block">
                                    <div class="row g-2">
                                        <div class="col-12">
                                            <a class="nav-link btn-block">More Categories</a>
                                        </div>
                                        <div class="col-6"><a href="{% url 'rotary_tiller' %}" type="reset" class="btn btn-block btn-reset">Reset</a></div>
                                        <div class="col-6"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>

                                    </div>
                                </div>
                            </div>

                            <div class="filterMain__listing">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                 BRANDS
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <!-- repeat formSelection-field -->
                                                        {% for brand in brands %}
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            {% if brand.brand_id|stringformat:"i" in filters.brands %}
                                                            <input class="chbox harbrand" type="checkbox" value="{{brand.brand_id}}" id="dasmesh{{brand.brand_id}}" name="brand" checked>
                                                            {% else %}
                                                            <input class="chbox harbrand" type="checkbox" value="{{brand.brand_id}}" id="dasmesh{{brand.brand_id}}" name="brand">
                                                            {% endif %}

                                                            <label class="form-check-label" for="dasmesh{{brand.brand_id}}">
                                                                {{brand.brand__name}} <span>({{brand.justcount}}) </span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                 CATEGORIES
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        {% for category in implementcategory %}
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            {% if category.implementcategory_id|stringformat:"i" in filters.categories %}
                                                            <input class="chbox harbrand" type="checkbox" value="{{category.implementcategory_id}}" id="ace" name="category" checked>
                                                            {% else %}
                                                            <input class="chbox harbrand" type="checkbox" value="{{category.implementcategory_id}}" id="ace" name="category">
                                                            {% endif %}
                                                            <label class="form-check-label" for="ace">
                                                                {{category.implementcategory__name}} <span>({{category.justcount}}) </span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                 Types
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        {% for type in implementtype %}
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            {% if type.implementtype_id|stringformat:"i" in filters.types %}
                                                            <input class="chbox harbrand" type="checkbox" value="{{type.implementtype_id}}" id="landforce" name="type" checked>
                                                            {% else %}
                                                            <input class="chbox harbrand" type="checkbox" value="{{type.implementtype_id}}" id="landforce" name="type">
                                                            {% endif %}
                                                            <label class="form-check-label" for="landforce">
                                                                {{type.implementtype__name}} <span>({{type.justcount}}) </span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="sorting">
                    <div class="row g-2">
                        <div class="col-sm-12 col-md-8 col-lg-9 align-self-center">
                            <h5 class="sorting__title">Implements Found -<span>{{implements.count}}</span></h5>
                        </div>
                        <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block">
                            <div class="soritng__price">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Implement Sort by</option>
                                    <option value="1">Power - Low to High</option>
                                    <option value="2">Power - High to Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3" id="implement_block">
                    {% for imp in implements%}
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---topLeft">
                                    <span>{{imp.implementcategory}}</span>
                                </div>
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{{imp.thumbnail.url}}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">{{imp.name}}</h6>
                                <p class="cardTractor__body---price">Nrs. {{imp.price}} </p>
                                <p class="cardTractor__body---roadPrice text-light-grey">By {{imp.brand}}</p>
                                <a href="{% url 'implement-detail' imp.slug %}" class="btn btn-theme-light btn-block btn-sm"><i class="fas fa-bolt mr-2"></i>Power: {{imp.implementpower}}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">Load More Tractors<i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">About Tractor Implements</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock%}
{% block script %}
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $(".form-select").change(function () {
      var value = $(this).val();
      let replace = $("#implement_block");
      replace.empty();
      $.ajax({
        type: "POST",
        url: "/rotary_tiller/",
        data: {
          sort_by: value,
        },
        success: function (data) {
            for (i = 0; i < data.data.length; i++) {
            var test = `<div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---topLeft">
                                    <span>${data.data[i]["category"]}</span>
                                </div>
                                <div class="cardTractor__header---imageContainer">
                                    <img src='${data.data[i]["image"]}' class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">${data.data[i]["name"]}</h6>
                                <p class="cardTractor__body---price">Nrs. ${data.data[i]["price"]} </p>
                                <p class="cardTractor__body---roadPrice text-light-grey">By ${data.data[i]["brand"]}</p>
                                <a href="/implement-detail-${data.data[i]["slug"]}" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-bolt mr-2"></i>Power: ${data.data[i]["power"]}</a>
                            </div>
                        </div>
                    </div>`;
            replace.append(test);
          }
        },
        failure: function (data) {
          console.log("FAIL");
          console.log(data);
        },
      });
    });
  });
</script>
{% endblock %}
