{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Mini Tractors{% endblock %} {% block static %}
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractor-year mini-tractor">
    <div class="container">
        <h4 class="tractor-year__title">Mini Tractors in Nepal</h4>
        <div class="row g-4">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="filterMain">
                    <div class="filterMainBackground">
                        <form>
                            <div class="newandUsedLinks">
                                <div class="newandUsedLinks-mobile d-block d-sm-block d-md-none d-lg-none">
                                    <div class="row">
                                        <div class="col-4"><a href="" title="Cancel">Cancel</a></div>
                                        <div class="col-4"><button type="reset" class="btn btn-block btn-reset">Reset</button></div>
                                        <div class="col-4"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>
                                    </div>
                                </div>
                                <div class="newandUsedLinks-desktop d-none d-sm-none d-md-block d-lg-block">
                                    <div class="row g-3">
                                        {% comment %}
                                        <div class="col-6"><button type="reset" class="btn btn-block btn-reset">Reset</button></div> {% endcomment %}
                                        <div class="col-4"><a href="{% url 'mini-tractors' %}" class="btn btn-block btn-reset">Reset</a></div>
                                        <div class="col-6"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>

                                    </div>
                                </div>
                            </div>

                            <div class="filterMain__listing">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                PRICE
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="rangeSliderBlock">
                                                        <input id="pricerange" name="prices" value="" type="hidden">
                                                        <input type="text" class="price-range-slider" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                HP
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="rangeSliderBlock">
                                                        <input id="hprange" name="hps" value="" type="hidden">
                                                        <input type="text" class="hp-range-slider" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                 BRANDS
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        {% comment %} <input name="harbrand" id="harbrand" value="" type="hidden"> {% endcomment %}
                                                        <!-- repeat formSelection-field -->
                                                        {% for brand in brands %}
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            {% if brand.brand_id|stringformat:"i" in filters.brands %}
                                                            <input class="chbox harbrand" type="checkbox" value="{{brand.brand_id}}" id="{{brand.brand_id}}" name="brand" checked> {% else %}
                                                            <input class="chbox harbrand" type="checkbox" value="{{brand.brand_id}}" id="{{brand.brand_id}}" name="brand"> {% endif %}
                                                            <label class="form-check-label" for="{{brand.brand_id}}">
                                                                {{brand.brand__name}} <span>({{brand.dcount}}) </span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="sorting">
                    <div class="row g-2">
                        <div class="col-sm-12 col-md-8 col-lg-9 align-self-center">
                            <h5 class="sorting__title">Tractors Found <span>{{tractors.count}}</span></h5>
                        </div>
                        <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block">
                            <div class="soritng__price">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tractor Sort by</option>
                                    <option value="1">Price - Low to High</option>
                                    <option value="2">Price - High to Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-4" id="new">
                    {% for tractor in tractors %}
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---topLeft">
                                    <span><i class="fas fa-bolt mr-2"></i>{{tractor.engine.hp|floatformat:"0"}} HP</span>
                                </div>
                                <div class="cardTractor__header---topRight">
                                    <span>{{tractor.wheel_tyre.wheel_drive}} WD</span>
                                </div>
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{{tractor.image.left_image.url}}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">{{tractor.name}} {{tractor.model}}</h6>
                                <p class="cardTractor__body---price">Nrs. {{tractor.price}}</p>
                                <p class="cardTractor__body---rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i> (10 Reviews)</p>
                                <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                <a href="{% url 'tractor-detail' tractor.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">Load More Tractors<i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Find Mini Tractors Price & Specifications</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock%} {% block script %}
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script>
    $(function() {


        var pri = "";
        pri = "{{filters.price}}";
        pri = pri.split('-');


        var oldhp = "";
        oldhp = "{{filters.hps}}"
        oldhp = oldhp.split('-');

        $(".price-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            drag_interval: false,
            min: 2,
            max: 15,
            from: pri[0] ? pri[0] : 2,
            to: pri[1] ? pri[1] : 15,
            prefix: "₹",
            postfix: "Lac.",
            onChange: function(data) {
                var values = [data.from, data.to]
                var price = values.join('-')
                $("#pricerange").attr('value', price)
            }
        });

        $(".hp-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            drag_interval: false,
            min: 10,
            max: 120,
            from: oldhp[0] ? oldhp[0] : 10,
            to: oldhp[1] ? oldhp[1] : 120,
            postfix: "HP",
            onChange: function(data) {
                var values = [data.from, data.to]
                var hp = values.join('-')
                $("#hprange").attr('value', hp)
            }
        });

    });
</script>
<script>
    $(document).ready(function() {
        $('.form-select').change(function() {
            var value = $(this).val();
            let replace = $("#new");
            replace.empty()
            $.ajax({
                type: "POST",
                url: "/mini-tractors/",
                data: {
                    sort_by: value
                },
                success: function(data) {
                    for (i = 0; i < data.data.length; i++) {
                        var test = `<div class="col-6 col-sm-6 col-md-6 col-lg-4">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>${data.data[i]['hp']} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>${data.data[i]['wd']} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">${data.data[i]['name']} ${data.data[i]['model']}</h6>
                                    <p class="cardTractor__body---price">Nrs. ${data.data[i]['price']}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (10 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="/tractor/${data.data[i]['id']}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                    </div>`
                        replace.append(test)
                    }
                },
                failure: function(data) {
                    console.log("FAIL");
                    console.log(data);
                },
            });
        });
    });
</script>
{% endblock %}