{% extends "layout/base.html" %}
{% load social_share %}
<!--  -->
{% load static %} {% block title %} | News Detail{% endblock %}
<!--  Start of content -->
{% block content %}
<!-- Latest News -->
<section class="tractor-year latest">
    <div class="container">
        <div class="newsblock">
            <div class="row g-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="contentBlock__detail">
                        <h3 class="entry__title f-bold"><a href="" class="main-heading">{{newsdetail.title}}</a></h3>
                        <div class="entry__meta">
                            <span class="entry__meta--author f-bold">{{newsdetail.date|date}}</span>
                            <!-- <span class="entry__meta--date f-bold"></span> -->
                        </div>
                        <div class="blog-container my-2">
                            <img src="{{newsdetail.image.url}}" class="img-fluid">
                        </div>
                        <div class="singleProduct-socialMediaNews">
                            <ul>
                                <li>{% post_to_facebook newsdetail.slug "Post to Facebook!" %}
                                    <a href="" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i> <span>Facebook</span></a></li>
                                <li><a href="" class="whatsapp" target="_blank"><i class="fab fa-whatsapp"></i> <span>Whatsapp</span></a></li>
                                <li><a href="" class="twitter" target="_blank"><i class="fab fa-twitter"></i> <span>Twitter</span></a></li>
                                <li><a href="" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i> <span>Linkedin</span></a></li>
                            </ul>
                        </div>
                        <div class="entry__summary">
                           {{newsdetail.text|safe}}
                        </div>
                    </div>
                </div>
                <!-- side bar -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6> Popular Posts</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            {% for pnews in popularnews %}
                            <div class="popularPosts__Block">
                                <div class="popularPosts__ImgBlock">
                                    <a href="{% url 'newsdetail' pnews.slug %}">
                                        <img src="{{pnews.image.url}}" class="img-fluid"></a>
                                </div>
                                <div class="popularPosts__contentBlock">
                                    <p class="popularPosts__Title"><a href="{% url 'newsdetail' pnews.slug %}">{{pnews.title|truncatechars:60}}</a></p>
                                    <p class="popularPosts__contentDate"><i class="fa fa-clock-o"></i> {{pnews.date|timesince}} ago</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6>Advertisement</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            <div class="row g-3 mb-4">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-0">
                                                <img src="{% static 'images/dummyad/1.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-0">
                                                <img src="{% static 'images/dummyad/goldgate.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-0">
                                                <img src="{% static 'images/dummyad/gc.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-0">
                                                <img src="{% static 'images/dummyad/prabhu.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}