{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | News{% endblock %}
<!--  Start of content -->
{% block content %}
<!-- Latest News -->
<section class="tractor-year latest pb-0">
    <div class="container">
        <h4 class="tractor-year__title">News</h4>
        <div class="newsblock">
            <div class="row">
                <div class="col-12">
                    <div class="newsblock__heading">
                        <h6><i class="fa fa-rss"></i> Latest News</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="newsblock__large">
                        <div class="newsblock__imgblock">
                            <a href="{% url 'newsdetail' firstnews.slug %}">
                                <img src="{{firstnews.image.url}}" class="img-fluid">
                            </a>
                        </div>
                        <div class="newsblock__contentBlock">
                            <a href="{% url 'newsdetail' firstnews.slug %}"><span class="newsblock__contentBlock--category">{{firstnews.newscategory}}</span></a>
                            <a href="{% url 'newsdetail' firstnews.slug %}">
                                <p class="heading"><b>{{firstnews.title|truncatechars:150}}</b></p>
                            </a>
                            <p class="newsblock__newsDesc">
                                {{firstnews.text|striptags|truncatechars_html:400|safe}}
                            </p>
                            <ul class="newsblock__newsInfo">
                                <li><i class="far fa-clock"></i> {{firstnews.date|timesince}} ago</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="newsblock__small">
                                <div class="newsblock__imgblock">
                                    <a href="{% url 'newsdetail' news2.slug %}"><img src="{{news2.image.url}}" class="img-fluid"></a>
                                </div>
                                <div class="newsblock__contentBlock">
                                    <a href="{% url 'newsdetail' news2.slug %}"><span class="newsblock__contentBlock--category ">{{news2.newscategory}}</span></a>
                                    <a href="{% url 'newsdetail' news2.slug %}">
                                        <p class="heading">{{news2.title|truncatechars:80}}</p>
                                    </a>
                                    <ul class="newsblock__newsInfo">
                                        <li><i class="far fa-clock"></i> {{news2.date|timesince}} ago</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="newsblock__small">
                                <div class="newsblock__imgblock">
                                    <a href="{% url 'newsdetail' news3.slug %}"><img src="{{news3.image.url}}" class="img-fluid"></a>
                                </div>
                                <div class="newsblock__contentBlock">
                                    <a href="{% url 'newsdetail' news3.slug %}"><span class="newsblock__contentBlock--category ">{{news3.newscategory}}</span></a>
                                    <a href="{% url 'newsdetail' news3.slug %}">
                                        <p class="heading">{{news3.title|truncatechars:80}}</p>
                                    </a>
                                    <ul class="newsblock__newsInfo">
                                        <li><i class="far fa-clock"></i> {{news3.date|timesince}} ago</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ad -->
                <div class="col-md-3 col-lg-3">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="adPlace-Big">
                                <a href="#">
                                    <div class="adPlace-BigInner mb-3">
                                        <img src="{% static 'images/dummyad/yeti.gif' %}" class="img-fluid" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="adPlace-Big">
                                <a href="#">
                                    <div class="adPlace-BigInner mb-3">
                                        <img src="{% static 'images/dummyad/prabhu.gif' %}" class="img-fluid" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="adPlace-Big">
                                <a href="#">
                                    <div class="adPlace-BigInner mb-3">
                                        <img src="{% static 'images/dummyad/300X150-px.gif' %}" class="img-fluid" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Latest News -->
<section class="tractor-year allNews">
    <div class="container">
        <div class="newsblock">
            <div class="row">
                <div class="col-lg-8 col-xl-9">
                    <!-- trending News -->
                    <div class="trendingNews">
                        <div class="row">
                            <div class="col-12">
                                <div class="newsblock__heading">
                                    <h6><i class="fa fa-rss"></i> Trending News</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for trendnews in trendingnews %}
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="{% url 'newsdetail' trendnews.slug %}"><img src="{{trendnews.image.url}}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="{% url 'newsdetail' trendnews.slug %}"><span class="newsblock__contentBlock--category">{{trendnews.newscategory}}</span></a>
                                        <a href="{% url 'newsdetail' trendnews.slug %}">
                                            <p class="heading">{{trendnews.title|truncatechars:90}}</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> {{trendnews.date|timesince}} ago</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- ad block -->
                    <div class="adPlace-Big">
                        <a href="#">
                            <div class="adPlace-BigInner">
                                <img src="{% static 'images/newsad.png' %}" class="img-fluid">
                            </div>
                        </a>
                    </div>
                    <!-- Related News -->
                    <div class="newsCategory">
                        <div class="row">
                            <!-- tractor news -->
                            <div class="col-md-6">
                                <div class="newsblock__heading">
                                    <h6><i class="fa fa-rss"></i> Tractor News</h6>
                                    <a href="#" class="newsBlockMainHeadingAnchor"> View All <i class="fa fa-angle-right"></i></a>
                                </div>
                                {% for tn in tractornews|slice:1 %}
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="{% url 'newsdetail' tn.slug %}"><img src="{{tn.image.url}}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="{% url 'newsdetail' tn.slug %}"><span class="newsblock__contentBlock--category">{{tn.newscategory}}</span></a>
                                        <a href="{% url 'newsdetail' tn.slug %}">
                                            <p class="heading">{{tn.title}}</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i>{{tn.date|date}}</li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- ad block -->
                                <div class="adPlace-Big">
                                    <a href="#">
                                        <div class="adPlace-BigInner">
                                            <img src="{% static 'images/dummyad/worldlink.gif' %}" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                                <!-- news list -->
                                {% for tns in tractornews|slice:"1:3" %}
                                <div class="newsblock__list">
                                    <a href="{% url 'newsdetail' tns.slug %}"><span class="newsblock__contentBlock--category">{{tns.newscategory}}</span></a>
                                    <a href="{% url 'newsdetail' tns.slug %}">
                                        <p class="heading">{{tns.title}}</p>
                                    </a>
                                    <ul class="newsblock__newsInfo">
                                        <li><i class="fa fa-clock-o"></i> {{tns.date|date}}</li>

                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- agriculture News -->
                            <div class="col-md-6">
                                <div class="newsblock__heading">
                                    <h6><i class="fa fa-rss"></i> Agriculture News</h6>
                                    <a href="#" class="newsBlockMainHeadingAnchor"> View All <i class="fa fa-angle-right"></i></a>
                                </div>
                                {% for ag in agrinews|slice:1 %}
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="{% url 'newsdetail' ag.slug %}"><img src="{{ag.image.url}}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="{% url 'newsdetail' ag.slug %}"><span class="newsblock__contentBlock--category">{{ag.newscategory}}</span></a>
                                        <a href="{% url 'newsdetail' ag.slug %}#">
                                            <p class="heading">{{ag.title}}</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> {{ag.date|date}}</li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- ad block -->
                                <div class="adPlace-Big">
                                    <a href="#">
                                        <div class="adPlace-BigInner">
                                            <img src="{% static 'images/dummyad/ok.gif' %}" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                                <!-- news list -->
                                {% for ag in agrinews|slice:"1:6" %}
                                <div class="newsblock__list">
                                    <a href="{% url 'newsdetail' ag.slug %}"><span class="newsblock__contentBlock--category">{{ag.newscategory}}</span></a>
                                    <a href="{% url 'newsdetail' ag.slug %}">
                                        <p class="heading">{{ag.title}}</p>
                                    </a>
                                    <ul class="newsblock__newsInfo">
                                        <li><i class="fa fa-clock-o"></i> {{ag.date|date}}</li>

                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- ad block -->
                    <div class="adPlace-Big">
                        <a href="#">
                            <div class="adPlace-BigInner">
                                <img src="{% static 'images/dummyad/ASTON_1000-100.gif' %}" class="img-fluid">
                            </div>
                        </a>
                    </div>
                    <!-- Price Form -->

                    <div class="checkMandiPrice">
                        <h4>Check Crop Mandi Price</h4>
                        <form action="">
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <select name="state" class="form-select">
                                            <option value="">Select State</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <select name="dist" class="form-select">
                                            <option value="">Select District</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <select name="crop" class="form-select">
                                        <option value="">Select Commodity</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-theme-dark btn-block">Search Price</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- ad block -->
                    <div class="adPlace-Big">
                        <a href="#">
                            <div class="adPlace-BigInner">
                                <img src="{% static 'images/dummyad/homeland.jpg' %}" class="img-fluid">
                            </div>
                        </a>
                    </div>
                    <!--  Sarkarai Yojana News-->
                    <div class="sarkariNews">
                        <div class="row">
                            <div class="col-12">
                                <div class="newsblock__heading">
                                    <h6><i class="fa fa-rss"></i> Sarkari Yojana News</h6>
                                    <a href="#" class="newsBlockMainHeadingAnchor"> View All <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for yn in yojananews|slice:4 %}
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="{% url 'newsdetail' yn.slug %}"><img src="{{yn.image.url}}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="{% url 'newsdetail' yn.slug %}"><span class="newsblock__contentBlock--category">{{yn.newscategory}}</span></a>
                                        <a href="{% url 'newsdetail' yn.slug %}">
                                            <p class="heading">{{yn.title}}</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i>{{yn.date|date}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- ad block -->
                        <div class="adPlace-Big">
                            <a href="#">
                                <div class="adPlace-BigInner">
                                    <img src="{% static 'images/dummyad/cement.gif' %}" class="img-fluid">
                                </div>
                            </a>
                        </div>
                    </div>

                    <!--  Weather News-->
                    <div class="weatherNews">
                        <div class="row">
                            <div class="col-12">
                                <div class="newsblock__heading">
                                    <h6><i class="fa fa-rss"></i> Weather News</h6>
                                    <a href="#" class="newsBlockMainHeadingAnchor"> View All <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for wn in weathernews|slice:4 %}
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="{% url 'newsdetail' wn.slug %}"><img src="{{wn.image.url}}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="{% url 'newsdetail' wn.slug %}"><span class="newsblock__contentBlock--category">{{wn.newscategory}}</span></a>
                                        <a href="{% url 'newsdetail' wn.slug %}">
                                            <p class="heading">{{wn.title}}</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i>{{wn.date|date}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- ad block -->
                    <div class="adPlace-Big">
                        <a href="#">
                            <div class="adPlace-BigInner">
                                <img src="{% static 'images/dummyad/mahindra-1200.gif' %}" class="img-fluid">
                            </div>
                        </a>
                    </div>
                </div>

                <!-- side bar -->
                <div class="col-lg-4 col-xl-3">
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6> Search News</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            <form action="/news-search/" class="searchnewsForm">
                                <input type="text" placeholder="Type here .." name="key">
                                <button type="submit" class="btn btn-theme-dark">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6>Category</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            <ul class="categoryList">
                                {% for cn in newscats %}
                                <li><a href="{% url 'categorized-news' cn.slug %}"><i class="far fa-folder-open"></i> {{cn.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6> Popular Posts</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            {% for pp in popularposts %}
                            <div class="popularPosts__Block">
                                <div class="popularPosts__ImgBlock">
                                    <a href="{% url 'newsdetail' pp.slug %}">
                                        <img src="{{pp.image.url}}" class="img-fluid"></a>
                                </div>
                                <div class="popularPosts__contentBlock">
                                    <p class="popularPosts__Title"><a href="{% url 'newsdetail' pp.slug %}">{{pp.title}}</a></p>
                                    <p class="popularPosts__contentDate"><i class="fa fa-clock-o"></i> {{pp.date|date}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6> Advertisement</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-3">
                                                <img src="{% static 'images/dummyad/ime-super-man_300x150.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-3">
                                                <img src="{% static 'images/dummyad/goldgate.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-3">
                                                <img src="{% static 'images/dummyad/ime-super-man_300x150.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fixedSidebarBlock">
                        <div class="sidebarBlock__heading pb-3">
                        </div>
                        <div class="sidebarBlock__content">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-3">
                                                <img src="{% static 'images/dummyad/1.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-3">
                                                <img src="{% static 'images/dummyad/goldgate.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-3">
                                                <img src="{% static 'images/dummyad/gc.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- argi business news -->
        <div class="argiBusinessNews">
            <div class="row">
                <div class="col-12">
                    <div class="newsblock__heading">
                        <h6><i class="fa fa-rss"></i> Argi Business News</h6>
                        <a href="#" class="newsBlockMainHeadingAnchor"> View All <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for abn in agribiznews|slice:4 %}
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="newsblock__small">
                        <div class="newsblock__imgblock">
                            <a href="{% url 'newsdetail' abn.slug %}"><img src="{{abn.image.url}}" class="img-fluid"></a>
                        </div>
                        <div class="newsblock__contentBlock">
                            <a href="{% url 'newsdetail' abn.slug %}"><span class="newsblock__contentBlock--category">{{abn.newscategory}}</span></a>
                            <a href="{% url 'newsdetail' abn.slug %}">
                                <p class="heading">{{abn.title}}</p>
                            </a>
                            <ul class="newsblock__newsInfo">
                                <li><i class="far fa-clock"></i>{{abn.date|date}}/li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- ad block -->
        <div class="adPlace-Big">
            <a href="#">
                <div class="adPlace-BigInner mb-0">
                    <img src="{% static 'images/dummyad/mahindra-1200.gif' %}" class="img-fluid">
                </div>
            </a>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">News</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>

{% endblock%}