{% extends "layout/base.html" %} {% load humanize %}
<!--  -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractors">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__SingleSlider">
                    <!-- main Slider -->
                    <div class="tractors__sliderMain">
                        <div class="tractor-year__container">
                            <div id="tractorMainSlider" class="singleSlider owl-carousel owl-theme fancynewtractorGaller">
                                <!-- repeat item showing only 3 item -->
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{tractor.image.left_image.url}}">
                                            <img src="{{tractor.image.left_image.url}}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% if tractor.image.right_image %}
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{tractor.image.right_image.url}}">
                                            <img src="{{tractor.image.right_image.url}}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                {% if tractor.image.front_image %}
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{tractor.image.front_image.url}}">
                                            <img src="{{tractor.image.front_image.url}}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                {% if tractor.image.back_image %}
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{tractor.image.back_image.url}}">
                                            <img src="{{tractor.image.back_image.url}}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                {% if tractor.image.tyre_image %}
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{tractor.image.tyre_image.url}}">
                                            <img src="{{tractor.image.tyre_image.url}}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                {% if tractor.image.meter_image %}
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{tractor.image.meter_image.url}}">
                                            <img src="{{tractor.image.meter_image.url}}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="tractor-content-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tractors__thumbnail">
                        <div class="tractor-year__container">
                            <div class="thumbnail owl-carousel owl-theme" id="tractorThumbSlider">
                                <!-- showing only 3 item  -->
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{tractor.image.left_image.url}}" class="small_img" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{tractor.image.right_image.url}}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% if tractor.image.front_image %}
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{tractor.image.front_image.url}}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% endif %}

                                {% if tractor.image.back_image %}
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{tractor.image.back_image.url}}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% endif %}
                                {% if tractor.image.tyre_image %}
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{tractor.image.tyre_image.url}}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% endif %}
                                {% if tractor.image.meter_image %}
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{tractor.image.meter_image.url}}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__description">
                    <h4 class="tractors__description--title">
                        {{tractor.name}}
                    </h4>
                    <p class="tractors__description--price">Nrs: {{tractor.price}}</p>
                    <div class="accordion tractors__accordion" id="accordionExample">
                        <div class="card tractors__accordion--card">
                            <div class="card-header" id="headingOne">
                                <a class="btn btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                
                                    Brands
                              </a>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    {{tractor.brand}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tractors__formBlock">
                        <h6>INTERESTED IN TRACTOR</h6>
                        <form method="POST" id="addressForm" data-district-url="{% url 'district-data' %}">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                {{ form.name }}
                            </div>
                            <div class="form-group mb-3">
                                {{ form.contact }}
                            </div>
                            <div class="form-group mb-3">
                                {{ form.state }}
                            </div>
                            <div class="form-group mb-3">
                                {{ form.district }}
                            </div>
                            <div class="form-group mb-3">
                                {{ form.bid_price }}
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-theme-dark btn-block f-14" type="submit">Contact Seller</button>
                                </div>
                                <div class="col-6">
                                    <a href="{% url 'loan' %}" class="btn btn-theme-light btn-block f-14">Get Loan</a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="tractors__specification d-block d-sm-block d-md-none">
                    <div class="row g-3">
                        <div class="col-6 col-sm-6">
                            <div class="tractors__specificationInner">
                                <div class="tractors__specificationInner---icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="tractors__specificationInner---detail">
                                    <p>{{tractor.seller.address}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="tractors__specificationInner">
                                <div class="tractors__specificationInner---icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <div class="tractors__specificationInner---detail">
                                    <p>{{tractor.hp}} HP</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="tractors__specificationInner">
                                <div class="tractors__specificationInner---icon">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="tractors__specificationInner---detail">
                                    <p>2001 - 3000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="tractors__specificationInner">
                                <div class="tractors__specificationInner---icon">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="tractors__specificationInner---detail">
                                    <p>2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block">
                <div class="tractors__ad">
                    <img src="{% static 'images/eicher.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-fullDetail">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-sm-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">{{tractor.brand}}{{tractor.name}}Specification</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>RTO NO.</td>
                                <td>{{tractor.ROT_no}}</td>
                            </tr>
                            <tr>
                                <td>Tyre Conditons</td>
                                <td>{{tractor.tyre_condition}}</td>
                            </tr>
                            <tr>
                                <td>Engine Conditions</td>
                                <td>{{tractor.engine_condition}}</td>
                            </tr>
                            <tr>
                                <td>Financier / Hypothecation NOC</td>
                                <td>{{tractor.financial_noc}}</td>
                            </tr>
                            <tr>
                                <td>RC</td>
                                <td>Yes</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Seller Info</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>Name</td>
                                <td>{{tractor.seller.name}}</td>
                            </tr>
                            <tr>
                                <td>Mobile No.</td>
                                <td>{{tractor.seller.phone_no}}</td>
                            </tr>
                            <tr>
                                <td>E-mail</td>
                                <td>{{tractor.seller.email}}</td>
                            </tr>
                            <tr>
                                <td>District</td>
                                <td>{{tractor.seller.district}}</td>si
                            </tr>
                            <tr>
                                <td>State</td>
                                <td>{{tractor.seller.state}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Overview</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body">
                        <p> {{tractor.overview|safe}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Description</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body">
                        <p>{{tractor.about|safe}}</p>
                        <p class="f-14 f-regular"> Listed On: 20-August-2020</p>
                    </div>
                </div>
            </div>
        </div>
</section>
<section class="tractor-year similar-tractor">
    <div class="container">
        <h4 class="tractor-year__title pb-4">More <u class="ml-1 mr-1si">{{tractor.brand|upper}}</u> Tractors</h4>

        <div class="tractor-content__container" id="similarTractor">
            <div class="similar-content-carousel owl-carousel owl-theme">
                {% if tractor.brand.oldtractor_set.count > 1 %}
                {% for brand in tractor.brand.oldtractor_set.all %}
                {% if brand != tractor %}
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span><i class="fas fa-bolt mr-2"></i>{{brand.hp}}HP</span>
                            </div>
                            <div class="cardTractor__header---topRight">
                                <span>4 WD</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{{brand.image.left_image.url}}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">{{brand.brand}} {{brand.name}}</h6>
                            <p class="cardTractor__body---price">Nrs. {{brand.price}}</p>
                            <p class="cardTractor__body---rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> (10 Reviews)</p>
                            <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                            <a href="{% url 'old-tractor-detail' brand.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            {% endif %}

            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
            {% if tractor.brand.oldtractor_set.count == 1 %}
                <h3 class="text-center text-danger">Sorry, No result found.</h3>
            {% endif %}
        </div>
    </div>
</section>

<section class="tractor-sell">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Similar Used Tractors</h4>
        <div class="tractor-content__container" id="usedTractorContainer">
            <div class="usedTractor-content-carousel owl-carousel owl-theme">
                {% for similar in similar_tractors %}
                {% if similar != tractor %}
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            {% if similar.is_premium %}
                            <div class="cardTractor__header---topLeft">
                                <span>Premium</span>
                            </div>
                            {% endif %}
                            <div class="cardTractor__header---imageContainer">
                                <img src="{{similar.image.left_image.url}}" class="img-fluid" alt="">
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">{{similar.brand}} {{similar.name}}</h6>
                                <p class="cardTractor__body---price">Nrs. {{similar.price}}</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="fas fa-bolt mr-2"></i>{{similar.hp}} HP</span>
                                    <span><i class="fas fa-calendar-alt mr-2"></i>{{similar.purchase_year}}</span>
                                </p>
                                <a href="{% url 'old-tractor-detail' similar.id %}" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>{{similar.seller.address}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-theme-dark">View All Used Tractors<i class="fas fa-chevron-circle-right ml-2"></i></button>
        </div>
    </div>
    </div>
</section>
<section class="disclaimer">
    <div class="container">
        <h5 class="mb-3">
            Disclaimer :-
        </h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe laborum, provident quibusdam consectetur laudantium, nam quo incidunt velit debitis vel harum repudiandae iure id facilis maiores suscipit facere. Impedit.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var bigimage = $("#tractorMainSlider");
        var thumbs = $("#tractorThumbSlider");
        var syncedSecondary = true;
        bigimage.owlCarousel({
            items: 1,
            slideSpeed: 9000,
            nav: true,
            autoplay: true,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navContainer: '.tractor-year__container .tractor-content-nav',
            navText: ["<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        }).on("changed.owl.carousel", syncPosition);
        thumbs.on("initialized.owl.carousel", function() {
            thumbs.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
            items: 3,
            dots: false,
            nav: false,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: 3,
            responsiveRefreshRate: 100,
        }).on("changed.owl.carousel", syncPosition2);
        // thumbnail image
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumbs.find(".owl-item").removeClass("current").eq(current).addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs.find(".owl-item.active").first().index();
            var end = thumbs.find(".owl-item.active").last().index();
            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }
        thumbs.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });

        // image zoom on click
        $('.fancynewtractorGaller').fancybox({
            selector: '.owl-item:not(.cloned) .fancynewtractor',
            hash: false,
            thumbs: {
                autoStart: false
            },
            autoFocus: false,
            trapFocus: false,
            spinnerTpl: '<div class="fancybox-loading"></div>',
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                //"fullScreen",
                //"download",
                // "thumbs",
                "close"
            ]
        });
    });
</script>
{% endblock %}