{% extends "layout/base.html" %} {% load humanize %}
<!--  -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractors">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__SingleSlider">
                    <!-- main Slider -->
                    <div class="tractors__sliderMain">
                        <div class="tractor-year__container">
                            <div id="tractorMainSlider" class="singleSlider owl-carousel owl-theme fancynewtractorGaller">
                                <!-- repeat item showing only 3 item -->
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{% static 'images/1.jpg' %}">
                                            <img src="{% static 'images/1.jpg' %}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{% static 'images/straw-walker.jpg' %}">
                                            <img src="{% static 'images/straw-walker.jpg' %}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="tractor-content-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tractors__thumbnail">
                        <div class="tractor-year__container">
                            <div class="thumbnail owl-carousel owl-theme" id="tractorThumbSlider">
                                <!-- showing only 3 item  -->
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{% static 'images/1.jpg' %}" class="small_img" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{% static 'images/straw-walker.jpg' %}" class="small_img" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__description">
                    <div class="tractors__description--ratingReviews">
                        <span>
                            <a class="btn btn-theme-dark" href="">Rate this Tractor</a>
                        </span>
                        <span>
                            <a class="btn btn-theme-light" href="">Compare</a>
                        </span>
                    </div>
                    <h4 class="tractors__description--title">
                        {{tractor.name}} {{tractor.model}}
                    </h4>
                    <p class="tractors__description--price">Nrs: {{tractor.price}}</p>
                    <div class="accordion tractors__accordion" id="accordionExample">
                        <div class="card tractors__accordion--card">
                            <div class="card-header" id="headingOne">
                                <a class="btn btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Brands
                              </a>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                     {{tractor.brand}}
                                </div>
                            </div>
                        </div>
                        <div class="card tractors__accordion--card">
                            <div class="card-header" id="headingTwo">
                                <a class="btn btn-block collapsed " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Gear Box
    
                              </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    {{tractor.transmission.gear_box}}
                                </div>
                            </div>
                        </div>
                        <div class="card tractors__accordion--card">
                            <div class="card-header" id="headingThree">

                                <a class="btn btn-block collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Brakes                                
                              </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                   {{tractor.brakes}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered text-center f-14">
                        <thead>
                            <tr>
                                <th>No. of Cylinder</th>
                                <th>HP </th>
                                <th>Warranty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{tractor.engine.no_cylinder}}</td>
                                <td>{{tractor.engine.hp|floatformat:"0"}}HP</td>
                                <td>{{tractor.other_info.warranty}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-theme-light f-14 mr-2">Get On Road Price</a>
                        <a href="{% url 'loan' %}" class="btn btn-theme-light f-14 ">Apply Loan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block">
                <div class="tractors__ad">
                    <img src="{% static 'images/eicher.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-fullDetail">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">{{tractor.name}} {{tractor.model}} Tractor Specifications Price Mileage | {{tractor.name}} {{tractor.model}} Tractor Price</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body">
                        <p> Welcome Buyers, this is a post about Powertrac 445 Plus Tractor. This post is 100% reliable. </p>
                        <h6>Powertrac 445 Plus Engine Capacity</h6>
                        <p>The Powertrac 445 Plus HP is 47 HP Tractor. The tractor has 3 Cylinders. The tractor has 2761 CC Engine. Powertrac 445 Plus is a good tractor with durable engine. </p>
                        <h6>How Powertrac 445 Plus is the best?</h6>
                        <p>The Powertrac 445 Plus has Single Clutch. The tractor has Multi Plate Oil Immersed Brakes. The tractor has a Mechanical Single drop arm or optional Power Steering. The Powertrac 445 Plus Specifications makes this tractor very user
                            friendly.
                        </p>
                        <h6>Powertrac 445 Plus Price </h6>
                        <p>Powertrac 445 Plus on road price is Rs. 6.20-6.50 Lakh*. The Powertrac 445 Plus HP is 47 HP and very affordable tractor. You can know more about the tractor price on our website. The above post is created by Tractor Junction to
                            help you choose your next tractor. call us Now to know more about the Powertrac 445 Plus Tractor.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- engine -->
        <div class="row">
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Engine</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>No. Of Cylinder</td>
                                <td>{{tractor.engine.no_cylinder}}</td>
                            </tr>
                            <tr>
                                <td>HP Category</td>
                                <td>{{tractor.engine.hp|floatformat:"0"}}HP</td>
                            </tr>
                            <tr>
                                <td>Capacity CC</td>
                                <td>{{tractor.engine.capacity_cc|floatformat:"0"}} CC</td>
                            </tr>
                            <tr>
                                <td>Engine Rated RPM</td>
                                <td>{{tractor.engine.engine_rated_rpm}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Transmission -->
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Transmission</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>Gear Box</td>
                                <td>{{tractor.transmission.gear_box}}</td>
                            </tr>
                            <tr>
                                <td>Forward Speed</td>
                                <td>{{tractor.transmission.forward_speed}}</td>
                            </tr>
                            <tr>
                                <td>Reverse Speed</td>
                                <td>{{tractor.transmission.reverse_speed}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Brakes -->
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Brakes</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>Brakes</td>
                                <td>{{tractor.brakes}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Steering -->
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Steering</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>Type</td>
                                <td>{{tractor.steering.type}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Power Take Off -->
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Power Take Off</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>Type</td>
                                <td>{{tractor.power.type}}</td>
                            </tr>
                            <tr>
                                <td>RPM</td>
                                <td>{{tractor.power.rpm}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Fuel Tank -->
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Fuel Tank</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>Capacity</td>
                                <td>{{tractor.fuel_tank.capacity}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Dimensions And Weight Of Tractor -->
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Dimensions And Weight Of Tractor</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>Total Weight</td>
                                <td>{{tractor.dimension_weight.total_weight}}</td>
                            </tr>
                            <tr>
                                <td>Wheel Base</td>
                                <td>{{tractor.dimension_weight.wheel_base}}</td>
                            </tr>
                            <tr>
                                <td>Overall Length</td>
                                <td>{{tractor.dimension_weight.overall_length}}</td>
                            </tr>
                            <tr>
                                <td>Overall Width</td>
                                <td>{{tractor.dimension_weight.overall_weight}}</td>
                            </tr>
                            <tr>
                                <td>Ground Clearance</td>
                                <td>{{tractor.dimension_weight.ground_clearance}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Hydraulics -->
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Hydraulics</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>Lifting Capacity</td>
                                <td>{{tractor.hydraulic.lifting_capacity}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Wheels And Tyres -->
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Wheels And Tyres</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>Wheel drive</td>
                                <td>{{tractor.wheel_tyre.wheel_drive}} WD</td>
                            </tr>
                            <tr>
                                <td>Front</td>
                                <td>{{tractor.wheel_tyre.front}}</td>
                            </tr>
                            <tr>
                                <td>Rear</td>
                                <td>{{tractor.wheel_tyre.rear}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Others Information -->
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Others Information</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body f-14">
                        <table class="table table-bordered mb-0">
                            <tr>
                                <td>Accessories</td>
                                <td>{{tractor.other_info.accessories}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{tractor.other_info.status}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">{{tractor.name|upper}}-{{tractor.model|upper}} Reviews</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body">
                        <div class="no-review">
                            Sorry! no review found.
                        </div>
                    </div>
                    <div class="text-center pb-3">
                        <a href="" class="btn btn-theme-light f-14">See All Reviews <i class="fas fa-angle-double-right"></i></a>
                        <a href="" class="btn btn-theme-light f-14"><i class="fas fa-pencil-alt"></i> Write a Review</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="dealer-location">
                    <h5 class="mb-3">Planning to Buy ACE DI-350NG</h5>
                    <p class="mb-4">Find a Dealer your Location</p>
                    <a href="#" class="btn btn-theme-light f-14">Find Dealers <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-year similar-tractor">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Similar {{tractor.name|upper}}-{{tractor.model|upper}}</h4>
        <div class="tractor-content__container" id="similarTractor">
            <div class="similar-content-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span><i class="fas fa-bolt mr-2"></i>55 HP</span>
                            </div>
                            <div class="cardTractor__header---topRight">
                                <span>4 WD</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Powertrac 445 PLUS</h6>
                            <p class="cardTractor__body---price">Nrs. 350666</p>
                            <p class="cardTractor__body---rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> (10 Reviews)</p>
                            <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span><i class="fas fa-bolt mr-2"></i>55 HP</span>
                            </div>
                            <div class="cardTractor__header---topRight">
                                <span>4 WD</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Powertrac 445 PLUS</h6>
                            <p class="cardTractor__body---price">Nrs. 350666</p>
                            <p class="cardTractor__body---rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> (10 Reviews)</p>
                            <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span><i class="fas fa-bolt mr-2"></i>55 HP</span>
                            </div>
                            <div class="cardTractor__header---topRight">
                                <span>4 WD</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Powertrac 445 PLUS</h6>
                            <p class="cardTractor__body---price">Nrs. 350666</p>
                            <p class="cardTractor__body---rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> (10 Reviews)</p>
                            <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span><i class="fas fa-bolt mr-2"></i>55 HP</span>
                            </div>
                            <div class="cardTractor__header---topRight">
                                <span>4 WD</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Powertrac 445 PLUS</h6>
                            <p class="cardTractor__body---price">Nrs. 350666</p>
                            <p class="cardTractor__body---rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> (10 Reviews)</p>
                            <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tractor-sell">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Similar Used Tractors</h4>
        <div class="tractor-content__container" id="usedTractorContainer">
            <div class="usedTractor-content-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span>Premium</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Kubota B2420</h6>
                                <p class="cardTractor__body---price">Nrs. 2154564</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="fas fa-bolt mr-2"></i>75 HP</span>
                                    <span><i class="fas fa-calendar-alt mr-2"></i>2020</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa-2, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Kubota B2420</h6>
                                <p class="cardTractor__body---price">Nrs. 2154564</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="fas fa-bolt mr-2"></i>75 HP</span>
                                    <span><i class="fas fa-calendar-alt mr-2"></i>2020</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa-2, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span>Premium</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Kubota B2420</h6>
                                <p class="cardTractor__body---price">Nrs. 2154564</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="fas fa-bolt mr-2"></i>75 HP</span>
                                    <span><i class="fas fa-calendar-alt mr-2"></i>2020</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa-2, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span>Premium</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Kubota B2420</h6>
                                <p class="cardTractor__body---price">Nrs. 2154564</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="fas fa-bolt mr-2"></i>75 HP</span>
                                    <span><i class="fas fa-calendar-alt mr-2"></i>2020</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa-2, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-theme-dark">View All Used Tractors<i class="fas fa-chevron-circle-right ml-2"></i></button>
        </div>
    </div>
    </div>
</section>

<section class="compare-tractor">
    <div class="container">
        <h4 class="compare-tractor__title">Compare To Buy The Right Tractor</h4>
        <div class="compare-content-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="disclaimer">
    <div class="container">
        <h5 class="mb-3">
            Disclaimer :-
        </h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe laborum, provident quibusdam consectetur laudantium, nam quo incidunt velit debitis vel harum repudiandae iure id facilis maiores suscipit facere. Impedit.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var bigimage = $("#tractorMainSlider");
        var thumbs = $("#tractorThumbSlider");
        var syncedSecondary = true;
        bigimage.owlCarousel({
            items: 1,
            slideSpeed: 9000,
            nav: true,
            autoplay: true,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navContainer: '.tractor-year__container .tractor-content-nav',
            navText: ["<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        }).on("changed.owl.carousel", syncPosition);
        thumbs.on("initialized.owl.carousel", function() {
            thumbs.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
            items: 3,
            dots: false,
            nav: false,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: 3,
            responsiveRefreshRate: 100,
        }).on("changed.owl.carousel", syncPosition2);
        // thumbnail image
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumbs.find(".owl-item").removeClass("current").eq(current).addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs.find(".owl-item.active").first().index();
            var end = thumbs.find(".owl-item.active").last().index();
            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }
        thumbs.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });

        // image zoom on click
        $('.fancynewtractorGaller').fancybox({
            selector: '.owl-item:not(.cloned) .fancynewtractor',
            hash: false,
            thumbs: {
                autoStart: false
            },
            autoFocus: false,
            trapFocus: false,
            spinnerTpl: '<div class="fancybox-loading"></div>',
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                //"fullScreen",
                //"download",
                // "thumbs",
                "close"
            ]
        });
    })
</script>
{% endblock %}