{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Used Tractors{% endblock %} {% block static %}
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractor-year used-tractor">
    <div class="container">
        <h4 class="tractor-year__title">Used Tractors</h4>
        <div class="row g-4">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="filterMain">
                    <div class="filterMainBackground">
                        <form action="{% url 'used-tractor' %}" method="GET">
                            <div class="newandUsedLinks">
                                <div class="newandUsedLinks-mobile d-block d-sm-block d-md-none d-lg-none">
                                    <div class="row">
                                        <div class="col-4"><a href="" title="Cancel">Cancel</a></div>
                                        <div class="col-4"><a href="{% url 'used-tractor' %}"><button type="reset" class="btn btn-block btn-reset">Reset</button></a></div>
                                        <div class="col-4"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>
                                    </div>
                                </div>
                                <div class="newandUsedLinks-desktop d-none d-sm-none d-md-block d-lg-block">
                                    <div class="row g-3">
                                        <div class="col-6"><a href="{% url 'used-tractor' %}"><button  class="btn btn-block btn-reset">Reset</button></a></div>
                                        <div class="col-6"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>

                                    </div>
                                </div>
                            </div>

                            <div class="filterMain__listing">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                PRICE
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="rangeSliderBlock">
                                                        <input id="pricerange" name="prices" value="" type="hidden">
                                                        <input type="text" class="price-range-slider" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                HP
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="rangeSliderBlock">
                                                        <input id="hprange" name="hps" value="" type="hidden">
                                                        <input type="text" class="hp-range-slider" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                 BRANDS
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        {% for cat in old_brand %}
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            <input class="chbox harbrand"name="brand" type="checkbox" value="{{cat.name}}" id="dasmesh">
                                                            <label class="form-check-label" for="dasmesh">
                                                                {{cat.name}} <span>({{cat.oldtractor_set.count}}) </span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="sorting">
                    <div class="row g-2">
                        <div class="col-sm-12 col-md-8 col-lg-9 align-self-center">
                            <a href="#"><button class="btn btn-theme-dark">Buy Tractor</button><a/>
                            <a href="{% url 'sell_tractor' %}"><button class="btn btn-theme-light">Sell Tractor</button><a/>
                        </div>
                        <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block">
                            <div class="soritng__price">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Old Tractor Sort by</option>
                                    <option value="1">Price - Low to High</option>
                                    <option value="2">Price - High to Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {% if tractors %}
                <div class="row g-4">
                    {% for tractor in tractors %}
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                {% if tractor.is_premium %}
                                <div class="cardTractor__header---topLeft">
                                    <span>Premium</span>
                                </div>
                                {% endif %}
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{{tractor.image.left_image.url}}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">{{tractor.name}}</h6>
                                <p class="cardTractor__body---price">Nrs. {{tractor.price}}</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="fas fa-bolt mr-2"></i>{{tractor.hp}} HP</span>
                                    <span><i class="fas fa-calendar-alt mr-2"></i>{{tractor.date_added|date:"Y"}}</span>
                                </p>
                                <a href="{% url 'old-tractor-detail' tractor.id %}" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>{{tractor.seller.address}}, {{tractor.seller.district}}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">Load More Tractors<i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
                {% else %}
                <h2>No Used Tractors Found.</h2>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Buy Old Tractors & Second Hand Tractors for Sale in Nepal</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock%} {% block script %}
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script>
    $(function() {


        var pri = "";
        pri = pri.split('-');

        var oldhp = "";
        oldhp = oldhp.split('-');

        $(".price-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            drag_interval: false,
            min: 9000,
            max: 6000000,
            from: pri[0] ? pri[0] : 9000,
            to: pri[1] ? pri[1] : 6000000,
            prefix: "₹",
            postfix: "Lac.",
            onChange: function(data) {
                var values = [data.from, data.to]
                var price = values.join('-')
                $("#pricerange").attr('value', price)
            }
        });

        $(".hp-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            drag_interval: false,
            min: 10,
            max: 150,
            from: oldhp[0] ? oldhp[0] : 10,
            to: oldhp[1] ? oldhp[1] : 150,
            postfix: "HP",
            onChange: function(data) {
                var values = [data.from, data.to]
                var hp = values.join('-')
                $("#hprange").attr('value', hp)
            }
        });

    });
</script>
{% endblock %}