{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Lubricants{% endblock %} {% block static %}
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tools-products">
    <div class="container">
        <h4 class="tractor-year__title">Lubricants</h4>
        <div class="row g-4">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="filterMain toolsfilterMain">
                    <div class="filterMainBackground">
                        <form action="{% url 'lubricant' %}" method="GET">
                            <div class="newandUsedLinks">
                                <div class="newandUsedLinks-mobile d-block d-sm-block d-md-none d-lg-none">
                                    <div class="row">
                                        <div class="col-4"><a href="" title="Cancel">Cancel</a></div>
                                        <div class="col-4"><button type="reset" class="btn btn-block btn-reset">Reset</button></div>
                                        <div class="col-4"><button type="submit" class="btn btn-block btn-theme-tool">Apply Filter</button></div>
                                    </div>
                                </div>
                                <div class="newandUsedLinks-desktop d-none d-sm-none d-md-block d-lg-block">
                                    <div class="row g-3">
                                        <div class="col-6"><a href="{% url 'lubricant' %}" class="btn btn-block btn-reset">Reset</a></div>
                                        <div class="col-6"><button type="submit" class="btn btn-block btn-theme-tool">Apply Filter</button></div>

                                    </div>
                                </div>
                            </div>

                            <div class="filterMain__listing">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                PRICE
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="rangeSliderBlock">
                                                        <input id="pricerange" name="prices" value="" type="hidden">
                                                        <input type="text" class="price-range-slider" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                 CATEGORIES
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field --> 
                                                        {% for type in lub_category %}
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            {% if type.id|stringformat:"i" in filters.category %}
                                                            <input class="chbox harbrand" name="category" type="checkbox" value="{{ type.id }}" id="dasmesh" checked>
                                                            {% else %}
                                                            <input class="chbox harbrand" name="category" type="checkbox" value="{{ type.id }}" id="dasmesh">
                                                            {% endif %}
                                                            <label class="form-check-label" for="dasmesh">
                                                                {{ type.lubricant_type }} <span>({{ type.lubricantdetail_set.count }}) </span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                 BRANDS
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        {% for brand in lub_brands %}
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            {% if brand.id|stringformat:"i" in filters.brands %}
                                                            <input class="chbox harbrand" name="brand" type="checkbox" value="{{ brand.id }}" id="dasmesh" checked>
                                                            {% else %}
                                                            <input class="chbox harbrand" name="brand" type="checkbox" value="{{ brand.id }}" id="dasmesh">
                                                            {% endif %}
                                                            <label class="form-check-label" for="dasmesh">
                                                                {{ brand.name }} <span>({{ brand.lubricantdetail_set.count }}) </span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                                 DISCOUNT
                                            </a>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input name="discount" id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            <input class="chbox harbrand" type="checkbox" value="" id="tenPercent">
                                                            <label class="form-check-label" for="tenPercent">
                                                                Upto 10% <span>(11) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="tenTwenty">
                                                            <label class="form-check-label" for="tenTwenty">
                                                                10% - 20% <span>(7) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="tewntyThird">
                                                            <label class="form-check-label" for="tewntyThird">
                                                                20% - 30% <span>(7) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="thirdForty">
                                                            <label class="form-check-label" for="thirdForty">
                                                                30% - 40% <span>(6) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="seventy">
                                                            <label class="form-check-label" for="seventy">
                                                                More Than 70% <span>(5) </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                                AVAILABILITY
                                            </a>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingFive">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input name="harbrand" id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            <input class="chbox harbrand" type="checkbox" value="" id="exclude">
                                                            <label class="form-check-label" for="exclude">
                                                                Exclude Out Of Stock <span>(11) </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endcomment %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="sorting">
                    <div class="row g-2">
                        <div class="col-sm-12 col-md-8 col-lg-9 align-self-center">
                            {% if object_list %}
                            <h5 class="sorting__title">Lubricants Found <span>{{object_list.count }}</span></h5>
                            {% else %}
                            <h5 class="sorting__title">Lubricants Not Found </h5>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block">
                            <div class="soritng__price">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Lubricants Sort by</option>
                                    <option value="1">Power - Low to High</option>
                                    <option value="2">Power - High to Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  g-3 mt-2">
                    {% for lubricant in object_list %}
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="tools-product__main">
                            <div class="tools-products__main--inner">
                                {% for img in lubricant.image.all|slice:1 %}
                                <a href="{% url 'lubricant-detail' lubricant.id %}">
                                    <div class="tools-products__main--img">
                                        <img style="width: 100%;" class="" src="{{ img.image.url }}" alt="Tools">
                                    </div>
                                </a>
                                {% endfor %}
                                <div class="tools-products__main--content">
                                    <a href="{% url 'lubricant-detail' lubricant.id %}">
                                        <p class="tools-products__main--content---title">{{ lubricant.name }}</p>
                                    </a>
                                    <p class="tools-products__main--content---price">Price: {{ lubricant.price }}</p>
                                    <a href="{% url 'lubricant-detail' lubricant.id %}" class="btn btn-theme-dark btn-block">Check Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-5">
                    <button class="btn btn-theme-tool">Load More Lubricants</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">About Lubricants</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock%} {% block script %}
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script>
    $(function() {
        var pri = "";
        pri = pri.split('-');

        var oldhp = "";
        oldhp = oldhp.split('-');

        $(".price-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            drag_interval: false,
            min: 500,
            max: 300000,
            from: pri[0] ? pri[0] : 500,
            to: pri[1] ? pri[1] : 300000,
            prefix: "₹",
            onChange: function(data) {
                var values = [data.from, data.to]
                var price = values.join('-')
                $("#pricerange").attr('value', price)
            }
        });

    });
</script>
{% endblock %}