{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Add Tractor{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Add Tractor</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'tractors' %}">Tractor</a></li>
                    <li class="breadcrumb-item active">Add Tractor</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Tractor Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Name</label>
                                    {{form.name}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Model</label>
                                    {{form.model}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Price</label>
                                    {{form.price}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Brakes</label>
                                    {{form.brakes}}
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Other Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Brand</label>
                                    {{form.brand}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Category</label>
                                    {{form.category}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Power</label>
                                    {{form.power}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Engine</label>
                                    {{form.engine}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Transmission</label>
                                    {{form.transmission}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Steering</label>
                                    {{form.steering}}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label class="tractor-label">Other Informations</label>
                                    {{form.other_info}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Hydraulic</label>
                                    {{form.hydraulic}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Wheel And Tyre</label>
                                    {{form.wheel_tyre}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Fuel Tank</label>
                                    {{form.fuel_tank}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Dimension And Weight</label>
                                    {{form.dimension_weight}}
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Tractor Image</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Left Image</label>
                                    {{img_form.left_image}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Right Image</label>
                                    {{img_form.right_image}}

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Front Image</label>
                                    {{img_form.front_image}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Back Image</label>
                                    {{img_form.back_image}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Meter Image</label>
                                    {{img_form.meter_image}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Tyre Image</label>
                                    {{img_form.tyre_image}}
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Type / Status</h6>
                            </div>
                            <div class="col-md-8">
                                <div class="my-2">
                                    <div class="form-group">
                                        <label class="tractor-label mr-3">
                                            {{form.is_popular}}
                                            Is Popular
                                        </label>
                                        <label class="tractor-label mr-3">
                                            {{form.is_avaliable}}
                                            Is Avaliable
                                        </label>
                                        <label class="tractor-label mr-3">
                                            {{form.is_upcoming}}
                                            Is Upcoming
                                        </label>
                                        <label class="tractor-label mr-3">
                                            {{form.is_mini_tractor}}
                                            Is Mini Tractor
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" href="" class="btn btn-success btn-theme-admin rounded-0">Add
                                    Tractor</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Images</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" class="addImageForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mb-3 col-md-12">
                            <label for="" class="tractor-label">Category</label>
                            <select name="" class="form-control tractor-select" id="catId">
                                <option value="" selected disabled>----</option>
                                {% for cat in categorylist %}
                                <option  value="{{cat.id}}">{{cat.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Left Image</label>
                            <input id="l_imageId" type="file" class="form-control tractor-input" name="">
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Right Image</label>
                            <input id="r_imageId" type="file" class="form-control tractor-input" name="">
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Front Image</label>
                            <input id="f_imageId" type="file" class="form-control tractor-input" name="">
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Back Image</label>
                            <input id="b_imageId" type="file" class="form-control tractor-input" name="">
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Meter Image</label>
                            <input id="m_imageId" type="file" class="form-control tractor-input" name="">
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Tyre Image</label>
                            <input id="t_imageId" type="file" class="form-control tractor-input" name="">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Images </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}