{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Add Implement{% endblock %}
{% block style %}
<style>{% include 'admin/documents/upload-file.css' %}</style>
{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Add Implement</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'admin-implements' %}">Implements</a></li>
                    <li class="breadcrumb-item active">Add Implement</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="tractor-label">Name</label>
                                    <span class="tractor-input" type="text">{{form.name}}</span>
                                </div>
                            </div>
                            <div class="col-12">
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Category</label>
                                    <span class="tractor-input" type="text">{{form.implementcategory}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Brand</label>
                                    <span type="text" class="tractor-input">{{form.brand}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Type</label>
                                    <span class="tractor-input">{{form.implementtype}}</span>
                                </div>
                            </div>
                            <div class="col-12">
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Model</label>
                                    <span class="tractor-input">{{form.modelname}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Power</label>
                                    <span class="tractor-input">{{form.implementpower}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Price</label>
                                    <span class="tractor-input">{{form.price}}</span>
                                </div>
                            </div>

                        <div class="col-12">
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="tractor-label">Slug</label>
                                <span class="tractor-input">{{form.slug}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="tractor-label">Thumbnail</label>
                                <span class="tractor-input">{{form.thumbnail}}</span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="tractor-label">Image</label>
                                {% include 'admin/drop-box.html' %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="tractor-label">Descriptions</label>
                                <span class="tractor-input">{{form.description}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" href="" class="btn btn-success btn-theme-admin rounded-0">Add
                                Implement</button>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script%}
<script>
    $("#id_name" ).keyup(function( event ) {
        $("#id_slug").val($("#id_name").val().toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-'))  
    });
</script>
<script>{% include 'admin/documents/upload-file.js' %}</script>
{% endblock %}