{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Detail{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">View Detail</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'tractors' %}">Tractor</a></li>
                    <li class="breadcrumb-item active">View Detail</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="" action="">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Tractor Information</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Name</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Model</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.model }}</td>
                                    </tr>
                                    <tr> 
                                        <td class="w-50 view-title">Brand</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.brand }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Brakes System</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.brakes }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Price</td>
                                        <td class="w-50 view-detail">Nrs. {{ tractor_detail.price }}</td>
                                    </tr>
                                    
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6 class="form-title">Harvestor Images</h6>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ tractor_detail.image.left_image.url }}" alt="">
                                    </div>
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ tractor_detail.image.right_image.url }}" alt="">
                                    </div>
                                    {% if tractor_detail.image.front_image %}
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ tractor_detail.image.front_image.url }}" alt="">
                                    </div>
                                    {% endif %}
                                    {% if tractor_detail.image.back_image %}
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ tractor_detail.image.back_image.url }}" alt="">
                                    </div>
                                    {% endif %}
                                    {% if tractor_detail.tyre_image %}
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ tractor_detail.image.tyre_image.url }}" alt="">
                                    </div>
                                    {% endif %}
                                    {% if tractor_detail.meter_image %}
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ tractor_detail.image.meter_image.url }}" alt="">
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if tractor_detail.engine %}
                            <div class="col-12">
                                <h6 class="form-title">Engine</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">No. of Cylinder</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.engine.no_cylinder }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Engine Capacity</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.engine.capacity_cc }} cc</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Air Filter</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.engine.air_filter }}</td>
                                    </tr>
                                
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Engine Hp</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.engine.hp }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Cooling System</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.engine.cooling }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Engine RPM</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.engine.engine_rated_rpm }} rpm</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if tractor_detail.steering %}
                            <div class="col-12">
                                <h6 class="form-title">Steering</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Type</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.steering.steering_type }}</td>
                                    </tr>
                                
                                </table>
                            </div>
                            {% endif %}
                            {% if tractor_detail.transmission %}
                            <div class="col-12">
                                <h6 class="form-title">Transmission</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Forward Speed</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.transmission.forward_speed }} km/hr</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Clutch</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.transmission.clutch }} </td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Battery</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.transmission.battery }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Transmission Type</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.transmission.transmission_type }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Reverse Speed</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.transmission.reverse_speed }} km/hr</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Gear box</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.transmission.gear_box }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Alternator</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.transmission.alternator }}</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if tractor_detail.hydraulic %}
                            <div class="col-12">
                                <h6 class="form-title">Hydraulic</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Lifting Capacity</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.hydraulic.lifting_capacity }} kg</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Three Point Linkage</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.hydraulic.three_point_linkage }}</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if tractor_detail.wheel_tyre %}
                            <div class="col-12">
                                <h6 class="form-title">Wheel & Tyre</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Front Size</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.wheel_tyre.front }}</td>
                                    </tr>
                                    <tr>    
                                        <td class="w-50 view-title">Wheel Drive</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.wheel_tyre.wheel_drive }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Rear Size</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.wheel_tyre.rear }}</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if tractor_detail.other_info %}
                            <div class="col-12">
                                <h6 class="form-title">Other Information</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Accessories </td>
                                        <td class="w-50 view-detail">{{ tractor_detail.other_info.accessories }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Additional Features</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.other_info.additional_feature|linebreaks }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Warranty </td>
                                        <td class="w-50 view-detail">{{ tractor_detail.other_info.warranty }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Status</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.other_info.status }}</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if tractor_detail.power %}
                            <div class="col-12">
                                <h6 class="form-title">Power</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Type</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.power.power_type }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">RPM</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.power.rpm }} rpm</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if tractor_detail.fuel_tank %}
                            <div class="col-12">
                                <h6 class="form-title">Fuel Tank</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Capacity</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.fuel_tank.capacity }} ltr.</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if tractor_detail.dimension_weight %}
                            <div class="col-12">
                                <h6 class="form-title">Dimension & Weight</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Total Weight</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.dimension_weight.total_weight }} kg</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Overall Length</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.dimension_weight.overall_length }} mm</td>
                                    </tr>
                                    <tr>    
                                        <td class="w-50 view-title">Turning Radius Brakes</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.dimension_weight.turning_radius_brakes }} mm</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Overall Weight</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.dimension_weight.overall_weight }} kg</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Ground Clearance</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.dimension_weight.ground_clearance }} mm</td>
                                    </tr>
                                    <tr>    
                                        <td class="w-50 view-title">Wheel Base</td>
                                        <td class="w-50 view-detail">{{ tractor_detail.dimension_weight.wheel_base }} mm</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            <div class="col-12">
                                <h6 class="form-title">Type/Status</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Type</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-detail">
                                            {% if tractor_detail.is_popular %}
                                            <span class="fa fa-check-circle" aria-hidden="true"> Popular </span>
                                            {% endif %}
                                            {% if tractor_detail.is_upcoming %} 
                                            <span class="fa fa-check-circle" aria-hidden="true"> Upcomming </span>
                                            {% endif %} 
                                            {% if tractor_detail.is_mini_tractor %}
                                            <span class="fa fa-check-circle" aria-hidden="true"> Mini tractor </span>
                                            {% endif %}</td>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Status</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-detail">
                                            {%if tractor_detail.is_avaliable %} 
                                            <span class="fa fa-check-circle" aria-hidden="true"> Available </span>
                                            {%endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a type="submit" href="{% url 'harvestor' %}" class="btn btn-success btn-theme-admin rounded-0">Back to
                                    List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
