{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link
	rel="stylesheet"
	href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}"
/>
<link
	rel="stylesheet"
	href="{% static 'admin/css/custom-dataTables.css' %}"
/>
<link
	rel="stylesheet"
	href="{% static 'css/cooltipz.min.css' %}"
/>
<link
	rel="stylesheet"
	href="{% static 'admin/css/sweetalert2.min.css' %}"
/>
{% endblock %}
<!-- title -->
{% block title %} Dimension And Weight{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<h5 class="content-title">Dimension And Weight</h5>
			</div>
			<!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">
						<a href="{% url 'admin-dashboard' %}">Home</a>
					</li>
					<li class="breadcrumb-item active">
						Dimension And Weight
					</li>
				</ol>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
	<div class="container-fluid">
		<div class="row mb-3">
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<a
					href=""
					data-toggle="modal"
					data-target="#addModal"
					class="btn btn-block btn-success btn-theme-admin rounded-0"
					>Add Dimension And Weight</a
				>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="table-responsive">
					<table
						id="dimension-table"
						class="table table-striped table-bordered"
						style="width: 100%"
					>
						<thead>
							<tr>
								<th width="2%">SN</th>
								<th>Total Weight</th>
								<th>Wheel Base</th>
								<th>Overall Length</th>
								<th>Overall Width</th>
								<th>Ground Clearance</th>
								<th>Turning Radius Brakes</th>
								<th width="12%">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for dimension in alldimensions %}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{dimension.total_weight}}</td>
								<td>{{dimension.wheel_base}}</td>
								<td>{{dimension.overall_length}}</td>
								<td>{{dimension.overall_weight}}</td>
								<td>{{dimension.ground_clearance}}</td>
								<td>{{dimension.turning_radius_brakes}}</td>
								<td class="text-center">
									<span class="action-icon mr-3"
										><a
											href="{% url 'dimension-update' dimension.pk %}"
											data-cooltipz-dir="bottom"
											aria-label="Edit"
											><i
												class="fas fa-edit text-secondary edit-icon"
											></i></a
									></span>
									<span class="action-icon"><a href="{% url 'delete-dimensions' dimension.id %}" 
										data-cooltipz-dir="bottom" aria-label="Delete"
											class="delete btn btn-transparent bg-white p-0">
											<i class="fas fa-trash text-danger"></i></a
									></span>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- add Modal -->
<div
	class="modal fade"
	id="addModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header tractorModal__header">
				<h5
					class="modal-title tractorModal__header---title"
					id="exampleModalLabel"
				>
					Add Dimension And Weight
				</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body tractorModal__body">
				<form action="" method="POST">
					{% csrf_token %}
					<div class="row">
						<div class="form-group mb-3 col-md-6">
							<label for="" class="tractor-label">Total Weight</label>
							{{ form.total_weight }}
						</div>
						<div class="form-group mb-3 col-md-6">
							<label for="" class="tractor-label">Wheel Base</label>
							{{ form.wheel_base }}
						</div>
						<div class="form-group mb-3 col-md-6">
							<label for="" class="tractor-label">Overall Length</label>
							{{ form.overall_length }}
						</div>
						<div class="form-group mb-3 col-md-6">
							<label for="" class="tractor-label">Overall Width</label>
							{{ form.overall_weight }}
						</div>
						<div class="form-group mb-3 col-md-6">
							<label for="" class="tractor-label">Ground Clearance</label>
							{{form.ground_clearance }}
						</div>
						<div class="form-group mb-3 col-md-6">
							<label for="" class="tractor-label">Turning Radius Brakes</label>
							{{ form.turning_radius_brakes }}
						</div>
					</div>
					<button id="adwbtnsave" type="submit"
						class="btn btn-block btn-success btn-theme-admin rounded-0">
						Add Dimension And Weight
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>


<!-- delete dimensions -->

<script type="text/javascript">
	$(document).ready(function () {
		$("#dimension-table").DataTable();
	});
	// delete alert
	$(".delete").click(function (e) {
		e.preventDefault();
		swal({
			title: "Are you sure?",
			text: "It will permanently deleted !",
			icon: "warning",
			buttons: true,
			dangerMode: true,
		}).then((willDelete) => {
			if (willDelete) {
				window.location.href = $(this).attr('href');
				swal(" 'Dimension deleted Successfully.'!", {
							icon: "success",
						});
			}
		});
	});
</script>

{% endblock %}
