{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Brand Table{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Dimension and Weights</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Edit Dimension and Weights</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Total Weight</label>
                                {{ form.total_weight }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Wheel Base</label>
                                {{ form.wheel_base }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Overall Length</label>
                                {{ form.overall_length }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Overall Width</label>
                                {{ form.overall_weight }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Ground Clearance</label>
                                {{form.ground_clearance }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Turning Radius Brakes</label>
                                {{ form.turning_radius_brakes }}
                            </div>
                        </div>
                        <button id="adwbtnsave" type="submit"
                            class="btn btn-block btn-success btn-theme-admin rounded-0">
                            Update Dimension And Weight
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}