{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Edit Tractor{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Tractor</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'tractors' %}">Tractor</a></li>
                    <li class="breadcrumb-item active">Edit Tractor</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Tractor Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <input type="hidden" class="form-control tractor-input" name="id" id="id" value="{{tractor.id}}">

                                    <label class="tractor-label">Name</label>
                                    <input type="text" class="form-control tractor-input" name="name" id="name" value="{{tractor.name}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Model</label>
                                    <input type="text" class="form-control tractor-input" name="model" value="{{tractor.model}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Price</label>
                                    <input type="text" class="form-control tractor-input" name="price" value="{{tractor.price}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Brakes</label>
                                    <input type="text" class="form-control tractor-input" name="brakes" value="{{tractor.brakes}}">
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Other Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Brand</label>
                                    <select name="brand" class="form-control tractor-select">
                                        <option value="{{tractor.brand.id}}" selected>{{tractor.brand}}</option>
                                        {% for brand in brands %}
                                        <option value="{{brand.id}}">{{brand.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Category</label>
                                    <select name="category" class="form-control tractor-select">
                                        <option value="{{tractor.category.id}}" selected color="blue">{{tractor.category}}</option>
                                       {% for cat in categories %}
                                        <option value="{{cat.id}}">{{cat.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Power</label>
                                    <select name="power" class="form-control tractor-select">
                                        <option value="{{tractor.power.id}}" selected>{{tractor.power}}</option>
                                        {% for power in powers %}
                                        <option value="{{power.id}}">{{power.type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Engine</label>
                                    <select name="engine" class="form-control tractor-select">
                                        <option value="{{tractor.engine.id}}" selected>{{tractor.engine}}</option>
                                        {% for engine in engines %}
                                        <option value="{{engine.id}}">{{engine.no_cylinder}}-{{engine.hp}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Transmission</label>
                                    <select name="transmission" class="form-control tractor-select">
                                        <option value="{{tractor.transmission.id}}" selected>{{tractor.transmission.clutch}}-{{tractor.transmission.gear_box}}</option>
                                         {% for trans in transmissions %}
                                        <option value="{{trans.id}}">{{trans.clutch}}-{{trans.gear_box}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Steering</label>
                                    <select name="steering" class="form-control tractor-select">
                                        <option value="{{tractor.steering.id}}" selected>{{tractor.steering.type}}</option>
                                        {% for steering in steerings%}
                                        <option value="{{steering.id}}">{{steering.type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label class="tractor-label">Other Informations</label>
                                    <select name="other_info" class="form-control tractor-select">
                                        <option value="{{tractor.other_info.id}}" selected>{{tractor.other_info.accessories}}</option>
                                        {% for other_info in other_infos %}
                                        <option value="{{other_info.id}}">{{other_info.accessories}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Hydraulic</label>
                                    <select name="hydraulic" class="form-control tractor-select">
                                        <option value="{{tractor.hydraulic.id}}" selected>{{tractor.hydraulic.lifting_capacity}}</option>
                                        {% for hydraulic in hydraulics %}
                                        <option value="{{hydraulic.id}}">{{hydraulic.lifting_capacity}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Wheel And Tyre</label>
                                    <select name="wheel_tyre" class="form-control tractor-select">
                                        <option value="{{tractor.wheel_tyre.id}}" selected>{{tractor.wheel_tyre.wheel_drive}}</option>
                                        {% for wheeltyre in wheel_tyres %}
                                        <option value="{{wheeltyre.id}}">{{wheeltyre.wheel_drive}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Fuel Tank</label>
                                    <select name="fuel_tank" class="form-control tractor-select">
                                        <option value="{{tractor.fuel_tank.id}}" selected>{{tractor.fuel_tank.capacity}}</option>
                                        {% for fueltank in fueltanks %}
                                        <option value="{{fueltank.id}}">{{fueltank.capacity}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Dimension And Weight</label>
                                    <select name="dimension_weight" class="form-control tractor-select">
                                        <option value="{{tractor.dimension_weight.id}}" selected>{{tractor.dimension_weight.total_weight}}</option>
                                        {% for dimen in dimennwts %}
                                        <option value="{{dimen.id}}">{{dimen.total_weight}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Type / Status</h6>
                            </div>
                            <div class="col-md-8">
                                <div class="my-2">
                                    <div class="form-group">
                                        <label class="tractor-label mr-3">
                                            {% if tractor.is_popular %}
                                            <input type="checkbox" class="minimal" checked name="is_popular">
                                            {% else %}
                                            <input type="checkbox" class="minimal" name="is_popular">
                                            {%endif %}
                                            Is Popular
                                        </label>
                                        <label class="tractor-label mr-3">
                                             {% if tractor.is_avaliable %}
                                            <input type="checkbox" class="minimal" checked name="is_avaliable">
                                            {% else %}
                                            <input type="checkbox" class="minimal" name="is_avaliable">
                                            {%endif %}
                                            Is Avaliable
                                        </label>
                                        <label class="tractor-label mr-3">
                                             {% if tractor.is_upcoming %}
                                            <input type="checkbox" class="minimal" checked name="is_upcoming">
                                            {% else %}
                                            <input type="checkbox" class="minimal" name="is_upcoming">
                                            {%endif %}
                                            Is Upcoming
                                        </label>
                                        <label class="tractor-label mr-3">
                                            {% if tractor.is_mini_tractor %}
                                            <input type="checkbox" class="minimal" checked name="is_mini_tractor">
                                            {% else %}
                                            <input type="checkbox" class="minimal" name="is_mini_tractor">
                                            {%endif %}
                                            Is Mini Tractor
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" href="" class="btn btn-success btn-theme-admin rounded-0">Update
                                    Tractor</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}