{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Edit Old Tractor{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Old Tractor</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'tractors' %}">Tractor</a></li>
                    <li class="breadcrumb-item active">Edit Old Tractor</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Seller Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Seller Detail</label>
                                    <span class="tractor-select">{{form.seller}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Tractor Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Name</label>
                                    <span class="tractor-input" type="text">{{form.name}}</span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Brand</label>
                                    <span type="text" class="tractor-input">{{form.brand}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Price</label>
                                    <span class="tractor-input">{{form.price}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Purchase Year</label>
                                    <span class="tractor-input">{{form.purchase_year}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Purchase Month</label>
                                    <span class="tractor-input">{{form.purchase_month}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Hours</label>
                                    <span class="tractor-input">{{form.hours}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Image</label>
                                    <span class="tractor-input">{{form.image}}</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Other Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Horse Power</label>
                                    <span class="tractor-input">{{form.hp}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">ROT Number</label>
                                    <span class="tractor-input">{{form.ROT_no}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Financial NOC</label>
                                    <span class="tractor-input">{{form.financial_noc}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Tyre Condition</label>
                                    <span class="tractor-input">{{form.tyre_condition}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Engine Condition</label>
                                    <span>{{form.engine_condition}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Reg. No.</label>
                                    <span class="tractor-input">{{form.reg_no}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">RC</label>
                                    <span>{{form.RC}}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="tractor-label">About Your Tractor</label>

                                    <span class="tractor-textarea">{{form.about}}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="tractor-label">Overview</label>
                                    <span rows="3" class="tractor-textarea">{{form.overview}}</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Type / Status</h6>
                            </div>
                            <div class="col-md-8">
                                <div class="my-2">
                                    <div class="form-group">
                                        <label class="tractor-label mr-3">

                                            <span class="minimal">{{form.is_posted}} Is Posted</span>
                                        </label>
                                        <label class="tractor-label mr-3">

                                           <span class="minimal">{{form.is_premium}} Is Premium</span>
                                        </label>
                                        <label class="tractor-label mr-3">

                                            <span class="minimul">{{form.is_popular}} Is Popular</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button id="addOldTractorButton" type="submit" href="" class="btn btn-success btn-theme-admin rounded-0">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}