{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %} Engines{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title"> Engines</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active"> Engines</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Engines</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="engine-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Number of Cylinder</th>
                                <th>Horse Power</th>
                                <th>Capacity in CC</th>
                                <th>Engine Cooling</th>
                                <th>Air Filter</th>
                                <th>Engine Rated RPM</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for engine in allengines %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{engine.no_cylinder}}</td>
                                <td>{{engine.hp}}</td>
                                <td>{{engine.capacity_cc}}</td>
                                <td>{{engine.cooling}}</td>
                                <td>{{engine.air_filter}}</td>
                                <td>{{engine.engine_rated_rpm}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'engine-update' engine.pk %}" data-cooltipz-dir="bottom" aria-label="Edit"><i class="fas fa-edit text-secondary edit-icon"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'delete-engine' engine.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Delete" 
                                         class="delete btn btn-transparent bg-white p-0">
                                         <i class="fas fa-trash text-danger"></i></button></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Engines</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Number of Cylinder</label>
                            {{ form.no_cylinder }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Horse Power</label>
                            {{ form.hp }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Capacity in CC</label>
                            {{ form.capacity_cc }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Engine Cooling</label>
                            {{ form.cooling }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Air Filter</label>
                            {{ form.air_filter }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Engine Rated RPM</label>
                            {{ form.engine_rated_rpm }}
                        </div>
                    </div>
                    <button id="enginebtnsave" type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Engines </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>


<!-- delete engine -->

<script type="text/javascript">
    
    $(document).ready(function() {
        $('#engine-table').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true    
            })

            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Engine deleted Successfully.'!", {
                                            icon: "success",
                                        });
                }
            });
    })
</script>
{% endblock %}