{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %} Hydraulices{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title"> Hydraulices</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active"> Hydraulices</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Hydraulices</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="hydraulic-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Lifting Capacity</th>
                                <th>Three Point Linkage</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hydraulices in allhydraulices %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{hydraulices.lifting_capacity}}</td>
                                <td>{{hydraulices.three_point_linkage}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'hydraulices-update' hydraulices.pk %}" data-cooltipz-dir="bottom" aria-label="Edit"><i class="fas fa-edit text-secondary edit-icon"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'delete-hydraulices' hydraulices.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Delete"
                                          class="delete btn btn-transparent bg-white p-0">
                                          <i class="fas fa-trash text-danger"></i></button></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Hydraulices</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Lifting Capacity</label>
                        {{ form.lifting_capacity }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Three Point Linkage</label>
                        {{ form.three_point_linkage }}
                    </div>
                    <button id="addhydraulicbutton" type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Hydraulices </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>



<!-- delete hydraulic -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#hydraulic-table').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();

        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true    
            })

            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Hydraulic deleted Successfully.'!", {
                                            icon: "success",
                                        });
                }
            });
    })
</script>
{% endblock %}