{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %} Images{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title"> Images</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active"> Images</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Images</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="images" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Left image</th>
                                <th>Right image</th>
                                <th>Front image</th>
                                <th>Back image</th>
                                <th>Meter image</th>
                                <th>Tyre image</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for img in imageList %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td class="table-image"><img src="{{img.left_image.url}}" alt=""></td>
                                <td class="table-image"><img src="{{img.right_image.url}}" alt=""></td>
                                {% if img.front_image %}
                                <td class="table-image"><img src="{{img.front_image.url}}" alt=""></td>
                                {% else %}
                                <td>---</td>
                                {% endif %}
                                {% if img.back_image %}
                                <td class="table-image"><img src="{{img.back_image.url}}" alt=""></td>
                                {% else %}
                                <td>---</td>
                                {% endif %}
                                {% if img.meter_image %}
                                <td class="table-image"><img src="{{img.meter_image.url}}" alt=""></td>
                                {% else %}
                                <td>---</td>
                                {% endif %}
                                {% if img.tyre_image %}
                                <td class="table-image"><img src="{{img.tyre_image.url}}" alt=""></td>
                                {% else %}
                                <td>---</td>
                                {% endif %}
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'image-update' img.pk %}" data-cooltipz-dir="bottom" aria-label="Edit" class="edit_icon"><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'image-delete' img.pk %}" data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0"><i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Images</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mb-3 col-md-12">
                            <label for="" class="tractor-label">Category</label>
                            {{form.category}}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Left Image</label>
                            {{form.left_image}}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Right Image</label>
                            {{form.right_image}}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Front Image</label>
                            {{form.front_image}}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Back Image</label>
                            {{form.back_image}}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Meter Image</label>
                            {{form.meter_image}}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Tyre Image</label>
                            {{form.tyre_image}}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Images </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<!--delete images-->

<script type="text/javascript">
    $(document).ready(function() {
        $('#images').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();

        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true    
            })

            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Hydraulic deleted Successfully.'!", {
                                            icon: "success",
                                        });
                }
            });
    })
</script>

{% endblock %}