{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Implement Brand{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Implement Brand</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Implement</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#ImplementBrandForm" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Implement Brand</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="brand-table" class="table table-striped table-bordered" style="width:98%">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for imp in implementbrand %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td id="name_id{{imp.id}}">{{imp.name}}</td>                                
                                <td class="table-image"><img src="{{imp.image.url}}" class="img-fluid"></td>                                
                                <td class="text-center">
                                    <a href="{% url 'implement-brand-update' imp.id %}"><i class="fas fa-edit text-secondary"></i></a>
                                    <span class="action-icon">
                                        <button data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0" data-sid="{{imp.id}}">
                                            <i class="fas fa-trash text-danger"></i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade addNewsModal" id="ImplementBrandForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header tractorModal__header">
                        <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Implement Brand</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body tractorModal__body ">
                        <form action="" id="brandadd" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="" class="tractor-label">Name</label>
                                <input type="text" name="name" id="brand_name" class="form-control">
                                <label for="" class="tractor-label">Image</label>

                                <input type="file" name="image" id="brand_image" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id="brandBtn">add Brand</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade addNewsModal" id="ImplementBrandUpdateForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header tractorModal__header">
                        <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Update Implement Brand</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body tractorModal__body ">
                        <form action="" id="brandupdate" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="id" class="brand_id">
                            <div class="form-group mb-3">
                                <label for="" class="tractor-label">Name</label>
                                <input type="text" name="name" class="form-control brand_name_u">
                            </div>
                            <submit class="btn btn-block btn-success btn-theme-admin rounded-0" id="brandSubmitBtnupdate">Update Brand</submit>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#brand-table').DataTable({
            "scrollX": true
        });
    });
 $(".brandButtonupdate").click(function(){
        let name = $(this).attr("data_name");
        let id = $(this).attr("data_sid");
        $(".brand_name_u").val(name);
        $(".brand_id").val(id);
 })
 $("#brandSubmitBtnupdate").click(function(){
      let name = $(".brand_name_u").val();
      let id = $(".brand_id").val();
        $.ajax({
            method:'POST',
            url : "{% url 'admin-implement-brand' %}",
            dataType: "json",
            data:{
              name:name,
              id:id,
              key:"update",
              csrfmiddlewaretoken:"{{csrf_token}}",
            },
            success:function(data) {
                $("#name_id"+data.id).text(data.name)
            }
          })
          $('#ImplementBrandUpdateForm').modal('toggle');
    })
</script>
  
<script>

    // delete alert
    $('.delete').click(function() {
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                let id = $(this).attr("data-sid");
                    $.ajax({
                                url : "{% url 'admin-implement-brand' %}",
                                dataType: "json",
                                data : {id : id, key:"delete", csrfmiddlewaretoken : "{{csrf_token}}"},
                                method : "POST",
                                success : function(response){
                                        swal(" 'Your file has been deleted.'!", {
                                            icon: "success",
                                        });
                                    }
                            })
                    $(this).parents("tr").animate({ backgroundColor: "#003" }, "slow")
                            .animate({ opacity: "hide" }, "slow");
                }
            });

    })
</script>
{% endblock %}