{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Implement Brand{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Implement Brand</h5>
            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#ImplementBrandForm" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Implement Brand</a>
            </div>
        </div>
            <div class="" role="document">
                <div class="modal-content">
                    <div class="modal-header tractorModal__header">
                        <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Implement Brand</h5>
                    </div>
                    <div class="modal-body tractorModal__body ">
                        <form action="" id="brandadd" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="" class="tractor-label">Name</label>
                                {{form.name}}
                                <label for="" class="tractor-label">Image</label>
                                {{form.image}}
                            </div>
                            <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id="brandBtn">add Brand</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#brand-table').DataTable({
            "scrollX": true
        });
    });
 $(".brandButtonupdate").click(function(){
        let name = $(this).attr("data_name");
        let id = $(this).attr("data_sid");
        $(".brand_name_u").val(name);
        $(".brand_id").val(id);
 })
 $("#brandSubmitBtnupdate").click(function(){
      let name = $(".brand_name_u").val();
      let id = $(".brand_id").val();
        $.ajax({
            method:'POST',
            url : "{% url 'admin-implement-brand' %}",
            dataType: "json",
            data:{
              name:name,
              id:id,
              key:"update",
              csrfmiddlewaretoken:"{{csrf_token}}",
            },
            success:function(data) {
                $("#name_id"+data.id).text(data.name)
            }
          })
          $('#ImplementBrandUpdateForm').modal('toggle');
    })
</script>
  
<script>

    // delete alert
    $('.delete').click(function() {
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                let id = $(this).attr("data-sid");
                    $.ajax({
                                url : "{% url 'admin-implement-brand' %}",
                                dataType: "json",
                                data : {id : id, key:"delete", csrfmiddlewaretoken : "{{csrf_token}}"},
                                method : "POST",
                                success : function(response){
                                        swal(" 'Your file has been deleted.'!", {
                                            icon: "success",
                                        });
                                    }
                            })
                    $(this).parents("tr").animate({ backgroundColor: "#003" }, "slow")
                            .animate({ opacity: "hide" }, "slow");
                }
            });

    })
</script>
{% endblock %}