{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Implement{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Implement</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Implement</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="{% url 'admin-implements-add' %}" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Implement</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="brand-table" class="table table-striped table-bordered" style="width:98%">
                        <thead>
                            <tr> 
                                <th>SN</th>
                                <th>Name</th>
                                <th>Brand</th>
                                <th>Category</th>
                                <th>Type</th>
                                <th>Model</th>
                                <th>Power</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for imp in implements %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{imp.name}}</td>
                                <td>{{imp.implementcategory}}</td>  
                                <td>{{imp.brand}}</td>  
                                <td>{{imp.implementtype}}</td>  
                                <td>{{imp.modelname}}</td>  
                                <td>{{imp.implementpower}}</td>  
                                <td>{{imp.price}}</td>
                                <td class="text-center">
                                        <a href="{% url 'admin-implements-edit' imp.id %}">
                                    <i class="fas fa-edit text-secondary"></i></a>
                                    <span class="action-icon">
                                        <a href="{% url 'admin-implements-delete' imp.id %}" data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0" >
                                            <i class="fas fa-trash text-danger"></i>
                                        </a>
                                    </span>
                                    <span class="action-icon"><a href="{% url 'admin-implement-detail' imp.pk %}"
                                        data-cooltipz-dir="bottom" class="btn btn-transparent bg-white p-0">
                                         <i class="fas fa-eye text-basic"></i></a>
                                   </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#brand-table').DataTable({
            "scrollX": true
        });
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
{% endblock %}