{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Detail{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">View Detail</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'old-tractors' %}">Old Tractor</a></li>
                    <li class="breadcrumb-item active">View Detail</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="" action="">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Old Tractor Information</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Model</td>
                                        <td class="w-50 view-detail">{{ old_tractor.name }}</td>
                                    </tr>
                                    <tr> 
                                        <td class="w-50 view-title">Brand</td>
                                        <td class="w-50 view-detail">{{ old_tractor.brand }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Price</td>
                                        <td class="w-50 view-detail">Rs. {{ old_tractor.price }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6 class="form-title">Old Tractor Images</h6>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ old_tractor.image.left_image.url }}" alt="">
                                    </div>
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ old_tractor.image.right_image.url }}" alt="">
                                    </div>
                                    {% if old_tractor.image.front_image %}
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ old_tractor.image.front_image.url }}" alt="">
                                    </div>
                                    {% endif %}
                                    {% if old_tractor.image.back_image %}
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ old_tractor.image.back_image.url }}" alt="">
                                    </div>
                                    {% endif %}
                                    {% if old_tractor.tyre_image %}
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ old_tractor.image.tyre_image.url }}" alt="">
                                    </div>
                                    {% endif %}
                                    {% if old_tractor.meter_image %}
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ old_tractor.image.meter_image.url }}" alt="">
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Other Information</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Purchase Year</td>
                                        <td class="w-50 view-detail">{{ old_tractor.purchase_year }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Run hours</td>
                                        <td class="w-50 view-detail">{{ old_tractor.hours }} hours</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Reg. No.</td>
                                        <td class="w-50 view-detail">{{ old_tractor.reg_no }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">ROT No.</td>
                                        <td class="w-50 view-detail">{{ old_tractor.ROT_no }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Engine Condition</td>
                                        <td class="w-50 view-detail">{{ old_tractor.engine_condition }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Type</td>
                                        
                                        <td class="w-50 view-detail">
                                            {% if old_tractor.is_popular %}
                                            <span>Posted</span>
                                            {% else %}
                                            <span>--</span>
                                            {% endif %}
                                            
                                            {% if old_tractor.is_premium %}
                                            <span>Premium</span>
                                            {% else %}
                                            <span>--</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title"><u>About:</u></td>
                                    </tr>
                                    <hr>
                                    <tr>
                                        <td class="w-50 view-detail">{{ old_tractor.about|safe }}</td>
                                    </tr>
                                
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Purchase Month</td>
                                        <td class="w-50 view-detail">{{ old_tractor.purchase_month }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Hp</td>
                                        <td class="w-50 view-detail">{{ old_tractor.hp }} hp</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">RC</td>
                                        <td class="w-50 view-detail">{{ old_tractor.RC }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Financial Noc.</td>
                                        <td class="w-50 view-detail">{{ old_tractor.financial_noc }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Tyre Condition</td>
                                        <td class="w-50 view-detail">{{ old_tractor.tyre_condition }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Status</td>
                                        {% if old_tractor.is_posted %}
                                        <td class="w-50 view-detail">Posted</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title"><u>Overview:</u></td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-detail">{{ old_tractor.overview|safe }}</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-12">
                                <h6 class="form-title">Seller Detail</h6>
                            </div>
                            <div class="col-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-25 view-title">Name</td>
                                        <td class="w-75 view-title">{{ old_tractor.seller.name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">Phone No.</td>
                                        <td class="w-75 view-detail">{{ old_tractor.seller.phone_no }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">Email</td>
                                        <td class="w-75 view-detail">{{ old_tractor.seller.email }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">State</td>
                                        <td class="w-75 view-detail">{{ old_tractor.seller.state }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">District</td>
                                        <td class="w-75 view-detail">{{ old_tractor.seller.district }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">Municipality</td>
                                        <td class="w-75 view-detail">{{ old_tractor.seller.municipality.municipality }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">Address</td>
                                        <td class="w-75 view-detail">{{ old_tractor.seller.address }}</td>
                                    </tr>
                                    <tr></tr>
                                        <td class="w-25 view-detail">Pincode</td>
                                        <td class="w-75 view-detail">{{ old_tractor.seller.pincode }}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a type="submit" href="{% url 'old-tractors' %}" class="btn btn-success btn-theme-admin rounded-0">Back to
                                    List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
