{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Detail{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">View Detail</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'tractor-tyre' %}">Tractor Tyre</a></li>
                    <li class="breadcrumb-item active">View Detail</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="" action="">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Tractor Tyre Information</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Model</td>
                                        <td class="w-50 view-detail">{{ tractor_tyre.model_name }}</td>
                                    </tr>
                                    <tr> 
                                        <td class="w-50 view-title">Brand</td>
                                        <td class="w-50 view-detail">{{ tractor_tyre.brand }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Price</td>
                                        <td class="w-50 view-detail">Rs. {{ tractor_tyre.price }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6 class="form-title">Tyre Images</h6>
                                <div class="row">
                                    {% for img in tractor_tyre.image.all %}
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ img.image.url }}" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Other Information</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Diameter</td>
                                        <td class="w-50 view-detail">{{ tractor_tyre.diameter }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Size</td>
                                        <td class="w-50 view-detail">{{ tractor_tyre.size }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Ply Rating</td>
                                        <td class="w-50 view-detail">{{ tractor_tyre.ply_rating }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title"><u>Features:</u></td>
                                    </tr>
                                    <hr>
                                    <tr>
                                        <td class="w-50 view-detail">{{ tractor_tyre.feature|safe }}</td>
                                    </tr>
                                
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Width</td>
                                        <td class="w-50 view-detail">{{ tractor_tyre.width }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Warrenty</td>
                                        <td class="w-50 view-detail">{{ tractor_tyre.warrenty }} years</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Total Views</td>
                                        <td class="w-50 view-detail">{{ tractor_tyre.view_count }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title"><u>Overview:</u></td>
                                    </tr>
                                    <hr>
                                    <tr>
                                        <td class="w-50 view-detail">{{ tractor_tyre.overview|safe }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a type="submit" href="{% url 'tractor-tyre' %}" class="btn btn-success btn-theme-admin rounded-0">Back to
                                    List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
