{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Tractor{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Tractor</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Tractor</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="{% url 'add-tractors' %}" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Tractor</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="brand-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Name</th>
                                <th>Model</th>
                                <th>Price</th>
                                <th>Brakes</th>
                                <th>Type/Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tractor in tractors %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{tractor.name}}</td>
                                <td>{{tractor.model}}</td>
                                <td>{{tractor.price}}</td>
                                <td>{{tractor.brakes}}</td>
                                <td>
                                    
                                    {% if tractor.is_popular %}
                                    <span class="fa fa-check-circle" aria-hidden="true"> Popular </span>
                                    {% endif %} 
                                    {%if tractor.is_avaliable %} 
                                    <span class="fa fa-check-circle" aria-hidden="true"> Available </span>
                                    {%endif %} 
                                    {% if tractor.is_upcoming %} 
                                    <span class="fa fa-check-circle" aria-hidden="true"> Upcomming </span>
                                    {% endif %} 
                                    {% if tractor.is_mini_tractor %}
                                    <span class="fa fa-check-circle" aria-hidden="true"> Mini tractor </span>
                                    {% endif %}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'update-tractors' tractor.id %}" data-cooltipz-dir="bottom" aria-label="Edit" data_sid="tractor.id"><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon mr-2"><a href="{% url 'detail-tractor' tractor.id  %}" data-cooltipz-dir="bottom" aria-label="View"><i class="fas fa-eye text-secondary"></i></a></span>
                                    <a href="{% url 'deletetractor' tractor.id %}" data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0" >
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#brand-table').DataTable({
            "scrollX": true
        });
    });
    // delete alert
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    $(this).parents("tr").animate({ backgroundColor: "#003" }, "slow")
                            .animate({ opacity: "hide" }, "slow");
                }
            });

    })
</script>
{% endblock %}