    {% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %} Tractor Tyre {% endblock %}
{% block style %}
<style>{% include 'admin/documents/upload-file.css' %}</style>
{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Tractor Tyre</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active"> Tractor Tyre</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Tractor Tyre</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="tyre_brand" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Type</th>
                                <th>Model </th>
                                <th>Brand</th>
                                <th>Size</th>
                                <th>Diameter</th>
                                <th>Width</th>
                                <th>Price</th>
                                <th>Warrenty</th>
                                <th>Ply Rating</th>
                                <th>Views</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tyre in object_list %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ tyre.type }}</td>
                                <td>{{ tyre.model_name }}</td>
                                <td>{{ tyre.brand }}</td>
                                <td>{{ tyre.size }}</td>
                                <td>{{ tyre.diameter }}</td>
                                <td>{{ tyre.width }}</td>
                                <td>{{ tyre.price }}</td>
                                <td>{{ tyre.warrenty }}</td>
                                <td>{{ tyre.ply_rating }}</td>
                                <td>{{ tyre.view_count }}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'tractor-tyre-edit' tyre.id %}" data-cooltipz-dir="bottom" 
                                        aria-label="Edit">
                                        <i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'tractor-tyre-delete' tyre.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0">
                                        <i class="fas fa-trash text-danger"></i></a>
                                    </span>
                                    <span class="action-icon"><a href="{% url 'tractor-tyre-detail' tyre.id %}"
                                        data-cooltipz-dir="bottom" class="btn btn-transparent bg-white p-0">
                                         <i class="fas fa-eye text-basic"></i></a>
                                   </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 750px;">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Tyre Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Type</label>
                            {{ form.type }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Brand</label>
                        {{ form.brand }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Model Name</label>
                            {{ form.model_name }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Size</label>
                            {{ form.size }}
                            <span class="form-error">{{ form.errors.size }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Diameter (mm)</label>
                            {{ form.diameter }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Width (mm)</label>
                        {{ form.width }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Price</label>
                            {{ form.price }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Ply Rating</label>
                        {{ form.ply_rating }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Warrenty</label>
                        {{ form.warrenty }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-12">
                            <label for="" class="tractor-label">Image</label>
                            {% include 'admin/drop-box.html' %}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Feature</label>
                            {{ form.feature }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">Overview</label>
                            {{ form.overview }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Tractor Tyre </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#tyre_brand').DataTable({
            scrollX: true
        });
    });
    // delete alert
$('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
<script>{% include 'admin/documents/upload-file.js' %}</script>
{% endblock %}
