{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %} Transmission{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title"> Transmission</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"> Transmission</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Transmission</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="news" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Clutch</th>
                                <th>Gear Box</th>
                                <th>Battery</th>
                                <th>Alternator</th>
                                <th>Forward Speed</th>
                                <th>Reverse Speed</th>
                                <th>Transmission Type</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transmission in alltransmission %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{transmission.clutch}}</td>
                                <td>{{transmission.gear_box}}</td>
                                <td>{{transmission.battery}}</td>
                                <td>{{transmission.alternator}}</td>
                                <td>{{transmission.forward_speed}}</td>
                                <td>{{transmission.reverse_speed}}</td>
                                <td>{{transmission.transmission_type}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'transmission-update' transmission.pk %}" data-cooltipz-dir="bottom" aria-label="Edit"><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'transmissiondelete' transmission.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Delete"
                                          class="delete btn btn-transparent bg-white p-0" >
                                          <i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Transmission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" id="transmissionForm" method="POST" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Clutch</label>
                            {{ form.clutch }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Gear Box</label>
                            {{ form.gear_box }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Battery</label>
                            {{ form.battery }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Alternator</label>
                            {{ form.alternator }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Forward Speed</label>
                            {{ form.forward_speed }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Reverse Speed</label>
                            {{ form.reverse_speed }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Transmission Type</label>
                            {{ form.transmission_type }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Transmission </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    $(document).ready(function() {
        $('#news').DataTable();
    });
   

    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                                            icon: "success",
                                        });
                }
            });

    })
</script>


{% endblock %}