{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Update Tractor{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Update Tractor</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'tractors' %}">Tractor</a></li>
                    <li class="breadcrumb-item active">Update Tractor</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Tractor Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Name</label>
                                    {{form.name}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Model</label>
                                    {{form.model}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Price</label>
                                    {{form.price}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Brakes</label>
                                    {{form.brakes}}
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Other Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Brand</label>
                                    {{form.brand}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Category</label>
                                    {{form.category}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Power</label>
                                    {{form.power}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Engine</label>
                                    {{form.engine}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Transmission</label>
                                    {{form.transmission}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Steering</label>
                                    {{form.steering}}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label class="tractor-label">Other Informations</label>
                                    {{form.other_info}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Hydraulic</label>
                                    {{form.hydraulic}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Wheel And Tyre</label>
                                    {{form.wheel_tyre}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Fuel Tank</label>
                                    {{form.fuel_tank}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Dimension And Weight</label>
                                    {{form.dimension_weight}}
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Type / Status</h6>
                            </div>
                           
                            
                            <div class="col-md-8">
                                <div class="my-2">
                                    <div class="form-group">
                                        <label class="tractor-label mr-3">
                                            {{form.is_popular}}
                                            Is Popular
                                        </label>
                                        <label class="tractor-label mr-3">
                                            {{form.is_avaliable}}
                                            Is Avaliable
                                        </label>
                                        <label class="tractor-label mr-3">
                                            {{form.is_upcoming}}
                                            Is Upcoming
                                        </label>
                                        <label class="tractor-label mr-3">
                                            {{form.is_mini_tractor}}
                                            Is Mini Tractor
                                        </label>
                                        <label class="tractor-label mr-3">
                                            <a href="{% url 'tractor-image-update'  img_id %}?next={% url 'update-tractors' tr_id %}">
                                            <span class="btn btn-default rounded-0"><i class="fas fa-images nav-icon t-nav-icon"></i> Update Image</span> </a>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" href="" class="btn btn-success btn-theme-admin rounded-0">Save Change
                                    </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}