{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Video Edit{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Video</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Edit Video </li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">Thumbnail</label>
                            {{ form.thumbnail }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">Title</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">Category</label>
                            {{ form.category }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">Video Link</label>
                            {{ form.video }}
                        </div>
                        <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Edit Video Category</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $("#id_name" ).keyup(function( event ) {
        $("#id_slug").val($("#id_name").val().toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-'))  
    });
</script>
{% endblock %}