{% extends "layout/base.html" %} {% load humanize %}
<!--  -->
{% load static %} {% block title %}| Animal Livestock Detail{% endblock %} {% block static %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractors">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__SingleSlider">
                    <!-- main Slider -->
                    <div class="tractors__sliderMain">
                        <div class="tractor-year__container">
                            <div id="tractorMainSlider" class="singleSlider owl-carousel owl-theme fancynewtractorGaller">
                                <!-- repeat item showing only 3 item -->
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{% static 'images/1.jpg' %}">
                                            <img src="{% static 'images/1.jpg' %}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{% static 'images/straw-walker.jpg' %}">
                                            <img src="{% static 'images/straw-walker.jpg' %}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="tractor-content-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tractors__thumbnail">
                        <div class="tractor-year__container">
                            <div class="thumbnail owl-carousel owl-theme" id="tractorThumbSlider">
                                <!-- showing only 3 item  -->
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{% static 'images/1.jpg' %}" class="small_img" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{% static 'images/straw-walker.jpg' %}" class="small_img" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__description">
                    <h4 class="tractors__description--title mb-1">
                        Allah name sheep available very healthy
                    </h4>
                    <small class="tractors__description--listed text-light-grey mb-2 d-block">Category - Sheep</small>
                    <div class="usedTractorSingle">
                        <div class="usedTractorSingle__pricedetail">
                            <h5>Price - Nrs 50000</h5>
                            <span class="usedTractorSingle__pricedetail---uid">UID - TJN66</span>
                        </div>
                        <form class="usedTractorSingle__form" method="" action="">
                            <h5>Interested In LIVE STOCK</h5>
                            <input type="hidden" name="_token" value="">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        <input type="text" class="form-control " value="" name="name" placeholder="Enter Your Name" id="name">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        <input type="text" class="form-control " value="" name="mobile" placeholder="Enter Contact No." id="email" max="9999999999">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        <select id="inputState" class="form-select form-control " name="state_id" onchange="getDistrictsbyState(this.value)">
                                            <option value="" selected disabled>Select State</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4</option>
                                            <option value="">5</option>
                                            <option value="">6</option>
                                            <option value="">7</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        <select id="" class="form-select form-control districts " name="dist_id">
                                            <option value="">Select District</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        <input type="number" class="form-control" name="price" placeholder="Enter Your Price" id="price">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-block btn-theme-dark f-14">Contact Seller</button>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-2">
                                        <a class="btn btn-theme-light btn-block f-14" target="_blank" href="{% url 'loan' %} " title="Get Loan">Get Loan</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <p class="text-center">By proceeding ahead you expressly agree to the Tractor Junctions <a href="https://www.tractorjunction.com/privacy-policy/" target="_blank" title="terms and conditions">terms and conditions*</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block">
                <div class="tractors__ad">
                    <img src="{% static 'images/eicher.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-fullDetail">
    <div class="container">
        <div class="row g-4">
            <div class="col-12">
                <div class="row g-4">
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="tractor-fullDetail__card mb-0">
                            <div class="tractor-fullDetail__card--header">
                                <h5 class="">Malpura Sheep Specification</h5>
                            </div>
                            <div class="tractor-fullDetail__card--body f-14">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                        <td>Category</td>
                                        <td>Sheep</td>
                                    </tr>
                                    <tr>
                                        <td>Breed</td>
                                        <td>Malpura</td>
                                    </tr>
                                    <tr>
                                        <td>With Cub</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>Age</td>
                                        <td>1 Years, 0 Months</td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>Male</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="tractor-fullDetail__card mb-0">
                            <div class="tractor-fullDetail__card--header">
                                <h5 class="">Seller Info</h5>
                            </div>
                            <div class="tractor-fullDetail__card--body f-14">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                        <td>Name</td>
                                        <td>Abcd xyz</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile No.</td>
                                        <td>+977-98****1111</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail</td>
                                        <td>abc@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>District</td>
                                        <td>Kathmandu</td>
                                    </tr>
                                    <tr>
                                        <td>State</td>
                                        <td>3</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Overview</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body">
                        <p>Specialties in uper side science clearly look allah names</p>
                    </div>
                </div>
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Description</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body">
                        <p>Do you want to buy a Allah Name Sheep Available Very Healthy Malpura Sheep in Maharashtra? So, here you can find Allah Name Sheep Available Very Healthy Malpura Sheep in Mumbai, Maharashtra. You can buy Allah Name Sheep Available
                            Very Healthy Malpura Sheep at an affordable price on Tractor Argo.</p>

                        <p> Here, available a Sheep whose breed is Malpura. It is a Male Sheep whose age is 1 years, 0 months. Its price is Rs. 50000/-</p>

                        <p>If you are interested in this Allah Name Sheep Available Very Healthy Malpura Sheep then fill the form and get all detail about the owner. This Malpura Sheep is available in Maharashtra. If you want to buy this Sheep then visit
                            TractorJunction. If you want more information about Allah Name Sheep Available Very Healthy Malpura Sheep visit Tractor Argo.</p>

                        <p>Listed On: 15-October-2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-year similar-tractor">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Similar {{tractor.name|upper}}-{{tractor.model|upper}}</h4>
        <div class="tractor-content__container" id="similarTractor">
            <div class="similar-content-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span><i class="fas fa-bolt mr-2"></i>55 HP</span>
                            </div>
                            <div class="cardTractor__header---topRight">
                                <span>4 WD</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Powertrac 445 PLUS</h6>
                            <p class="cardTractor__body---price">Nrs. 350666</p>
                            <p class="cardTractor__body---rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> (10 Reviews)</p>
                            <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span><i class="fas fa-bolt mr-2"></i>55 HP</span>
                            </div>
                            <div class="cardTractor__header---topRight">
                                <span>4 WD</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Powertrac 445 PLUS</h6>
                            <p class="cardTractor__body---price">Nrs. 350666</p>
                            <p class="cardTractor__body---rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> (10 Reviews)</p>
                            <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span><i class="fas fa-bolt mr-2"></i>55 HP</span>
                            </div>
                            <div class="cardTractor__header---topRight">
                                <span>4 WD</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Powertrac 445 PLUS</h6>
                            <p class="cardTractor__body---price">Nrs. 350666</p>
                            <p class="cardTractor__body---rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> (10 Reviews)</p>
                            <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span><i class="fas fa-bolt mr-2"></i>55 HP</span>
                            </div>
                            <div class="cardTractor__header---topRight">
                                <span>4 WD</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">Powertrac 445 PLUS</h6>
                            <p class="cardTractor__body---price">Nrs. 350666</p>
                            <p class="cardTractor__body---rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i> (10 Reviews)</p>
                            <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                            <a href="" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tractor-sell">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Similar Used Tractors</h4>
        <div class="tractor-content__container" id="usedTractorContainer">
            <div class="usedTractor-content-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span>Premium</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Kubota B2420</h6>
                                <p class="cardTractor__body---price">Nrs. 2154564</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="fas fa-bolt mr-2"></i>75 HP</span>
                                    <span><i class="fas fa-calendar-alt mr-2"></i>2020</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa-2, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Kubota B2420</h6>
                                <p class="cardTractor__body---price">Nrs. 2154564</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="fas fa-bolt mr-2"></i>75 HP</span>
                                    <span><i class="fas fa-calendar-alt mr-2"></i>2020</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa-2, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span>Premium</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Kubota B2420</h6>
                                <p class="cardTractor__body---price">Nrs. 2154564</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="fas fa-bolt mr-2"></i>75 HP</span>
                                    <span><i class="fas fa-calendar-alt mr-2"></i>2020</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa-2, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span>Premium</span>
                            </div>
                            <div class="cardTractor__header---imageContainer">
                                <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Kubota B2420</h6>
                                <p class="cardTractor__body---price">Nrs. 2154564</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="fas fa-bolt mr-2"></i>75 HP</span>
                                    <span><i class="fas fa-calendar-alt mr-2"></i>2020</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa-2, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-theme-dark">View All Used Tractors<i class="fas fa-chevron-circle-right ml-2"></i></button>
        </div>
    </div>
    </div>
</section>

<section class="compare-tractor">
    <div class="container">
        <h4 class="compare-tractor__title">Compare To Buy The Right Tractor</h4>
        <div class="compare-content-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="disclaimer">
    <div class="container">
        <h5 class="mb-3">
            Disclaimer :-
        </h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe laborum, provident quibusdam consectetur laudantium, nam quo incidunt velit debitis vel harum repudiandae iure id facilis maiores suscipit facere. Impedit.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var bigimage = $("#tractorMainSlider");
        var thumbs = $("#tractorThumbSlider");
        var syncedSecondary = true;
        bigimage.owlCarousel({
            items: 1,
            slideSpeed: 9000,
            nav: true,
            autoplay: true,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navContainer: '.tractor-year__container .tractor-content-nav',
            navText: ["<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        }).on("changed.owl.carousel", syncPosition);
        thumbs.on("initialized.owl.carousel", function() {
            thumbs.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
            items: 3,
            dots: false,
            nav: false,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: 3,
            responsiveRefreshRate: 100,
        }).on("changed.owl.carousel", syncPosition2);
        // thumbnail image
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumbs.find(".owl-item").removeClass("current").eq(current).addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs.find(".owl-item.active").first().index();
            var end = thumbs.find(".owl-item.active").last().index();
            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }
        thumbs.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });

        // image zoom on click
        $('.fancynewtractorGaller').fancybox({
            selector: '.owl-item:not(.cloned) .fancynewtractor',
            hash: false,
            thumbs: {
                autoStart: false
            },
            autoFocus: false,
            trapFocus: false,
            spinnerTpl: '<div class="fancybox-loading"></div>',
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                //"fullScreen",
                //"download",
                // "thumbs",
                "close"
            ]
        });
    })
</script>
{% endblock %}