{% extends "layout/base.html" %} {% load humanize %}
<!--  -->
{% load static %} {% block title %} | Farm Implement Detail{% endblock %} {% block static %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractors">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__SingleSlider">
                    <!-- main Slider -->
                    <div class="tractors__sliderMain">
                        <div class="tractor-year__container">
                            <div id="tractorMainSlider" class="singleSlider owl-carousel owl-theme fancynewtractorGaller">
                                <!-- repeat item showing only 3 item -->
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{ old_implement.image1.url }}">
                                            <img src="{{ old_implement.image1.url }}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{ old_implement.image2.url }}">
                                            <img src="{{ old_implement.image2.url }}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% if old_implement.image3 %}
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{ old_implement.image3.url }}">
                                            <img src="{{ old_implement.image3.url }}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                {% if old_implement.image4 %}
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{ old_implement.image4.url }}">
                                            <img src="{{ old_implement.image4.url }}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="tractor-content-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tractors__thumbnail">
                        <div class="tractor-year__container">
                            <div class="thumbnail owl-carousel owl-theme" id="tractorThumbSlider">
                                <!-- showing only 3 item  -->
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{ old_implement.image1.url }}" class="small_img" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{ old_implement.image2.url }}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% if old_implement.image3 %}
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{ old_implement.image3.url }}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% endif %}
                                {% if old_implement.image4 %}
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{ old_implement.image4.url }}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__description">
                    <h4 class="tractors__description--title mb-1">
                        {{ old_implement.title }}
                    </h4>
                    <small class="tractors__description--listed text-light-grey mb-2 d-block">Listed By - {{ old_implement.seller }}</small>
                    <div class="usedTractorSingle">
                        <div class="usedTractorSingle__pricedetail">
                            <h5>Price - Nrs {{ old_implement.price }}</h5>
                            <span class="usedTractorSingle__pricedetail---uid">UID - TJN75</span>
                        </div>
                        <form class="usedTractorSingle__form" method="POST" id="addressForm" data-district-url="{% url 'district-data' %}">
                            {% csrf_token %}
                            <h5>Interested In Property</h5>
                            <input type="hidden" name="_token" value="">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        {{ form.contact }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        {{ form.state }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        {{ form.district }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-2">
                                        {{ form.bid_price }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-block btn-theme-dark f-14">Contact Seller</button>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-2">
                                        <a class="btn btn-theme-light btn-block f-14" target="_blank" href="{% url 'loan' %} " title="Get Loan">Get Loan</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <p class="text-center">By proceeding ahead you expressly agree to the Tractor Junctions <a href="https://www.tractorjunction.com/privacy-policy/" target="_blank" title="terms and conditions">terms and conditions*</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block">
                <div class="tractors__ad">
                    <img src="{% static 'images/eicher.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-fullDetail">
    <div class="container">
        <div class="row g-4">
            <div class="col-12">
                <div class="row g-4">
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="tractor-fullDetail__card">
                            <div class="tractor-fullDetail__card--header">
                                <h5 class="">{{ old_implement.brand }} {{ old_implement.model }} specifications</h5>
                            </div>
                            <div class="tractor-fullDetail__card--body f-14">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                        <td>Listed By</td>
                                        <td>{{ old_implement.seller }}</td>
                                    </tr>
                                    <tr>
                                        <td>Brand</td>
                                        <td>{{ old_implement.brand }}</td>
                                    </tr>
                                    <tr>
                                        <td>Model </td>
                                        <td>{{ old_implement.model }}</td>
                                    </tr>
                                    <tr>
                                        <td>Category</td>
                                        <td>{{ old_implement.category }}</td>
                                    </tr>
                                    <tr>
                                        <td>Price</td>
                                        <td>{{ old_implement.price }}</td>
                                    </tr>
                                    <tr>
                                        <td>Purchase Year </td>
                                        <td>{{ old_implement.purchase_year }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="tractor-fullDetail__card">
                            <div class="tractor-fullDetail__card--header">
                                <h5 class="">Seller Info</h5>
                            </div>
                            <div class="tractor-fullDetail__card--body f-14">
                                <table class="table table-bordered mb-0">
                                    <tr>
                                        <td>Name</td>
                                        <td>{{ old_implement.seller.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile No.</td>
                                        <td>+977-{{ old_implement.seller.phone_no}}</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail</td>
                                        <td>{{ old_implement.seller.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>District</td>
                                        <td>{{ old_implement.seller.district }}</td>
                                    </tr>
                                    <tr>
                                        <td>State</td>
                                        <td>{{ old_implement.seller.state }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">More Information</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body">
                        <p>{{ old_implement.about }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="disclaimer">
    <div class="container">
        <h5 class="mb-3">
            Disclaimer :-
        </h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe laborum, provident quibusdam consectetur laudantium, nam quo incidunt velit debitis vel harum repudiandae iure id facilis maiores suscipit facere. Impedit.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var bigimage = $("#tractorMainSlider");
        var thumbs = $("#tractorThumbSlider");
        var syncedSecondary = true;
        bigimage.owlCarousel({
            items: 1,
            slideSpeed: 9000,
            nav: true,
            autoplay: true,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navContainer: '.tractor-year__container .tractor-content-nav',
            navText: ["<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        }).on("changed.owl.carousel", syncPosition);
        thumbs.on("initialized.owl.carousel", function() {
            thumbs.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
            items: 3,
            dots: false,
            nav: false,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: 3,
            responsiveRefreshRate: 100,
        }).on("changed.owl.carousel", syncPosition2);
        // thumbnail image
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumbs.find(".owl-item").removeClass("current").eq(current).addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs.find(".owl-item.active").first().index();
            var end = thumbs.find(".owl-item.active").last().index();
            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }
        thumbs.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });

        // image zoom on click
        $('.fancynewtractorGaller').fancybox({
            selector: '.owl-item:not(.cloned) .fancynewtractor',
            hash: false,
            thumbs: {
                autoStart: false
            },
            autoFocus: false,
            trapFocus: false,
            spinnerTpl: '<div class="fancybox-loading"></div>',
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                //"fullScreen",
                //"download",
                // "thumbs",
                "close"
            ]
        });
    })
</script>
{% endblock %}