{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Land Properties{% endblock %} {% block static %}
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractor-year used-tractor">
    <div class="container">
        <h4 class="tractor-year__title">Land &amp; Property</h4>
        <div class="row g-4">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="filterMain">
                    <div class="filterMainBackground">
                        <form>
                            <div class="newandUsedLinks">
                                <div class="newandUsedLinks-mobile d-block d-sm-block d-md-none d-lg-none">
                                    <div class="row">
                                        <div class="col-4"><a href="" title="Cancel">Cancel</a></div>
                                        <div class="col-4"><button type="reset" class="btn btn-block btn-reset">Reset</button></div>
                                        <div class="col-4"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>
                                    </div>
                                </div>
                                <div class="newandUsedLinks-desktop d-none d-sm-none d-md-block d-lg-block">
                                    <div class="row g-3">
                                        <div class="col-6"><button type="reset" class="btn btn-block btn-reset">Reset</button></div>
                                        <div class="col-6"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>

                                    </div>
                                </div>
                            </div>

                            <div class="filterMain__listing">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                PRICE
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="rangeSliderBlock">
                                                        <input id="pricerange" name="prices" value="" type="hidden">
                                                        <input type="text" class="price-range-slider" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                AREA
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="rangeSliderBlock">
                                                        <input id="arearange" name="area" value="" type="hidden">
                                                        <input type="text" class="area-range-slider" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                 AREA UNIT
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input name="harbrand" id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            <input class="chbox harbrand" type="checkbox" value="" id="acre">
                                                            <label class="form-check-label" for="acre">
                                                                Acre
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="hectare">
                                                            <label class="form-check-label" for="hectare">
                                                                Hectare
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="bigha">
                                                            <label class="form-check-label" for="bigha">
                                                                Bigha
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="squareFeet">
                                                            <label class="form-check-label" for="squareFeet">
                                                                Square Feet
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="squareYard">
                                                            <label class="form-check-label" for="squareYard">
                                                                Square Yard
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="none">
                                                            <label class="form-check-label" for="none">
                                                                None
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                STATE
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input name="harbrand" id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            <input class="chbox harbrand" type="checkbox" value="" id="one">
                                                            <label class="form-check-label" for="one">
                                                                One <span>(11) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="two">
                                                            <label class="form-check-label" for="two">
                                                                Two <span>(7) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="three">
                                                            <label class="form-check-label" for="three">
                                                                Three <span>(7) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="four">
                                                            <label class="form-check-label" for="four">
                                                                Four <span>(6) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="five">
                                                            <label class="form-check-label" for="five">
                                                                Five <span>(5) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="six">
                                                            <label class="form-check-label" for="six">
                                                                Six <span>(2) </span>
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="seven">
                                                            <label class="form-check-label" for="seven">
                                                                Seven <span>(2) </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                                PROPERTY TYPE
                                            </a>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input name="harbrand" id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            <input class="chbox harbrand" type="checkbox" value="" id="agricultural">
                                                            <label class="form-check-label" for="agricultural">
                                                                Agricultural
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="commercial">
                                                            <label class="form-check-label" for="commercial">
                                                                Commercial
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="resendntial">
                                                            <label class="form-check-label" for="resendntial">
                                                                Resendntial
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="farmHouse">
                                                            <label class="form-check-label" for="farmHouse">
                                                                Farm House
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="shop">
                                                            <label class="form-check-label" for="shop">
                                                                Shop
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="others">
                                                            <label class="form-check-label" for="others">
                                                                Others
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="propertyNone">
                                                            <label class="form-check-label" for="propertyNone">
                                                                None
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                                LISTED BY
                                            </a>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingFive">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input name="harbrand" id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            <input class="chbox harbrand" type="checkbox" value="" id="owner">
                                                            <label class="form-check-label" for="owner">
                                                                Owner 
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="dealer">
                                                            <label class="form-check-label" for="dealer">
                                                               Dealer
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="builder">
                                                            <label class="form-check-label" for="builder">
                                                               Builder
                                                            </label>
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input class="chbox harbrand" type="checkbox" value="" id="listedNone">
                                                            <label class="form-check-label" for="listedNone">
                                                               None
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="sorting">
                    <div class="row g-2">
                        <div class="col-sm-12 col-md-8 col-lg-9 align-self-center">
                            <button class="btn btn-theme-dark">Sell Land</button>
                        </div>
                        <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block">
                            <div class="soritng__price">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Property Sort by</option>
                                    <option value="1">Price - Low to High</option>
                                    <option value="2">Price - High to Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">

                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Property Dealing</h6>
                                <p class="cardTractor__body---price">Nrs. 1052454</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="far fa-building mr-2"></i>Agricultural</span>
                                    <span><i class="far fa-user-circle mr-2"></i>Owner</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">For Farming</h6>
                                <p class="cardTractor__body---price">Nrs. 1052454</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="far fa-building mr-2"></i>Resendntial</span>
                                    <span><i class="far fa-user-circle mr-2"></i>Owner</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Property Dealing</h6>
                                <p class="cardTractor__body---price">Nrs. 1052454</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="far fa-building mr-2"></i>Agricultural</span>
                                    <span><i class="far fa-user-circle mr-2"></i>Owner</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Khethi</h6>
                                <p class="cardTractor__body---price">Nrs. 1052454</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="far fa-building mr-2"></i>Resendntial</span>
                                    <span><i class="far fa-user-circle mr-2"></i>Owner</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Property Dealing</h6>
                                <p class="cardTractor__body---price">Nrs. 1052454</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="far fa-building mr-2"></i>Agricultural</span>
                                    <span><i class="far fa-user-circle mr-2"></i>Owner</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">For Farming</h6>
                                <p class="cardTractor__body---price">Nrs. 1052454</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="far fa-building mr-2"></i>Resendntial</span>
                                    <span><i class="far fa-user-circle mr-2"></i>Owner</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Property Dealing</h6>
                                <p class="cardTractor__body---price">Nrs. 1052454</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="far fa-building mr-2"></i>Agricultural</span>
                                    <span><i class="far fa-user-circle mr-2"></i>Owner</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">Khethi</h6>
                                <p class="cardTractor__body---price">Nrs. 1052454</p>
                                <p class="cardTractor__body---hpDate">
                                    <span><i class="far fa-building mr-2"></i>Resendntial</span>
                                    <span><i class="far fa-user-circle mr-2"></i>Owner</span>
                                </p>
                                <a href="#" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">Load More Products</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Buy Used Implement</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock%} {% block script %}
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script>
    $(function() {


        var pri = "";
        pri = pri.split('-');

        var oldhp = "";
        oldhp = oldhp.split('-');

        $(".price-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            drag_interval: false,
            min: 100000,
            max: 15000000,
            from: pri[0] ? pri[0] : 100000,
            to: pri[1] ? pri[1] : 15000000,
            // prefix: "₹",
            onChange: function(data) {
                var values = [data.from, data.to]
                var price = values.join('-')
                $("#pricerange").attr('value', price)
            }
        });
        $(".area-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            drag_interval: false,
            min: 1,
            max: 50000,
            from: oldhp[0] ? oldhp[0] : 1,
            to: oldhp[1] ? oldhp[1] : 50000,
            onChange: function(data) {
                var values = [data.from, data.to]
                var hp = values.join('-')
                $("#hprange").attr('value', hp)
            }
        });

    });
</script>
{% endblock %}