{% extends 'layout/base.html' %} {% load static %} {% block title %} | Ask A Question {% endblock %} {% block content %}
<section class="brands backgroundBgGrey">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-7">
                <div class="otherQuestion mt-0">
                    <!-- other question list -->
                    <h5 class="mb-2">{{question.question}}</h5>
                    <div class="otherQuestion__block--detail bg-white px-0">
                        <span class="otherQuestion__block--date"><i class="fa fa-calendar"></i> Published On : {{question.published_date}}</span>
                        <span class="otherQuestion__block--by"><i class="fa fa-user"></i> By - {{question.name}}</span>
                    </div>
                    {% for answer in answers %}
                    <div class="otherQuestion__block">
                        <p class="otherQuestion__block--answer f-regular text-capitalize"> {{answer.name}}</p>
                        <p class="otherQuestion__block--answer"> {{answer.answer}}</p>
                        <div class="otherQuestion__block--detail">
                            <span class="otherQuestion__block--date"><i class="fa fa-calendar"></i> Answered On : {{answer.submitted_date}}</span>
                        </div>
                    </div>
                    {% endfor %}
                    {% comment %} <div class="otherQuestion__block">
                        <p class="otherQuestion__block--answer f-regular text-capitalize"> Nirmal Mishra</p>
                        <p class="otherQuestion__block--answer"> good</p>
                        <div class="otherQuestion__block--detail">
                            <span class="otherQuestion__block--date"><i class="fa fa-calendar"></i> Answered On : Wed, Aug 21, 2019</span>
                        </div>
                    </div> {% endcomment %}
                </div>
                {% if messages %}
                    <!--  -->
                    {% for message in messages %}
                    <div
                    class="alert alert-warning alert-dismissible fade show"
                    role="alert"
                    >
                    <strong>Success: </strong>{{message}}
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="dealership-form__mainForm">
                    <form method="POST" action="">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="name" class="control-label mb-2">Name</label>
                                    <input type="text" class="form-control" name="name" value="" required="" placeholder="Enter your Name" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="mobile" class="control-label mb-2">Mobile No.</label>
                                    <input type="text" class="form-control" name="mob_no" value="" required="" placeholder="Enter your Contact No" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="" class="control-label mb-2">Your Answer</label>
                                    <textarea class="form-control" name="answer" value="" placeholder="Your Answer"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <div class="g-recaptcha" data-sitekey="6LctTLcZAAAAAL11xCS-bVDewuzY8gdevRMEHeFa"></div>
                                    <!-- this will show captcha errors -->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-theme-dark btn-block">Add Answer</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="latestQuestion">
                    <h5 class="tractor-provinces__title">More Questions</h5>
                    <!-- question list -->
                    {% for question in questions|slice:"0:8" %}
                    <div class="latestQuestion__ques">
                        <a href="{% url 'ask-question' %}">
                            <p>
                                <span>Que.</span> {{question.question}}
                            </p>
                        </a>
                    </div>
                    {% endfor %}
                    {% comment %} <div class="latestQuestion__ques">
                        <a href="#">
                            <p>
                                <span>Que.</span> Mere paas 855 fe 2006 model h uski dhadi wrong ho gyi h aur front tyres alignment bhi bigad gya h jiske karan front tyre ke sipendal tod rha h tractor power steering h aur itarsi mp ke paas ke gao se hu
                                aur showroom wale ne engineer beja tha but usne tractor dekha pr koi hal ya sudhar suggestions nhi diya ,isliye ab humne swaraj lene ka vichar band kr diya h kyuki swaraj puraane customer ki kami nhi sudhar pa rhe h aur
                                spyer parts bhi nhi milte aur me tractor ki front dhadi se bhut jda pareshan hu ek saal 3-4 baar sipendal tod chuka h tractor ab bharose ka nhi bacha h ,ho sake to problem ko seriously le aur slove krne ki kosish kre ,asha
                                h ap ispar react kre ge
                            </p>
                        </a>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %} {% block script %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}