{% extends 'layout/base.html' %} {% load static %} {% block title %} | Ask A Question {% endblock %} {% block content %}
<section class="brands backgroundBgGrey">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Latest Question & Answers On Tractors</h4>
        <div class="row g-4">
            <div class="col-md-6 col-lg-7">
                <div class="header-bg-container">
                    <h4 class="tractor-year__title">Question on your mind? Ask now!</h4>
                </div>
                {% include 'frontend/message.html' %}
                <div class="dealership-form__mainForm">
                    <form method="POST" action="">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="name" class="control-label mb-2">Name</label>
                                    <input type="text" class="form-control" name="name" value="" required="" placeholder="Enter your Name" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="mobile" class="control-label mb-2">Mobile No.</label>
                                    <input type="number" class="form-control" name="mob_no" value="" required="" placeholder="Enter your Contact No" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="" class="control-label mb-2">Your Question?</label>
                                    <textarea class="form-control" name="question" value="" placeholder="Your Question?"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <div class="g-recaptcha" data-sitekey="6LctTLcZAAAAAL11xCS-bVDewuzY8gdevRMEHeFa"></div>
                                    <!-- this will show captcha errors -->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-theme-dark btn-block">Add Question</button>
                        </div>
                    </form>
                </div>
                <div class="otherQuestion">
                    <!-- other question list -->
                    {% for question in question_list %}
                    <div class="otherQuestion__block">
                        <h5><span>Que.</span> {{question.question}}</h5>
                        <p class="otherQuestion__block--answer"><span>Ans.</span> good</p>
                        <div class="otherQuestion__block--detail">
                            <span class="otherQuestion__block--date"><i class="fa fa-calendar"></i> Published On : {{question.published_date}}</span>
                            <span class="otherQuestion__block--by"><i class="fa fa-user"></i> By - {{question.name}}</span>
                        </div>
                        <a href="{% url 'answer' question.id %}" title="Post Answer" class="otherQuestion__block--anchor btn btn-theme-dark">Post Answer</a>
                    </div>
                    {% endfor %} {% comment %}
                    <div class="otherQuestion__block">
                        <h5><span>Que.</span> Kindly provide and last FY 18-19 and TY19-20 TMA fig with current SOM.</h5>
                        <p class="otherQuestion__block--answer"><span>Ans.</span> good</p>
                        <div class="otherQuestion__block--detail">
                            <span class="otherQuestion__block--date"><i class="fa fa-calendar"></i> Published On : Wed, Aug 21, 2019</span>
                            <span class="otherQuestion__block--by"><i class="fa fa-user"></i> By - Nirmal Mishra</span>
                        </div>
                        <a href="" title="Post Answer" class="otherQuestion__block--anchor btn btn-theme-dark">Post Answer</a>

                    </div>
                    {% endcomment %}
                </div>
                {% comment %}
                <div class="paginationBlock">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">..</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div> {% endcomment %}
            <!-- Pagination -->
                {% if is_paginated %}
                <div class="paginationBlock">
                    <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        </li>
                    {% else %}
                        <li class="disabled page-item">
                        <a class="page-link" href="#">
                            <span>&laquo;</span>
                        </a>
                        </li>
                    {% endif %}

                    {% for page in page_range %}
                        <li {% if page == page_obj.number %} class="active page-item" {% endif %}>
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span>&raquo;</span>
                        </a>
                        </li>
                    {% else %}
                        <li {% if not page_obj.has_next %}class="disabled page-item"{% endif %}>
                        <a class="page-link" href="#">
                            <span>&raquo;</span>
                        </a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="latestQuestion">
                    <h5 class="tractor-provinces__title">Latest Question</h5>
                    <!-- question list -->
                    {% for question in question %}
                    <div class="latestQuestion__ques">
                        <a href="{% url 'answer' question.id %}">
                            <p>
                                <span>Que.</span> {{question.question}}
                            </p>
                        </a>
                    </div>
                    {% endfor %} {% comment %}
                    <div class="latestQuestion__ques">
                        <a href="#">
                            <p>
                                <span>Que.</span> what is the prise of faramtrack champion 41 trector ?
                            </p>
                        </a>
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %} {% block script %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}