{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Bank Detail {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="compare-tractor">
  <div class="container">
    <h4 class="text-center mb-3">
      <span class="text-title"
        >{{finance_schemes.bank_name}}- {{finance_schemes.title}}</span
      >
    </h4>
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-2">
        <div class="financeSchemesSingle-img">
          <img
            class="img-fluid"
            src="{{finance_schemes.image.url}}"
            alt="{{finance_schemes.bank_name}}- {{finance_schemes.title}}"
          />
        </div>
      </div>
      <div class="col-sm-12 col-md-9 col-lg-10">
        <div class="financeSchemesSingle-content">
          {{finance_schemes.description|safe}}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
