{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Blog {% endblock %}
<!--  Start of content -->
{% block content %}
<!-- Latest News -->
<section class="tractor-year latest">
  <div class="container">
    <div class="newsblock">
      <div class="row g-3">
        <div class="col-lg-8 col-xl-9">
          <!-- trending News -->
          <div class="trendingNews">
            <div class="blogSlider">
              <div class="tractor-year__container blog-container">
                <div class="blog-carousel owl-carousel owl-theme">
                  {% for blog in recents %}
                  <div class="item">
                    <img src="{{blog.image.url}}" class="img-fluid" alt="..." />
                    <div class="entry__category">
                      <a href="">Tyres</a>
                    </div>
                    <div class="blogSlider__title">
                      <h2>{{blog.title}}</h2>
                    </div>
                  </div>
                  {% endfor %}
                  <!--  -->
                  <!-- <div class="item">
                    <img
                      src="{% static 'images/blog/blog2.jpg' %}"
                      class="img-fluid"
                      alt="..."
                    />
                    <div class="entry__category">
                      <a href="">Agriculture</a>
                    </div>
                    <div class="blogSlider__title">
                      <h2>
                        Why we use Tractor Driven Cultivator for ploughing
                        nowadays?
                      </h2>
                    </div>
                  </div>
                  <div class="item">
                    <img
                      src="{% static 'images/blog/blog3.jpg' %}"
                      class="img-fluid"
                      alt="..."
                    />
                    <div class="entry__category">
                      <a href="">new Tractor</a>
                    </div>
                    <div class="blogSlider__title">
                      <h2>
                        KUBOTA Tractors Price List 2020 And Review Of All Model
                        | Full Specifications and Features
                      </h2>
                    </div>
                  </div> -->
                </div>
                <div class="owl-theme">
                  <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ad block -->
            <div class="adPlace-Big px-4">
              <a href="#">
                <div class="adPlace-BigInner mb-0">
                  <img
                    src="{% static 'images/dummyad/ok.gif' %}"
                    class="img-fluid"
                  />
                </div>
              </a>
            </div>
            <div class="contentBlock">
              {% for blog in blogs %}
              <div class="contentBlock__list">
                <a
                  class="contentBlock__list--thumbnail"
                  href="{{blog.get_absolute_url}}"
                >
                  <div class="contentBlock__list--thumbnail-wrap">
                    <img src="{{blog.image.url}} " class="img-fluid" />
                  </div>
                </a>
                <div class="entry__category">
                  <a href="">{{blog.category.name}}</a>
                </div>
                <h5 class="entry__title">
                  <a href="{{blog.get_absolute_url}}">{{blog.title}}</a>
                </h5>
                <div class="entry__meta">
                  <span class="entry__meta--author"><a href="">admin</a></span>
                  <span class="entry__meta--date">{{blog.date}}</span>
                  <span class="entry__meta--comment"
                    ><a href="#" class="comments-link"
                      >Leave a Comment</a
                    ></span
                  >
                </div>
                <div class="entry__summary">
                  <p>{{blog.text}}</p>
                  <span class="read-more"><a href="{{blog.get_absolute_url}}">Read more »</a></span>
                </div>
              </div>

              {% endfor %}

              <!-- ad block -->
              <div class="adPlace-Big">
                <a href="#">
                  <div class="adPlace-BigInner">
                    <img
                      src="{% static 'images/dummyad/mahindra-1200.gif' %}"
                      class="img-fluid"
                    />
                  </div>
                </a>
              </div>
              <!-- end ad -->
            </div>
          </div>
          <div class="paginationBlock">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">..</a></li>
              <li class="page-item"><a class="page-link" href="#">9</a></li>
              <li class="page-item"><a class="page-link" href="#">10</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- side bar -->
        <div class="col-lg-4 col-xl-3">
          <div class="sidebarBlock">
            <div class="sidebarBlock__content">
              <form action="" class="searchnewsForm">
                <input type="text" placeholder="Type here .." name="" />
                <button type="submit" class="btn btn-theme-dark">Search</button>
              </form>
            </div>
          </div>
          <div class="sidebarBlock">
            <div class="sidebarBlock__heading">
              <h6>Advertisement</h6>
            </div>
            <div class="sidebarBlock__content">
              <div class="row g-3 mb-4">
                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                  <!-- ad block -->
                  <div class="adPlace-Big">
                    <a href="#">
                      <div class="adPlace-BigInner mb-0">
                        <img
                          src="{% static 'images/dummyad/1.gif' %}"
                          class="img-fluid"
                        />
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                  <!-- ad block -->
                  <div class="adPlace-Big">
                    <a href="#">
                      <div class="adPlace-BigInner mb-0">
                        <img
                          src="{% static 'images/dummyad/goldgate.gif' %}"
                          class="img-fluid"
                        />
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                  <!-- ad block -->
                  <div class="adPlace-Big">
                    <a href="#">
                      <div class="adPlace-BigInner mb-0">
                        <img
                          src="{% static 'images/dummyad/gc.gif' %}"
                          class="img-fluid"
                        />
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                  <!-- ad block -->
                  <div class="adPlace-Big">
                    <a href="#">
                      <div class="adPlace-BigInner mb-0">
                        <img
                          src="{% static 'images/dummyad/prabhu.gif' %}"
                          class="img-fluid"
                        />
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="sidebarBlock">
              <div class="sidebarBlock__heading">
                <h6>Most Viewed Posts</h6>
              </div>
              <div class="sidebarBlock__content">
                <ul class="blog">
                  <li class="blog__list">
                    <a href=""
                      >Swaraj Tractors Price List 2020, Features and
                      Specifications (192,731)</a
                    >
                  </li>
                  <li class="blog__list">
                    <a href=""
                      >Farmtrac Tractor Price List 2020, Features ,
                      Specifications and Offer (77,198)</a
                    >
                  </li>
                  <li class="blog__list">
                    <a href=""
                      >KUBOTA Tractors Price List 2020 And Review Of All Model |
                      Full Specifications and Features (95,672)</a
                    >
                  </li>
                  <li class="blog__list">
                    <a href=""
                      >Sonalika Tractor Price List 2020, Features and
                      Specifications (129,180)
                    </a>
                  </li>
                  <li class="blog__list">
                    <a href=""
                      >Mahindra Tractors Price List 2020 And Review Of All Model
                      | Full Specifications (177,175)</a
                    >
                  </li>
                  <li class="blog__list">
                    <a href=""
                      >Swaraj Tractors Price List 2020, Features and
                      Specifications (192,731)</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="sidebarBlock">
              <div class="sidebarBlock__heading">
                <h6>Recent Posts</h6>
              </div>
              <div class="sidebarBlock__content">
                <ul class="blog">
                  <li class="blog__list">
                    <a href=""
                      >Innovative Qualities of Top 7 Tractor Tyres Brands in
                      India</a
                    >
                  </li>
                  <li class="blog__list">
                    <a href=""
                      >Top 10 Sports Bikes in India | 10 Best Bikes in India
                      2020 Price List</a
                    >
                  </li>
                  <li class="blog__list">
                    <a href=""
                      >How John Deere Tractor Makes Your Farming Life Better
                      ?</a
                    >
                  </li>
                  <li class="blog__list">
                    <a href=""
                      >Farmtrac Tractor Price List 2020, Features ,
                      Specifications and Offer</a
                    >
                  </li>
                  <li class="blog__list">
                    <a href=""
                      >The Benefits of Using Organic Fertilizers – Organic Vs
                      Inorganic Fertilizers</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="sidebarBlock">
              <div class="sidebarBlock__heading">
                <h6>Categories</h6>
              </div>
              <div class="sidebarBlock__content">
                <ul class="blog">
                  <li class="blog__list">
                    <a href="">Agriculture <span>(15)</span></a>
                  </li>
                  <li class="blog__list">
                    <a href="">Bikes <span>(1)</span></a>
                  </li>
                  <li class="blog__list">
                    <a href="">John Deere Tractor <span>(5)</span></a>
                  </li>
                  <li class="blog__list">
                    <a href="">Tyres <span>(9)</span></a>
                  </li>
                  <li class="blog__list">
                    <a href="">Massey Ferguson Tractor <span>(4)</span></a>
                  </li>
                  <li class="blog__list">
                    <a href="">Powertrac Tractor <span>(2)</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sidebarBlock">
              <div class="sidebarBlock__heading">
                <h6>Recent Comments</h6>
              </div>
              <div class="sidebarBlock__content">
                <ul class="blog">
                  <li class="blog__list">
                    Amar on
                    <a href=""
                      >Swaraj Tractors Price List 2020, Features and
                      Specifications</a
                    >
                  </li>
                  <li class="blog__list">
                    Santosh.kumar on<a href="">
                      Mahindra Tractors Price List 2020 And Review Of All
                      Model</a
                    >
                  </li>
                  <li class="blog__list">
                    M s vijaykumar on
                    <a href=""
                      >Mahindra Tractors Price List 2020 And Review Of All Model
                      | Full Specifications</a
                    >
                  </li>
                  <li class="blog__list">
                    Deependra Kumar on<a href="">
                      Mahindra Tractors Price List 2020 And Review Of All
                      Model</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="fixedSidebarBlock">
              <div class="sidebarBlock__heading pb-3"></div>
              <div class="sidebarBlock__content">
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-12">
                    <!-- ad block -->
                    <div class="adPlace-Big">
                      <a href="#">
                        <div class="adPlace-BigInner mb-3">
                          <img
                            src="{% static 'images/dummyad/1.gif' %}"
                            class="img-fluid"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-12">
                    <!-- ad block -->
                    <div class="adPlace-Big">
                      <a href="#">
                        <div class="adPlace-BigInner mb-3">
                          <img
                            src="{% static 'images/dummyad/goldgate.gif' %}"
                            class="img-fluid"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-12">
                    <!-- ad block -->
                    <div class="adPlace-Big">
                      <a href="#">
                        <div class="adPlace-BigInner mb-3">
                          <img
                            src="{% static 'images/dummyad/gc.gif' %}"
                            class="img-fluid"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-12">
                    <!-- ad block -->
                    <div class="adPlace-Big">
                      <a href="#">
                        <div class="adPlace-BigInner mb-3">
                          <img
                            src="{% static 'images/dummyad/ime-super-man_300x150.gif' %}"
                            class="img-fluid"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-sm-6 col-md-12">
                    <!-- ad block -->
                    <div class="adPlace-Big">
                      <a href="#">
                        <div class="adPlace-BigInner mb-3">
                          <img
                            src="{% static 'images/dummyad/prabhu.gif' %}"
                            class="img-fluid"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block script %}
<script>
  $(".blog-carousel").owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    dots: false,
    navText: [
      '<i class="fa fa-angle-left" aria-hidden="true"></i>',
      '<i class="fa fa-angle-right" aria-hidden="true"></i>',
    ],
    navContainer: ".tractor-year__container .tractor-content-nav",
    responsive: {
      0: {
        items: 1,
      },
      1000: {
        items: 1,
      },
    },
  });
</script>
{% endblock%}
