{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Blog{% endblock %}
<!--  Start of content -->
{% block content %}
<!-- Latest News -->
<section class="tractor-year latest">
    <div class="container">
        <div class="newsblock">
            <div class="row g-3">
                <div class="col-lg-8 col-xl-9">
                    <div class="contentBlock__detail">
                        <div class="entry__category">
                            <a href="">{{object.category.name}}</a> </div>
                        <h3 class="entry__title f-bold"><a href="" class="main-heading">{{object.title}}</a></h3>
                        <div class="entry__meta">
                            <span class="entry__meta--author f-bold"><a href="">admin</a></span>
                            <span class="entry__meta--date f-bold">{{object.date|date}}</span>
                            <span class="entry__meta--comment f-bold"><a href="" class="comments-link">Leave a Comment</a></span>
                        </div>
                        <div class="blog-container my-2">
                            <img src="{{object.image.url}}" class="img-fluid">
                        </div>

                        <div class="entry__summary entry__summaryDetail">
                            <div class="entry__views mb-2">
                                <span class="text-theme-color f-14 f-bold"><i class="fas fa-signal mr-2"></i>VIEWS: 210</span>
                            </div>
                            <p class="entry__summary---desc">
                                 {{object.text}}
                            </p>
                            <!-- <h4 class="entry__summary---sub-title">
                                Same Deutz Fahr Tractor History
                            </h4>
                            <p class="entry__summary---desc">
                                Same Deutz Fahr tractor provides a powerful engine, easy operation, comfortable riding, attractive design, and simple maintenance. It offers all the special features at an affordable price. Right now, it is one of the world’s leading manufacturers of
                                tractors, harvesting machines, diesel engines, and agricultural machinery. It won many awards in the agriculture field. The Same Deutz Fahr has 80 certified dealers all over India.
                            </p>

                            <p class="entry__summary---desc">
                                The Same Deutz Fahr tractor has various types of the tractor to perform multiple operations efficiently. The tractor range starts from 36 to 80 Hp at an appropriate price. These tractors come with a reasonable price range that makes the Indian farmers
                                happier. For the satisfaction of the farmers. The company builds tractors with the unique features that can make it a favorite tractor of farmers. The Same Deutz Fahr tractor offers economical mileage and high fuel efficiency
                                that saves money and enhances the production.
                            </p> -->
                        </div>
                    </div>
                </div>
                <!-- side bar -->
                <div class="col-lg-4 col-xl-3">
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__content">
                            <form action="" class="searchnewsForm">
                                <input type="text" placeholder="Type here .." name="">
                                <button type="submit" class="btn btn-theme-dark">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6>Advertisement</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            <div class="row g-3 mb-4">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-0">
                                                <img src="{% static 'images/dummyad/1.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-0">
                                                <img src="{% static 'images/dummyad/goldgate.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-0">
                                                <img src="{% static 'images/dummyad/gc.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-12">
                                    <!-- ad block -->
                                    <div class="adPlace-Big">
                                        <a href="#">
                                            <div class="adPlace-BigInner mb-0">
                                                <img src="{% static 'images/dummyad/prabhu.gif' %}" class="img-fluid">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebarBlock">
                            <div class="sidebarBlock__heading">
                                <h6>Most Viewed Posts</h6>
                            </div>
                            <div class="sidebarBlock__content">
                                <ul class="blog">
                                    <li class="blog__list">
                                        <a href="">Swaraj Tractors Price List 2020, Features and Specifications (192,731)</a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">Farmtrac Tractor Price List 2020, Features , Specifications and Offer (77,198)</a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">KUBOTA Tractors Price List 2020 And Review Of All Model | Full Specifications and Features (95,672)</a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">Sonalika Tractor Price List 2020, Features and Specifications (129,180)
                                    </a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">Mahindra Tractors Price List 2020 And Review Of All Model | Full Specifications (177,175)</a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">Swaraj Tractors Price List 2020, Features and Specifications (192,731)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebarBlock">
                            <div class="sidebarBlock__heading">
                                <h6>Recent Posts</h6>
                            </div>
                            <div class="sidebarBlock__content">
                                <ul class="blog">
                                    <li class="blog__list">
                                        <a href="">Innovative Qualities of Top 7 Tractor Tyres Brands in India</a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">Top 10 Sports Bikes in India | 10 Best Bikes in India 2020 Price List</a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">How John Deere Tractor Makes Your Farming Life Better ?</a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">Farmtrac Tractor Price List 2020, Features , Specifications and Offer</a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">The Benefits of Using Organic Fertilizers – Organic Vs Inorganic Fertilizers</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebarBlock">
                            <div class="sidebarBlock__heading">
                                <h6>Categories</h6>
                            </div>
                            <div class="sidebarBlock__content">
                                <ul class="blog">
                                    <li class="blog__list">
                                        <a href="">Agriculture <span>(15)</span></a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">Bikes <span>(1)</span></a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">John Deere Tractor <span>(5)</span></a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">Tyres <span>(9)</span></a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">Massey Ferguson Tractor <span>(4)</span></a>
                                    </li>
                                    <li class="blog__list">
                                        <a href="">Powertrac Tractor <span>(2)</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebarBlock">
                            <div class="sidebarBlock__heading">
                                <h6>Recent Comments</h6>
                            </div>
                            <div class="sidebarBlock__content">
                                <ul class="blog">
                                    <li class="blog__list">
                                        Amar on <a href="">Swaraj Tractors Price List 2020, Features and Specifications</a>
                                    </li>
                                    <li class="blog__list">
                                        Santosh.kumar on<a href=""> Mahindra Tractors Price List 2020 And Review Of All Model</a>
                                    </li>
                                    <li class="blog__list">
                                        M s vijaykumar on <a href="">Mahindra Tractors Price List 2020 And Review Of All Model | Full Specifications</a>
                                    </li>
                                    <li class="blog__list">
                                        Deependra Kumar on<a href=""> Mahindra Tractors Price List 2020 And Review Of All Model</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="fixedSidebarBlock">
                            <div class="sidebarBlock__heading pb-3">
                            </div>
                            <div class="sidebarBlock__content">
                                <div class="row">
                                    <div class="col-6 col-sm-6 col-md-12">
                                        <!-- ad block -->
                                        <div class="adPlace-Big">
                                            <a href="#">
                                                <div class="adPlace-BigInner mb-3">
                                                    <img src="{% static 'images/dummyad/1.gif' %}" class="img-fluid">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-12">
                                        <!-- ad block -->
                                        <div class="adPlace-Big">
                                            <a href="#">
                                                <div class="adPlace-BigInner mb-3">
                                                    <img src="{% static 'images/dummyad/goldgate.gif' %}" class="img-fluid">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-12">
                                        <!-- ad block -->
                                        <div class="adPlace-Big">
                                            <a href="#">
                                                <div class="adPlace-BigInner mb-3">
                                                    <img src="{% static 'images/dummyad/gc.gif' %}" class="img-fluid">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-12">
                                        <!-- ad block -->
                                        <div class="adPlace-Big">
                                            <a href="#">
                                                <div class="adPlace-BigInner mb-3">
                                                    <img src="{% static 'images/dummyad/ime-super-man_300x150.gif' %}" class="img-fluid">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-12">
                                        <!-- ad block -->
                                        <div class="adPlace-Big">
                                            <a href="#">
                                                <div class="adPlace-BigInner mb-3">
                                                    <img src="{% static 'images/dummyad/prabhu.gif' %}" class="img-fluid">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}