{% extends 'layout/base.html' %} {% load static %} {% block title %} | Broker Dealer {% endblock %} {% block static %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" /> {% endblock %} {% block content %}
<section class="brands">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Broker Dealer</h4>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="header-bg-container">
                    <h4 class="tractor-year__title">For Enquiry Call</h4>
                </div>
                <div class="dealership-form__mainForm">
                    <form method="POST" action="" id="addressForm" data-district-url="{% url 'district-data' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="name" class="control-label mb-2">Name</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="mobile" class="control-label mb-2">Mobile No.</label>
                                    {{ form.contact }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="" class="control-label mb-2">Dealing Brands - Max 3 selection</label>
                                    {{ form.brand }}
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="loan" class="control-label mb-2">How Much Tractor Buy/Sale In A Month</label>
                                    {{ form.tractor_per_month }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="state" class="control-label mb-2">State</label>
                                    {{ form.state }}
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="District" class="control-label mb-2">District</label>
                                    {{ form.district }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-theme-dark btn-block">Send Request</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/brkdealer.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Broker Dealer</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock content %} {% block script %}
<script src="{% static 'js/select2.full.min.js' %}"></script>
<script>
    $(".js-example-basic-multiple-limit").select2({
        maximumSelectionLength: 3
    });
</script>
{% endblock %}