{% extends 'layout/base.html' %} {% load static %} {% block title %} | Emi Calculator {% endblock %} {% block content %}
<section class="brands">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Tractor Loan EMI Calculator</h4>
        <div class="row aboutBrandsTop-inner">
            <div class="col-12">
                <p>It is very easy to calculate the EMI for your tractor loan. You will get EMI as soon as you enter the required loan amount and the interest rate. Installment in EMI calculator is calculated on reducing balance. As per the rules of financing
                    institutions, processing fee or possible charges may be applicable which are not shown in the EMI we calculate.</p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="header-bg-container">
                    <h4 class="tractor-year__title">Calculate Your EMI</h4>
                </div>
                <div class="dealership-form__mainForm">
                    <h5>Enter Your Amount</h5>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="" class="control-label mb-2">Loan Amount</label>
                            <input type="text" class="form-control" name="" value="" required="" placeholder="Loan Amount" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="control-label mb-2">Duration In Months</label>
                            <input type="text" class="form-control" name="" value="" required="" placeholder="Enter Months" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="control-label mb-2">Interest Rate</label>
                            <input type="text" class="form-control" name="" value="" required="" placeholder="Enter Interest Rate" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-theme-dark btn-block">Calculate EMI</button>
                        </div>
                    </form>
                </div>
                <div class="emicalulator-results">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="tractor-provinces__title pb-3">Calculated Result</h4>
                        </div>
                        <div class="col-4">
                            <div class="emicalulator-resultsBlock">
                                <label>Monthly Payment</label>
                                <p id="monthlyPayment">-</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="emicalulator-resultsBlock">
                                <label>Total Interest</label>
                                <p id="totalInterest">-</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="emicalulator-resultsBlock">
                                <label>Total Amount</label>
                                <p id="totalPayment">-</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="emicalulator-chart">
                    <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %} {% block script %}
<script src="{% static 'js/canvasjs.min.js' %}"></script>
<script>
    var totalInterest = 550
    var monthlyPayment = 8792;
    0;
    var totalPayment = 105500;
    window.onload = function() {

        var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Emi Results"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: [{
                    y: monthlyPayment,
                    name: "Monthly Payment",
                    exploded: true
                }, {
                    y: totalInterest,
                    name: "Total Interest"
                }, {
                    y: totalPayment,
                    name: "Total Amount"
                }, ]
            }]
        });
        chart.render();
    }

    function explodePie(e) {
        if (typeof(e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }
</script>
{% endblock %}