{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Insurance{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="sellUsedTractor insurance">
    <div class="sellUsedTractor__banner">
        <div class="sellUsedTractor__banner--img">
            <img src="{% static 'images/ib.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="sellUsedTractor__heading">
            <div class="container">
                <div class="col-12">
                    <h2>Renew Your Tractor insurance at Best Price</h2>
                    <p>Fill your information to get tractor insurance</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sellUsedTractor__main">
    <div class="container">
      <div class="row g-0 justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-8">
          <div class="sellUsedTractor__mainInner">
            <form class="tractorform" method="POST" action="">
              {% csrf_token %}
              <input name="_token" type="hidden" value="" />
              <fieldset id="fieldset1">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group mb-3">
                      <label>Name</label>
                      {{ form.name }}
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group mb-3">
                      <label>Mobile No.</label>
                     {{ form.mob_no }}
                     <span class="form-error">{{ form.errors.mob_no }}</span>
                    </span>
                    </div>
                  </div>
                  <div class="col-6 col-sm-4">
                    <div class="form-group mb-3">
                      <div class="form-group mb-3">
                        <label>Brand</label>
                        {{ form.brand }}
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-sm-4">
                    <div class="form-group mb-3">
                      <label>Enter Model</label>
                      {{ form.model }}
                    </div>
                  </div>
                  <div class="col-6 col-sm-4">
                    <div class="form-group mb-3">
                      <label>Vehicle Registered No.</label>
                      {{ form.reg_no }}
                    </div>
                  </div>
                  <div class="col-6 col-sm-4">
                    <div class="form-group mb-3">
                      <label>Registered Year</label>
                     {{ form.reg_year }}
                    </div>
                  </div>
                  <div class="col-6 col-sm-4">
                    <div class="form-group mb-3">
                      <label>State</label>
                      {{ form.state }}
                    </div>
                  </div>
                  <div class="col-12">
                    <div
                      class="form-group mb-3 radioCustomBtnGroupBlock text-center"
                    >
                      <label>Claims Made In Previous Policy</label>
                      <div class="radioCustomBtnGroup">
                        <label class="radioCustomBtn">
                          <input
                            type="radio"
                            name="pre_policy"
                            id="optionsRadios1"
                            value="Yes"
                            checked=""
                          />
                          <span class="radioCustomBtnSpan">Yes</span>
                        </label>
                        <label class="radioCustomBtn">
                          <input
                            type="radio"
                            name="pre_policy"
                            id="optionsRadios2"
                            value="No"
                          />
                          <span class="radioCustomBtnSpan">No</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 text-center">
                    <button type="submit" class="px-3 btn btn-theme-dark" id="button" name="button">
                      Apply For Insurance
                    </button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="recent-views insuranceProcess">
  <div class="container">
    <div class="sectionMainHeadingCenter">
      <h4 class="recent-views__title">How to Buy Tractor Insurance Online?</h4>
    </div>
    <div class="row g-3">
      <div class="col-12 col-sm-12 col-md-4">
        <div class="insuranceProcess__inner">
          <img
            src="https://www.tractorjunction.com/assets/images/smallicons/compare_insurance.svg"
            class="img-fluid"
            alt="Fill Form"
          />
          <p class="insuranceProcess__inner--heading">
            Fill Your Tractor Details
          </p>
          <p class="insuranceProcess__inner--para">
            You have to fill the form i.e. registration no., brand, model,
            registration and so on. Along with this, you have to fill your
            details like your name, mobile no, state and district. Then
            immediately you get top companies insurance policies.
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="insuranceProcess__inner">
          <img
            src="https://www.tractorjunction.com/assets/images/smallicons/compare_insurance.svg"
            class="img-fluid"
            alt="Compare"
          />
          <p class="insuranceProcess__inner--heading">
            Compare Tractor Insurance Policy
          </p>
          <p class="insuranceProcess__inner--para">
            Now you have to compare all the top companies policies, premium and
            other details. Then After that, you have to compare according to
            your needs and budget.
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <div class="insuranceProcess__inner">
          <img
            src="https://www.tractorjunction.com/assets/images/smallicons/compare_insurance.svg"
            class="img-fluid"
            alt="Pay Online"
          />
          <p class="insuranceProcess__inner--heading">Make Payment Online</p>
          <p class="insuranceProcess__inner--para">
            You don’t have to worry about the payment of Insurance. Now you
            could also pay your tractor insurance premium online and get
            documents immediately on your phone.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="insuranceCompany tractor-year">
  <div class="container">
    <h4 class="tractor-year__title">Popular Tractor Insurance Companies</h4>
    <div class="row g-3">
      <div class="col-6 col-sm-4 col-md-4 col-lg-2">
        <div class="insuranceCompany__container">
          <img
            src="{% static 'images/insurance-1582348228.png' %}"
            class="img-fluid"
          />
          <p>Magma HDI General Insurance Co. Ltd</p>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-2">
        <div class="insuranceCompany__container">
          <img
            src="{% static 'images/insurance-1582348228.png' %}"
            class="img-fluid"
          />
          <p>Magma HDI General Insurance Co. Ltd</p>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-2">
        <div class="insuranceCompany__container">
          <img
            src="{% static 'images/insurance-1582348228.png' %}"
            class="img-fluid"
          />
          <p>Magma HDI General Insurance Co. Ltd</p>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-2">
        <div class="insuranceCompany__container">
          <img
            src="{% static 'images/insurance-1582348228.png' %}"
            class="img-fluid"
          />
          <p>Magma HDI General Insurance Co. Ltd</p>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-2">
        <div class="insuranceCompany__container">
          <img
            src="{% static 'images/insurance-1582348228.png' %}"
            class="img-fluid"
          />
          <p>Magma HDI General Insurance Co. Ltd</p>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-4 col-lg-2">
        <div class="insuranceCompany__container">
          <img
            src="{% static 'images/insurance-1582348228.png' %}"
            class="img-fluid"
          />
          <p>Magma HDI General Insurance Co. Ltd</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="description">
  <div class="container">
    <h5 class="description__title">
      Get insured your tractor with best offers
    </h5>
    <p class="description__detail">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati,
      placeat dolores quia officia delectus quidem deleniti. Aspernatur
      similique rem sapiente tenetur. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non
      voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem
      deleniti. Aspernatur similique rem sapiente tenetur.
    </p>
  </div>
</section>
{% endblock %}
<!-- End of content -->
