{% extends 'layout/base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} |Loan {%endblock %}

<!--Start of block Content  -->
{% block content %}
<section class="brands">
  <div class="container">
    <h4 class="tractor-year__title pb-4">Finance For Tractor Loan</h4>
    <div class="row g-4">
      <div class="col-md-6">
        <div class="header-bg-container">
          <h4 class="tractor-year__title">For Enquiry Call</h4>
        </div>
        <div class="dealership-form__mainForm">
          <form method="POST" action="" id="addressForm" data-district-url="{% url 'district-data' %}">
            {% csrf_token %}
            <div class="form-group mb-3">
              <label for="" class="control-label mb-2">Types of Finance</label>
             {{ form.type_finance }}
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="form-group mb-3">
                  <label for="name" class="control-label mb-2">Name</label>
                 {{ form.name }}
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="form-group mb-3">
                  <label for="mobile" class="control-label mb-2"
                    >Mobile No.</label
                  >
                  {{ form.mob_no }}
                  <span class="form-error">{{ form.errors.mob_no }}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="form-group mb-3">
                  <label for="state" class="control-label mb-2">State</label>
                 {{ form.state }}
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="form-group mb-3">
                  <label for="District" class="control-label mb-2"
                    >District</label
                  >
                  {{ form.district }}
                </div>
              </div>
            </div>
            <div class="row">
                <div class="form-group mb-3">
                  <label for="loan" class="control-label mb-2"
                    >Loan Amount</label
                  >
                  {{ form.loan_amount }}

                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3">
                  <label for="tehsil" class="control-label mb-2"
                    >Other Info</label
                  >

                  {{ form.other_info }}
                </div>
            </div>
            <div class="form-group">
              <button class="btn btn-theme-dark btn-block">
                Apply For Loan
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <h4 class="tractor-provinces__title pb-0">Finance Schemes</h4>
        <div class="row g-0 mt-3">
          {% for finance in finances %}
          <div class="col-4 col-sm-4 col-md-3 m-2">
            <a href="{% url 'bank_detail' finance.id %}">
              <div class="loanImage-container">
                <img src="{{finance.image.url}}" alt="" class="img-fluid" />
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="description">
  <div class="container">
    <h5 class="description__title">Get Instant Loan in lower interest rates</h5>
    <p class="description__detail">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati,
      placeat dolores quia officia delectus quidem deleniti. Aspernatur
      similique rem sapiente tenetur. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non
      voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem
      deleniti. Aspernatur similique rem sapiente tenetur.
    </p>
  </div>
</section>
{% endblock %}
