{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Sell{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="sellTractor">
    <div class="sellTractor__banner">
        <div class="sellTractor__banner--img">
            <img src="{% static 'images/selloldbanner.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="sellTractor__heading">
            <div class="container">
                <div class="col-12">
                    <h2>Sell Your Products</h2>
                    <p>Please select an option to sell your farm equiment</p>
                </div>
            </div>
        </div>
    </div>
    <div class="productAdvertiseBlock">
        <div class="container">
            <div class="productAdvertiseBlock-Inner">
                <div class="row">
                    <div class="col-block-5">
                        <a href="{% url 'sell_tractor' %}">
                            <div class="categoryBlock">
                                <img src="/static/images/ut.jpeg" class="img-fluid" alt="Used Tractor">
                                <p class="categoryBlockHeading">Used Tractor</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-block-5">
                        <a href="{% url 'farm-implements' %}">
                            <div class="categoryBlock">
                                <img src="/static/images/fi.jpg" class="img-fluid" alt="Farm Implements">
                                <p class="categoryBlockHeading">Farm Implements</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-block-5">
                        <a href="{% url 'sell-harvester' %}">
                            <div class="categoryBlock">
                                <img src="/static/images/harvester.jpg" class="img-fluid" alt="Harvester">
                                <p class="categoryBlockHeading">Harvester</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-block-5">
                        <a href="{% url 'land-properties' %}">
                            <div class="categoryBlock">
                                <img src="/static/images/land.jpg" class="img-fluid" alt="Land &amp; Properties">
                                <p class="categoryBlockHeading">Land &amp; Properties</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-block-5">
                        <a href="{% url 'livestock' %}">
                            <div class="categoryBlock">
                                <img src="/static/images/livestock.jpg" class="img-fluid" alt="Animal / Livestock">
                                <p class="categoryBlockHeading">Animal / Livestock</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Sell Your Product with Us</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->