{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Certified Dealers{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Certified Dealers</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Certified Dealers</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addanswerModal" class="btn btn-block btn-success btn-theme-admin rounded-0" >Add Certified Dealer</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="answer" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th width="15%">Name</th>
                                <th width="11%">Authorization</th>
                                <th width="11%">Pin No.</th>
                                <th width="15%">State</th>
                                <th width="11%">District</th>
                                <th width="30%">Address</th>
                                <th width="11%">Contact</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for certified in object_list %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{certified.name}}</td>
                                <td><span class="badge bg-theme-green f-14 font-weight-400 text-white">{{certified.authorization}}</span></td>
                                <td>{{certified.pin_no}}</td>
                                <td>{{certified.state}}</td>
                                <td>{{certified.district}}</td>
                                <td>{{certified.address}}</td>
                                <td>{{certified.contact}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'certified-dealer-edit' certified.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Edit" class="edit-icon"><i class="fas fa-edit text-secondary"></i></button></span>
                                    <span class="action-icon"><a href="{% url 'certified-dealer-delete' certified.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Delete"
                                         class="delete btn btn-transparent bg-white p-0">
                                         <i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addanswerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Certified Dealer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST" id="addressForm" data-district-url="{% url 'district-data' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Dealer Name</label>
                        {{ form.name }}
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-5">
                            <label for="" class="tractor-label">Dealership Brand</label>
                           {{ form.authorization }}
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <label for="" class="tractor-label">Pin No.*</label>
                            {{ form.pin_no }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-5">
                            <label for="" class="tractor-label">State</label>
                           {{ form.state }}
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <label for="" class="tractor-label">District</label>
                            {{ form.district }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Address</label>
                       {{ form.address }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Contact</label>
                        {{ form.contact }}
                    </div>
                    <button type="submit" id="addAnswerButton" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Certified Dealer</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>

<script>

    $(document).ready(function() {
        $('#answer').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                                icon: "success",
                            });
                }
            });
    })
</script>
{% endblock %}