<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tractor Shop Login</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

    <!-- End of static block -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />

    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/icon" sizes="16x16">
    <style>
        .page-login {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient( 201deg, #003f58, #009fde);
        }
        
        .page-login-admin {
            background: white;
            border-radius: 15px;
            padding: 1rem 0 0;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
        }
    </style>
        <style> 
            .form-error{
              color : red;
              padding: 0;
            }
      
            .form-error ul li{
              list-style:none;
              padding: 0;
            }
      
            .form-inline{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
            }   
      
            .form-inline input{
                  margin: 5px 5px 5px 0;
            } 
      
            </style>

</head>

<body>
    <div class="wrapper">
        <section class="page-login">
            <div class="container">
                <div class="col-12 col-md-6 mx-auto">
                    <div class="page-login-admin">
                        <a class="navbar-brand d-block text-center mb-3" href="{% url 'index' %}">
                            <img src="{% static 'images/logo/logo-blue.png' %}" class="topnav__logo" alt="" />
                        </a>
                        <div class="modal-body modal-content-adjust__body">
                            <h4 class="modal-title modal-content-adjust__body--title">Reset Password</h4>
                            <form method="POST" action="" class="form-adjust">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <label for="email" class="control-label mb-2">Old Password</label>
                                    {{ form.old_password }}
                                    <span class="form-error">{{ form.errors.old_password }}</span>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="email" class="control-label mb-2">New Password</label>
                                    {{ form.new_password1 }}
                                    <span class="form-error">{{ form.errors.new_password1 }}</span>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="email" class="control-label mb-2">Re-type Password</label>
                                    {{ form.confirm_password }}
                                </div>
                                
                                <button type="submit" class="btn btn-theme-dark btn-block mb-3">
                                    Change Password
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>