{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Seller Detail{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Seller Detail</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Seller Detail</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addbrandModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Seller</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="seller-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Full Address</th>
                                <th>State</th>
                                <th>District</th>
                                <th>Municipality</th>
                                <th>Pincode</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for seller in allsellers %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{seller.name}}</td>
                                <td><span class="badge bg-theme-green f-14 font-weight-400 text-white">{{seller.phone_no}}</span></td>
                                <td>{{seller.email}}</td>
                                <td>{{seller.address}}</td>
                                <td><span class="badge bg-secondary f-14 font-weight-400 text-white">{{seller.state}}</span></td>
                                <td>{{seller.district}}</td>
                                {%  if seller.municipality %}
                                <td>{{ seller.municipality }}</td>
                                {% else %}
                                <td>---</td>
                                {% endif %}
                                {% if seller.pincode %}
                                <td>{{ seller.pincode }}</td>
                                {% else %}
                                <td>---</td>
                                {% endif %}
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'seller-edit' seller.id %}" data-cooltipz-dir="bottom" 
                                        aria-label="Edit" class="edit-icon"><i 
                                        class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'seller-delete' seller.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Delete" 
                                        class="delete btn btn-transparent bg-white p-0" 
                                        ><i class="fas fa-trash text-danger"></i>
                                    </button></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addbrandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Seller</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST" class="stateForm" data-district-url="{% url 'district-data' %}" data-municipality-url="{% url 'municipality-data' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Name</label>
                        {{ form.name }}
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Phone</label>
                            {{ form.phone_no }}
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Email</label>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Address</label>
                            {{ form.address }}
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Pincode <small>(optional)</small></label>
                            {{ form.pincode }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">State</label>
                            {{ form.state }}
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">District</label>
                            {{ form.district }}
                        </div>
                    </div>
                     <div class="form-group mb-3">
                        <label for="" class="tractor-label">Municipality</label>
                        {{ form.municipality }}
                        </div>
                    <button id="btnsave" type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Seller</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>

<!-- delete seller -->

<script type="text/javascript">
    
    $(document).ready(function() {
        $('#seller-table').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true    
            })

            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Seller deleted Successfully.'!", {
                                            icon: "success",
                                        });
                }
            });
    })
</script>
<script>
    $("#state").change(function () {
      var url = $(".stateForm").attr("data-district-url");  // get the url of the `load_cities` view
      var provinceId = $(this).val();  // get the selected country ID from the HTML input
  
      $.ajax({                       // initialize an AJAX request
        url: url, 
        method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'state': provinceId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#district").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
  
    });
    $("#district").change(function () {
        var url = $(".stateForm").attr("data-municipality-url");  // get the url of the `load_cities` view
        var districtId = $(this).val();  // get the selected country ID from the HTML input
    
        $.ajax({                       // initialize an AJAX request
          url: url, 
          method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'district': districtId       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_municipality").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
    
      });
  </script>

{% endblock %}