{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Seller Detail Edit{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Seller Detail</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Edit Seller Detail </li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="POST" class="stateForm" data-district-url="{% url 'district-data' %}" data-municipality-url="{% url 'municipality-data' %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">Name</label>
                            {{ form.name }}
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Phone</label>
                                {{ form.phone_no }}
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Email</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Address</label>
                                {{ form.address }}
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Pincode <small>(optional)</small></label>
                                {{ form.pincode }}
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">State</label>
                                {{ form.state }}
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">District</label>
                                {{ form.district }}
                            </div>
                        </div>
                         <div class="form-group mb-3">
                            <label for="" class="tractor-label">Municipality</label>
                            {{ form.municipality }}
                            </div>
                        <button id="btnsave" type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Edit Seller</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $("#state").change(function () {
      var url = $(".stateForm").attr("data-district-url");  // get the url of the `load_cities` view
      var provinceId = $(this).val();  // get the selected country ID from the HTML input
  
      $.ajax({                       // initialize an AJAX request
        url: url, 
        method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'state': provinceId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#district").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
  
    });
  </script>
  {% endblock %}