{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}User List{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">User List</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">User List</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addbrandModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add User</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="seller-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Phone</th>
                                <th>Full Address</th>
                                <th>Image</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Reset Password</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in userList %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{user.full_name}}</td>
                                <td><span class="badge bg-theme-green f-14 font-weight-400 text-white">{{user.username}}</span></td>
                                <td>{{ user.contact }}</td>
                                <td>{{user.address}}</td>
                                <td>
                                    <img width="100px" height="100px" src="{{ user.image.url }}" alt="">
                                </td>
                                <td><span class="badge bg-secondary f-14 font-weight-400 text-white">{{user.email}}</span></td>
                                <td>{% if user.is_active%}<span class="badge badge-success p-2">Active</span>{%else%}
                                    <span class="badge badge-secondary p-2">Inactive</span>{%endif%}</td>
                                    <td>
                                        <span ><a class="btn btn-danger mr-2 reset" href="{% url 'reset-admin-password' user.id %}">
                                            <i class="fa fa-edit m-1" aria-hidden="true"></i>Reset Password</a></span>
                                        
                                    </td> 
              
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'admin-user-update' user.id %}" data-cooltipz-dir="bottom" 
                                        aria-label="Edit" class="edit-icon"><i 
                                        class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'admin-user-delete' user.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Delete" 
                                        class="delete btn btn-transparent bg-white p-0" 
                                        ><i class="fas fa-trash text-danger"></i>
                                    </button></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addbrandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Username</label>
                            {{ form.username }}
                            <span class="form-error">{{ form.errors.username }}</span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Full Name</label>
                            {{ form.full_name }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Contact</label>
                            {{ form.contact }}
                            <span class="form-error">{{ form.errors.contact }}</span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Email</label>
                            {{ form.email }}
                            <span class="form-error">{{ form.errors.email }}</span>
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-12">
                            <label for="" class="tractor-label">Group</label>
                            {{ form.groups }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-12">
                            <label for="" class="tractor-label">Address</label>
                            {{ form.address }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Image</label>
                            {{ form.image }}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <img src="" id="frame" alt="" width="100px" height="100px">
                        </div>
                    </div>
                    <button id="btnsave" type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add User</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>

<!-- delete seller -->

<script type="text/javascript">
    
    $(document).ready(function() {
        $('#seller-table').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true    
            })

            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Seller deleted Successfully.'!", {
                                            icon: "success",
                                        });
                }
            });
    })
</script>
<script>
    function preview() {
      frame.src=URL.createObjectURL(event.target.files[0]);
    }
</script>

{% endblock %}