{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Seller Detail Edit{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Seller Detail</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Edit Seller Detail </li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row form-group mb-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Username</label>
                                {{ form.username }}
                                <span class="form-error">{{ form.errors.username }}</span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Full Name</label>
                                {{ form.full_name }}
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Conatact</label>
                                {{ form.contact }}
                                <span class="form-error">{{ form.errors.contact }}</span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Email</label>
                                {{ form.email }}
                                <span class="form-error">{{ form.errors.email }}</span>
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Group</label>
                                {{ form.groups }}
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Address</label>
                                {{ form.address }}
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="col-sm-12-com-md-6">
                                <label for="" class="tractor-label">Image</label>
                                {{ form.image }}
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <img src="" id="frame" alt="" width="100px" height="100px">
                            </div>
                        </div>
                        <button id="btnsave" type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function preview() {
      frame.src=URL.createObjectURL(event.target.files[0]);
    }
</script>
<script>
	$(document).ready(function() {
    	$('.feature-select').select2();
}	);
</script>

{% endblock %}