<div class="row g-4">
  <div class="col-md-6 col-lg-5">
    <div class="header-bg-container">
      <h4 class="tractor-year__title">Dealership Enquiry Form</h4>
    </div>
    <div class="dealership-form__mainForm">
      <form method="POST" action="" id="addressForm" data-district-url = "{% url 'district-data'%}">
        {% csrf_token %}
        
        <div class="form-group mb-3">
          <label for="{{ form.name.id_for_label }}" class="control-label mb-2"
            >Name</label
          >
          {{ form.name }}
        </div>
        <div class="form-group mb-3">
          <label for="phone_no" class="control-label mb-2">Phone No.</label>
            {{ form.phone_no }}
            <span class="form-error">{{ form.errors.phone_no }}</span>
        </div>
        <div class="form-group mb-3">
          <label for="state" class="control-label mb-2">State</label>
          {{ form.state }}
        </div>
        <div class="form-group mb-3">
          <label for="district" class="control-label mb-2">District</label>
          {{ form.district }}
        </div>
        <div class="form-group mb-3">
          <label for="brand" class="control-label mb-2">Brand</label>
          {{ form.brand  }}
        </div>
        <div class="form-group mb-3">
          <div
            class="g-recaptcha"
            data-sitekey="6LctTLcZAAAAAL11xCS-bVDewuzY8gdevRMEHeFa"
          ></div>
          <!-- this will show captcha errors -->
        </div>
        <div class="form-group">
          <button class="btn btn-theme-dark btn-block">
            Submit Your Enquiry
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6 col-lg-7">
    <h4 class="tractor-provinces__title pb-0">Why Become a Dealer</h4>
    <div class="detail-box">
      <p class="text-dark-theme">Why to take a franchise?</p>
      <ul>
        <li>
          Leader in utility vehicles for over fifty years, since the company
          builts the first Willys jeeps on Indian soil in 1947
        </li>
        <li>Pioneer in the Indian automobile industry</li>
        <li>
          Major player in the Indian Two Wheeler industry with a robust presence
          in all product segments
        </li>
      </ul>
    </div>
    <div class="detail-box">
      <p class="text-dark-theme">Why to take a franchise?</p>
      <ul>
        <li>Leader in utility vehicles for over fifty years</li>
        <li>Pioneer in the Indian automobile industry</li>
        <li>Major player in the Indian Two Wheeler industry with a r</li>
      </ul>
    </div>

    <div class="detail-box">
      <p class="text-dark-theme">Why to take a franchise?</p>
      <ul>
        <li>
          Since the company builts the first Willys jeeps on Indian soil in 1947
        </li>
        <li>Pioneer in the Indian automobile industry</li>
        <li>Major player in the Indian Two Wheeler industry segments</li>
      </ul>
    </div>
  </div>
</div>
