{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Harvester{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="sellUsedTractor">
    <div class="sellUsedTractor__banner">
        <div class="sellUsedTractor__banner--img">
            <img src="{% static 'images/sellbutton/harvesterim.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="sellUsedTractor__heading">
            <div class="container">
                <div class="col-12">
                    <h2>Sell Your Harvester </h2>
                    <p>Fill the information to sell your Harvester!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sellUsedTractor__main">
        <div class="container">
            <div class="row g-0 justify-content-center">
                <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-8">
                    <div class="sellUsedTractor__mainInner">
                        <ul id="progressbar" class="justify-content-center">
                            <li class="progressStep active" id="account"><span>Harvester Info</span></li>
                            <li class="progressStep" id="personal"><span>Harvester Condition</span></li>
                            <li class="progressStep" id="payment"><span>Harvester Images</span></li>
                            <li class="progressStep" id="confirm"><span>Personal Info</span></li>
                        </ul>
                        <form id="form-step" method="POST" action="" enctype="multipart/form-data" class="stateForm" data-district-url="{% url 'district-data' %}" data-municipality-url="{% url 'municipality-data' %}"> 
                            {% csrf_token %}
                            <input name="_token" type="hidden" value="">
                            <fieldset id="fieldset1" class="formfieldSet js-active">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Your Harvester Informations</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Brand</label>
                                            {{ har_form.brand }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Model Name</label>
                                            {{ har_form.model }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Crop Type</label>
                                            {{ har_form.crop_type }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Cutting Width</label>
                                            {{ har_form.cutting_width }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Power Source</label>
                                            {{ har_form.power_source }}
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>

                            <fieldset id="fieldset2" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Your Harvester Condition</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Title</label>
                                            {{ har_form.title }}
                                            <span class="text-lowercase float-left f-12" style="color:rgba(0,47,52,.64)">key features of your item (e.g. brand, model, type)</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Hours</label>
                                            <select name="hours" class="form-select">
                                                <option value="" disabled="" selected="">Select Hours</option>
                                                <option value="Less than 1000 Hours">Less than 1000 Hours</option>
                                                <option value="001 - 2000 Hours">1001 - 2000 Hours</option>
                                                <option value="2001 - 3000 Hours">2001 - 3000 Hours</option>
                                                <option value="3001 - 4000 Hours">3001 - 4000 Hours</option>
                                                <option value="4001 - 5000 Hours">4001 - 5000 Hours</option>
                                                <option value="5001 - 6000 Hours">5001 - 6000 Hours</option>
                                                <option value="6001 - 7000 Hours">6001 - 7000 Hours</option>
                                                <option value="7001 - 8000 Hours">7001 - 8000 Hours</option>
                                                <option value="8001 - 9000 Hours">8001 - 9000 Hours</option>
                                                <option value="9001 - 10000 Hours">9001 - 10000 Hours</option>
                                                <option value="above 10000 Hours">above 10000 Hours</option>
                                                <option value="Not Available Hours">Not Available Hours</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Purchase Year</label>
                                            {{ har_form.purchase_year }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Price</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rs.</span>
                                                </div>
                                                {{ har_form.price }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12">
                                        <div class="form-group mb-3">
                                            <label>About your Harvester</label>
                                            {{ har_form.about }}
                                            <span class="text-lowercase  float-left f-12" style="color:rgba(0,47,52,.64)">Include condition, features and reason for selling</span>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="button" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>
                            <fieldset id="fieldset3" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Upload Harvester Images</p>
                                        <p class="mb-4">Please Upload Minimum Two Images.</p>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        {{ har_form.image1 }}
                                                    </label>
                                                    <img style="width:100%; height:100%;" id="image1-preview">
                                                </div>
                                                <span class="rmvProductImg">✖</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        {{ har_form.image2 }}    
                                                    </label>
                                                    <img style="width:100%; height:100%;" id="image2-preview">
                                                </div>
                                                <span class="rmvProductImg" ng-click="removeImage($index)">✖</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        {{ har_form.image3 }}
                                                    </label>
                                                    <img style="width:100%; height:100%;" id="image3-preview">
                                                </div>
                                                <span class="rmvProductImg" ng-click="removeImage($index)">✖</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        {{ har_form.image4 }}
                                                    </label>
                                                    <img style="width:100%; height:100%;" id="image4-preview">
                                                </div>
                                                <span class="rmvProductImg" ng-click="removeImage($index)">✖</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="button" id="upload_img" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>

                            <fieldset id="fieldset4" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Personal Info</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Name</label>
                                            {{ seller_form.name }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Mobile No.</label>
                                            {{ seller_form.phone_no }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>State</label>
                                            {{ seller_form.state }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>District</label>
                                            {{ seller_form.district }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Municipality</label>
                                            {{ seller_form.municipality }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Pincode</label>
                                            {{ seller_form.pincode }}
                                       </div>
                                    </div>
                                </div>
                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="submit" class="btn btn-theme-dark">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Sell Your Used Harvester</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->
{% block script %}
<script src="{% static 'js/stepform.js' %}"></script>
<script>
    function imagePreview1(event){
        if(event.target.files.length > 0){
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById('image1-preview');
            preview.src = src;
            document.Get
        }
    }
    function imagePreview2(event){
        if(event.target.files.length > 0){
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById('image2-preview');
            preview.src = src;
            document.Get
        }
    }
    function imagePreview3(event){
        if(event.target.files.length > 0){
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById('image3-preview');
            preview.src = src;
            document.Get
        }
    }
    function imagePreview4(event){
        if(event.target.files.length > 0){
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById('image4-preview');
            preview.src = src;
            document.Get
        }
    }

</script>
<script>
    $("#state").change(function () {
      var url = $(".stateForm").attr("data-district-url");  // get the url of the `load_cities` view
      var provinceId = $(this).val();  // get the selected country ID from the HTML input
  
      $.ajax({                       // initialize an AJAX request
        url: url, 
        method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'state': provinceId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#district").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
  
    });
    $("#district").change(function () {
        var url = $(".stateForm").attr("data-municipality-url");  // get the url of the `load_cities` view
        var districtId = $(this).val();  // get the selected country ID from the HTML input
    
        $.ajax({                       // initialize an AJAX request
          url: url, 
          method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'district': districtId       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_municipality").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
    
      });
  </script>
{% endblock %}