{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Land Properties{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="sellUsedTractor">
    <div class="sellUsedTractor__banner">
        <div class="sellUsedTractor__banner--img">
            <img src="{% static 'images/sellbutton/harvesterim.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="sellUsedTractor__heading">
            <div class="container">
                <div class="col-12">
                    <h2>Sell Your Property in simple way </h2>
                    <p>Fill the information to sell your Property!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sellUsedTractor__main">
        <div class="container">
            <div class="row g-0 justify-content-center">
                <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-8">
                    <div class="sellUsedTractor__mainInner">
                        <ul id="progressbar" class="justify-content-center">
                            <li class="progressStep active" id="account"><span>Property Info</span></li>
                            <li class="progressStep" id="personal"><span>Property Condition</span></li>
                            <li class="progressStep" id="payment"><span>Property Images</span></li>
                            <li class="progressStep" id="confirm"><span>Personal Info</span></li>
                        </ul>
                        <form id="form-step" method="POST" action="" enctype="multipart/form-data">
                            <input name="_token" type="hidden" value="">
                            <fieldset id="fieldset1" class="formfieldSet js-active">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Your Property Informations</p>
                                    </div>
                                    <div class="col-12">
                                        <div class="row form-group mb-3">
                                            <div class="col-12">
                                                <label>Are You ?</label>
                                            </div>
                                            <div class="col-12">
                                                <div class="radioCustomBtnGroup">
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="areYou" value="owner" required="">
                                                        <span class="radioCustomBtnSpan">Owner</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="areYou" value="builder" required="">
                                                        <span class="radioCustomBtnSpan">Builder</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="areYou" value="dealer" required="">
                                                        <span class="radioCustomBtnSpan">Dealer</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row form-group mb-3">
                                            <div class="col-12">
                                                <label>Property Type</label>
                                            </div>
                                            <div class="col-12">
                                                <div class="radioCustomBtnGroup">
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="propertyType" value="agricultural" required="">
                                                        <span class="radioCustomBtnSpan">Agricultural</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="propertyType" value="commerical" required="">
                                                        <span class="radioCustomBtnSpan">Commerical</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="propertyType" value="residental" required="">
                                                        <span class="radioCustomBtnSpan">Residental</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="propertyType" value="farmHouse" required="">
                                                        <span class="radioCustomBtnSpan">Farm House</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="propertyType" value="shop" required="">
                                                        <span class="radioCustomBtnSpan">Shop</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="propertyType" value="others" required="">
                                                        <span class="radioCustomBtnSpan">Others</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row form-group mb-3">
                                            <div class="col-12">
                                                <label>Area Unit</label>
                                            </div>
                                            <div class="col-12">
                                                <div class="radioCustomBtnGroup">
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="areaUnit" value="acre" required="">
                                                        <span class="radioCustomBtnSpan">Acre</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="areaUnit" value="hectare" required="">
                                                        <span class="radioCustomBtnSpan">Hectare</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="areaUnit" value="bigha" required="">
                                                        <span class="radioCustomBtnSpan">Bigha</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="areaUnit" value="sqft" required="">
                                                        <span class="radioCustomBtnSpan">Sq. Ft.</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="areaUnit" value="sqm" required="">
                                                        <span class="radioCustomBtnSpan">Sq.Mtr.</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="areaUnit" value="sqyard" required="">
                                                        <span class="radioCustomBtnSpan">Sq. Yard</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Area Unit</label>
                                            <input type="number" name="area" placeholder="" class="form-control" required="">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>

                            <fieldset id="fieldset2" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Your Property Condition</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Title</label>
                                            <input type="text" name="" placeholder="Enter Your Post Title" class="form-control">
                                            <span class="text-lowercase float-left f-12" style="color:rgba(0,47,52,.64)">key features of your item (e.g. brand, model, type)</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Price</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rs.</span>
                                                </div>
                                                <input type="number" name="price" placeholder="Enter Your Price" max="9999999" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12">
                                        <div class="form-group mb-3">
                                            <label>About your Property</label>
                                            <textarea class="form-control" name="" placeholder="Enter About Your Property"></textarea>
                                            <span class="text-lowercase  float-left f-12" style="color:rgba(0,47,52,.64)">Include condition, features and reason for selling</span>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="button" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>
                            <fieldset id="fieldset3" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Upload Property Images</p>
                                        <p class="mb-4">Please Upload Minimum Two Images.</p>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img0" class="image-upload uploadFile"    name="image0" accept="image/*">
                                                    </label>
                                                </div>
                                                <span class="rmvProductImg">✖</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img1" class="image-upload uploadFile" name="image1" accept="image/*">
                                                        </label>
                                                </div>
                                                <span class="rmvProductImg" ng-click="removeImage($index)">✖</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img2" class="image-upload uploadFile" name="image2" accept="image/*">
                                                        </label>
                                                </div>
                                                <span class="rmvProductImg" ng-click="removeImage($index)">✖</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img3" class="image-upload uploadFile" name="image3" accept="image/*">
                                                        </label>
                                                </div>
                                                <span class="rmvProductImg" ng-click="removeImage($index)">✖</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="button" id="upload_img" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>

                            <fieldset id="fieldset4" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Personal Info</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Name</label>
                                            <input class="form-control" type="text" name="name" value="" placeholder="Enter Your Name">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Mobile No.</label>
                                            <input class="form-control" type="number" name="mobile" value="" placeholder="Enter Contact No.">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>State</label>
                                            <select class="form-select" name="state_id">
                                                <option value="">Select State</option>
                                                <option value="1">Andaman and Nicobar Islands</option>
                                                <option value="2">Andhra Pradesh</option>
                                                <option value="3">Arunachal Pradesh</option>
                                                <option value="4">Assam</option>
                                                <option value="5">Bihar</option>
                                                <option value="6">Chandigarh</option>
                                                <option value="7">Chattisgarh</option>
                                                <option value="8">Dadra and Nagar Haveli</option>
                                                <option value="9">Daman and Diu</option>
                                                <option value="10">Delhi</option>
                                                <option value="11">Goa</option>
                                                <option value="12">Gujarat</option>
                                                <option value="13">Haryana</option>
                                                <option value="14">Himachal Pradesh</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>District</label>
                                            <select class="form-select districts" name="dist_id">
                                                <option value="">Select District</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Tehsil</label>
                                            <select class="form-select districts" name="dist_id">
                                                <option value="">Select Tehsil</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Pincode</label>
                                            <input class="form-control" type="number" name="pincode" value="" placeholder="Enter Your Pincode">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="button" class="next btn btn-theme-dark">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Sell Your Property Here</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->
{% block script %}
<script src="{% static 'js/stepform.js' %}"></script>
{% endblock %}