{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Live Stock{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="sellUsedTractor">
    <div class="sellUsedTractor__banner">
        <div class="sellUsedTractor__banner--img">
            <img src="{% static 'images/sellbutton/livestock.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="sellUsedTractor__heading">
            <div class="container">
                <div class="col-12">
                    <h2>Sell Your Live Stock</h2>
                    <p>Fill information to sell Your Live Stock!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sellUsedTractor__main">
        <div class="container">
            <div class="row g-0 justify-content-center">
                <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-8">
                    <div class="sellUsedTractor__mainInner">
                        <ul id="progressbar">
                            <li class="progressStep active" id="account"><span>Animal Info</span></li>
                            <li class="progressStep" id="account1"><span>Animal Info</span></li>
                            <li class="progressStep" id="personal"><span>Post Detail</span></li>
                            <li class="progressStep" id="payment"><span>Animal Images</span></li>
                            <li class="progressStep" id="confirm"><span>Personal Info</span></li>
                        </ul>
                        <form id="form-step" method="POST" action="" enctype="multipart/form-data">
                            <input name="_token" type="hidden" value="">
                            <fieldset id="fieldset1" class="formfieldSet js-active">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Your Animal Informations</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Category</label>
                                            <select class="form-select" name="brand_id">
                                                <option value="" disabled="" selected="">Select Category</option>
                                                <option value="">Goat</option>
                                                <option value="">Cow</option>
                                                <option value="">Buffalo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Breed</label>
                                            <select class="form-select custom-select modellist" name="model_id">
                                                <option value="">Select Breed</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <label>Age</label>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group mb-3">
                                                    <select class="form-select" required="">
                                                        <option value="" hidden="" selected="selected">Select Year</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="20 Above">20 Above</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group mb-3">
                                                    <select class="form-select" name="month" required="">
                                                        <option value="" hidden="" selected="selected">Select Month</option>
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="row form-group mb-3">
                                            <div class="col-12">
                                                <label>Gender</label>
                                            </div>
                                            <div class="col-12">
                                                <div class="radioCustomBtnGroup">
                                                    <label class="radioCustomBtn">
                                                            <input type="radio" name="gender" value="male" required="">
                                                            <span class="radioCustomBtnSpan">Male</span>
                                                        </label>
                                                    <label class="radioCustomBtn">
                                                            <input type="radio" name="gender" value="female" required="" checked="">
                                                            <span class="radioCustomBtnSpan">Female</span>
                                                        </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="row form-group mb-3">
                                            <div class="col-12">
                                                <label>With Cub</label>
                                            </div>
                                            <div class="col-12">
                                                <div class="radioCustomBtnGroup">
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="cub_status" value="yes" required="">
                                                        <span class="radioCustomBtnSpan">Yes</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="cub_status" value="no" required="" checked="">
                                                        <span class="radioCustomBtnSpan">No</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>

                            <fieldset id="fieldset2" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Your Animal Informations</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Infantile/Byaat</label>
                                            <select class="form-select" name="brand_id">
                                                <option value="" disabled="" selected="">Select Infantile/Byaat</option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Milk Production</label>
                                            <select class="form-select custom-select modellist" name="model_id">
                                                <option value="">Select Milk Production</option>
                                                <option value="">0 Ltr/Day</option>
                                                <option value="">1 Ltr/Day</option>
                                                <option value="">2 Ltr/Day</option>
                                                <option value="">3 Ltr/Day</option>
                                                <option value="">4 Ltr/Day</option>
                                                <option value="">5 Ltr/Day</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="row form-group mb-3">
                                            <div class="col-12">
                                                <label>Pregnancy Status</label>
                                            </div>
                                            <div class="col-12">
                                                <div class="radioCustomBtnGroup">
                                                    <label class="radioCustomBtn">
                                                            <input type="radio" name="pregnancy" value="pregnant" required="">
                                                            <span class="radioCustomBtnSpan">Pregnant</span>
                                                        </label>
                                                    <label class="radioCustomBtn">
                                                            <input type="radio" name="pregnancy" value="nonPregnant" required="" checked="">
                                                            <span class="radioCustomBtnSpan">Non-Pregnant</span>
                                                        </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="row form-group mb-3">
                                            <div class="col-12">
                                                <label>Cub Gender</label>
                                            </div>
                                            <div class="col-12">
                                                <div class="radioCustomBtnGroup">
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="cub_gender" value="cub_male" required="">
                                                        <span class="radioCustomBtnSpan">Male</span>
                                                    </label>
                                                    <label class="radioCustomBtn">
                                                        <input type="radio" name="cub_gender" value="cub_female" required="" checked="">
                                                        <span class="radioCustomBtnSpan">Female</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <label>Cub Age</label>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group mb-3">
                                                    <select class="form-select" required="">
                                                        <option value="" hidden="" selected="selected">Select Year</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="20 Above">20 Above</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group mb-3">
                                                    <select class="form-select" name="month" required="">
                                                        <option value="" hidden="" selected="selected">Select Month</option>
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="button" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>
                            <fieldset id="fieldset3" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Post Details</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Title</label>
                                            <input type="text" name="" placeholder="Enter Your Post Title" class="form-control">
                                            <span class="text-lowercase float-left f-12" style="color:rgba(0,47,52,.64)">key features of your item (e.g. brand, model, type)</span>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Price</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Rs.</span>
                                                </div>
                                                <input type="number" name="price" placeholder="Enter Your Price" max="9999999" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12">
                                        <div class="form-group mb-3">
                                            <label>About your Animal</label>
                                            <textarea class="form-control" name="" placeholder="Enter About Your Animal"></textarea>
                                            <span class="text-lowercase  float-left f-12" style="color:rgba(0,47,52,.64)">Include condition, features and reason for selling</span>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="button" id="upload_img" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>

                            <fieldset id="fieldset4" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Upload Animal Images</p>
                                        <p class="mb-4">Please Upload Minimum Two Images.</p>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img0" class="image-upload uploadFile"    name="image0" accept="image/*">
                                                    </label>
                                                </div>
                                                <span class="rmvProductImg">✖</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img1" class="image-upload uploadFile" name="image1" accept="image/*">
                                                        </label>
                                                </div>
                                                <span class="rmvProductImg" ng-click="removeImage($index)">✖</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img2" class="image-upload uploadFile" name="image2" accept="image/*">
                                                        </label>
                                                </div>
                                                <span class="rmvProductImg" ng-click="removeImage($index)">✖</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-3">
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img3" class="image-upload uploadFile" name="image3" accept="image/*">
                                                        </label>
                                                </div>
                                                <span class="rmvProductImg" ng-click="removeImage($index)">✖</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="button" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>

                            <fieldset id="fieldset5" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Personal Info</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Name</label>
                                            <input class="form-control" type="text" name="name" value="" placeholder="Enter Your Name">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Mobile No.</label>
                                            <input class="form-control" type="number" name="mobile" value="" placeholder="Enter Contact No.">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>State</label>
                                            <select class="form-select" name="state_id">
                                                <option value="">Select State</option>
                                                <option value="1">Andaman and Nicobar Islands</option>
                                                <option value="2">Andhra Pradesh</option>
                                                <option value="3">Arunachal Pradesh</option>
                                                <option value="4">Assam</option>
                                                <option value="5">Bihar</option>
                                                <option value="6">Chandigarh</option>
                                                <option value="7">Chattisgarh</option>
                                                <option value="8">Dadra and Nagar Haveli</option>
                                                <option value="9">Daman and Diu</option>
                                                <option value="10">Delhi</option>
                                                <option value="11">Goa</option>
                                                <option value="12">Gujarat</option>
                                                <option value="13">Haryana</option>
                                                <option value="14">Himachal Pradesh</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>District</label>
                                            <select class="form-select districts" name="dist_id">
                                                <option value="">Select District</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Tehsil</label>
                                            <select class="form-select districts" name="dist_id">
                                                <option value="">Select Tehsil</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Pincode</label>
                                            <input class="form-control" type="number" name="pincode" value="" placeholder="Enter Your Pincode">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="submit" class="btn btn-theme-dark">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Sell Your Live Stock Here</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->
{% block script %}
<script src="{% static 'js/stepform.js' %}"></script>
{% endblock %}