{% extends 'layout/base.html' %} {% block content %}
<section class="signup">
    <div class="container">
        <div class="signup__form">
            <div class="modal-body">
                <h4 class="modal-title modal-content-adjust__body--title text-center">Log In</h4>
                <form method="POST" action="" class="form-adjust">
                    {% csrf_token %}
                    {% if error %}
                        <li class="form-error">{{error}}</li>
                    {% endif %}
                    <div class="form-group mb-3">
                        <label for="email" class="control-label mb-2">Email</label>
                        {{ form.email }}
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="control-label mb-2">Password</label>
                        {{ form.password }}
                        <span class="help-block"></span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="checkbox mb-3 f-14">
                            <label> <input type="checkbox" name="" /> Remember Me </label>
                        </div>
                        <div>
                            <a href="{% url 'customer-forgot-password' %}" class="font-weight-bold f-14 text-dark-theme">Forgot Password?</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-theme-dark btn-block mb-3">Log In</button>
                </form>
                <span class="d-block mb-3 text-center">Sign up with</span>
                <div class="row">
                    <div class="col-6">
                        <a href="#" class="btn btn-default btn-block btn-fb f-14"><img src="https://img.icons8.com/fluent/24/000000/facebook-new.png" class="mr-1" />Facebook</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="btn btn-default btn-google btn-block f-14"><img src="https://img.icons8.com/color/24/000000/google-logo.png" class="mr-1" />Google</a>
                    </div>
                </div>

            </div>
            <div class="modal-footer text-center d-block">
                <p><a href="{% url 'signup' %}" class="text-dark-theme">Create Account. &nbsp; </a></p>
            </div>
        </div>
    </div>
</section>



{% endblock %}


