 {% extends 'layout/base.html' %} {% block content %}
<section class="signup">
    <div class="container">
        <div class="signup__form">
            <div class="modal-body">
                <h4 class="modal-title modal-content-adjust__body--title text-center">Sign Up</h4>
                <form method="POST" action="{% url 'signup' %}" class="form-adjust">
                    {% csrf_token %}
                    {% if error %}
                        <li class="form-error">{{error}}</li>
                    {% endif %}
                    <div class="form-group mb-3">
                        <label for="username" class="control-label mb-2">Username</label>
                        <input type="username" class="form-control form-adjust__input" name="username" value="" required="" placeholder="Enter your username">
                        <span class="help-block"></span>
                    </div>
                
                    <div class="form-group mb-3">
                        <label for="email" class="control-label mb-2">Email</label>
                        <input type="email" class="form-control form-adjust__input" name="email" value="" required="" placeholder="example@gmail.com">
                        <span class="help-block"></span>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label for="password" class="control-label mb-2">Password</label>
                                <input type="password" class="form-control form-adjust__input" name="password" value="" required="" title="Please enter your password">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group mb-3">
                                <label for="password" class="control-label mb-2">Confirm Password</label>
                                <input type="password" class="form-control form-adjust__input" name="password2" value="" required="" title="Please re-enter your password">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-theme-dark btn-block mb-3">Sign up</button>
                </form>
                <span class="d-block mb-3 text-center">Sign up with</span>
                <div class="row">
                    <div class="col-6">
                        <a href="#" class="btn btn-default btn-block btn-fb f-14"><img src="https://img.icons8.com/fluent/24/000000/facebook-new.png" class="mr-1" />Facebook</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="btn btn-default btn-google btn-block f-14"><img src="https://img.icons8.com/color/24/000000/google-logo.png" class="mr-1" />Google</a>
                    </div>
                </div>

            </div>
            <div class="modal-footer text-center d-block">
                <p>Already a user. &nbsp; <a href="{% url 'customer-login' %}" class="text-dark-theme" >Login</a></p>
            </div>
        </div>
    </div>
</section>



{% endblock %}