{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %} Harvestor Concave{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title"> Harvestor Concave</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active"> Harvestor Concave</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Harvestor Concave</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="news" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%" rowspan="2">SN</th>
                                <th colspan="2" class="text-center border-bottom">Wheat(Rasp Bar) Clearance</th>
                                <th colspan="2" class="text-center border-bottom">Paddy(Peg Tooth) Clearance</th>
                                <th rowspan="2">Mechanical Adjustment</th>
                                <th width="12%" rowspan="2">Action</th>
                            </tr>
                            <tr>
                                <!-- <th width="2%">SN</th> -->
                                <th>Front</th>
                                <th>Rear</th>
                                <th>Front</th>
                                <th>Rear</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for concave in object_list %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ concave.front_wheat_clearance }}</td>
                                <td>{{ concave.rear_wheat_clearance }}</td>
                                <td>{{ concave.front_paddy_clearance }}</td>
                                <td>{{ concave.rear_paddy_clearance }}</td>
                                {% if concave.adjustment %}
                                <td>Mechanical</td>
                                {% else %}
                                <td>Not Mechanical</td>
                                {% endif %}
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'harvestor-concave-update' concave.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Edit">
                                        <i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'harvestor-concave-delete' concave.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Delete"
                                          class="delete btn btn-transparent bg-white p-0">
                                          <i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Harvestor Concave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Wheat Clearance(mm) :  Front</label>
                            {{ form.front_wheat_clearance }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">High </label>
                            {{ form.rear_wheat_clearance }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Paddy Clearance(mm) :  Front</label>
                            {{ form.front_paddy_clearance }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Rear </label>
                            {{ form.rear_paddy_clearance }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Adjustment</label>
                        <p>{{ form.adjustment }}<span>Mechanical</span></p>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Harvestor Concave </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#news').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                window.location.href = $(this).attr('href');
                if (willDelete) {
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
{% endblock %}
