{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %} Harvestor Cutter Bar{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title"> Harvestor Cutter Bar</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active"> Harvestor Cutter Bar</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Harvestor Cutter Bar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="news" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Wheat</th>
                                <th>Width for Wheat(mm)</th>
                                <th>Maize</th>
                                <th>Width for Maize(mm)</th>
                                <th>Cutting Height (mm)</th>
                                <th>No. of Blades </th>
                                <th>No. of Gaurds </th>
                                <th>Stroke (mm)</th>
                                <th>Reel (rpm)</th>
                                <th>Dia (mm)</th>
                                <th>No.of Rows </th>
                                <th>Spacing of Rows </th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cutter in object_list %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{ cutter.wheat }}</td>
                                <td>{{ cutter.width_for_wheat }}</td>
                                <td>{{ cutter.maize }}</td>
                                <td>{{ cutter.width_for_maize }}</td>
                                <td>{{ cutter.clutting_height }}</td>
                                <td>{{ cutter.blades }}</td>
                                <td>{{ cutter.guards }}</td>
                                <td>{{ cutter.stroke }}</td>
                                <td>{{ cutter.reel }}</td>
                                <td>{{ cutter.diameter }}</td>
                                <td>{{ cutter.no_of_rows }}</td>
                                <td>{{ cutter.row_spacing }}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'harvestor-cutterbar-update' cutter.id %}" data-cooltipz-dir="bottom" 
                                        aria-label="Edit">
                                        <i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'harvestor-cutterbar-delete' cutter.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Delete" 
                                        class="delete btn btn-transparent bg-white p-0">
                                        <i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Harvestor Cutter Bar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">For Wheat, Paddy & Others </label>
                            {{ form.wheat }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Width </label>
                            {{ form.width_for_wheat }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">For Maize & Sunflower </label>
                            {{ form.maize }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Width </label>
                            {{ form.width_for_maize }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Cutting Height (mm)</label>
                            {{ form.clutting_height }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">No. of Blades </label>
                            {{ form.blades }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">No. of Gaurds </label>
                            {{ form.guards }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Stroke (mm)</label>
                            {{ form.stroke }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Reel (rpm)</label>
                           {{ form.reel }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Dia (mm)</label>
                        {{ form.diameter }}
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">No. of Rows </label>
                            {{ form.no_of_rows }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Spacing of Rows </label>
                            {{ form.row_spacing }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Harvestor Cutter Bar </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#news').DataTable({
            scrollX: true
        });
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                window.location.href = $(this).attr('href');
                if (willDelete) {
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
{% endblock %}
