{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Brand Table{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Cutter Bar</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Edit Cutter Bar </li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">For Wheat, Paddy & Others </label>
                                {{ form.wheat }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Width </label>
                                {{ form.width_for_wheat }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">For Maize & Sunflower </label>
                                {{ form.maize }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Width </label>
                                {{ form.width_for_maize }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Cutting Height (mm)</label>
                                {{ form.clutting_height }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">No. of Blades </label>
                                {{ form.blades }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">No. of Gaurds </label>
                                {{ form.guards }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Stroke (mm)</label>
                                {{ form.stroke }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Reel (rpm)</label>
                               {{ form.reel }}
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">Dia (mm)</label>
                            {{ form.diameter }}
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">No. of Rows </label>
                                {{ form.no_of_rows }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Spacing of Rows </label>
                                {{ form.row_spacing }}
                            </div>
                        </div>
    
                        <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Edit Cutter Bar </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}