{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Detail{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">View Detail</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'harvestor' %}">Harvestor</a></li>
                    <li class="breadcrumb-item active">View Detail</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="" action="">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Harvestor Information</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Name</td>
                                        <td class="w-50 view-detail">{{ harvestor.name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Model</td>
                                        <td class="w-50 view-detail">{{ harvestor.model }}</td>
                                    </tr>
                                    <tr> 
                                        <td class="w-50 view-title">Brand</td>
                                        <td class="w-50 view-detail">{{ harvestor.brand }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Power</td>
                                        <td class="w-50 view-detail">{{ harvestor.power }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Cutter Bar Width</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar_width }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Crop</td>
                                        <td class="w-50 view-detail">{{ harvestor.crop }} mm</td>
                                    </tr>
                                    {% if harvestor.power_source %}
                                    <tr>
                                        <td class="w-50 view-title">Power Source</td>
                                        <td class="w-50 view-detail">{{ harvestor.power_source }}</td>
                                    </tr>
                                    {% endif %}
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6 class="form-title">Harvestor Images</h6>
                                <div class="row">
                                    {% for img in harvestor.image.all %}
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <img style="width:70%" src="{{ img.image.url }}" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6 class="form-title">Overview</h6>
                                <p>{{ harvestor.overview|safe }}</p>
                            </div>

                            <div class="col-12">
                                <h6 class="form-title">Engine</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">No. of Cylinder</td>
                                        <td class="w-50 view-detail">{{ harvestor.engine.no_of_cylinder }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Engine Model</td>
                                        <td class="w-50 view-detail">{{ harvestor.engine.model }} </td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Type</td>
                                        <td class="w-50 view-detail">{{ harvestor.engine.engine_type }}</td>
                                    </tr>
                                
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Engine Power</td>
                                        <td class="w-50 view-detail">{{ harvestor.engine.power }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Cooling System</td>
                                        <td class="w-50 view-detail">{{ harvestor.engine.cooling_system }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Air Cleaner</td>
                                        <td class="w-50 view-detail">{{ harvestor.engine.air_cleaner }}</td>
                                    </tr>
                                </table>
                            </div>
                            {% if harvestor.clutch %}
                            <div class="col-12">
                                <h6 class="form-title">Clutch</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Type</td>
                                        <td class="w-50 view-detail">{{ harvestor.clutch.clutch_type }}</td>
                                    </tr>
                                
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Diameter</td>
                                        <td class="w-50 view-detail">{{ harvestor.clutch.diameter }} mm</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if harvestor.transmission %}
                            <div class="col-12">
                                <h6 class="form-title">Transmission</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Forward Gear</td>
                                        <td class="w-50 view-detail">{{ harvestor.transmission.forward_gear }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Gear Speed</td>
                                        <td class="w-50 view-detail">{{ harvestor.transmission.gear_speed }} </td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Second Gear</td>
                                        <td class="w-50 view-detail">{{ harvestor.transmission.second_gear_low }} - {{ harvestor.transmission.second_gear_high }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Fourth Gear</td>
                                        <td class="w-50 view-detail">{{ harvestor.transmission.fourth_gear_low }} - {{ harvestor.transmission.fourth_gear_high }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Reverse Gear</td>
                                        <td class="w-50 view-detail">{{ harvestor.transmission.reverse_gear }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">First Gear</td>
                                        <td class="w-50 view-detail">{{ harvestor.transmission.first_gear_low }} - {{ harvestor.transmission.first_gear_high }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Third Gear</td>
                                        <td class="w-50 view-detail">{{ harvestor.transmission.third_gear_low }} - {{ harvestor.transmission.third_gear_high }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Reverse Gear</td>
                                        <td class="w-50 view-detail">{{ harvestor.transmission.reverse_gear_low }} - {{ harvestor.transmission.reverse_gear_high }}</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if harvestor.cutter_bar %}
                            <div class="col-12">
                                <h6 class="form-title">Cutter Bar</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Wneat</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.wheat }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Width for Wheat</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.width_for_wheat }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Cutting Height</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.cutting_height }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">No. of Guards</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.guards }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Stroke</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.stroke }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">No. of Rows</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.no_of_rows }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Maize</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.maize }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Width for Maize </td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.width_for_maize }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Diameter</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.diameter }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">No. of blades</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.blades }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Reel</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.reel }} rpm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Row Spacing</td>
                                        <td class="w-50 view-detail">{{ harvestor.cutter_bar.row_spacing }}</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if harvestor.threshing_drum %}
                            <div class="col-12">
                                <h6 class="form-title">Threshing Drum</h6>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Diameter for Wneat</td>
                                        <td class="w-50 view-detail">{{ harvestor.threshing_drum.diameter_for_wheat }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Width for Wheat</td>
                                        <td class="w-50 view-detail">{{ harvestor.threshing_drum.width_for_wheat }} mm</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">diameter for Maize</td>
                                        <td class="w-50 view-detail">{{ harvestor.threshing_drum.diameter_for_maize }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Width for Maize </td>
                                        <td class="w-50 view-detail">{{ harvestor.threshing_drum.width_for_maize }} mm</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">diameter for Paddy</td>
                                        <td class="w-50 view-detail">{{ harvestor.threshing_drum.diameter_for_paddy }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Width for Paddy </td>
                                        <td class="w-50 view-detail">{{ harvestor.threshing_drum.width_for_paddy }} mm</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Speed</td>
                                        <td class="w-50 view-detail">{{ harvestor.threshing_drum.speed_from }} to {{ harvestor.threshing_drum.speed_to }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Adjustment</td>
                                        {% if harvestor.threshing_drum.mechanical_adjustment %}
                                        <td class="w-50 view-detail">Mechanical</td>
                                        {% else %}
                                        <td class="w-50 view-detail">Not Mechanical</td>
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if harvestor.tyre %}
                            <div class="col-12">
                                <h6 class="form-title">Tyre</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Front Size</td>
                                        <td class="w-50 view-detail">{{ harvestor.tyre.front_size }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Front Ply Rating</td>
                                        <td class="w-50 view-detail">{{ harvestor.tyre.front_ply_rating }} </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Rear Size</td>
                                        <td class="w-50 view-detail">{{ harvestor.tyre.rear_size }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Rear Ply Rating</td>
                                        <td class="w-50 view-detail">{{ harvestor.tyre.rear_ply_rating }}</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if harvestor.concave %}
                            <div class="col-12">
                                <h6 class="form-title">Concave</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6><u>Wheat(Rasp Bar) Clearance</u></h6>
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Front </td>
                                        <td class="w-50 view-detail">{{ harvestor.concave.front_wheat_clearance }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Rear</td>
                                        <td class="w-50 view-detail">{{ harvestor.concave.rear_wheat_clearance }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Adjustment</td>
                                        {% if harvestor.concave.adjustment %}
                                        <td class="w-50 view-detail">Mechanical</td>
                                        {% else %}
                                        <td class="w-50 view-detail">Not Mechanical</td>
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <h6><u>Paddy(Peg Tooth) Clearance</u></h6>
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Front </td>
                                        <td class="w-50 view-detail">{{ harvestor.concave.front_paddy_clearance }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Rear</td>
                                        <td class="w-50 view-detail">{{ harvestor.concave.rear_paddy_clearance }} mm</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if harvestor.straw_walker %}
                            <div class="col-12">
                                <h6 class="form-title">Straw Walker</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">No. of Straw Walker </td>
                                        <td class="w-50 view-detail">{{ harvestor.straw_walker.no_of_straw_walker }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Width</td>
                                        <td class="w-50 view-detail">{{ harvestor.straw_walker.width }} mm</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">No. of Steps </td>
                                        <td class="w-50 view-detail">{{ harvestor.straw_walker.no_of_steps }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Length</td>
                                        <td class="w-50 view-detail">{{ harvestor.straw_walker.length }} mm</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if harvestor.cleaning_seives %}
                            <div class="col-12">
                                <h6 class="form-title">Cleaning Seives</h6>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Area</td>
                                        <td class="w-50 view-detail">{{ harvestor.cleaning_seives.area }} m2</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Upper Seive Area</td>
                                        <td class="w-50 view-detail">{{ harvestor.cleaning_seives.upper_seive_area }} m2</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-4 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Lower Seive Area</td>
                                        <td class="w-50 view-detail">{{ harvestor.cleaning_seives.lower_seive_area }} m2</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if harvestor.capacity %}
                            <div class="col-12">
                                <h6 class="form-title">Capacity</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Grain Tank</td>
                                        <td class="w-50 view-detail">{{ harvestor.capacity.grain_tank }} Ltr.</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Fuel Tank</td>
                                        <td class="w-50 view-detail">{{ harvestor.capacity.fuel_tank }} Ltr.</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if harvestor.battery %}
                            <div class="col-12">
                                <h6 class="form-title">Battery</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">No. of Battery</td>
                                        <td class="w-50 view-detail">{{ harvestor.battery.no_of_battery }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Capacity & Ratings</td>
                                        <td class="w-50 view-detail">{{ harvestor.battery.capacity_and_ratings }}</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                            {% if harvestor.main_dimension %}
                            <div class="col-12">
                                <h6 class="form-title">Main Dimension</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6><u>In Working</u></h6>
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Length</td>
                                        <td class="w-50 view-detail">{{ harvestor.main_dimension.working_length }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Width</td>
                                        <td class="w-50 view-detail">{{ harvestor.main_dimension.working_width }} mm</td>
                                    </tr>
                                    <tr>    
                                        <td class="w-50 view-title">Height</td>
                                        <td class="w-50 view-detail">{{ harvestor.main_dimension.working_height }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Ground Clearance</td>
                                        <td class="w-50 view-detail">{{ harvestor.main_dimension.working_ground_clearance }} mm</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12" style="border-left: 1px black solid;">
                                <h6><u>In Transport</u></h6>
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>    
                                        <td class="w-50 view-title">Length</td>
                                        <td class="w-50 view-detail">{{ harvestor.main_dimension.transport_length }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Width</td>
                                        <td class="w-50 view-detail">{{ harvestor.main_dimension.transport_width }} mm</td>
                                    </tr>
                                    <tr>    
                                        <td class="w-50 view-title">Height</td>
                                        <td class="w-50 view-detail">{{ harvestor.main_dimension.transport_height }} mm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Total Weight</td>
                                        <td class="w-50 view-detail">{{ harvestor.main_dimension.transport_total_weight }} kg</td>
                                    </tr>
                                </table>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a type="submit" href="{% url 'harvestor' %}" class="btn btn-success btn-theme-admin rounded-0">Back to
                                    List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
