{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Edit Harvestor{% endblock %}
{% block style %}
<style>{% include 'admin/documents/upload-file.css' %}</style>
{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Harvestor</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'harvestor' %}">Harvestor</a></li>
                    <li class="breadcrumb-item active">Edit Harvestor</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Harvestor Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Name</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Model</label>
                                    {{ form.model }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Power</label>
                                    {{ form.power }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="tractor-label">Cutter Bar- Width</label>
                                    {{ form.cutter_bar_width }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Power Source</label>
                                    {{ form.power_source }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Crop</label>
                                    {{ form.crop }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="" class="tractor-label">Brand</label>
                                    {{ form.brand }}
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Other Information</h6>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Engine</label>
                                    {{ form.engine }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Clutch</label>
                                    {{ form.clutch }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Transmission</label>
                                    {{ form.transmission }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Cutter Bar</label>
                                    {{ form.cutter_bar }}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label class="tractor-label">Threshing Mechanism</label>
                                    {{ form.threshing_drum }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Tyre</label>
                                    {{ form.tyre }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="tractor-label">Concave</label>
                                    {{ form.concave }}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label class="tractor-label">Straw Walkers</label>
                                    {{ form.straw_walker }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Cleaning Sieves</label>
                                    {{ form.cleaning_seives }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Capacity</label>
                                    {{ form.capacity }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Battery</label>
                                    {{ form.battery }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="tractor-label">Main Dimension</label>
                                    {{ form.main_dimension }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="" class="tractor-label">Image</label>
                                    {% include 'admin/drop-box.html' %}
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="tractor-label">OverView</label>
                                {{ form.overview }}
                            </div>
                            <!-- <div class="col-12">
                                <h6 class="form-title">Type / Status</h6>
                            </div>
                            <div class="col-md-8">
                                <div class="my-2">
                                    <div class="form-group">
                                        <label class="tractor-label mr-3">
                                            <input type="checkbox" class="minimal">
                                            Is Popular
                                        </label>
                                        <label class="tractor-label mr-3">
                                            <input type="checkbox" class="minimal">
                                            Is Avaliable
                                        </label>
                                        <label class="tractor-label mr-3">
                                            <input type="checkbox" class="minimal">
                                            Is Upcoming
                                        </label>
                                        <label class="tractor-label mr-3">
                                            <input type="checkbox" class="minimal">
                                            Is Mini Tractor
                                        </label>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success btn-theme-admin rounded-0">Update
                                    Harvestor</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>{% include 'admin/documents/upload-file.js' %}</script>
{% endblock %}