{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %} Harvestor Engines{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title"> Harvestor Engines</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active"> Harvestor Engines</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Harvestor Engines</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="news" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Number of Cylinder</th>
                                <th>Model</th>
                                <th>Type</th>
                                <th>Cooling System</th>
                                <th>Power</th>
                                <th>Air Cleaner</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for engine in object_list %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ engine.no_of_cylinder }}</td>
                                <td>{{ engine.model }}</td>
                                <td>{{ engine.engine_type }}</td>
                                <td>{{ engine.cooling_system }}</td>
                                <td>{{ engine.power }}</td>
                                <td>{{ engine.air_cleaner }}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3">
                                        <a href="{% url 'harvester-engine-update' engine.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Edit" >
                                        <i class="fas fa-edit text-secondary edit-icon"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'harvester-engine-delete' engine.id %}" data-cooltipz-dir="bottom" 
                                        aria-label="Delete" class="delete btn btn-transparent bg-white p-0"><i class="fas fa-trash text-danger"></i></a>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Harvestor Engines</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Number of Cylinder</label>
                            {{ form.no_of_cylinder }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Power</label>
                            {{ form.power }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Model</label>
                            {{ form.model }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Cooling System</label>
                            {{ form.cooling_system }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Type</label>
                            {{ form.engine_type }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Air Cleaner</label>
                            {{ form.air_cleaner }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Harvestor Engines </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>


<script>
    $(document).ready(function() {
        $('#news').DataTable();
    });
    // delete alert
$('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
{% endblock %}
