{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Harvestor{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Harvestor</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Harvestor</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="{% url 'harvestor-add' %}" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Harvestor</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="brand-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Name</th>
                                <th>Model</th>
                                <th>Power</th>
                                <th>Cutter Bar – Width</th>
                                <th>Power Source</th>
                                <th>Crop</th>
                                <th>Brand</th>
                                <th>Engine</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for harvester in object_list %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ harvester.name }}</td>
                                <td>{{ harvester.model }}</td>
                                <td>{{ harvester.power }}</td>
                                <td>{{ harvester.cutter_bar_width }}</td>
                                <td>{{ harvester.power_source }}</td>
                                <td>{{ harvester.crop }}</td>
                                <td>{{ harvester.brand }}</td>
                                <td>{{ harvester.engine }}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'harvestor-edit' harvester.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Edit"><i class="fas fa-edit text-secondary">
                                        </i></a></span>
                                    <span class="action-icon"><a href="{% url 'harvestor-delete' harvester.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Delete" 
                                        class="delete btn btn-transparent bg-white p-0">
                                        <i class="fas fa-trash text-danger"></i></a>
                                    </span>
                                    <span class="action-icon"><a href="{% url 'admin-harvestor-detail' harvester.id %}"
                                        data-cooltipz-dir="bottom" class="btn btn-transparent bg-white p-0">
                                         <i class="fas fa-eye text-basic"></i></a>
                                   </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#brand-table').DataTable({
            "scrollX": true
        });
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
{% endblock %}
