{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Harvester Dimensions{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Harvester Dimensions</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Edit Harvester Dimensions</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <h5 class="text-title">In Working</h5>
                        <div class="row">
                            <div class="form-group mb-3 col-md-4">
                                <label for="" class="tractor-label">Length (mm)</label>
                                {{ form.working_length }}
                            </div>
                            <div class="form-group mb-3 col-md-4">
                                <label for="" class="tractor-label">Width (mm)</label>
                                {{ form.working_width }}
                            </div>
                            <div class="form-group mb-3 col-md-4">
                                <label for="" class="tractor-label">Height (mm)</label>
                                {{ form.working_height }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Ground Clearance (mm)</label>
                               {{ form.working_ground_clearance }}
                            </div>
                        </div>
                        <h5 class="text-title">In Transport</h5>
                        <div class="row">
                            <div class="form-group mb-3 col-md-4">
                                <label for="" class="tractor-label">Length (mm)</label>
                                {{ form.transport_length }}
                            </div>
                            <div class="form-group mb-3 col-md-4">
                                <label for="" class="tractor-label">Width (mm)</label>
                                {{ form.transport_width }}
                            </div>
                            <div class="form-group mb-3 col-md-4">
                                <label for="" class="tractor-label">Height (mm)</label>
                                {{ form.transport_height }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Total Weight (kg)</label>
                                {{ form.transport_total_weight }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Edit Harvestor Dimensions </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}