{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %} Harvestor Dimensions{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title"> Harvestor Dimensions</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active"> Harvestor Dimensions</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Harvestor Dimensions</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="news" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%" rowspan="2">SN</th>
                                <th colspan="4" class="text-center border-bottom">In Working</th>
                                <th colspan="4" class="text-center border-bottom">In Transport</th>
                                <th width="12%" rowspan="2">Action</th>
                            </tr>
                            <tr>
                                <th>Length (mm)</th>
                                <th>Width (mm)</th>
                                <th>Height (mm)</th>
                                <th>Ground Clearance (mm)</th>
                                <th>Length (mm)</th>
                                <th>Width (mm)</th>
                                <th>Height (mm)</th>
                                <th>Total Weight (kg)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dimension in object_list %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ dimension.working_length }}</td>
                                <td>{{ dimension.working_width }}</td>
                                <td>{{ dimension.working_height }}</td>
                                <td>{{ dimension.working_ground_clearance }}</td>
                                <td>{{ dimension.transport_length }}</td>
                                <td>{{ dimension.transport_width }}</td>
                                <td>{{ dimension.transport_height }}</td>
                                <td>{{dimension.transport_total_weight }}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'harvestor-dimensions-update' dimension.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Edit">
                                        <i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'harvestor-dimensions-delete' dimension.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Delete" 
                                        class="delete btn btn-transparent bg-white p-0">
                                        <i class="fas fa-trash text-danger"></i></button></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Harvestor Dimensions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h5 class="text-title">In Working</h5>
                    <div class="row">
                        <div class="form-group mb-3 col-md-4">
                            <label for="" class="tractor-label">Length (mm)</label>
                            {{ form.working_length }}
                        </div>
                        <div class="form-group mb-3 col-md-4">
                            <label for="" class="tractor-label">Width (mm)</label>
                            {{ form.working_width }}
                        </div>
                        <div class="form-group mb-3 col-md-4">
                            <label for="" class="tractor-label">Height (mm)</label>
                            {{ form.working_height }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Ground Clearance (mm)</label>
                           {{ form.working_ground_clearance }}
                        </div>
                    </div>
                    <h5 class="text-title">In Transport</h5>
                    <div class="row">
                        <div class="form-group mb-3 col-md-4">
                            <label for="" class="tractor-label">Length (mm)</label>
                            {{ form.transport_length }}
                        </div>
                        <div class="form-group mb-3 col-md-4">
                            <label for="" class="tractor-label">Width (mm)</label>
                            {{ form.transport_width }}
                        </div>
                        <div class="form-group mb-3 col-md-4">
                            <label for="" class="tractor-label">Height (mm)</label>
                            {{ form.transport_height }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Total Weight (kg)</label>
                            {{ form.transport_total_weight }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Harvestor Dimensions </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#news').DataTable({
            scrollX: true
        });
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                window.location.href = $(this).attr('href');
                if (willDelete) {
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
{% endblock %}
