{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Detail{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">View Detail</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'old-harvester-list' %}">Old Harvester</a></li>
                    <li class="breadcrumb-item active">View Detail</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="" action="">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Old Harvester Information</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Title</td>
                                        <td class="w-50 view-detail">{{ old_harvester.title }}</td>
                                    </tr>
                                    <tr> 
                                        <td class="w-50 view-title">Brand</td>
                                        <td class="w-50 view-detail">{{ old_harvester.brand }}</td>
                                    </tr>
                                    <tr> 
                                        <td class="w-50 view-title">Model</td>
                                        <td class="w-50 view-detail">{{ old_harvester.model }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Price</td>
                                        <td class="w-50 view-detail">Rs. {{ old_harvester.price }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6 class="form-title">Old Harvester Images</h6>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 mb-2">
                                        <img style="width:60%" src="{{ old_harvester.image1.url }}" alt="">
                                    </div>
                                    <div class="col-md-6 col-sm-12 mb-2">
                                        <img style="width:60%" src="{{ old_harvester.image2.url }}" alt="">
                                    </div>
                                    {% if old_harvester.image3 %}
                                    <div class="col-md-6 col-sm-12 mb-2">
                                        <img style="width:60%" src="{{ old_harvester.image3.url }}" alt="">
                                    </div>
                                    {% endif %}
                                    {% if old_harvester.image4 %}
                                    <div class="col-md-6 col-sm-12 mb-2">
                                        <img style="width:60%" src="{{ old_harvester.image4.url }}" alt="">
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Other Information</h6>
                            </div>
                            <div class="col-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-25 view-title">Purchase Year</td>
                                        <td class="w-75 view-detail">{{ old_harvester.purchase_year }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-title">Cutting Width</td>
                                        <td class="w-75 view-detail">{{ old_harvester.cutting_width }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-title">Power Source</td>
                                        <td class="w-75 view-detail">{{ old_harvester.power_source }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-title">Crop Type</td>
                                        <td class="w-75 view-detail">{{ old_harvester.crop_type }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-title">Run Hours</td>
                                        <td class="w-75 view-detail">{{ old_harvester.hours }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-title">About</td>
                                        <td class="w-75 view-detail">{{ old_harvester.about }}</td>
                                    </tr>
                                
                                </table>
                            </div>

                            <div class="col-12">
                                <h6 class="form-title">Seller Detail</h6>
                            </div>
                            <div class="col-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-25 view-title">Name</td>
                                        <td class="w-75 view-title">{{ old_harvester.seller.name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">Phone No.</td>
                                        <td class="w-75 view-detail">{{ old_harvester.seller.phone_no }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">Email</td>
                                        <td class="w-75 view-detail">{{ old_harvester.seller.email }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">State</td>
                                        <td class="w-75 view-detail">{{ old_harvester.seller.state }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">District</td>
                                        <td class="w-75 view-detail">{{ old_harvester.seller.district }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">Municipality</td>
                                        <td class="w-75 view-detail">{{ old_harvester.seller.municipality.municipality }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-25 view-detail">Address</td>
                                        <td class="w-75 view-detail">{{ old_harvester.seller.address }}</td>
                                    </tr>
                                    <tr></tr>
                                        <td class="w-25 view-detail">Pincode</td>
                                        <td class="w-75 view-detail">{{ old_harvester.seller.pincode }}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a type="submit" href="{% url 'old-harvester-list' %}" class="btn btn-success btn-theme-admin rounded-0">Back to
                                    List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
