{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Straw Walker{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Straw Walker</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Edit Straw Walker </li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">No.of Straw Walker  </label>
                           {{ form.no_of_straw_walker }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">No.of Steps </label>
                            {{ form.no_of_steps }}
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Width(mm)</label>
                                {{ form.width }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Length (mm)</label>
                                {{ form.length }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Edit Harvestor Straw Walker </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}