{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Harvester Threshing{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Harvester Threshing</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Edit Harvester Threshing</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Wheat: Dia of Drum(mm)</label>
                                {{ form.diameter_for_wheat }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Width(mm)</label>
                                {{ form.width_for_wheat }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Maize: Dia of Drum(mm)</label>
                                {{ form.diameter_for_maize }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Width(mm)</label>
                                {{ form.width_for_maize }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Paddy: Dia of Drum(mm)</label>
                                {{ form.diameter_for_paddy }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Width(mm)</label>
                                {{ form.width_for_paddy }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Speed of Drum(rpm)</label>
                                <div class="input-group">
                                    {{ form.speed_from }}
                                    <span class="input-group-text">to</span>
                                    {{ form.speed_to }}
                                </div>
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Adjustment</label>
                                <div class="form-check">
                                    {{ form.mechanical_adjustment }}
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Mechanically
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Edit Harvestor Thresher Drum </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}