{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %} Harvestor Thresher Drum{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title"> Harvestor Thresher Drum</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active"> Harvestor Thresher Drum</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Harvestor Thresher Drum</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="news" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%" rowspan="2">SN</th>
                                <th colspan="2" class="text-center border-bottom">Wheat(Rasp Bar)</th>
                                <th colspan="2" class="text-center border-bottom">Maize(Peg Tooth)</th>
                                <th colspan="2" class="text-center border-bottom">Paddy(Rasp Bar)</th>
                                <th rowspan="2">Speed(rpm)</th>
                                <th rowspan="2">Adjustment</th>
                                <th width="12%" rowspan="2">Action</th>
                            </tr>
                            <tr>
                                <th>Dia of Drum(mm)</th>
                                <th>Width(mm)</th>
                                <th>Dia of Drum(mm)</th>
                                <th>Width(mm)</th>
                                <th>Dia of Drum(mm)</th>
                                <th>Width(mm)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for treshing in object_list %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ treshing.diameter_for_wheat }}</td>
                                <td>{{ treshing.width_for_wheat }}</td>
                                <td>{{ treshing.diameter_for_maize }}</td>
                                <td>{{ treshing.width_for_maize }}</td>
                                <td>{{ treshing.diameter_for_paddy }}</td>
                                <td>{{ treshing.width_for_paddy }}</td>
                                <td>{{ treshing.speed_from }} to {{ treshing.speed_to }}</td>
                                {% if treshing.mechanical_adjustment %}
                                <td>Mechanically</td>
                                {% else %}
                                <td>Not Mechanically</td>
                                {% endif %}
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'harvestor-threshing-update' treshing.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Edit" >
                                        <i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'harvestor-threshing-delete' treshing.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Delete" 
                                        class="delete btn btn-transparent bg-white p-0">
                                        <i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Harvestor Thresher Drum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Wheat: Dia of Drum(mm)</label>
                            {{ form.diameter_for_wheat }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Width(mm)</label>
                            {{ form.width_for_wheat }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Maize: Dia of Drum(mm)</label>
                            {{ form.diameter_for_maize }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Width(mm)</label>
                            {{ form.width_for_maize }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Paddy: Dia of Drum(mm)</label>
                            {{ form.diameter_for_paddy }}
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Width(mm)</label>
                            {{ form.width_for_paddy }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Speed of Drum(rpm)</label>
                            <div class="input-group">
                                {{ form.speed_from }}
                                <span class="input-group-text">to</span>
                                {{ form.speed_to }}
                            </div>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="" class="tractor-label">Adjustment</label>
                            <div class="form-check">
                                {{ form.mechanical_adjustment }}
                                <label class="form-check-label" for="flexCheckDefault">
                                  Mechanically
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Harvestor Thresher Drum </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#news').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
{% endblock %}
