{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Harvester Tyre{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Harvester Tyre</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Edit Harvester Tyre</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Front: Size</label>
                                {{ form.front_size }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Ply Rating </label>
                                {{ form.front_ply_rating }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Rear: Size</label>
                                {{ form.rear_size }}
                            </div>
                            <div class="form-group mb-3 col-md-6">
                                <label for="" class="tractor-label">Ply Rating </label>
                                {{ form.rear_ply_rating }}
                            </div>  
                        </div>
                        <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Edit Harvestor Tyre </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}