{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Home Slider{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Home Slider</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Home Slider</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a class="btn btn-block btn-success btn-theme-admin rounded-0" data-toggle="modal" data-target="#addSliderModal">Add Home Slider</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="data-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Image1</th>
                                <th>Image2</th>
                                <th>Image3</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for slider in allslider %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td class="table-image"><img src="{{slider.image1.url}}" alt=""></td>
                                <td class="table-image"><img src="{{slider.image2.url}}" alt=""></td>
                                <td class="table-image"><img src="{{slider.image3.url}}" alt=""></td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="" data-cooltipz-dir="bottom" aria-label="Edit" data-toggle="modal" data-target="#editSliderModal"><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'home-slider-delete' slider.pk %}" data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0"><i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addSliderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Slider</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image 1</label>
                       {{form.image1}}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image 2</label>
                        {{form.image2}}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image 3</label>
                        {{form.image3}}
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Slider                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<div class="modal fade" id="editSliderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title">Edit Slider</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="">
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image 1</label>
                        <input type="file" class="form-control tractor-input" name="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image 2</label>
                        <input type="file" class="form-control tractor-input" name="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image 3</label>
                        <input type="file" class="form-control tractor-input" name="">
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Update Slider</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <!-- delete -->
<script>
	$(document).ready(function () {
		$("#data-table").DataTable();
	});
	// delete alert
	$(".delete").click(function (e) {
		e.preventDefault();
		swal({
			title: "Are you sure?",
			text: "It will permanently deleted !",
			icon: "warning",
			buttons: true,
			dangerMode: true,
		}).then((willDelete) => {
			if (willDelete) {
				window.location.href = $(this).attr("href");
				swal(" 'Your file has been deleted.'!", {
					icon: "success",
				});
			}
		});
	});
</script>

{% endblock %}
