{% extends 'tool/toolLayout/tool_base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} | Sprayers {% endblock %}
<!--  -->
{% block static %}
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.min.css' %}"> {% endblock %}
<!--  -->
{% block content %}
<section class="tools-products">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="filterMain toolsfilterMain">
                    <div class="filterMainBackground">
                        <form action="{% url 'sprayers' %}" method="GET">
                            <div class="newandUsedLinks">
                                <div class="newandUsedLinks-mobile d-block d-sm-block d-md-none d-lg-none">
                                    <div class="row">
                                        <div class="col-4"><a href="" title="Cancel">Cancel</a></div>
                                        <div class="col-4"><button type="reset" class="btn btn-block btn-reset">Reset</button></div>
                                        <div class="col-4"><button type="submit" class="btn btn-block btn-theme-tool">Apply Filter</button></div>
                                    </div>
                                </div>
                                <div class="newandUsedLinks-desktop d-none d-sm-none d-md-block d-lg-block">
                                    <div class="row g-3">
                                        <div class="col-6"><a href="{% url 'sprayers' %}" class="btn btn-block btn-reset">Reset</a></div>
                                        <div class="col-6"><button type="submit" class="btn btn-block btn-theme-tool">Apply Filter</button></div>

                                    </div>
                                </div>
                            </div>

                            <div class="filterMain__listing">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                PRICE
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="rangeSliderBlock">
                                                        <input id="pricerange" name="prices" value="" type="hidden">
                                                        <input type="text" class="price-range-slider" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                 BRANDS
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input id="harbrand" value="" type="hidden">
                                                        {% for brand in sprayer_brand %}
                                                        {% for b in object_list %}
                                                        {% if brand == b.brand %}
                                                        <!-- repeat formSelection-field -->
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            <input class="chbox harbrand" name="harbrand" type="checkbox" value="{{brand.name}}" id="dasmesh">
                                                            <label class="form-check-label" for="dasmesh">
                                                                {{ brand.name }} <span>({{ brand.tools_set.count }}) </span>
                                                            </label>
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="row">
                    <div class="col-12">
                        <div class="tools-products__heading mb-0">
                            <h4 class="tools-products__heading--title">Sprayers</h4>
                        </div>
                    </div>
                    <div class="row  g-3 mt-2">
                        {% for sprayer in object_list %}
                        <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                            <div class="tools-product__main">
                                <div class="tools-products__main--inner">
                                    <a href="">
                                        {% for img in sprayer.image.all|slice:1 %}
                                        <div class="tools-products__main--img">
                                            <img class="" src="{{ img.image.url }}" alt="Tools">
                                        </div>
                                        {% endfor %}
                                    </a>
                                    <div class="tools-products__main--content">
                                        <a href="">
                                            <p class="tools-products__main--content---title">{{ sprayer.name }} ({{ brush.size }} feet)</p>
                                        </a>
                                        <p class="tools-products__main--content---price">Price: Rs.{{ sprayer.price }}</p>
                                        <a href="{% url 'tool-detail' sprayer.id %}" class="btn btn-outline-theme-light btn-block">Check Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="text-center mt-5">
                    <button class="btn btn-theme-tool">No More Tools Found</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">SPRAYERS DESCRIPTION</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock %}

<!--  -->
{% block script %}
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script>
    $(function() {
        var pri = "";
        pri = pri.split('-');

        var oldhp = "";
        oldhp = oldhp.split('-');

        $(".price-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            drag_interval: false,
            min: 500,
            max: 300000,
            from: pri[0] ? pri[0] : 500,
            to: pri[1] ? pri[1] : 300000,
            prefix: "₹",
            onChange: function(data) {
                var values = [data.from, data.to]
                var price = values.join('-')
                $("#pricerange").attr('value', price)
            }
        });

    });
</script>
{% endblock %}