{% extends 'tool/toolLayout/tool_base.html' %} {% block title %} | Tools {% endblock %} {% load static %} {% block content %}
<!-- slider section -->
<section class="content">
    <div class="tractor-year__container tool-slider-container">
        <div class="slider-carousel owl-carousel owl-theme">
            <div class="item">
                <img src="{% static 'images/dealer-certified.jpg' %}" class="img-fluid" alt="..." />
            </div>
            <div class="item">
                <img src="{% static 'images/de.jpg' %}" class="img-fluid" alt="..." />
            </div>
            <div class="item">
                <img src="{% static 'images/ib.jpg' %}" class="img-fluid" alt="..." />
            </div>
        </div>
        <div class="owl-theme">
            <div class="owl-controls">
                <div class="tractor-content-nav owl-nav"></div>
            </div>
        </div>
    </div>
</section>
<!-- tool categories -->
<section class="tools-categories">
    <div class="container">
        <h4 class="tractor-year__title">Tools Categories</h4>
        <div class="row">
            <div class="col-12">
                <div class="tools-categories__block">
                    {% for category in categories %}
                    {% if category.name|lower == 'tarpaulin'%}
                    <div class="tools-categories__block--inner">
                        <a href="{% url 'tarpaulin' %}">
                            <div class="tools-categories__block--img">
                                <img src="{{ category.image.url }}" class="img-fluid" alt="Tarpaulin">
                            </div>
                            <h6>{{ category.name}}</h6>
                        </a>
                    </div>
                    {% elif category.name|lower == 'sprayers' %}
                    <div class="tools-categories__block--inner">
                        <a href="{% url 'sprayers' %}">
                            <div class="tools-categories__block--img">
                                <img src="{{ category.image.url }}" class="img-fluid" alt="Sprayers">
                            </div>
                            <h6>{{ category.name }}</h6>
                        </a>
                    </div>
                    {% elif category.name|lower == 'brush cutter' %}
                    <div class="tools-categories__block--inner">
                        <a href="{% url 'brush-cutter' %}">
                            <div class="tools-categories__block--img">
                                <img src="{{ category.image.url }}" class="img-fluid" alt="Brush Cutter">
                            </div>
                            <h6>{{ category.name }}</h6>
                        </a>
                    </div>
                    {% elif category.name|lower == 'power weeder' %}
                    <div class="tools-categories__block--inner">
                        <a href="{% url 'power-weeder' %}">
                            <div class="tools-categories__block--img">
                                <img src="{% static 'images/tools/power-weeder.png' %}" class="img-fluid" alt="Power Weeder">
                            </div>
                            <h6>{{ category.name }}</h6>
                        </a>
                    </div>
                    {% elif category.name|lower == 'power tiller' %}
                    <div class="tools-categories__block--inner">
                        <a href="{{ category.image.url }}">
                            <div class="tools-categories__block--img">
                                <img src="{% static 'images/tools/power-tiller.png' %}" class="img-fluid" alt="Power Tiller">
                            </div>
                            <h6>{{ category.name }}</h6>
                        </a>
                    </div>
                    {% elif category.name|lower == 'power reaper' %}
                    <div class="tools-categories__block--inner">
                        <a href="{{ category.image.url }}">
                            <div class="tools-categories__block--img">
                                <img src="{% static 'images/tools/power-reaper.jpg' %}" class="img-fluid" alt="Power Reaper">
                            </div>
                            <h6>{{ category.name }}</h6>
                        </a>
                    </div>
                    {% elif category.name|lower == 'earth auger' %}
                    <div class="tools-categories__block--inner">
                        <a href="{% url 'earth-auger' %}">
                            <div class="tools-categories__block--img">
                                <img src="{{ category.image.url }}" class="img-fluid" alt="Earth Auger">
                            </div>
                            <h6>{{ category.name }}</h6>
                        </a>
                    </div>
                    {% elif category.name|lower == 'mowers & trimmers' %}
                    <div class="tools-categories__block--inner">
                        <a href="{{ category.image.url }}">
                            <div class="tools-categories__block--img">
                                <img src="{% static 'images/tools/mowers-trimmers.png' %}" class="img-fluid" alt="Mowers &amp; Trimmers">
                            </div>
                            <h6>Mowers &amp; Trimmers</h6>
                        </a>
                    </div>
                    {% elif category.name|lower == 'accessories' %}
                    <div class="tools-categories__block--inner">
                        <a href="{{ category.image.url }}">
                            <div class="tools-categories__block--img">
                                <img src="{% static 'images/tools/accessories.jpg' %}" class="img-fluid" alt="Accessories">
                            </div>
                            <h6>Accessories</h6>
                        </a>
                    </div>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product Tarpaulin-->
<section class="tools-products backgroundBgGrey">
    <div class="container">
        {% for cat in categories %}
        {% if cat.tools_set.count != 0 %}
        <div class="row">
            <div class="col-12">
                <div class="tools-products__heading">
                    <h4 class="tools-products__heading--title">{{ cat.name }} Tools</h4>
                    {% if cat.name|lower == 'tarpaulin'%}
                    <a href="{% url 'tarpaulin' %}" class=" tools-products__heading--viewall ">
                    View All <i class="fas fa-arrow-right "></i>
                    </a>
                    {% elif cat.name|lower == 'sprayers'%}
                    <a href="{% url 'sprayers' %}" class=" tools-products__heading--viewall ">
                        View All <i class="fas fa-arrow-right "></i>
                        </a>
                    {% elif cat.name|lower == 'brush cutter' %}
                        <a href="{% url 'brush-cutter' %}" class=" tools-products__heading--viewall ">
                        View All <i class="fas fa-arrow-right "></i>
                        </a>
                    {% elif cat.name|lower == 'power weeder' %}
                    <a href="{% url 'power-weeder' %}" class=" tools-products__heading--viewall ">
                        View All <i class="fas fa-arrow-right "></i>
                    </a>
                    {% elif cat.name|lower == 'power tiller' %}
                    <a href="{% url 'power-tiller' %}" class=" tools-products__heading--viewall ">
                        View All <i class="fas fa-arrow-right "></i>
                    </a>
                    {% elif cat.name|lower == 'power reaper' %}
                    <a href="{% url 'power-reaper' %}" class=" tools-products__heading--viewall ">
                        View All <i class="fas fa-arrow-right "></i>
                    </a>
                    {% elif cat.name|lower == 'earth auger' %}
                    <a href="{% url 'earth-auger' %}" class=" tools-products__heading--viewall ">
                        View All <i class="fas fa-arrow-right "></i>
                    </a>
                    {% elif cat.name|lower == 'mowers & trimmers' %}
                    <a href="{% url 'mowers-trimmers' %}" class=" tools-products__heading--viewall ">
                        View All <i class="fas fa-arrow-right "></i>
                    </a>
                    {% elif cat.name|lower == 'accessories' %}
                    <a href="{% url 'accessories' %}" class=" tools-products__heading--viewall ">
                        View All <i class="fas fa-arrow-right "></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 ">
                <div class="tools-products__block ">
                    {% for tool in cat.tools_set.all|slice:5 %}
                    <div class="tools-products__main ">
                        <div class="tools-products__main--inner ">
                            <a href=" ">
                                {% for img in tool.image.all|slice:1 %}
                                <div class="tools-products__main--img ">
                                    <img style="width: 100%;" class=" " src="{{ img.image.url }} " alt="Tools ">
                                </div>
                                {% endfor %}
                            </a>
                            <div class="tools-products__main--content ">
                                <a href=" ">
                                    <p class="tools-products__main--content---title ">{{ tool.name }}</p>
                                </a>
                                <p class="tools-products__main--content---price ">Price: Rs.{{ tool.price }}</p>
                                <a href="{% url 'tool-detail' tool.id  %} " class="btn btn-outline-theme-light btn-block ">Check Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<hr class="section-divider ">


<section class="description ">
    <div class="container ">
        <h5 class="description__title ">TOOLS DESCRIPTION</h5>
        <p class="description__detail ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock %} {% block script %}
<script>
    $('.slider-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        dots: false,
        navText: [
            '<i class="fa fa-angle-left " aria-hidden="true "></i>',
            '<i class="fa fa-angle-right " aria-hidden="true "></i>'
        ],
        navContainer: '.tractor-year__container .tractor-content-nav',
        responsive: {
            0: {
                items: 1
            },
            1000: {
                items: 1
            }
        }
    })
</script>
{% endblock %}