{% extends "tool/toolLayout/tool_base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} | Tool Detail{% endblock %} {% block static %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractors">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__SingleSlider">
                    <!-- main Slider -->
                    <div class="tractors__sliderMain">
                        <div class="tractor-year__container">
                            <div id="tractorMainSlider" class="singleSlider owl-carousel owl-theme fancynewtractorGaller">
                                <!-- repeat item showing only 3 item -->
                                {% for img in tool_detail.image.all %}
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{ img.image.url }}">
                                            <img src="{{ img.image.url }}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="tractor-content-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tractors__thumbnail">
                        <div class="tractor-year__container">
                            <div class="thumbnail owl-carousel owl-theme" id="tractorThumbSlider">
                                <!-- showing only 3 item  -->
                                {% for img in tool_detail.image.all %}

                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{ img.image.url }}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__description tool__description">
                    <h4 class="tractors__description--title">
                        {{ tool_detail.name }}
                    </h4>
                    <p class="tractors__description--price">Nrs: {{ tool_detail.price }}</p>
                    <div class="tool__description--table">
                        <p class="tool__description--inner">
                            <span class="tool__description--heading">SKU</span><span>{{ tool_detail.model }}</span>
                        </p>
                        <p class="tool__description--inner">
                            <span class="tool__description--heading">Brand</span><span>{{ tool_detail.brand }}</span>
                        </p>
                        <p class="tool__description--inner">
                            <span class="tool__description--heading">Category</span><span><a href="">{{ tool_detail.category }}</a></span>
                        </p>
                        <p class="tool__description--inner">
                            <span class="tool__description--heading">Availibility</span><span>{{ tool_detail.status }}</span>
                        </p>
                    </div>
                    <div class="getBestOffer">
                        <a href="#" class="btn btn-theme-tool px-4 f-14 ">Get Best Offer</a>
                    </div>
                    <div class="accordion tractors__accordion" id="accordionExample">
                        <div class="card tractors__accordion--card">
                            <div class="card-header" id="headingOne">
                                <a class="btn btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Description
                              </a>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>{{ tool_detail.description|safe }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card tractors__accordion--card">
                            <div class="card-header" id="headingTwo">
                                <a class="btn btn-block collapsed " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Technical Specification
                              </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table class="table table-bordered" cellpadding="1" cellspacing="1">
                                        <tbody>
                                            <tr>
                                                <td><strong>Thickness</strong></td>
                                                <td>{{ tool_detail.thickness }} GSM</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Size </strong></td>
                                                <td>{{ tool_detail.size }} Feet&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Colour</strong></td>
                                                <td>{{ tool_detail.color }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block">
                <div class="tractors__ad">
                    <img src="{% static 'images/eicher.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- similar -->
<section class="tools-products backgroundBgGrey">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tools-products__heading">
                    <h4 class="tools-products__heading--title">Similar Tools</h4>
                </div>
            </div>
            <div class="col-12 ">
                <div class="tools-products__block ">
                    {% if tool_detail.category.tools_set.count > 1 %}
                    {% for similar in tool_detail.category.tools_set.all %}
                    {% if similar != tool_detail %}
                    <div class="tools-products__main ">
                        <div class="tools-products__main--inner ">
                            <a href=" ">
                                {% for img in similar.image.all|slice:1 %}
                                <div class="tools-products__main--img ">
                                    <img style="width: 100%;" src="{{ img.image.url }} " alt="Tools ">
                                    <span class="tools-products__main--info">{{ similar.category }}</span>
                                </div>
                                {% endfor %}
                            </a>
                            <div class="tools-products__main--content ">
                                <a href=" ">
                                    <p class="tools-products__main--content---title ">{{ similar.name }}</p>
                                </a>
                                <p class="tools-products__main--content---price ">Price: Rs.{{ similar.price }}</p>
                                <a href="{% url 'tool-detail' similar.id %} " class="btn btn-outline-theme-light btn-block ">Check Details</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <div>
                        <h3>Oops!!! Sorry</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var bigimage = $("#tractorMainSlider");
        var thumbs = $("#tractorThumbSlider");
        var syncedSecondary = true;
        bigimage.owlCarousel({
            items: 1,
            slideSpeed: 9000,
            nav: true,
            autoplay: true,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navContainer: '.tractor-year__container .tractor-content-nav',
            navText: ["<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        }).on("changed.owl.carousel", syncPosition);
        thumbs.on("initialized.owl.carousel", function() {
            thumbs.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
            items: 3,
            dots: false,
            nav: false,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: 3,
            responsiveRefreshRate: 100,
        }).on("changed.owl.carousel", syncPosition2);
        // thumbnail image
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumbs.find(".owl-item").removeClass("current").eq(current).addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs.find(".owl-item.active").first().index();
            var end = thumbs.find(".owl-item.active").last().index();
            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }
        thumbs.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });

        // image zoom on click
        $('.fancynewtractorGaller').fancybox({
            selector: '.owl-item:not(.cloned) .fancynewtractor',
            hash: false,
            thumbs: {
                autoStart: false
            },
            autoFocus: false,
            trapFocus: false,
            spinnerTpl: '<div class="fancybox-loading"></div>',
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                //"fullScreen",
                //"download",
                // "thumbs",
                "close"
            ]
        });
    })
</script>
{% endblock %}