{% extends "layout/base.html" %} {% load humanize %}
{% load mathfilters %}

<!--  -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractors">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__SingleSlider">
                    <!-- main Slider -->
                    <div class="tractors__sliderMain">
                        <div class="tractor-year__container">
                            <div id="tractorMainSlider" class="singleSlider owl-carousel owl-theme fancynewtractorGaller">
                                <!-- repeat item showing only 3 item -->
                                {% for img in harvester.image.all %}
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{ img.image.url }}">
                                            <img src="{{ img.image.url }}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="tractor-content-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tractors__thumbnail">
                        <div class="tractor-year__container">
                            <div class="thumbnail owl-carousel owl-theme" id="tractorThumbSlider">
                                <!-- showing only 3 item  -->
                                {% for img in harvester.image.all %}
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{ img.image.url }}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__description">
                    <h4 class="tractors__description--title">
                        {{ harvester.brand }} {{ harvester.model }}
                    </h4>
                    <ul class="specTableList">
                        <li>
                            <h5><span>Brand</span> <a href=""> {{ harvester.brand }}</a></h5>
                        </li>
                        <li>
                            <h5><span>Model Name</span> {{ harvester.model }}</h5>
                        </li>
                        <li>
                            <h5>
                                <span>Power</span> {{ harvester.power }}
                            </h5>
                        </li>
                        <li>
                            <h5><span>Cutter Bar – Width </span> {{ harvester.cutter_bar_width }} FEET</h5>
                        </li>
                        <li>
                            <h5><span>No Of Cylinder</span> {{ harvester.engine.no_of_cylinder}}</h5>
                        </li>
                        <li>
                            <h5><span>Power Source</span> {{ harvester.power_source }}
                            </h5>
                        </li>
                        <li>
                            <h5><span>Crop</span> {{ harvester.crop }}
                            </h5>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-theme-light f-14">Get Best Price</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block">
                
                <div class="tractors__ad">
                    <img src="{% static 'images/eicher.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-fullDetail">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-dark-theme f-bold mb-3">{{ harvester.brand }} {{ harvester.model }} Harvester Features</h4>
                <div class="tractor-fullDetail__card mb-0">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Overview</h5>
                    </div>
                    <div class="harvesterFullDetail-block">
                        <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
                            <tbody>
                                <tr>
                                    <td colspan="7"><strong>Technical Specification&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Engine&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Model</td>
                                    <td colspan="5">{{ harvester.engine.model }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Power&nbsp;</td>
                                    <td colspan="5">{{ harvester.engine.power }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">No. of Cylinder&nbsp;</td>
                                    <td colspan="5">{{ harvester.engine.no_of_cylinder }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Air Cleaner&nbsp;</td>
                                    <td colspan="5">{{ harvester.engine.air_cleaner }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Cooling System&nbsp;</td>
                                    <td colspan="5">{{ harvester.engine.cooling_system }}</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Clutch&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Type&nbsp;</td>
                                    <td colspan="5">{{ harvester.clutch.clutch_type }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Diameter (mm)</td>
                                    <td colspan="5">{{ harvester.clutch.diameter }}&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Transmission&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">No. Of Gears&nbsp;</td>
                                    <td colspan="2">3 Forward + 1 Reverse&nbsp;</td>
                                    <td colspan="3">4 Forward + 1 Reverse&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Gear Speed (km/hr)</td>
                                    <td colspan="2">&nbsp;</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Forward&nbsp;</td>
                                    <td>L</td>
                                    <td>H</td>
                                    <td>L</td>
                                    <td>H</td>
                                </tr>
                                <tr>
                                    <td colspan="2">1st Gear&nbsp;</td>
                                    {% if harvester.transmission.forward_gear|add:"0" == 3 %}
                                    <td>{{ harvester.transmission.first_gear_low}}</td>
                                    <td>{{ harvester.transmission.first_gear_high }}</td>
                                    {% else %}
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    {% endif %}
                                    {% if harvester.transmission.forward_gear|add:"0" == 4 %}
                                    <td>{{ harvester.transmission.first_gear_low }}</td>
                                    <td>{{ harvester.transmission.first_gear_high }}</td>
                                    {% else %}
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td colspan="2">2nd Gear&nbsp;</td>
                                    {% if harvester.transmission.forward_gear|add:"0" == 3 %}
                                    <td>{{ harvester.transmission.second_gear_low}}</td>
                                    <td>{{ harvester.transmission.second_gear_high }}</td>
                                    {% else %}
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    {% endif %}
                                    {% if harvester.transmission.forward_gear|add:"0" == 4 %}
                                    <td>{{ harvester.transmission.second_gear_low }}</td>
                                    <td>{{ harvester.transmission.second_gear_high }}</td>
                                    {% else %}
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td colspan="2">3rd Gear&nbsp;</td>
                                    {% if harvester.transmission.forward_gear|add:"0" == 3 %}
                                    <td>{{ harvester.transmission.third_gear_low}}</td>
                                    <td>{{ harvester.transmission.third_gear_high }}</td>
                                    {% else %}
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    {% endif %}
                                    {% if harvester.transmission.forward_gear|add:"0" == 4 %}
                                    <td>{{ harvester.transmission.third_gear_low }}</td>
                                    <td>{{ harvester.transmission.third_gear_high }}</td>
                                    {% else %}
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td colspan="2">4th Gear&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>{{ harvester.transmission.fourth_gear_low }}</td>
                                    <td>{{ harvester.transmission.fourth_gear_high }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Reverse&nbsp;</td>
                                    {% if harvester.transmission.forward_gear|add:"0" == 3 %}
                                    <td>{{ harvester.transmission.reverse_gear_low}}</td>
                                    <td>{{ harvester.transmission.reverse_gear_high }}</td>
                                    {% else %}
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    {% endif %}
                                    {% if harvester.transmission.forward_gear|add:"0" == 4 %}
                                    <td>{{ harvester.transmission.reverse_gear_low }}</td>
                                    <td>{{ harvester.transmission.reverse_gear_high }}</td>
                                    {% else %}
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Cutter Bar&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span style="color:#e74c3c">For Wheat, Paddy &amp; Others&nbsp;</span></td>
                                    <td colspan="5">{{ harvester.cutter_bar.wheat }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Width (mm)</td>
                                    <td colspan="5">{{ harvester.cutter_bar.width_for_wheat }} Feet ({{ harvester.cutter_bar.width_for_wheat|add:"0"|div:3.28084|floatformat:2}}m)</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Cutting Height (mm)</td>
                                    <td colspan="5">{{ harvester.cutter_bar.clutting_height }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">No. of Blades&nbsp;</td>
                                    <td colspan="5">{{ harvester.cutter_bar.blades }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">No. of Gaurds&nbsp;</td>
                                    <td colspan="5">{{ harvester.cutter_bar.guards }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Stroke (mm)</td>
                                    <td colspan="5">{{ harvester.cutter_bar.stroke }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Reel (rpm)</td>
                                    <td colspan="5">{{ harvester.cutter_bar.reel }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Dia (mm)</td>
                                    <td colspan="5">{{ harvester.cutter_bar.diameter }}&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span style="color:#e74c3c">For Maize &amp; Sunflower&nbsp;</span></td>
                                    <td colspan="5">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Width&nbsp;</td>
                                    <td colspan="5">
                                        <div>{{ harvester.cutter_bar.maize }} Feet ({{ harvester.cutter_bar.maize|add:"0"|div:3.28|floatformat:2}}m), 
                                            {{ harvester.cutter_bar.width_for_maize }} Feet ({{ harvester.cutter_bar.width_for_maize|add:"0"|div:3.28|floatformat:2}}m)</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>No.of Rows&nbsp;</td>
                                    <td>Front (mm)</td>
                                    <td colspan="5">{{ harvester.cutter_bar.no_of_rows }}&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Spacing of Rows&nbsp;</td>
                                    <td>Read (mm)</td>
                                    <td colspan="5">{{ harvester.cutter_bar.row_spacing }}</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Threshing Mechanism</strong>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Thresher Drum&nbsp;</td>
                                    <td><strong>Wheat (Rasp Bar)</strong></td>
                                    <td><strong>Paddy (Peg Tooth )</strong></td>
                                    <td colspan="3"><strong>Maize (Rasp Bar)</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Width (mm)</td>
                                    <td>{{ harvester.threshing_drum.width_for_wheat }}</td>
                                    <td>{{ harvester.threshing_drum.width_for_paddy }}</td>
                                    <td colspan="3">{{ harvester.width_for_maize }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Diameter of Drum&nbsp;</td>
                                    <td>{{ harvester.threshing_drum.diameter_for_wheat }}</td>
                                    <td>{{ harvester.threshing_drum.diameter_for_paddy }}</td>
                                    <td colspan="3">{{ harvester.threshing_drum.diameter_for_maize }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Speed (rpm)</td>
                                    <td colspan="2">{{ harvester.threshing_drum.speed_from }}-{{ harvester.threshing_drum.speed_to }}</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Speed Adjustment&nbsp;</td>
                                    {% if harvester.threshing_drum.mechanical_adjustment %}
                                    <td colspan="5">By means of Mechanical Variator&nbsp;</td>
                                    {% else %}
                                    <td colspan="5">-</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Concave&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Clearance&nbsp;</td>
                                    <td><strong>Wheat (Rasp Bar)</strong></td>
                                    <td><strong>Paddy (Peg Tooth )</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Front (mm)</td>
                                    <td>{{ harvester.concave.front_wheat_clearance }}</td>
                                    <td>{{ harvester.concave.front_paddy_clearance}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Rear (mm)</td>
                                    <td>{{ harvester.concave.rear_wheat_clearance }}</td>
                                    <td>{{ harvester.concave.rear_paddy_clearance}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Adjustment</td>
                                    {% if harvester.concave.adjustment %}
                                    <td colspan="5">Mechanical&nbsp;</td>
                                    {% else %}
                                    <td colspan="5">-</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Straw Walker&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">No.of Straw Walker&nbsp;</td>
                                    <td colspan="5">{{ harvester.straw_walker.no_of_straw_walker }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">No.of Steps&nbsp;</td>
                                    <td colspan="5">{{ harvester.straw_walker.no_of_steps }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Width (mm)</td>
                                    <td colspan="5">{{ harvester.straw_walker.width }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Length (mm)</td>
                                    <td colspan="5">{{ harvester.straw_walker.length }}</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Cleaning Sieves&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Area&nbsp;</td>
                                    <td colspan="5">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Upper Sieve Area (m<sup>2)</sup></td>
                                    <td colspan="5">{{ harvester.cleaning_seives.upper_seive_area }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Lower Sieve Area (m<sup>2)</sup></td>
                                    <td colspan="5">{{ harvester.cleaning_seives.lower_seive_area }}</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Capacity&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Grain Tank (m<sup>2)</sup></td>
                                    <td colspan="5">{{ harvester.capacity.grain_tank }}&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Fuel Tank (ltr.)</td>
                                    <td colspan="5">{{ harvester.capacity.fuel_tank }}</td>
                                </tr>
                                <tr>
                                    <td colspan="7"><strong>Battery&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">No. of Batteries&nbsp;</td>
                                    <td colspan="5">{{ harvester.battery.no_of_battery }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Capacity &amp; Rating of each&nbsp;</td>
                                    <td colspan="5">{{ harvester.battery.capacity_and_ratings }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Tyre&nbsp;</strong></td>
                                    <td colspan="2"><strong>Size&nbsp;</strong></td>
                                    <td colspan="3"><strong>Ply Rating</strong>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Front&nbsp;</td>
                                    <td colspan="2">{{ harvester.tyre.front_size }}</td>
                                    <td colspan="3">{{ harvester.tyre.front_ply_rating }} pr&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Rear</td>
                                    <td colspan="2">{{ harvester.tyre.rear_size }}</td>
                                    <td colspan="3">{{ harvester.tyre.rear_ply_rating }} pr&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Main Dimensions (Approx.)</strong></td>
                                    <td colspan="2" rowspan="1"><strong>In Working&nbsp;</strong></td>
                                    <td colspan="3" rowspan="1"><strong>In Transport&nbsp;</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Length (mm)</td>
                                    <td colspan="2">{{ harvester.main_dimension.working_length }}</td>
                                    <td colspan="3">{{ harvester.main_dimension.transport_length }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Width (mm)</td>
                                    <td colspan="2">{{ harvester.main_dimension.working_width }}</td>
                                    <td colspan="3">{{ harvester.main_dimension.transport_width }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Height (mm)</td>
                                    <td colspan="2">{{ harvester.main_dimension.working_height }}&nbsp;</td>
                                    <td colspan="3">{{ harvester.main_dimension.transport_height }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Ground Clearance (mm)</td>
                                    <td colspan="2">{{ harvester.main_dimension.working_ground_clearance }}</td>
                                    <td colspan="3">-</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Total Weight (kg)</td>
                                    <td colspan="2">-</td>
                                    <td colspan="3">{{ harvester.main_dimension.transport_total_weight }} Approx.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-year">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Similar Harvesters</h4>
        {% if harvesters %}
        <div class="tractor-content__container" id="usedTractorContainer">
            <div class="usedTractor-content-carousel owl-carousel owl-theme">
                {% for har in harvesters%}
                <div class="item">
                    <div class="cardTractor">
                        <div  class="cardTractor__header">
                            <div class="cardTractor__header---topRight">
                                <span>{{ har.power }}</span>
                            </div>
                            {% for img in harvester.image.all|slice:1 %}
                            <div class="cardTractor__header---imageContainer">
                                <img src="{{ img.image.url }}" class="img-fluid" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">{{ har.name }}</h6>
                            <p class="cardTractor__body---price">Cutting Width : {{ har.cutter_bar_width }} Feet</p>
                            <a href="{% url 'harvester-detail' har.id %}" class="btn btn-theme-light btn-block btn-sm">
                                <i class="fas fa-hand-point-right mr-2 rotate45"></i>{{ har.power_source }}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-theme-dark">View All Harvesters<i class="fas fa-chevron-circle-right ml-2"></i></button>
        </div>
        {% else %}
        
        <h4 class="tractor-year__title pb-4">Oops!!! Sorry, No Similar Harvester Available.</h4>
    
        {% endif %}
    </div>
</section>

<section class="disclaimer">
    <div class="container">
        <h5 class="mb-3">
            Disclaimer :-
        </h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe laborum, provident quibusdam consectetur laudantium, nam quo incidunt velit debitis vel harum repudiandae iure id facilis maiores suscipit facere. Impedit.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var bigimage = $("#tractorMainSlider");
        var thumbs = $("#tractorThumbSlider");
        var syncedSecondary = true;
        bigimage.owlCarousel({
            items: 1,
            slideSpeed: 9000,
            nav: true,
            autoplay: true,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navContainer: '.tractor-year__container .tractor-content-nav',
            navText: ["<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        }).on("changed.owl.carousel", syncPosition);
        thumbs.on("initialized.owl.carousel", function() {
            thumbs.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
            items: 3,
            dots: false,
            nav: false,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: 3,
            responsiveRefreshRate: 100,
        }).on("changed.owl.carousel", syncPosition2);
        // thumbnail image
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumbs.find(".owl-item").removeClass("current").eq(current).addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs.find(".owl-item.active").first().index();
            var end = thumbs.find(".owl-item.active").last().index();
            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }
        thumbs.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });

        // image zoom on click
        $('.fancynewtractorGaller').fancybox({
            selector: '.owl-item:not(.cloned) .fancynewtractor',
            hash: false,
            thumbs: {
                autoStart: false
            },
            autoFocus: false,
            trapFocus: false,
            spinnerTpl: '<div class="fancybox-loading"></div>',
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                //"fullScreen",
                //"download",
                // "thumbs",
                "close"
            ]
        });
    })
</script>
{% endblock %}