{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Harvester{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractor-year popular-tractor">
    <div class="container">
        <h4 class="tractor-year__title">Tractor Combine Harvesters</h4>
        <div class="row g-4">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="filterMain">
                    <div class="filterMainBackground">
                        <form action="{% url 'harvester' %}" method="GET">
                            <div class="newandUsedLinks">
                                <div class="newandUsedLinks-mobile d-block d-sm-block d-md-none d-lg-none">
                                    <div class="row">
                                        <div class="col-4"><a href="" title="Cancel">Cancel</a></div>
                                        <div class="col-4"><button type="reset" class="btn btn-block btn-reset">Reset</button></div>
                                        <div class="col-4"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>
                                    </div>
                                </div>
                                <div class="newandUsedLinks-desktop d-none d-sm-none d-md-block d-lg-block">
                                    <div class="row g-2">
                                        <div class="col-6"><a href="{% url 'harvester' %}"  class="btn btn-block btn-reset">Reset</a></div>
                                        <div class="col-6"><button type="submit" class="btn btn-block btn-theme-dark">Apply Filter</button></div>

                                    </div>
                                </div>
                            </div>

                            <div class="filterMain__listing">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                 BRANDS
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup">
                                                        <input id="harbrand" value="" type="hidden">
                                                        <!-- repeat formSelection-field -->
                                                        {% for brand in harvester_brands %}
                                                        <div class="formSelection-field">
                                                            <!-- input id and label for value need to be same -->
                                                            {% if brand.id|stringformat:"i" in filters.brands %}
                                                            <input name="harbrand" class="chbox harbrand" type="checkbox" value="{{ brand.id }}" id="dasmesh" checked>
                                                            {% else %}
                                                            <input name="harbrand" class="chbox harbrand" type="checkbox" value="{{ brand.id }}" id="dasmesh">
                                                            {% endif %}
                                                            <label class="form-check-label" for="dasmesh">
                                                                {{ brand.name }}<span>({{brand.harvester_set.count }}) </span>
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                 CUTTING WIDTH
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup formSelectionGroup-heightAuto">
                                                        <input  id="cutting" value="" type="hidden">
                                                        <div class="formSelection-field">
                                                            <input name="cutting" type="checkbox" class="chbox cutting" value="lessthan10"> 1 to 10
                                                        </div>
                                                        <div class="formSelection-field">
                                                            <input name="cutting" type="checkbox" class="chbox cutting" value="greternthan10"> 11 to 20
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                POWER SOURCE
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="formSelectionGroup formSelectionGroup-heightAuto">
                                                        <input  id="power" value="" type="hidden">
                                                        {% for power in powersource %}
                                                        <div class="formSelection-field">
                                                            {% if power.id|stringformat:"i" in filters.powers %}
                                                            <input name="power" multiple type="checkbox" class="chbox power" value="{{ power.id }}" checked>
                                                            {% else %}
                                                            <input name="power" multiple type="checkbox" class="chbox power" value="{{ power.id }}">
                                                            {% endif %}
                                                            <label class="form-check-label" for="dasmesh">
                                                                {{ power.power_source }} <span>({{ power.harvester_set.count }}) </span>
                                                            </label>
                                                             
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="sorting">
                    <div class="row g-2">
                        <div class="col-sm-12 align-self-center">
                            {% if object_list %}
                            <h5 class="sorting__title py-2">Harvester Found <span>{{object_list.count }}</span></h5>
                            {% else %}
                            <h5 class="sorting__title py-2">Harvester Not Found </h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    {% for harvester in object_list %}
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---topRight">
                                    <span>{{ harvester.power }}</span>
                                </div>
                                {% for img in harvester.image.all|slice:1 %}
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{{ img.image.url }}" class="img-fluid" alt="">
                                </div>
                                {% endfor %}
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">{{ harvester.name }}</h6>
                                <p class="cardTractor__body---price">Cutting Width : {{ harvester.cutter_bar_width }} Feet</p>
                                <a href="{% url 'harvester-detail' harvester.id %}" class="btn btn-theme-light btn-block btn-sm">
                                    <i class="fas fa-hand-point-right mr-2 rotate45"></i>{{ harvester.power_source}}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">Load More Harvester<i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">About Combine Harvester</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock%}