.table-striped tbody tr:nth-of-type(odd) {
    background: white;
}

.table-striped tbody tr:nth-of-type(even) {
    background: white;
}

table.table-bordered.dataTable tbody td {
    padding: 8px 12px;
    font-size: 14px;
    color: #4d4c4b;
    vertical-align: middle;
}

table.table-bordered.dataTable th {
    padding: 8px 12px;
    font-size: 15px;
    background-color: #009fde;
    color: #ffffff;
}

table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:after {
    bottom: 9px;
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 0px;
    border-top-width: 0;
}

.table-image {
    height: 50px;
    overflow: hidden;
}

.table-image img {
    max-height: 46px;
    object-fit: cover;
    border: 1px solid #ced4da;
    padding: .125rem;
}