{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Search {% endblock %}
<!--  Start of content -->
{% block content %}
<!-- Latest News -->
<section class="tractor-year latest">
    <div class="container">
        <h4 class="tractor-year__title">Your Search Result for '{{request.GET.key}}'</h4>
        <div class="newsblock">
            <div class="row">
                <div class="col-lg-8 col-xl-9">
                    <!-- trending News -->
                    <div class="trendingNews">
                        <div class="row">
                            {% for news in newss %}
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="{% url 'newsdetail' news.slug %}"><img src="{{news.image.url}}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="{% url 'newsdetail' news.slug %}"><span class="newsblock__contentBlock--category">{{news.newscategory}}</span></a>
                                        <a href="{% url 'newsdetail' news.slug %}">
                                            <p class="heading">{{news.title|truncatechars:150}}</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i>{{news.date|timesince}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="paginationBlock">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">..</a></li>
                            <li class="page-item"><a class="page-link" href="#">9</a></li>
                            <li class="page-item"><a class="page-link" href="#">10</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- side bar -->
                <div class="col-lg-4 col-xl-3">
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6> Search News</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            <form action="/news-search/" class="searchnewsForm">
                                <input type="text" placeholder="Type here .." name="key">
                                <button type="submit" class="btn btn-theme-dark">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6>Category</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            <ul class="categoryList">
                                {% for cn in newscats %}
                                <li><a href="{% url 'categorized-news' cn.slug %}"><i class="far fa-folder-open"></i> {{cn.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6> Popular Posts</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            {% for pp in popularposts %}
                            <div class="popularPosts__Block">
                                <div class="popularPosts__ImgBlock">
                                    <a href="{% url 'newsdetail' pp.slug %}">
                                        <img src="{{pp.image.url}}" class="img-fluid"></a>
                                </div>
                                <div class="popularPosts__contentBlock">
                                    <p class="popularPosts__Title"><a href="{% url 'newsdetail' pp.slug %}">{{pp.title}}</a></p>
                                    <p class="popularPosts__contentDate"><i class="fa fa-clock-o"></i> {{pp.date|date}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="fixedSidebarBlock">
                        <div class="sidebarBlock__heading">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Get updated about your tractors and farm implements</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>

{% endblock%}