{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Weather News{% endblock %}
<!--  Start of content -->
{% block content %}
<!-- Latest News -->
<section class="tractor-year latest">
    <div class="container">
        <h4 class="tractor-year__title">Weather News</h4>
        <div class="newsblock">
            <div class="row">
                <div class="col-lg-8 col-xl-9">
                    <!-- trending News -->
                    <div class="trendingNews">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-news.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-news.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-news.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-news.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-news.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock">
                                        <a href="#"><span class="newsblock__contentBlock--category">Weather News</span></a>
                                        <a href="#">
                                            <p class="heading">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> 01 August, 2020</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="paginationBlock">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">..</a></li>
                            <li class="page-item"><a class="page-link" href="#">9</a></li>
                            <li class="page-item"><a class="page-link" href="#">10</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- side bar -->
                <div class="col-lg-4 col-xl-3">
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6> Search News</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            <form action="" class="searchnewsForm">
                                <input type="text" placeholder="Type here .." name="">
                                <button type="submit" class="btn btn-theme-dark">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6>Category</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            <ul class="categoryList">
                                <li><a href="{% url 'tractor-news' %}"><i class="far fa-folder-open"></i> Tractor News</a></li>
                                <li><a href="{% url 'agriculture-news' %}"><i class="far fa-folder-open"></i> Agriculture News</a></li>
                                <li><a href="{% url 'weather-news' %}"><i class="far fa-folder-open"></i> Weather News</a></li>
                                <li><a href="{% url 'argi-business-news' %}"><i class="far fa-folder-open"></i> Agri Business</a></li>
                                <li><a href="{% url 'sarkari-yojana-news' %}"><i class="far fa-folder-open"></i> Sarkari Yojana News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebarBlock">
                        <div class="sidebarBlock__heading">
                            <h6> Popular Posts</h6>
                        </div>
                        <div class="sidebarBlock__content">
                            <div class="popularPosts__Block">
                                <div class="popularPosts__ImgBlock">
                                    <a href="#">
                                        <img src="{% static 'images/tractor-news.jpg' %}" class="img-fluid"></a>
                                </div>
                                <div class="popularPosts__contentBlock">
                                    <p class="popularPosts__Title"><a href="#">Sonalika Tractors Sells 8,219 Units In July, Up 72% On Year</a></p>
                                    <p class="popularPosts__contentDate"><i class="fa fa-clock-o"></i> 01 August, 2020</p>
                                </div>
                            </div>
                            <div class="popularPosts__Block">
                                <div class="popularPosts__ImgBlock">
                                    <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                </div>
                                <div class="popularPosts__contentBlock">
                                    <p class="popularPosts__Title"><a href="#">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</a></p>
                                    <p class="popularPosts__contentDate"><i class="fa fa-clock-o"></i> 01 August, 2020</p>
                                </div>
                            </div>
                            <div class="popularPosts__Block">
                                <div class="popularPosts__ImgBlock">
                                    <a href="#">
                                        <img src="{% static 'images/tractor-news.jpg' %}" class="img-fluid"></a>
                                </div>
                                <div class="popularPosts__contentBlock">
                                    <p class="popularPosts__Title"><a href="#">Sonalika Tractors Sells 8,219 Units In July, Up 72% On Year</a></p>
                                    <p class="popularPosts__contentDate"><i class="fa fa-clock-o"></i> 01 August, 2020</p>
                                </div>
                            </div>
                            <div class="popularPosts__Block">
                                <div class="popularPosts__ImgBlock">
                                    <a href="#"><img src="{% static 'images/tractor-newsred.jpg' %}" class="img-fluid"></a>
                                </div>
                                <div class="popularPosts__contentBlock">
                                    <p class="popularPosts__Title"><a href="#">Mahindra Tractor Hits "Highest Ever July Sales", Growth Of 28% Over Last Year</a></p>
                                    <p class="popularPosts__contentDate"><i class="fa fa-clock-o"></i> 01 August, 2020</p>
                                </div>
                            </div>
                            <div class="popularPosts__Block">
                                <div class="popularPosts__ImgBlock">
                                    <a href="#">
                                        <img src="{% static 'images/tractor-news.jpg' %}" class="img-fluid"></a>
                                </div>
                                <div class="popularPosts__contentBlock">
                                    <p class="popularPosts__Title"><a href="#">Sonalika Tractors Sells 8,219 Units In July, Up 72% On Year</a></p>
                                    <p class="popularPosts__contentDate"><i class="fa fa-clock-o"></i> 01 August, 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fixedSidebarBlock">
                        <div class="sidebarBlock__heading">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Get updated about your tractors and farm implements</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>

{% endblock%}