{% extends "layout/base.html" %}
<!--  load static-->
{% load static %}

<!-- title -->
{% block title %} | Tyre{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractor-year tyres">
    <div class="container">
        <h4 class="tractor-year__title">Searched Results</h4>
        <div class="tractor-content__container">
            <div class="populartyre-content-carousel owl-carousel owl-theme">
                {% for tyre in tyres %}
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topRight">
                                <span>{{ tyre.size }}</span>
                           </div>
                           {% for img in tyre.image.all|slice:1 %}
                            <div class="cardTractor__header---imageContainer">
                                <img src="{{img.image.url}}" class="img-fluid" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">{{ tyre.model_name }}</h6>
                            <p class="cardTractor__body---price">{{tyre.brand}} tyres</p>
                            <a href="{% url 'tyre-detail' tyre.id  %}" class="btn btn-theme-light btn-block btn-sm">
                                View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        <div class="text-center mt-3">
            <a href="{% url 'index' %}" class="btn btn-theme-dark">Go to home<i class="fas fa-chevron-circle-right ml-2"></i></a>
        </div>
    </div>
</section>

{% endblock %}
{% block script %}
<script src="{% static 'js/tyre.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/magnific-popup.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.headerVideoLink').magnificPopup({
            type: 'inline',
            midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
        });
        $('.toolandservices-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.smallSlider__container .custom-nav',
            responsive: {
                0: {
                    items: 2
                },

                600: {
                    items: 4
                },

                1000: {
                    items: 6
                }
            }
        })
        $('.slider-carousel').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            dots: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.tractor-year__container .tractor-content-nav',
            responsive: {
                0: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    });
</script>
{% endblock %}