{% extends "layout/base.html" %}
<!-- load static  -->
{% load static %}
<!-- title -->
{% block title %} | Compare Tyre {% endblock %}
<!--  Start of content -->
{% block content %}
<!-- <style>
    form {
        display: flex;
    }

    @media screen and (max-width:1080px){
        form {
            display:block;
        }
        
    }
</style> -->
<section class="compare-tractor">
    <div class="container">
        <h4 class="text-center mb-3">Compare Tyres</h4>
        <p class="text-center">Please select at least Two Tyres for comparison</p>
        <form action="{% url 'tyre-compare-result' %}" method="GET">
        <div class="row g-3">
            <div class="col-12 col-sm-12 col-md-4">
                <div class="compareMainBlocks">
                    <div class="compareMainBlocks__heading">
                        <p>Tyre 1</p>
                    </div>
                    <div class="compareMainBlocks__img">
                        <img id="output1" src="{% static 'images/tyre/upload-1582958019.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="compareMainBlocks__filter">
                        <div class="row">
                            <div class="col-6">
                                <select name = 'first_brand' class="form-select" id="tyrebrand1">
                                    <option selected disabled>Select Brand</option>
                                    {% for brand in brands %}
                                    <option value="{{ brand.brand }}">{{ brand.brand }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="first_model" data-target="#output1" class="form-select select-image" id="tyremodel1" disabled> 
                                    <option selected disabled>Select Model</option>
                                    {% for model in models %}
                                    {% for img in model.image.all|slice:1 %}
                                    <option data-value="{{ model.brand }}" data-src="{{ img.image.url }}" value="{{ model.model_name }}">{{ model.model_name }}</option>
                                    {% endfor %}
                                    {% endfor %}
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <div class="compareMainBlocks">
                    <div class="compareMainBlocks__heading">
                        <p>Tyre 2</p>
                    </div>
                    <div class="compareMainBlocks__img">
                        <img id="output2" src="{% static 'images/tyre/upload-1582958019.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="compareMainBlocks__filter">
                        <div class="row">
                            <div class="col-6">
                                <select name="second_brand" class="form-select" id="tyrebrand2" disabled>
                                    <option selected disabled>Select Brand</option>
                                    {% for brand in brands %}
                                    <option value="{{ brand.brand }}">{{ brand.brand }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="second_model" class="form-select select-image" data-target="#output2" id="tyremodel2" disabled> 
                                    <option selected disabled>Select Model</option>
                                    {% for model in models %}
                                    {% for img in model.image.all|slice:1 %}
                                    <option data-value="{{ model.brand }}" data-src="{{ img.image.url }}" value="{{ model.model_name }}">{{ model.model_name }}</option>
                                    {% endfor %}
                                    {% endfor %}
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <div class="compareMainBlocks">
                    <div class="compareMainBlocks__heading">
                        <p>Tyre 3</p>
                    </div>
                    <div class="compareMainBlocks__img">
                        <img id="output3" src="{% static 'images/tyre/upload-1582958019.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="compareMainBlocks__filter">
                        <div class="row">
                            <div class="col-6">
                                <select name="third_brand" class="form-select" id="tyrebrand3" disabled>
                                    <option selected disabled>Select Brand</option>
                                    {% for brand in brands %}
                                    <option value="{{ brand.brand }}">{{ brand.brand }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select name="third_model" class="form-select select-image" data-target="#output3" id="tyremodel3" disabled> 
                                    <option selected disabled>Select Model</option>
                                    {% for model in models %}
                                    {% for img in model.image.all|slice:1 %}
                                    <option data-value="{{ model.brand }}" data-src="{{ img.image.url }}" value="{{ model.model_name }}">{{ model.model_name }}</option>
                                    {% endfor %}
                                    {% endfor %}
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-theme-dark">Compare Tyre Now </button>
        </div>
    </form>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">COMPARE TRACTOR TYRES</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock%} {% block script %}
<script>
    $("#tyrebrand1").change(function() {
        if ($(this).data('options') == undefined) {
            $(this).data('options', $('#tyremodel1 option').clone());
        }
        var id = $(this).val();
        var options = $(this).data('options').filter('[data-value=' + id + ']');
        $('#tyremodel1').prop('disabled', false);
        $('#tyrebrand2').prop('disabled', false);
        $('#tyremodel1').html(options).show();
        $(this).parents('.row').find('.select-image').trigger('change')
    });
    $("#tyrebrand2").change(function() {
        if ($(this).data('options') == undefined) {
            $(this).data('options', $('#tyremodel2 option').clone());
        }
        var id = $(this).val();
        var options = $(this).data('options').filter('[data-value=' + id + ']');
        $('#tyremodel2').prop('disabled', false);
        $('#tyrebrand3').prop('disabled', false);
        $('#tyremodel2').html(options).show();
        $(this).parents('.row').find('.select-image').trigger('change')

    });
    $("#tyrebrand3").change(function() {
        if ($(this).data('options') == undefined) {
            $(this).data('options', $('#tyremodel3 option').clone());
        }
        var id = $(this).val();
        var options = $(this).data('options').filter('[data-value=' + id + ']');
        $('#tyremodel3').prop('disabled', false);
        $('#tyremodel3').html(options).show();
        $('#output3').val("#image3");
        $(this).parents('.row').find('.select-image').trigger('change')

    });
</script>
<script>
    $('body').on('change', '.select-image', function(){
        var img_src = $(this).children("option:selected").data('src')
        var img_target = $(this).data('target')
        console.log(img_src)
        $(img_target).attr('src',img_src)
    })

</script>
{% endblock %}