{% extends "layout/base.html" %}
<!--  load static-->
{% load static %}
{% load embed_video_tags %}

<!-- title -->
{% block title %} | Tyre{% endblock %}
<!--  Start of content -->
{% block content %}

<section class="content tyre">
    <div class="tractor-year__container slider-container">
        <div class="slider-carousel owl-carousel owl-theme">
            <div class="item">
                <img src="{% static 'images/slider/slider1.jpg' %}" class="img-fluid" alt="..." />
            </div>
            <div class="item">
                <img src="{% static 'images/slider/slider2.jpg' %}" class="img-fluid" alt="..." />
            </div>
            <div class="item">
                <img src="{% static 'images/slider/slider3.jpg' %}" class="img-fluid" alt="..." />
            </div>
        </div>
        <div class="owl-theme">
            <div class="owl-controls">
                <div class="tractor-content-nav owl-nav"></div>
            </div>
        </div>
    </div>

    <div class="find-tractor">
        <h4 class="find-tractor__title">Find Your Right Tyre</h4>
        <p>Where ever you are, you'll always find our dealership or service <br> network. Find the one that's nearest to you.</p>
        <form action="{% url 'tyre-search' %}" method="GET">
            <div class="row g-2">
                <div class="col-6">
                    <div class="mb-3">
                        <select class="form-select" name = 'brand'>
                            <option selected>Select Brand</option>
                        {% for tyre in t_brands %}
                            <option value="{{ tyre.id }}">{{tyre.brand}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <select class="form-select" name = 'size'>
                            <option>Select Size</option>
                            {% for size in sizes %}
                            <option value="{{ size }}">{{ size }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-theme-dark btn-block">Search Tyres <i class="fas fa-search ml-2"></i></button>
            </div>
        </form>
    </div>
</section>

<!-- slider -->
<section class="popularbyTyres">
    <div class="container">
        <h4 class="toolandservices__title">Popular Tyre Brands</h4>
        <div class="row">
            <div class="col-12">
                <div class="smallSlider__container">
                    <div class="popularbyTyres-carousel owl-carousel owl-theme">
                        {% for tb in t_brands %}
                        <div class="item">
                            <div class="toolandservices__img-container">
                                <img src="{{tb.image.url}}" class="img-fluid" />
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="custom-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- popular tyres -->
<section class="tractor-year tyres">
    <div class="container">
        <h4 class="tractor-year__title">Popular Tractor Tyres</h4>
        <div class="tractor-content__container" id="populartyre">
            <div class="populartyre-content-carousel owl-carousel owl-theme">
                {% for tyre in tyres %}
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topRight">
                                <span>{{ tyre.size }}</span>
                           </div>
                           {% for img in tyre.image.all|slice:1 %}
                            <div class="cardTractor__header---imageContainer">
                                <img src="{{img.image.url}}" class="img-fluid" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">{{ tyre.model_name }}</h6>
                            <p class="cardTractor__body---price">{{tyre.brand}} tyres</p>
                            <a href="{% url 'tyre-detail' tyre.id  %}" class="btn btn-theme-light btn-block btn-sm">
                                View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-theme-dark">View All Tyres<i class="fas fa-chevron-circle-right ml-2"></i></button>
        </div>
    </div>
</section>
<hr class="section-divider">
<!-- front tyres -->
<section class="tractor-year tyres">
    <div class="container">
        <h4 class="tractor-year__title">Front Tyres</h4>
        <ul class="nav nav-tabs customNavtab justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sixtyre" role="tab" aria-controls="sixtyre" aria-selected="true">6.00 X 16</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sixandhalfTyre" role="tab" aria-controls="sixandhalfTyre" aria-selected="false">6.50 X 16</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sevenandhaldTyre" role="tab" aria-controls="sevenandhaldTyre" aria-selected="false">7.50 X 16</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="sixtyre" role="tabpanel" aria-labelledby="sixtyre-tab">
                <div class="tractor-content__container" id="frontsixtyre">
                    <div class="frontsixtyre-content-carousel owl-carousel owl-theme">
                        {% for ft in f_tyres %}
                        {% if ft.size == '6.00 X 16'%}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ ft.size }}</span>
                                    </div>
                                    {% for img in ft.image.all|slice:1 %}
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ img.image.url }}" class="img-fluid" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ ft.model_name }}</h6>
                                    <p class="cardTractor__body---price">{{ft.brand}} Tyres</p>
                                    <a href="{% url 'tyre-detail' ft.id  %}" class="btn btn-theme-light btn-block btn-sm">
                                        View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">View All Tyres<i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
            </div>
            <div class="tab-pane fade" id="sixandhalfTyre" role="tabpanel" aria-labelledby="sixandhalfTyre-tab">
                <div class="tractor-content__container" id="frontsixhalftyre">
                    <div class="frontsixhalftyre-content-carousel owl-carousel owl-theme">
                        {% for ft in f_tyres %}
                        {% if ft.size == '6.50 X 16'%}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ ft.size }}</span>
                                    </div>
                                    {% for img in ft.image.all|slice:1 %}
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ img.image.url }}" class="img-fluid" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ ft.model_name }}</h6>
                                    <p class="cardTractor__body---price">{{ft.brand}} Tyres</p>
                                    <a href="{% url 'tyre-detail' ft.id  %}" class="btn btn-theme-light btn-block btn-sm">
                                        View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">View All Tyres<i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
            </div>
            <div class="tab-pane fade" id="sevenandhaldTyre" role="tabpanel" aria-labelledby="sevenandhaldTyre-tab">
                <div class="tractor-content__container" id="frontsevenhalftyre">
                    <div class="frontsevenhalftyre-content-carousel owl-carousel owl-theme">
                        {% for ft in f_tyres %}
                        {% if ft.size == '7.50 X 16'%}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ ft.size }}</span>
                                    </div>
                                    {% for img in ft.image.all|slice:1 %}
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ img.image.url }}" class="img-fluid" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ ft.model_name }}</h6>
                                    <p class="cardTractor__body---price">{{ft.brand}} Tyres</p>
                                    <a href="{% url 'tyre-detail' ft.id  %}" class="btn btn-theme-light btn-block btn-sm">
                                        View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">View All Tyres<i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="section-divider">

<!-- rear tyre -->
<section class="tractor-year tyres">
    <div class="container">
        <h4 class="tractor-year__title">Rear Tyres</h4>
        <ul class="nav nav-tabs customNavtab justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#twelveTyre" role="tab" aria-controls="twelveTyre" aria-selected="true">12.4 X 28</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#thirteenTyre" role="tab" aria-controls="thirteenTyre" aria-selected="false">13.6 X 28</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#fourteenTyre" role="tab" aria-controls="fourteenTyre" aria-selected="false">14.9 X 28</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="twelveTyre" role="tabpanel" aria-labelledby="twelveTyre-tab">
                <div class="tractor-content__container" id="reartwelveTyre">
                    <div class="reartwelveTyre-content-carousel owl-carousel owl-theme">
                        {% for bt in b_tyres %}
                        {% if bt.size == '12.4 X 28'%}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ bt.size }}</span>
                                    </div>
                                    {% for img in bt.image.all|slice:1 %}
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ img.image.url }}" class="img-fluid" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ bt.model_name }}</h6>
                                    <p class="cardTractor__body---price">{{bt.brand}} Tyres</p>
                                    <a href="{% url 'tyre-detail' bt.id %}" class="btn btn-theme-light btn-block btn-sm">
                                        View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">View All Tyres<i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
            </div>
            <div class="tab-pane fade" id="thirteenTyre" role="tabpanel" aria-labelledby="thirteenTyre-tab">
                <div class="tractor-content__container" id="rearthirteenTyre">
                    <div class="rearthirteenTyre-content-carousel owl-carousel owl-theme">
                        {% for bt in b_tyres %}
                        {% if bt.size == '13.6 X 28'%}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ bt.size }}</span>
                                    </div>
                                    {% for img in bt.image.all|slice:1 %}
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ img.image.url }}" class="img-fluid" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ bt.model_name }}</h6>
                                    <p class="cardTractor__body---price">{{bt.brand}} Tyres</p>
                                    <a href="{% url 'tyre-detail' bt.id %}" class="btn btn-theme-light btn-block btn-sm">
                                        View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">View All Tyres<i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
            </div>
            <div class="tab-pane fade" id="fourteenTyre" role="tabpanel" aria-labelledby="fourteenTyre-tab">
                <div class="tractor-content__container" id="rearfourteenTyre">
                    <div class="rearfourteenTyre-content-carousel owl-carousel owl-theme">
                        {% for bt in b_tyres %}
                        {% if bt.size == '14.9 X 28'%}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ bt.size }}</span>
                                    </div>
                                    {% for img in bt.image.all|slice:1 %}
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ img.image.url }}" class="img-fluid" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ bt.model_name }}</h6>
                                    <p class="cardTractor__body---price">{{bt.brand}} Tyres</p>
                                    <a href="{% url 'tyre-detail' bt.id %}" class="btn btn-theme-light btn-block btn-sm">
                                        View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">View All Tyres<i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="comapreTyresBanner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-4">Still Confused Which tyre is best. Compare tyres Now</h3>
                <a href="{% url 'tyre-compare' %}" class="btn btn-theme-dark">Comapre Tyres Now <i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="tractor-year tyres">
    <div class="container">
        <h4 class="tractor-year__title">Tyres Videos</h4>
        <div class="row g-4">
            {% for tyre_video in tyre_videos|slice:4 %}
            <div class="col-4 col-sm-4 col-md-4 col-xl-3">
                <div class="card video--card">
                        <div id="agriVideoPopup{{ag_video.id}}" class="mfp-hide embed-responsive embed-responsive-21by9">
                            <div class="header-video">
                                <p class="videoSection__content--title">{{ag_video.title}}</p>
                            </div>
                             {% video tyre_video.video %}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Tractor Tyres In Nepal</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock%} {% block script %}
<script src="{% static 'js/tyre.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/magnific-popup.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.headerVideoLink').magnificPopup({
            type: 'inline',
            midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
        });
        $('.toolandservices-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.smallSlider__container .custom-nav',
            responsive: {
                0: {
                    items: 2
                },

                600: {
                    items: 4
                },

                1000: {
                    items: 6
                }
            }
        })
        $('.slider-carousel').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            dots: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.tractor-year__container .tractor-content-nav',
            responsive: {
                0: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    });
</script>
{% endblock %}