{% extends "layout/base.html" %} {% load humanize %}
<!--  -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractors">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__SingleSlider">
                    <!-- main Slider -->
                    <div class="tractors__sliderMain">
                        <div class="tractor-year__container">
                            <div id="tractorMainSlider" class="singleSlider owl-carousel owl-theme fancynewtractorGaller">
                                <!-- repeat item showing only 3 item -->
                                {% for img in tyre.image.all %}
                                <div class="item">
                                    <div class="tractors_SingleSilder---block">
                                        <a class="fancynewtractor" data-fancybox="newgallery" href="{{ img.image.url }}">
                                            <img src="{{ img.image.url }}" class="img-fluid big_img" alt="" />
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="tractor-content-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tractors__thumbnail">
                        <div class="tractor-year__container">
                            <div class="thumbnail owl-carousel owl-theme" id="tractorThumbSlider">
                                <!-- showing only 3 item  -->
                                {% for img in tyre.image.all %}
                                <div class="item">
                                    <div class="tractors__thumbnail--item">
                                        <img src="{{ img.image.url }}" class="small_img" alt="">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="tractors__description">
                    <h4 class="tractors__description--title">
                        {{tyre.brand}} {{tyre.model_name}} {{ tyre.size }}(s)
                    </h4>
                    <ul class="specTableList">
                        <li>
                            <h5><span>Brand</span> <a href=""> {{tyre.brand}}</a></h5>
                        </li>
                        <li>
                            <h5><span>Model Name</span> {{tyre.model_name}}</h5>
                        </li>
                        <li>
                            <h5>
                                <span>Type</span> Tractor {{tyre.type}}
                            </h5>
                        </li>
                        <li>
                            <h5><span>Size</span> {{ tyre.size }}</h5>
                        </li>
                        <li>
                            <h5><span>Tyre Diameter</span> {{tyre.diameter}}</h5>
                        </li>
                        <li>
                            <h5><span>Tyre Width</span> {{tyre.width}}
                            </h5>
                        </li>
                        {% if tyre.ply_rating %}
                        <li>
                            <h5><span>Ply Rating</span> {{tyre.ply_rating}}
                            </h5>
                        </li>
                        {% else %}
                        <li>
                            <h5><span>Ply Rating</span> Not Available
                            </h5>
                        </li>
                        {% endif %}
                        {% if tyre.warrenty %}
                        <li>
                            <h5><span>Warrenty</span> {{tyre.warrenty}}
                            </h5>
                        </li>
                        {% else %}
                        <li>
                            <h5><span>Warrenty</span> Not Available
                            </h5>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-theme-light f-14 mr-2">Get The Best Price</a>
                        <a href="{% url 'tyre-compare' %}" class="btn btn-theme-light f-14">Compare</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block">
                <div class="tractors__ad">
                    <img src="{% static 'images/eicher.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tractor-fullDetail">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-dark-theme f-bold mb-3">{{tyre.brand}} {{tyre.model_name}} ({{ tyre.size }}) Tractor {{tyre.type.}}</h4>
                <div class="tractor-fullDetail__card mb-0">
                    <div class="tractor-fullDetail__card--header">
                        <h5 class="">Overview</h5>
                    </div>
                    <div class="tractor-fullDetail__card--body">
                        <p>{{tyre.overview|safe}}</p>

                        <h5 class="mt-3 mb-2 text-dark-theme f-bold">Features</h5>
                        <ul class="f-14">
                             {{tyre.feature|safe}}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tractor-year">
    <div class="container">
        <h4 class="tractor-year__title pb-4">Similar Tyres</h4>
        <div class="tractor-content__container" id="usedTractorContainer">
            <div class="usedTractor-content-carousel owl-carousel owl-theme">
                {% for similar in similar_tyre %}
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topRight">
                                <span>{{ similar.size }}</span>
                            </div>
                            {% for img in similar.image.all|slice:1 %}
                            <div class="cardTractor__header---imageContainer">
                                <img src="{{ img.image.url }}" class="img-fluid" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">{{ similar.model_name }}</h6>
                            <p class="cardTractor__body---price">{{similar.brand}} Tyres</p>
                            <a href="{% url 'tyre-detail' similar.id %}" class="btn btn-theme-light btn-block btn-sm">
                                View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-theme-dark">View All Tyres<i class="fas fa-chevron-circle-right ml-2"></i></button>
        </div>
    </div>
</section>

<section class="disclaimer">
    <div class="container">
        <h5 class="mb-3">
            Disclaimer :-
        </h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo saepe laborum, provident quibusdam consectetur laudantium, nam quo incidunt velit debitis vel harum repudiandae iure id facilis maiores suscipit facere. Impedit.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var bigimage = $("#tractorMainSlider");
        var thumbs = $("#tractorThumbSlider");
        var syncedSecondary = true;
        bigimage.owlCarousel({
            items: 1,
            slideSpeed: 9000,
            nav: true,
            autoplay: true,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navContainer: '.tractor-year__container .tractor-content-nav',
            navText: ["<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        }).on("changed.owl.carousel", syncPosition);
        thumbs.on("initialized.owl.carousel", function() {
            thumbs.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
            items: 3,
            dots: false,
            nav: false,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: 3,
            responsiveRefreshRate: 100,
        }).on("changed.owl.carousel", syncPosition2);
        // thumbnail image
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumbs.find(".owl-item").removeClass("current").eq(current).addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs.find(".owl-item.active").first().index();
            var end = thumbs.find(".owl-item.active").last().index();
            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }
        thumbs.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });

        // image zoom on click
        $('.fancynewtractorGaller').fancybox({
            selector: '.owl-item:not(.cloned) .fancynewtractor',
            hash: false,
            thumbs: {
                autoStart: false
            },
            autoFocus: false,
            trapFocus: false,
            spinnerTpl: '<div class="fancybox-loading"></div>',
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                //"fullScreen",
                //"download",
                // "thumbs",
                "close"
            ]
        });
    })
</script>
{% endblock %}