{% extends "layout/base.html" %}
<!-- load static  -->
{% load static %}
<!-- title -->
{% block title %} | Compare Tyre Result {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="compare-tractor">
    <div class="container">
        <h4 class="text-center mb-3">{{ tyre1.brand }} {{ tyre1.model_name }} {{ tyre1.size }} VS {{ tyre2.brand }} {{ tyre2.model_name }} {{ tyre2.size }} VS {{ tyre3.brand }} {{ tyre3.model_name }} {{ tyre3.size }}</h4>
        <div class="table-responsive compareTractorSingle-comparison">
            <table class="table">
                <tbody class="compareTractor-tractors">
                    <tr class="separator" colspan="5"></tr>
                    <tr>
                        <td>&nbsp;</td>
                        {% if tyre1 %}
                        <td>
                            <div class="newTractorRate-inner ">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ tyre1.size }}</span>
                                    </div>
                                    {% for img in tyre1.image.all|slice:1 %}
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ img.image.url }}" class="img-fluid" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ tyre1.model_name }}</h6>
                                    <p class="cardTractor__body---price">{{ tyre1.brand }} Tyres</p>
                                    <a href="{% url 'tyre-detail' tyre1.id %}" class="btn btn-theme-light btn-block btn-sm">
                                            View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                                        </a>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                        {% if tyre2 %}
                        <td>
                            <div class="newTractorRate-inner ">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ tyre2.size }}</span>
                                    </div>
                                    {% for img in tyre2.image.all|slice:1 %}
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ img.image.url }}" class="img-fluid" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ tyre2.model_name }}</h6>
                                    <p class="cardTractor__body---price">{{ tyre2.brand }} Tyres</p>
                                    <a href="{% url 'tyre-detail' tyre2.id %}" class="btn btn-theme-light btn-block btn-sm">
                                            View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                                        </a>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                        {% if tyre3 %}
                        <td>
                            <div class="newTractorRate-inner ">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topRight">
                                        <span>{{ tyre3.size }}</span>
                                    </div>
                                    {% for img in tyre3.image.all|slice:1 %}
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{ img.image.url }}" class="img-fluid" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{ tyre3.model_name }}</h6>
                                    <p class="cardTractor__body---price">{{ tyre3.brand }} Tyres</p>
                                    <a href="{% url 'tyre-detail' tyre3.id %}" class="btn btn-theme-light btn-block btn-sm">
                                            View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                                        </a>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                </tbody>

                <tbody class="compareTractor-para">
                    <tr class="separator" colspan="5"></tr>
                    <tr>
                        <td colspan="5">
                            <h6>{{ tyre1.brand }} {{ tyre1.model_name }} {{ tyre1.size }} VS {{ tyre2.brand }} {{ tyre2.model_name }} {{ tyre2.size }} VS {{ tyre3.brand }} {{ tyre3.model_name }} {{ tyre3.size }} Comparison</h6>
                            <p> Wish to compare {{ tyre1.brand }} {{ tyre1.model_name }} {{ tyre1.size }}, {{ tyre2.brand }} {{ tyre2.model_name }} {{ tyre2.size }} and {{ tyre3.brand }} {{ tyre3.model_name }} {{ tyre2.size }}, Find out which tyre is best for your tractor. The Size of {{ tyre1.brand }} {{ tyre1.model_name }} {{ tyre1.size }} is {{ tyre1.size }}, {{ tyre2.brand }} {{ tyre2.model_name }}
                                {{ tyre2.size }} is {{ tyre2.size }} and {{ tyre3.brand }} {{ tyre3.model_name }} {{ tyre3.size }} is {{ tyre3.size }}. The Tyre Diameter of {{ tyre1.brand }} {{ tyre1.model_name }} {{ tyre1.size }} is {{ tyre1.diameter }} MM, {{ tyre2.brand }} {{ tyre2.model_name }} {{ tyre2.size }} is {{ tyre2.diameter }} MM and {{ tyre3.brand }} {{ tyre3.model_name }} {{ tyre3.size }} is {{ tyre3.diameter }} MM.</p>
                        </td>
                    </tr>
                </tbody>

                <tbody class="compareTractor-specification">
                    <tr class="separator" colspan="5"></tr>
                    <tr class="compareTractorSingledetail-heading">
                        <td colspan="5">Comparison Overview</td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td>{{ tyre1.brand }}</td>
                        <td>{{ tyre2.brand }}</td>
                        <td>{{ tyre3.brand }}</td>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td>{{ tyre1.model_name }}</td>
                        <td>{{ tyre2.model_name }}</td>
                        <td>{{ tyre3.model_name }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ tyre1.type }}</td>
                        <td>{{ tyre2.type }}</td>
                        <td>{{ tyre3.type }}</td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td>{{ tyre1.size }}</td>
                        <td>{{ tyre2.size }}</td>
                        <td>{{ tyre3.size }}</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        {% if tyre1 %}
                        <td>Tractor</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% if tyre2 %}
                        <td>Tractor</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% if tyre3 %}
                        <td>Tractor</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Tyre Diameter</td>
                        {% if tyre1 %}
                        <td>{{ tyre1.diameter }} MM</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% if tyre2 %}
                        <td>{{ tyre2.diameter }} MM</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% if tyre3 %}
                        <td>{{ tyre3.diameter }} MM</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Tyre Width</td>
                        {% if tyre1 %}
                        <td>{{ tyre1.width }} MM</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% if tyre2 %}
                        <td>{{ tyre2.width }} MM</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% if tyre3 %}
                        <td>{{ tyre3.width }} MM</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Ply Rating</td>
                        {% if tyre1 %}
                        {% if tyre1.ply_rating %}
                        <td>{{ tyre1.ply_rating }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}

                        {% if tyre2 %}
                        {% if tyre2.ply_rating %}
                        <td>{{ tyre2.ply_rating }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}

                        {% if tyre3 %}
                        {% if tyre3.ply_rating %}
                        <td>{{ tyre3.ply_rating }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Warranty</td>
                        {% if tyre1 %}
                        {% if tyre1.warrenty %}
                        <td>{{ tyre1.warrenty }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}

                        {% if tyre2 %}
                        {% if tyre2.warrenty %}
                        <td>{{ tyre2.warrenty }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}

                        {% if tyre3 %}
                        {% if tyre3.warrenty %}
                        <td>{{ tyre3.warrenty }}</td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock%}