{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Tool{% endblock %}
<!-- content -->
{% block style %}
<style>{% include 'admin/documents/upload-file.css' %}</style>
{% endblock %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Tool Detail</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Tool Detail</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addbrandModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Tool Detail</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="brand-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Name</th>
                                <th>Brand</th>
                                <th>Category</th>
                                <th>Price(Nrs)</th>
                                <th>Model</th>
                                <th>Status</th>
                                <th>Thickness</th>
                                <th>Size</th>
                                <th>Color</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tool in tools %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ tool.name }}</td>
                                <td><span class="badge bg-success f-14 font-weight-400 text-white">{{ tool.brand }}</span></td>
                                <td><span class="badge bg-secondary f-14 font-weight-400 text-white">{{ tool.category }}</span></td>
                                <td>{{ tool.price }}</td>
                                <td>{{ tool.model }}</td>
                                <td>{{ tool.status }}</td>
                                <td>{{ tool.thickness }}</td>
                                <td>{{ tool.size }}</td>
                                <td>{{ tool.color }}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'tool-update' tool.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Edit"
                                        ><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'tool-delete' tool.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Delete"
                                          class="delete btn btn-transparent bg-white p-0">
                                          <i class="fas fa-trash text-danger"></i></button>
                                    </span>
                                    <span class="action-icon"><a href="{% url 'admin-tool-detail' tool.id %}"
                                        data-cooltipz-dir="bottom" class="btn btn-transparent bg-white p-0">
                                         <i class="fas fa-eye text-basic"></i></a>
                                   </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addbrandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="min-width: 750px;">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Tool Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Name</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image</label>
                        {% include 'admin/drop-box.html' %}
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="" class="tractor-label">Brand Name</label>
                                {{ form.brand }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="" class="tractor-label">Category</label>
                                {{ form.category }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="" class="tractor-label">Model</label>
                                {{ form.model }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="" class="tractor-label">Thickness(mm)</label>
                                {{ form.thickness }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="" class="tractor-label">Size</label>
                                {{ form.size }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mb-3">
                                <label for="" class="tractor-label">Color</label>
                                {{ form.color }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="" class="tractor-label">Price</label>
                                {{ form.price }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label for="" class="tractor-label">Status</label>
                                {{ form.status }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Description</label>
                        {{ form.description }}
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Tool Detail</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#brand-table').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
<script>{% include 'admin/documents/upload-file.js' %}</script>

{% endblock %}
