{% extends "layout/base.html" %} {% load humanize %}
<!--  -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="review-pagebanner">
    <div class="banner-pagedetail">
        <div class="review-container-mid">
            <div class="row">
               
                <div class="col-12">
                    <h1 class="">{{tractor.name|upper}}-{{tractor.model|upper}} Reviews</h1>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section class="allTractorReviews">
    <div class="review-container-mid">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                {% if reviews %}
                {% for review in reviews %}
                
                <div class="tractor-fullDetail__card">
                    <div class="tractor-fullDetail__card--body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="review-user-logo" src="{% static 'images/user.png' %}" alt="">
                            </div>
                            <div class="col-md-9">
                        <div class="no-review">
                            <p>{{review.user}}</p>
                            <p>
                            {% if review.rate == 1 %}
                                 <span class="fa fa-star"></span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            {% elif review.rate == 2 %}
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            {% elif review.rate == 3 %}
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            {% elif review.rate == 4 %}
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <i class="far fa-star"></i>
                            {% elif review.rate == 5 %}
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            {% endif %}
                        </p>
                            <p>{{review.description}}</p>
                        </div>
                    </div>
                    </div>
                </div>
                

            </div>
            {% endfor %}
            {% else %}
        <p class="no-review-section">No review</p>
        {% endif %}
           
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="tractor-fullDetail__card">
                <div class="popular-tractor-title">
                    <h5 class="">Popular Tractors</h5>
                </div>
                {% if popular_tractors %}
                <div class="row g-4" id="new">
                    {% for tractor in popular_tractors %}
                    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="cardTractor">
                            <div class="cardTractor__header">
                                <div class="cardTractor__header---topLeft">
                                    <span><i class="fas fa-bolt mr-2"></i>{{tractor.engine.hp|floatformat:"0"}} HP</span>
                                </div>
                                <div class="cardTractor__header---topRight">
                                    <span>{{tractor.wheel_tyre.wheel_drive}} WD</span>
                                </div>
                                <div class="cardTractor__header---imageContainer">
                                    <img src="{{tractor.image.left_image.url}}" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="cardTractor__body">
                                <h6 class="cardTractor__body---tractorName">{{tractor.name}} {{tractor.model}}</h6>
                                <p class="cardTractor__body---price">Nrs. {{tractor.price}}</p>
                                <p class="cardTractor__body---rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i> (10 Reviews)</p>
                                <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                <a href="{% url 'tractor-detail' tractor.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="tractor-fullDetail__card--body f-14">

                </div>
            </div>
            <div class="dealer-location">
               
            </div>
        </div>
        
    </div>

</section>


{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var bigimage = $("#tractorMainSlider");
        var thumbs = $("#tractorThumbSlider");
        var syncedSecondary = true;
        bigimage.owlCarousel({
            items: 1,
            slideSpeed: 9000,
            nav: true,
            autoplay: true,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navContainer: '.tractor-year__container .tractor-content-nav',
            navText: ["<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        }).on("changed.owl.carousel", syncPosition);
        thumbs.on("initialized.owl.carousel", function() {
            thumbs.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
            items: 3,
            dots: false,
            nav: false,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: 3,
            responsiveRefreshRate: 100,
        }).on("changed.owl.carousel", syncPosition2);
        // thumbnail image
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumbs.find(".owl-item").removeClass("current").eq(current).addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs.find(".owl-item.active").first().index();
            var end = thumbs.find(".owl-item.active").last().index();
            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }
        thumbs.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });

        // image zoom on click
        $('.fancynewtractorGaller').fancybox({
            selector: '.owl-item:not(.cloned) .fancynewtractor',
            hash: false,
            thumbs: {
                autoStart: false
            },
            autoFocus: false,
            trapFocus: false,
            spinnerTpl: '<div class="fancybox-loading"></div>',
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                //"fullScreen",
                //"download",
                // "thumbs",
                "close"
            ]
        });
    })
</script>
{% endblock %}