{% extends "layout/base.html" %} {% load humanize %}
<!--  -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"> {% endblock %}
<!--  Start of content -->
{% block content %}
<section class="review-pagebanner">
    <div class="banner-pagedetail">
        <div class="review-container-mid">
            <div class="row">
                <div class="col-12">
                    <h1>Swaraj 744 Review</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="allTractorReviews">
    <div class="review-container-mid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                <div class="newtractorFullDetail-reviewBlock">
                    <div class="newtractorFullDetail-reviewBlock-img">
                        <img class="reviewBlock-img" src="{% static 'images/user.png'%}" alt="Nice Review">
                    </div>
                    <div class="newtractorFullDetail-reviewBlock-Content">
                        <p class="reviewBlock-username">Praveen</p>
                        <div class="reviewBlock-rating">
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="reviewBlock-para">
                            <p>Nice</p>
                        </div>
                    </div>
                </div>
            </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-5">
        <div class="popularTractor-Sidebar">
            <h2>Popular Tractors</h2>
            <div class="popularTractor-List">
                <div class="popularTractor-List-Img">
                    <img src="" alt="Force">
                </div>
                <div class="popularTractor-List-Content">
                    <a href=""><p class="popularTractor-List-title">Force Sanman 5000</p></a>
                    <ul>
                        <li>
                            <i class="fa fa-bolt"></i>"45 HP"
                        </li>
                        <li>
                            <i class="fa fa-cogs"></i>" CC: N/A"
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        </div>
        
    </div>

</section>


{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    $(document).ready(function() {
        var bigimage = $("#tractorMainSlider");
        var thumbs = $("#tractorThumbSlider");
        var syncedSecondary = true;
        bigimage.owlCarousel({
            items: 1,
            slideSpeed: 9000,
            nav: true,
            autoplay: true,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navContainer: '.tractor-year__container .tractor-content-nav',
            navText: ["<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        }).on("changed.owl.carousel", syncPosition);
        thumbs.on("initialized.owl.carousel", function() {
            thumbs.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
            items: 3,
            dots: false,
            nav: false,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: 3,
            responsiveRefreshRate: 100,
        }).on("changed.owl.carousel", syncPosition2);
        // thumbnail image
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            thumbs.find(".owl-item").removeClass("current").eq(current).addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs.find(".owl-item.active").first().index();
            var end = thumbs.find(".owl-item.active").last().index();
            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }
        thumbs.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });

        // image zoom on click
        $('.fancynewtractorGaller').fancybox({
            selector: '.owl-item:not(.cloned) .fancynewtractor',
            hash: false,
            thumbs: {
                autoStart: false
            },
            autoFocus: false,
            trapFocus: false,
            spinnerTpl: '<div class="fancybox-loading"></div>',
            buttons: [
                "zoom",
                //"share",
                "slideShow",
                //"fullScreen",
                //"download",
                // "thumbs",
                "close"
            ]
        });
    })
</script>
{% endblock %}