{% extends "layout/base.html" %}
<!--  -->
{% load static %}
{% load embed_video_tags %}
<!--  Start of content -->
<!-- Static block -->
{% block static %}
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" /> {% endblock %}
<!-- End of static block -->

{% block content %}

<!-- Content slider and form -->
<section class="content">
    <div class="tractor-year__container slider-container">
        <div class="slider-carousel owl-carousel owl-theme">
            {% for slide in slider %}
            <div class="item">
                <img src="{{slide.image1.url}}" class="img-fluid" alt="..." />
            </div>
            <div class="item">
                <img src="{{slide.image2.url}}" class="img-fluid" alt="..." />
            </div>
            <div class="item">
                <img src="{{slide.image3.url}}" class="img-fluid" alt="..." />
            </div>
            {% endfor %}
        </div>
        <div class="owl-theme">
            <div class="owl-controls">
                <div class="tractor-content-nav owl-nav"></div>
            </div>
        </div>
    </div>

    <div class="find-tractor">
        <h4 class="find-tractor__title">Find Your Right Tractor</h4>
        <ul class="nav nav-tabs find-tractor__nav-tabs  justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#newTractortoggle" role="tab" aria-controls="newTractortoggle" aria-selected="true">New Tractor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#usedTractortoggle" role="tab" aria-controls="usedTractortoggle" aria-selected="false">Used Tractor</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="newTractortoggle" role="tabpanel" aria-labelledby="newTractortoggle-tab">
                <form action="{% url 'new-tractors' %}" method="GET">
                    <fieldset>
                        <div class="mb-3">
                            <select class="form-select" name="hps">
                                <option value="" >Select Hp</option>
                                <option value="0-20">Up To 20 HP</option>
                                <option value="21-30">21-30 HP</option>
                                <option value="31-40">31-40 HP</option>
                                <option value="41-45">41-45 HP</option>
                                <option value="46-50">46-50 HP</option>
                                <option value="51-60">51-60 HP</option>
                                <option value="61-75">61-75 HP</option>
                                <option value="76-120">76 HP & Above</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="brand">
                                <option value="" >Select Brand</option>
                                {% for brand in brands %}
                                <option value="{{brand.id}}">{{brand.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-theme-dark btn-block">Search <i class="fas fa-search ml-2"></i></button>
                        </div>
                    </fieldset>
                </form>
                <div class="text-right f-12 text-dark-theme find-tractor__alltractor">
                    <a href="{% url 'new-tractors' %}">Find all Tractors</a>
                </div>
            </div>
            <div class="tab-pane fade" id="usedTractortoggle" role="tabpanel" aria-labelledby="usedTractortoggle-tab">
                <form action="{% url 'used-tractor' %}" method="GET">
                    <fieldset>
                        <div class="mb-3">
                            <select class="form-select" name="brand">
                                <option value="" >Select Brand</option>
                                {% for brand in old_tractor_brands %}
                                <option value="{{brand.name}}">{{brand.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" name="state">
                                <option value="" >Select State</option>
                                <option value="1">Province 1</option>
                                <option value="2">Province 2</option>
                                <option value="3">Bagmati</option>
                                <option value="4">Gandaki</option>
                                <option value="5">Lumbini</option>
                                <option value="6">Karnali</option>
                                <option value="7">Sudurpaschim</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-theme-dark btn-block">Search <i class="fas fa-search ml-2"></i></button>
                                </div>
                                <div class="col-6">
                                    <a href="{% url 'sell_tractor' %}" type="submit" class="btn btn-theme-light btn-block">Sell Tractor <i class="fas fa-angle-double-right ml-2"></i></a>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </form>
                <div class="text-right f-12 text-dark-theme find-tractor__alltractor">
                    <a href="{% url 'new-tractors' %}">Find all Tractors</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end content slider  -->

<!-- start recent views -->
<!-- <section class="recent-views">
    <div class="container">
        <h4 class="recent-views__title">Recently Viewed</h4>
        <div class="row g-3">
            <div class="col-12">
                <div class="recent-views__container">
                    {% for recent_viewed_tractor in new_tractors%}
                    <div class="card">
                        <div class="recent-views__img-container border-bottom">
                            <img src="{{recent_viewed_tractor.image.left_image.url}}" class="img-fluid" alt="...">
                        </div>

                        <div class="card-body p-2">
                        <p class="card-text">Some quick example text to</p>
                            <div class="text-center">
                                <a href="#" class="btn btn-theme-light rounded-pill mb-2">New Tractor</a>
                                <a href="{% url 'tractor-detail' recent_viewed_tractor.id %}" class="btn btn-outline-dark btn-block">View Detail</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- end recent views -->

<!-- start tractor 2020 -->
<section class="tractor-year">
    <div class="container">
        <h4 class="tractor-year__title">Tractors in 2020</h4>
        <ul class="nav nav-tabs customNavtab justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Popular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false">Latest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="false">Upcoming</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                {% if popular_tractors %}
                <div class="tractor-content__container" id="popularTractor">
                    <div class="popular-content-carousel owl-carousel owl-theme">
                        {% for popular_tractor in popular_tractors %}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>{{popular_tractor.engine.hp|floatformat:"0"}} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>{{popular_tractor.wheel_tyre.wheel_drive}} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{popular_tractor.image.left_image.url}}" class="img-fluid" alt="{{img.new_tractor.name}}">
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{popular_tractor.name}} {{popular_tractor.model}}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{popular_tractor.price}}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (10 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="{% url 'tractor-detail' popular_tractor.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a class="btn btn-theme-dark btn-lg" href="{% url 'popular-tractors' %}">View All Popular Tractors<i class="fas fa-chevron-circle-right ml-2"></i></a>
                </div>
                {% else %}
                <h3>No popular tractor available.</h3>
                {% endif %}
            </div>

            <!-- latest tractor -->
            <div class="tab-pane fade" id="latest" role="tabpanel" aria-labelledby="latest-tab">
                {% if new_tractors %}
                <div class="tractor-content__container" id="latestTractor">
                    <div class="latest-content-carousel owl-carousel owl-theme">
                        {% for latest_tractor in new_tractors %}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>{{latest_tractor.engine.hp|floatformat:"0"}} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>{{latest_tractor.wheel_tyre.wheel_drive}} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{latest_tractor.image.left_image.url}}" class="img-fluid" alt="{{latest_tractor.new_tractor.name}}"> 
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{latest_tractor.name}} {{latest_tractor.model}}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{latest_tractor.price}}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (10 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="{% url 'tractor-detail' latest_tractor.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a class="btn btn-theme-dark btn-lg" href="{% url 'latest-tractors' %}">View All Latest Tractors<i class="fas fa-chevron-circle-right ml-2"></i></a>
                </div>
                {% else %}
                <h3>No latest tractor available.</h3>
                {% endif%}
            </div>

            <!-- upcoming tractor -->
            <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
                {% if upcoming_tractors %}
                <div class="tractor-content__container" id="upcomingTractor">
                    <div class="upcoming-content-carousel owl-carousel owl-theme">
                        {% for upcoming_tractor in upcoming_tractors %}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>{{upcoming_tractor.engine.hp|floatformat:"0"}} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>{{upcoming_tractor.wheel_tyre.wheel_drive}} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                                   <img src="{{upcoming_tractor.image.left_image.url}}" class="img-fluid" alt="{{upcoming_tractor.new_tractor.name}}"> 
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{upcoming_tractor.name}} {{upcoming_tractor.model}}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{upcoming_tractor.price}}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (10 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="{% url 'tractor-detail' upcoming_tractor.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-3">
                    <a class="btn btn-theme-dark btn-lg" href="{% url 'upcoming-tractors' %}">
                        View All Upcoming Tractors<i class="fas fa-chevron-circle-right ml-2"></i>
                    </a>
                </div>
                {% else %}
                <h3>No Upcoming tractor available.</h3>
                {% endif%}
            </div>
</section>
<!-- end tractor year 2020 -->

<!-- start tractor implements -->
<section class="tractor-implements">
    <div class="container">
        <h4 class="tractor-implements__title">Popular Tractor Implements</h4>
        <div class="popularImplements-content__container" id="popularImplementsTractor">
            <div class="popularImplements-content-carousel owl-carousel owl-theme">
                {% for pi in popular_implements|slice:6 %}
                <div class="item">
 
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topLeft">
                                <span>{{pi.implementcategory}}</span>
                            </div>
                            {% for img in pi.image.all|slice:1 %}
                            <div class="cardTractor__header---imageContainer">
                                <img src="{{img.image.url}}" class="img-fluid" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">{{pi.modelname}}</h6>
                            <p class="cardTractor__body---price">Nrs. {{pi.price}} </p>
                            <p class="cardTractor__body---roadPrice text-light-grey">By {{pi.brand}}</p>
                            <a href="{% url 'implement-detail' pi.slug %}" class="btn btn-theme-light btn-block btn-sm"><i class="fas fa-bolt mr-2"></i>Power: {{pi.implementpower}}</a>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'implement' %}" class="btn btn-theme-dark">
                View All Tractor Implements<i class="fas fa-chevron-circle-right ml-2"></i>
            </a>
        </div>
    </div>
</section>
<!-- end tractor implements -->

<!-- start tractor brands -->
<section class="tractor-brands">
    <div class="container">
        <h4 class="tractor-brands__title">Tractors By Brands</h4>
        <ul class="nav nav-tabs customNavtab justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#newtractor" role="tab" aria-controls="newtractor" aria-selected="true">New Tractor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#usedtractor" role="tab" aria-controls="usedtractor" aria-selected="false">Used Tractor</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="newtractor" role="tabpanel" aria-labelledby="newtractor-tab">
                <div class="row g-3 mb-4">
                    {% for new_tractor in new_tractor_brands %}
                    <div class="col-6 col-sm-6 col-md-4 col-xl-2">
                        <div class="tractor-brands__tractor-image">
                            <img src="{{new_tractor.image.url}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark">View All Tractor Brands <i class="fas fa-chevron-circle-right ml-2"></i></button>
                </div>
            </div>
            <div class="tab-pane fade" id="usedtractor" role="tabpanel" aria-labelledby="usedtractor-tab">
                <div class="row g-3 mb-4">
                    {% for old_tractor in old_tractor_brands %}
                    <div class="col-6 col-sm-6 col-md-4 col-xl-2">
                        <div class="tractor-brands__tractor-image">
                            <img src="{{old_tractor.image.url}}" class="img-fluid" alt="">
                        </div> 
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end tractor brands -->

<!-- start tractor provinces -->
<section class="tractor-provinces">
    <div class="container">
        <h4 class="tractor-provinces__title">Get Used Tractors in Provinces</h4>
        <div class="row g-3">
            <div class="col-md-6 col-lg-8">
                <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
                    <div class="col">
                        <div class="tractor-provinces__city-select">
                            <div class="card">
                                <div class="tractor-provinces__image-container">
                                    <img src="{% static 'images/province/province1.jpg' %}" class="card-img-top" alt="">
                                </div>
                                <div class="card-body text-center">
                                    <h6>Provinces 1</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="tractor-provinces__city-select">
                            <div class="card">
                                <div class="tractor-provinces__image-container">
                                    <img src="{% static 'images/province/province2.jpg' %}" class="card-img-top" alt="">
                                </div>
                                <div class="card-body text-center">
                                    <h6>Provinces 2</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="tractor-provinces__city-select">
                            <div class="card">
                                <div class="tractor-provinces__image-container">
                                    <img src="{% static 'images/province/province3.jpg' %}" class="card-img-top" alt="">
                                </div>
                                <div class="card-body text-center">
                                    <h6>Provinces 3</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="tractor-provinces__city-select">
                            <div class="card">
                                <div class="tractor-provinces__image-container">
                                    <img src="{% static 'images/province/province4.jpg' %}" class="card-img-top" alt="">
                                </div>
                                <div class="card-body text-center">
                                    <h6>Provinces 4</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="tractor-provinces__city-select">
                            <div class="card">
                                <div class="tractor-provinces__image-container">
                                    <img src="{% static 'images/province/province5.jpg' %}" class="card-img-top" alt="">
                                </div>
                                <div class="card-body text-center">
                                    <h6>Provinces 5</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="tractor-provinces__city-select">
                            <div class="card">
                                <div class="tractor-provinces__image-container">
                                    <img src="{% static 'images/province/province6.jpg' %}" class="card-img-top" alt="">
                                </div>
                                <div class="card-body text-center">
                                    <h6>Provinces 6</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="tractor-provinces__city-select">
                            <div class="card">
                                <div class="tractor-provinces__image-container">
                                    <img src="{% static 'images/province/province7.jpg' %}" class="card-img-top" alt="">
                                </div>
                                <div class="card-body text-center">
                                    <h6>Provinces 7</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="tractor-provinces__city-select city-select-border">
                    <div class="card">
                        <div class="tractor-provinces__card">
                            <div class="tractor-provinces__card--img mx-auto">
                                <img src="{% static 'images/search-tracctor.png' %}" class="justify-content-center card-img-top" alt="...">
                            </div>
                            <div class="card-body px-0">
                                <h5 class="card-city-select text-center">I am looking to buy a Old Tractor in</h5>
                                <form action="{% url 'used-tractor' %}" method="GET">
                                    <select name="state" class="form-select">
                                            <option value="" >Select State</option>
                                            <option value="1">Province 1</option>
                                            <option value="2">Province 2</option>
                                            <option value="3">Bagmati</option>
                                            <option value="4">Gandaki</option>
                                            <option value="5">Lumbini</option>
                                            <option value="6">Karnali</option>
                                            <option value="7">Sudurpaschim</option>
                                    </select>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="btn btn-theme-dark">View All Tractor Brands<i class="fas fa-chevron-circle-right ml-2"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- end tractor provinces -->

<!-- start tractor budget -->
<section class="tractor-year tractor-budget">
    <div class="container">
        <h4 class="tractor-year__title">Tractors By Budget</h4>
        <div class="tractor-budget__navContainer">
            <ul class="nav nav-tabs customNavtab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#threelakh" role="tab" aria-controls="threelakh" aria-selected="true">Below 3 lakh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#above3lakh" role="tab" aria-controls="above3lakh" aria-selected="false">3 lakh - 5 lakh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#above5lakh" role="tab" aria-controls="above5lakh" aria-selected="false">5 lakh - 7 lakh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#above7lakh" role="tab" aria-controls="above7lakh" aria-selected="false">7 lakh - 10 lakh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#above10" role="tab" aria-controls="above10" aria-selected="false">Above 10 lakh</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="threelakh" role="tabpanel" aria-labelledby="threelakh-tab">
                {% if below_three_tractors %}
                <div class="tractor-content__container" id="threelakhContainer">
                    <div class="threelakh-content-carousel owl-carousel owl-theme">
                        {% for tractor in below_three_tractors %}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>{{tractor.engine.hp|floatformat:"0"}} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>{{tractor.wheel_tyre.wheel_drive}} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                        
                                        <img src="{{tractor.image.left_image.url}}" class="img-fluid" alt="{{tractor.new_tractor.name}}">
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{tractor.name}} {{tractor.model}}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{tractor.price}}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (10 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="{% url 'tractor-detail' tractor.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                {% else %}
                <h3>No Tractor available below 3 lakh.</h3>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="above3lakh" role="tabpanel" aria-labelledby="above3lakh-tab">
                {% if between_three_and_five_tractors %}
                <div class="tractor-content__container" id="abovethreelakhContainer">
                    <div class="abovethreelakh-content-carousel owl-carousel owl-theme">
                        {% for tractor in between_three_and_five_tractors %}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>{{tractor.engine.hp|floatformat:"0"}} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>{{tractor.wheel_tyre.wheel_drive}} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{tractor.image.left_image.url}}" class="img-fluid" alt="{{tractor.new_tractor.name}}"> 
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{tractor.name}} {{tractor.model}}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{tractor.price}}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (10 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="{% url 'tractor-detail' tractor.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                {% else %}
                <h3>No Tractor available between 3 and 5 lakh.</h3>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="above5lakh" role="tabpanel" aria-labelledby="above5lakh-tab">
                {% if between_five_and_seven_tractors %}
                <div class="tractor-content__container" id="abovefivelakhContainer">
                    <div class="abovefivelakh-content-carousel owl-carousel owl-theme">
                        {% for tractor in between_five_and_seven_tractors %}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>{{tractor.engine.hp|floatformat:"0"}} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>{{tractor.wheel_tyre.wheel_drive}} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{tractor.image.left_image.url}}" class="img-fluid" alt="{{tractor.new_tractor.name}}">
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{tractor.name}} {{tractor.model}}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{tractor.price}}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (10 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="{% url 'tractor-detail' tractor.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                {% else %}
                <h3>No Tractor available between 5 and 7 lakh.</h3>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="above7lakh" role="tabpanel" aria-labelledby="above7lakh-tab">
                {% if between_seven_and_ten_tractors %}
                <div class="tractor-content__container" id="abovesevenlakhContainer">
                    <div class="abovesevenlakh-content-carousel owl-carousel owl-theme">
                        {% for tractor in between_seven_and_ten_tractors %}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>{{tractor.engine.hp|floatformat:"0"}} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>{{tractor.wheel_tyre.wheel_drive}} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{tractor.image.left_image.url}}" class="img-fluid" alt="{{tractor.new_tractor.name}}"> 
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{tractor.name}} {{tractor.model}}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{tractor.price}}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (10 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="{% url 'tractor-detail' tractor.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                {% else %}
                <h3>No Tractor available between 7 And 10 lakh.</h3>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="above10" role="tabpanel" aria-labelledby="above10-tab">
                {% if above_ten_tractors %}
                <div class="tractor-content__container" id="abovetenlakhContainer">
                    <div class="abovetenlakh-content-carousel owl-carousel owl-theme">
                        {% for tractor in above_ten_tractors %}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---topLeft">
                                        <span><i class="fas fa-bolt mr-2"></i>{{tractor.engine.hp|floatformat:"0"}} HP</span>
                                    </div>
                                    <div class="cardTractor__header---topRight">
                                        <span>{{tractor.wheel_tyre.wheel_drive}} WD</span>
                                    </div>
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{tractor.image.left_image.url}}" class="img-fluid" alt="{{img.new_tractor.name}}"> 
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{tractor.name}} {{tractor.model}}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{tractor.price}}</p>
                                    <p class="cardTractor__body---rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i> (10 Reviews)</p>
                                    <p class="cardTractor__body---roadPrice">Get On Road Price</p>
                                    <a href="{% url 'tractor-detail' tractor.id %}" class="btn btn-theme-light btn-block btn-sm">View Detail<i class="fas fa-chevron-circle-right ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                {% else %}
                <h3>No Tractor available above 10 lakh.</h3>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- start tractor sell -->
<section class="tractor-sell">
    <div class="container">
        <h4 class="tractor-sell__title">Used Tractors for Sell</h4>
        <ul class="nav nav-tabs customNavtab justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#premium" role="tab" aria-controls="premium" aria-selected="true">Premium</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#selltractorlatest" role="tab" aria-controls="selltractorlatest" aria-selected="false">Latest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#selltractorpopular" role="tab" aria-controls="selltractorpopular" aria-selected="false">Popular</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="premium" role="tabpanel" aria-labelledby="premium-tab">
                {% if premium_tractors %}
                <div class="tractor-content__container" id="premiumContainer">
                    <div class="premium-content-carousel owl-carousel owl-theme">
                        {% for old_tractor in premium_tractors %}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{old_tractor.image.left_image.url}}" class="img-fluid" alt="{{old_tractor.new_tractor.name}}"> 
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{old_tractor.name}}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{old_tractor.price}}</p>
                                    <p class="cardTractor__body---hpDate">
                                        <span><i class="fas fa-bolt mr-2"></i>{{old_tractor.hp}} HP</span>
                                        <span><i class="fas fa-calendar-alt mr-2"></i>{{old_tractor.purchase_year}}</span>
                                    </p>
                                    <a href="{% url 'old-tractor-detail' old_tractor.id %}" class="btn btn-theme-light btn-block btn-sm">
                                        <i class="fas fa-map-marker-alt mr-2"></i>{{old_tractor.seller.address}}, {{old_tractor.seller.district}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark"><a href="{% url 'used-tractor' %}">View All Used Tractors<i class="fas fa-chevron-circle-right ml-2"></i></a></button>
                </div>
                {% else %}
                <h3>No premium used tractor available.</h3>
                {% endif %}
            </div>

            <div class="tab-pane fade" id="selltractorlatest" role="tabpanel" aria-labelledby="selltractorlatest-tab">
                {% if old_tractors %}
                <div class="tractor-content__container" id="selltractorlatestContainer">
                    <div class="selltractorlatest-content-carousel owl-carousel owl-theme">
                        {% for old_tractor in old_tractors %}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{old_tractor.image.left_image.url}}" class="img-fluid" alt="{{old_tractor.new_tractor.name}}"> 
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{old_tractor.name}}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{old_tractor.price}}</p>
                                    <p class="cardTractor__body---hpDate">
                                        <span><i class="fas fa-bolt mr-2"></i>{{old_tractor.hp}} HP</span>
                                        <span><i class="fas fa-calendar-alt mr-2"></i>{{old_tractor.purchase_year}}</span>
                                    </p>
                                    <a href="{% url 'old-tractor-detail' old_tractor.id %}" class="btn btn-theme-light btn-block btn-sm">
                                        <i class="fas fa-map-marker-alt mr-2"></i>{{old_tractor.seller.address}}, {{old_tractor.seller.district}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark"><a href="{% url 'used-tractor' %}">View All Used Tractors<i class="fas fa-chevron-circle-right ml-2"></i></a></button>
                </div>
                {% else %}
                <h3>No latest used tractor available.</h3>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="selltractorpopular" role="tabpanel" aria-labelledby="selltractorpopular-tab">
                {% if old_popular_tractors %}
                <div class="tractor-content__container" id="selltractorpopularContainer">
                    <div class="selltractorpopular-content-carousel owl-carousel owl-theme">
                        {% for tractor in old_popular_tractors %}
                        <div class="item">
                            <div class="cardTractor">
                                <div class="cardTractor__header">
                                    <div class="cardTractor__header---imageContainer">
                                        <img src="{{tractor.image.left_image.url}}" class="img-fluid" alt="{{tractor.old_tractor.name}}"> 
                                    </div>
                                </div>
                                <div class="cardTractor__body">
                                    <h6 class="cardTractor__body---tractorName">{{tractor.name}}</h6>
                                    <p class="cardTractor__body---price">Nrs. {{tractor.price}}</p>
                                    <p class="cardTractor__body---hpDate">
                                        <span><i class="fas fa-bolt mr-2"></i>{{tractor.hp}} HP</span>
                                        <span><i class="fas fa-calendar-alt mr-2"></i>{{tractor.purchase_year}}</span>
                                    </p>
                                    <a href="{% url 'old-tractor-detail' tractor.id %}" class="btn btn-theme-light btn-block btn-sm">
                                        <i class="fas fa-map-marker-alt mr-2"></i>{{tractor.seller.address}} {{tractor.seller.district}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="tractor-content-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-theme-dark"><a href="{% url 'used-tractor' %}">View All Used Tractors<i class="fas fa-chevron-circle-right ml-2"></i></a></button>
                </div>
                {% else %}
                <h3>No popular used tractor available.</h3>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</section>
<!--  end tractor sell-->

<section class="compare-tractor">
    <div class="container">
        <h4 class="compare-tractor__title">Compare To Buy The Right Tractor</h4>
        <div class="compare-content-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="compare-tractor__card">
                    <div class="compare-tractor__card--vs">
                        <span>VS</span>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="bd-highlight compare-tractor__card--image">
                            <img src="{% static 'images/ct-2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="bg-dark text-light p-2 compare-tractor__card--footer">
                        <p>
                            Farmtrac 60 <span>VS</span> Kubota A211N-OP
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section news -->
<section class="news">
    <div class="container">
        <h4 class="news__title">
            Tractor News / Agriculture News
        </h4>
        <ul class="nav nav-tabs customNavtab justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tractornews" role="tab" aria-controls="tractornews" aria-selected="true">Tractor News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#agriculturenews" role="tab" aria-controls="agriculturenews" aria-selected="false">Agriculture News</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tractornews" role="tabpanel" aria-labelledby="tractornews-tab">
                <div class="newsVideo-content-carousel owl-carousel owl-theme">
                    {% for tnews in tractor_news|slice:5 %}
                    <div class="item">
                        <div class="news__detail-card">
                            <div class="card">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="{% url 'newsdetail' tnews.slug %}"><img src="{{tnews.image.url}}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock card-body">
                                        <a href="{% url 'newsdetail' tnews.slug %}"><span class="newsblock__contentBlock--category">{{tnews.newscategory}}</span></a>
                                        <a href="{% url 'newsdetail' tnews.slug %}">
                                            <p class="heading">{{tnews.title|truncatechars:90}}</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> {{tnews.date|timesince}} ago</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'categorized-news' 'tractor-news' %}" class="btn btn-theme-dark">View More News<i class="fas fa-chevron-circle-right ml-2"></i></a>
                </div>
            </div>
            <div class="tab-pane fade" id="agriculturenews" role="tabpanel" aria-labelledby="agriculturenews-tab">
                <div class="newsVideo-content-carousel owl-carousel owl-theme">
                    {% for ag_news in ag_news|slice:5 %}
                    <div class="item">
                        <div class="news__detail-card">
                            <div class="card">
                                <div class="newsblock__small">
                                    <div class="newsblock__imgblock">
                                        <a href="{% url 'newsdetail' ag_news.slug %}"><img src="{{ag_news.image.url}}" class="img-fluid"></a>
                                    </div>
                                    <div class="newsblock__contentBlock card-body">
                                        <a href="{% url 'newsdetail' ag_news.slug %}"><span class="newsblock__contentBlock--category">{{ag_news.newscategory}}</span></a>
                                        <a href="{% url 'newsdetail' ag_news.slug %}">
                                            <p class="heading">{{ag_news.title|truncatechars:90}}</p>
                                        </a>
                                        <ul class="newsblock__newsInfo">
                                            <li><i class="far fa-clock"></i> {{ag_news.date|timesince}} ago</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'categorized-news' 'agriculture-news' %}" class="btn btn-theme-dark">View More News<i class="fas fa-chevron-circle-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="section-divider-white">
<!-- section videos -->
<section class="videos">
    <div class="container">
        <h4 class="videos__title">
            Tractor Videos / Agriculture Videos
        </h4>
        <ul class="nav nav-tabs customNavtab justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tractorvideos" role="tab" aria-controls="tractorvideos" aria-selected="true">Tractor Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#agriculturevideos" role="tab" aria-controls="agriculturevideos" aria-selected="false">Agriculture Video</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tractorvideos" role="tabpanel" aria-labelledby="tractorvideos-tab">
                <div class="newsVideo-content-carousel owl-carousel owl-theme">
                    {% for v in tractor_videos|slice:5 %}
                    <div class="item">
                        <div class="videoSection__inner">
                            <a href="#tractorVideoPopup{{v.id}}" target="_blank" class="popup-modal headerVideoLink">
                                <div class="videoSection__inner--img">
                                    <img src="{{v.thumbnail.url}}" class="img-fluid">
                                </div>
                            </a>
                            <div class="videoSection__content">
                                <a href="#tractorVideoPopup{{v.id}}" target="_blank" class="popup-modal headerVideoLink">
                                    <p class="videoSection__content--title">{{v.title}}</p>
                                </a>
                                <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published {{v.published_date|timesince}} ago</p>
                            </div>
                            <div id="tractorVideoPopup{{v.id}}" class="mfp-hide embed-responsive embed-responsive-21by9">
                                <div class="header-video">
                                    <p class="videoSection__content--title">{{v.title}}</p>
                                </div>
                                  {% video v.video %}

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'video' %}"><button class="btn btn-theme-dark">View More Video<i class="fas fa-chevron-circle-right ml-2"></i></button></a>
                </div>
            </div>
            <div class="tab-pane fade" id="agriculturevideos" role="tabpanel" aria-labelledby="agriculturevideos-tab">
                <div class="newsVideo-content-carousel owl-carousel owl-theme">
                    {% for ag_video in ag_videos|slice:5 %}
                    <div class="item">
                        <div class="videoSection__inner">
                            <a href="#agriVideoPopup{{ag_video.id}}" target="_blank" class="popup-modal headerVideoLink">
                                <div class="videoSection__inner--img">
                                    <img src="{{ag_video.thumbnail.url}}" class="img-fluid">
                                </div>
                            </a>
                            <div class="videoSection__content">
                                <a href="#agriVideoPopup{{ag_video.id}}" target="_blank" class="popup-modal headerVideoLink">
                                    <p class="videoSection__content--title">{{ag_video.title}}</p>
                                </a>
                                <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published {{ag_video.published_date|timesince}} ago</p>
                            </div>
                            <div id="agriVideoPopup{{ag_video.id}}" class="mfp-hide embed-responsive embed-responsive-21by9">
                                <div class="header-video">
                                    <p class="videoSection__content--title">{{ag_video.title}}</p>
                                </div>
                                 {% video ag_video.video %}

                            </div>
                        </div>
                    </div>
                    {% endfor %}


               </div>
                <div class="text-center mt-3">
                    <a href="{% url 'video' %}"><button class="btn btn-theme-dark">View More Video<i class="fas fa-chevron-circle-right ml-2"></i></button></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- tools and service -->
<section class="toolandservices">
    <div class="container">
        <h4 class="toolandservices__title">Tools and Services</h4>
        <div class="row">
            <div class="col-12">
                <div class="smallSlider__container">
                    <div class="toolandservices-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="toolandservices__img-container">
                                <img src="{% static 'images/icons/1141804-200.png' %}" class="img-fluid" />
                            </div>
                            <h6 class="text-center mt-2">Services Center</h6>
                        </div>
                        <div class="item">
                            <div class="toolandservices__img-container">
                                <img src="{% static 'images/icons/dealerLocator.png' %}" class="img-fluid" />
                            </div>
                            <h6 class="text-center mt-2">Dealer Locator</h6>
                        </div>
                        <div class="item">
                            <div class="toolandservices__img-container">
                                <img src="{% static 'images/icons/offer.png' %}" class="img-fluid" />
                            </div>
                            <h6 class="text-center mt-2">Offer</h6>
                        </div>
                        <div class="item">
                            <div class="toolandservices__img-container">
                                <img src="{% static 'images/icons/dealerLocator.png' %}" class="img-fluid" />
                            </div>
                            <h6 class="text-center mt-2">Customer Care</h6>
                        </div>
                        <div class="item">
                            <div class="toolandservices__img-container">
                                <img src="{% static 'images/icons/compare.png' %}" class="img-fluid" />
                            </div>
                            <h6 class="text-center mt-2">Compare</h6>
                        </div>
                        <div class="item">
                            <div class="toolandservices__img-container">
                                <img src="{% static 'images/icons/loan.png' %}" class="img-fluid" />
                            </div>
                            <h6 class="text-center mt-2">Loan</h6>
                        </div>
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="custom-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
<!-- End of content -->

{% block script %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/magnific-popup.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.headerVideoLink').magnificPopup({
            type: 'inline',
            midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
        });
        $('.toolandservices-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            dots: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.smallSlider__container .custom-nav',
            responsive: {
                0: {
                    items: 2
                },

                600: {
                    items: 4
                },

                1000: {
                    items: 6
                }
            }
        })
        $('.slider-carousel').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            dots: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.tractor-year__container .tractor-content-nav',
            responsive: {
                0: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    });
</script>
{% endblock %}