{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Offer{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractor-year">
    <div class="container">
        <h4 class="tractor-year__title">Special Tractor Offers</h4>
        <div class="offerBlock">
            <!-- offeer list -->
            <div class="offerBlock__item">
                <div class="offerBlock__item--img">
                    <a href=""><img src="/static/images/offer1.jpeg" class="img-fluid"></a>
                </div>
                <div class="offerBlock__item--content">
                    <h4>Sonalika Tractor Latest Offer</h4>
                    <p class="offerBlock__item--startdate">Starts - 2018-06-01</p>
                    <p class="offerBlock__item--desc">To know the latest offer on Sonalika Tractors call-&nbsp;18001021011</p>
                    <p class="offerBlock__item--enddate">Expired - 06/30/2018</p>
                </div>
            </div>
            <!-- end offerlist -->
            <div class="offerBlock__item">
                <div class="offerBlock__item--img">
                    <a href=""><img src="/static/images/offer2.jpeg" class="img-fluid"></a>
                </div>
                <div class="offerBlock__item--content">
                    <h4>Famtrac and powertrac Pre Diwali Dhamaka Offer
                    </h4>
                    <p class="offerBlock__item--startdate">Starts - 2018-06-01</p>
                    <p class="offerBlock__item--desc">
                        Buy Now, Pay Next Year’, DhamakaOffer of the Year Launched by Escorts (Farmtrac and Powertrac)
                    </p>
                    <p class="offerBlock__item--desc">Escorts New Scheme Highlights:</p>
                    <p class="offerBlock__item--desc">1. Buy Now, Pay later (Worth 15000/-)</p>
                    <p class="offerBlock__item--desc">2. Exchange bonus of 50,000/-</p>
                    <p class="offerBlock__item--desc">3. Loyalty bonus of 10,000/-</p>
                    <p class="offerBlock__item--desc">4. 5-year warranty (Worth 5000/-)</p>
                    <p class="offerBlock__item--enddate">Expired - 06/30/2018</p>
                </div>
            </div>
            <div class="offerBlock__item">
                <div class="offerBlock__item--img">
                    <a href=""><img src="/static/images/offer3.jpeg" class="img-fluid"></a>
                </div>
                <div class="offerBlock__item--content">
                    <h4>Rajasthan- Eicher- Dumdar and Uphaar Shandar in JAIPUR
                    </h4>
                    <p class="offerBlock__item--startdate">Starts - 2018-06-01</p>
                    <p class="offerBlock__item--desc">
                        Dumdar and Uphaar Shandar
                    </p>
                    <p class="offerBlock__item--desc">Eicher 485 and 548 : 0.37*0.71m (14_9_28) Tyre</p>
                    <p class="offerBlock__item--desc">Paiyen motorcycle and Chandi ka sikka</p>
                    <p class="offerBlock__item--enddate">Expired - 06/30/2018</p>
                </div>
            </div>
            <div class="offerBlock__item">
                <div class="offerBlock__item--img">
                    <a href=""><img src="/static/images/offer4.jpeg" class="img-fluid"></a>
                </div>
                <div class="offerBlock__item--content">
                    <h4>Famtrac and powertrac Pre Diwali Dhamaka Offer
                    </h4>
                    <p class="offerBlock__item--startdate">Starts - 2018-06-01</p>
                    <p class="offerBlock__item--desc">
                        Buy Now, Pay Next Year’, DhamakaOffer of the Year Launched by Escorts (Farmtrac and Powertrac)
                    </p>
                    <p class="offerBlock__item--desc">Escorts New Scheme Highlights:</p>
                    <p class="offerBlock__item--desc">1. Buy Now, Pay later (Worth 15000/-)</p>
                    <p class="offerBlock__item--desc">2. Exchange bonus of 50,000/-</p>
                    <p class="offerBlock__item--desc">3. Loyalty bonus of 10,000/-</p>
                    <p class="offerBlock__item--desc">4. 5-year warranty (Worth 5000/-)</p>
                    <p class="offerBlock__item--enddate">Expired - 06/30/2018</p>
                </div>
            </div>
            <div class="offerBlock__item">
                <div class="offerBlock__item--img">
                    <a href=""><img src="/static/images/offer5.jpeg" class="img-fluid"></a>
                </div>
                <div class="offerBlock__item--content">
                    <h4>Rajasthan- Eicher- Dumdar and Uphaar Shandar in JAIPUR
                    </h4>
                    <p class="offerBlock__item--startdate">Starts - 2018-06-01</p>
                    <p class="offerBlock__item--desc">
                        Dumdar and Uphaar Shandar
                    </p>
                    <p class="offerBlock__item--desc">Eicher 485 and 548 : 0.37*0.71m (14_9_28) Tyre</p>
                    <p class="offerBlock__item--desc">Paiyen motorcycle and Chandi ka sikka</p>
                    <p class="offerBlock__item--enddate">Expired - 06/30/2018</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock%}