{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | On Road Price{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="brands">
    <div class="container">
        <h4 class="tractor-year__title">Get On Road Price</h4>
        <div class="row g-3">
            <div class="col-md-7">
                <div class="roadPriceForm-container">
                    <form class="tractorform" method="POST" action="" id="addressForm" data-district-url="{% url 'district-data' %}" data-municipality-url="{% url 'municipality-data' %}">
                        {% csrf_token %}
                        <input name="_token" type="hidden" value="">
                        <fieldset id="fieldset1">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>Brand</label>
                                        {{ form.brand }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>Model</label>
                                        {{ form.model }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>Name</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>Mobile No.</label>
                                        {{ form.mobile }}
                                        <span class="form-error">{{ form.errors.mobile }}</span>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4">
                                    <div class="form-group mb-3">
                                        <label>State</label>
                                        {{ form.state }}
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4">
                                    <div class="form-group mb-3">
                                        <label for="District" class="control-label mb-2">District</label>
                                        {{ form.district }}
                                    </div>
                                </div>
                                <div class="col-6 col-sm-4">
                                    <div class="form-group mb-3">
                                        <label for="tehsil" class="control-label mb-2">Municipality</label>
                                        {{ form.municipality }}
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn-block btn btn-theme-dark">Check On Road Price </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <img src="{% static 'images/513X345.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<hr class="section-divider">
<section class="brands">
    <div class="container">
        <h4 class="tractor-year__title">Featured Brands</h4>
        <div class="row g-2">
            {% for brd in brands %}
            <div class="col-4 col-sm-4 col-md-4 col-lg-2">
                <div class="brands__brands-tractor">
                    <a href="">
                        <img src="{{brd.image.url}}" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">More About Tractor Brands</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock%}