{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Review{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractor-year review">
    <div class="container">
        <h4 class="tractor-year__title">Rate & Review</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="header-bg-container">
                    <h4 class="tractor-year__title">Rate Your Tractor</h4>
                </div>
                <div class="dealership-form__mainForm">
                    <form method="POST" action="{% url 'review' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            {% if status %}
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label for="" class="control-label mb-2">Brand</label>

                                    <select name="brand1" class="form-select" id="tractorbrand1" >
                                        <option value="" selected>{{brands}}</option>
                                    </select>
                                    <input name="tractor_id" value="{{tractor_id}}" type="hidden" >
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label for="" class="control-label mb-2">Model</label>
                                    <select name="model1" data-target="#output1" class="form-select select-image" id="tractormodel1" > 
                                        <option data-value="" value="{{ tractor.model }}" selected>{{models}}</option>
                                      </select>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label for="" class="control-label mb-2">Brand</label>

                                    <select name="brand1" class="form-select" id="tractorbrand1" >
                                        <option selected disabled>Select Brand</option>
                                        {% for brand in brands %}
                                        <option value="{{brand.id}}">{{brand.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <input name="tractor_id" value="" type="hidden">


                                </div>

                            </div>
                            <div class="col-6">
                                <div class="form-group mb-3">
                                    <label for="" class="control-label mb-2">Model</label>
                                    <select name="model1" data-target="#output1" class="form-select select-image" id="tractormodel1" disabled > 
                                        <option selected disabled>Select Model</option>
                                        {% for tractor in tractors %}
                                        <option data-value="{{tractor.brand.id}}" value="{{ tractor.model }}">{{tractor.model}}</option>
                                        {%endfor %}
                                      </select>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="" class="control-label mb-2">Rate Your Tractor</label>
                                    <div class="rating-container rating-md rating-animate">
                                        <div class="rating-stars">
                                            <span onclick="rating(1)" class="fa fa-star-o" data-rating="1"></span>
                                            <span onclick="rating(2)" class="fa fa-star-o" data-rating="2"></span>
                                            <span onclick="rating(3)" class="fa fa-star-o" data-rating="3"></span>
                                            <span onclick="rating(4)" class="fa fa-star-o" data-rating="4"></span>
                                            <span onclick="rating(5)" class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="star" id="starid" class="rating-value" value="0" >
                                        </div>
                                        <div  class="caption"><span id="rated_lebel" class="label label-default">Not </span> Rated</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label for="" class="control-label mb-2">Review Description</label>
                                    <textarea id="description" name="review" placeholder="Review Description" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <button class="btn btn-theme-dark btn-block">Rate Tractor</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tractorReview">
                    <img src="{% static 'images/513X345.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="section-divider">
<section class="tractor-year">
    <div class="container">
        <h4 class="tractor-year__title">Popular Tractors Reviews</h4>
        <div class="row">
            <div class="col-12">
                <div class="tractor-year__container">
                    <div class="tractor-year-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="customNavtab__card-body">
                                        <div class="hp">
                                            <span><i class="fas fa-bolt"></i>55 HP</span>
                                        </div>
                                        <div class="wd">
                                            <span>2WD</span>
                                        </div>
                                        <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">

                                        <p class="card-detail"></p>
                                        <p class="card-price">Nrs. 5.63 - 8.96 Lakh</p>
                                        <h6 class="reviews f-12 text-dark-theme">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (10 Reviews)</h6>
                                        <p class="card-road-price">Get On Road Price</p>
                                        <button class="btn btn-theme-dark btn-block"><a href="#">View Detail</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="customNavtab__card-body">
                                        <div class="hp">
                                            <span><i class="fas fa-bolt"></i>55 HP</span>
                                        </div>
                                        <div class="wd">
                                            <span>2WD</span>
                                        </div>
                                        <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">
                                        <p class="card-detail"></p>
                                        <p class="card-price">Nrs. 5.63 - 8.96 Lakh</p>
                                        <h6 class="reviews f-12 text-dark-theme">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (10 Reviews)</h6>
                                        <p class="card-road-price">Get On Road Price</p>
                                        <button class="btn btn-theme-dark btn-block"><a href="#">View Detail</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="customNavtab__card-body">
                                        <div class="hp">
                                            <span><i class="fas fa-bolt"></i>55 HP</span>
                                        </div>
                                        <div class="wd">
                                            <span>2WD</span>
                                        </div>
                                        <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">

                                        <p class="card-detail"></p>
                                        <p class="card-price">Nrs. 5.63 - 8.96 Lakh</p>
                                        <h6 class="reviews f-12 text-dark-theme">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (10 Reviews)</h6>
                                        <p class="card-road-price">Get On Road Price</p>
                                        <button class="btn btn-theme-dark btn-block"><a href="#">View Detail</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="customNavtab__card-body">
                                        <div class="hp">
                                            <span><i class="fas fa-bolt"></i>55 HP</span>
                                        </div>
                                        <div class="wd">
                                            <span>2WD</span>
                                        </div>
                                        <img src="{% static 'images/1.jpg' %}" class="img-fluid" alt="">

                                        <p class="card-detail"></p>
                                        <p class="card-price">Nrs. 5.63 - 8.96 Lakh</p>
                                        <h6 class="reviews f-12 text-dark-theme">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i> (10 Reviews)</h6>
                                        <p class="card-road-price">Get On Road Price</p>
                                        <button class="btn btn-theme-dark btn-block"><a href="#">View Detail</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="custom-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%} {% block script %}
<script>
    $(document).ready(function() {
        var owl = $('.tractor-year-carousel');
        owl.owlCarousel({
            loop: false,
            margin: 10,
            nav: true,
            dots: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.tractor-year__container .custom-nav',
            responsive: {
                0: {
                    items: 1.5
                },

                600: {
                    items: 2.5
                },

                1000: {
                    items: 4
                }
            }
        })
    });
</script>

<script>
   $("#tractorbrand1").change(function() {
        if ($(this).data('options') == undefined) {
            $(this).data('options', $('#tractormodel1 option').clone());
        }
        var id = $(this).val();
        var options = $(this).data('options').filter('[data-value=' + id + ']');
        $('#tractormodel1').prop('disabled', false);
        $('#tractormodel1').html(options).show();
    });
</script>
{% endblock %}