{% extends "layout/base.html" %}
<!--  load static-->
{% load static %}

<!-- title -->
{% block title %} | Tyre{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="tractor-year tyres">
    <div class="container">
        <h4 class="tractor-year__title">Search Results</h4>
        <div class="tractor-content__container" id="populartyre">
            <div class="populartyre-content-carousel owl-carousel owl-theme">
                {{ tyres }}
                {% for tyre in search_tyre %}
                <div class="item">
                    <div class="cardTractor">
                        <div class="cardTractor__header">
                            <div class="cardTractor__header---topRight">
                                <span>{{ tyre.size }}</span>
                           </div>
                           {% for img in tyre.image.all|slice:1 %}
                            <div class="cardTractor__header---imageContainer">
                                <img src="{{img.image.url}}" class="img-fluid" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="cardTractor__body">
                            <h6 class="cardTractor__body---tractorName">{{ tyre.model_name }}</h6>
                            <p class="cardTractor__body---price">{{tyre.brand}} tyres</p>
                            <a href="{% url 'tyre-detail' tyre.id  %}" class="btn btn-theme-light btn-block btn-sm">
                                View Detail<i class="fas fa-chevron-circle-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="tractor-content-nav owl-nav"></div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'index' %}" class="btn btn-theme-dark">Go to home<i class="fas fa-chevron-circle-right ml-2"></i></a>
        </div>
    </div>
</section>

{% endblock %}