{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Sell Tractor{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="sellUsedTractor">
    <div class="sellUsedTractor__banner">
        <div class="sellUsedTractor__banner--img">
            <img src="{% static 'images/sellbutton/usedtractor.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="sellUsedTractor__heading">
            <div class="container">
                <div class="col-12">
                    <h2>Sell Your Used Tractor</h2>
                    <p>Fill information to sell the tractor and get more price for your used tractor!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sellUsedTractor__main">
        <div class="container">
            <div class="row g-0 justify-content-center">
                <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-8">
                    <div class="sellUsedTractor__mainInner">
                        <ul id="progressbar">
                            <li class="progressStep active" id="account"><span>Tractor Info</span></li>
                            <li class="progressStep" id="personal"><span>Tractor Condition</span></li>
                            <li class="progressStep" id="payment"><span>Tractor Images</span></li>
                            <li class="progressStep" id="price"><span>Tractor Price</span></li>
                            <li class="progressStep" id="confirm"><span>Personal Info</span></li>
                        </ul>
                        <form id="form-step" method="POST" action="" enctype="multipart/form-data" class="stateForm" data-district-url="{% url 'district-data' %}">
                        {% csrf_token %}
                            <input name="_token" type="hidden" value="">
                            <fieldset id="fieldset1" class="formfieldSet js-active">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Your Tractor Informations</p>
                                    </div>
                                     <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Brand</label>
                                            <select class="form-select" name="brand" onchange="getModelName(this.value)" value="">
                                                <option value="" disabled="" selected="" required>Select Brand</option>
                                                {% for brand in brandList %}
                                                <option value="{{brand.id}}">{{brand.name}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Model</label>
                                            <input type="text" name="model" placeholder="Enter model." class="form-control" value="" required>
                                            {% comment %} <select class="form-select custom-select modellist" name="model_id" onchange="getCustomModel(this.value)">
                                                <option value="">Select Model</option>
                                            </select> {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Purchase Year</label>
                                            <select class="form-select" name="purchase_year" value="" required>
                                                <option value="" disabled="" selected="">Select Purchase Year</option>
                                                <option value="2020">2020</option>
                                                <option value="2019">2019</option>
                                                <option value="2018">2018</option>
                                                <option value="2017">2017</option>
                                                <option value="2016">2016</option>
                                                <option value="2015">2015</option>
                                                <option value="2014">2014</option>
                                                <option value="2013">2013</option>
                                                <option value="2012">2012</option>
                                                <option value="2011">2011</option>
                                                <option value="2010">2010</option>
                                                <option value="2009">2009</option>
                                                <option value="2008">2008</option>
                                                <option value="2007">2007</option>
                                                <option value="2006">2006</option>
                                                <option value="2005">2005</option>
                                                <option value="2004">2004</option>
                                                <option value="2003">2003</option>
                                                <option value="2002">2002</option>
                                                <option value="2001">2001</option>
                                                <option value="2000">2000</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Purchase Month</label>
                                            <select class="form-select" name="purchase_month" value="" required>
                                                <option value="" disabled="" selected="">Select Purchase Month</option>
                                                <option value="January">January</option>
                                                <option value="February">February</option>
                                                <option value="March">March</option>
                                                <option value="April">April</option>
                                                <option value="May">May</option>
                                                <option value="June">June</option>
                                                <option value="July">July</option>
                                                <option value="August">August</option>
                                                <option value="September">September</option>
                                                <option value="October">October</option>
                                                <option value="November">November</option>
                                                <option value="December">December</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Hours</label>
                                            <select name="hours" class="form-select" value="" required>
                                                <option value="" disabled="" selected="">Select Hours</option>
                                                <option value="Less than 1000">Less than 1000 Hours</option>
                                                <option value="1001 - 2000">1001 - 2000 Hours</option>
                                                <option value="2001 - 3000">2001 - 3000 Hours</option>
                                                <option value="3001 - 4000">3001 - 4000 Hours</option>
                                                <option value="4001 - 5000">4001 - 5000 Hours</option>
                                                <option value="5001 - 6000">5001 - 6000 Hours</option>
                                                <option value="6001 - 7000">6001 - 7000 Hours</option>
                                                <option value="7001 - 8000">7001 - 8000 Hours</option>
                                                <option value="8001 - 9000">8001 - 9000 Hours</option>
                                                <option value="9001 - 10000">9001 - 10000 Hours</option>
                                                <option value="above 10000">above 10000 Hours</option>
                                                <option value="Not Available">Not Available Hours</option>
                                            </select>
                                        </div>
                                    </div>
                                     <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>HP</label>
                                            <input type="text" name="hp" placeholder="Enter Your Horse Power." class="form-control" value="" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>

                            <fieldset id="fieldset2" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Your Tractor Condition</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Registration No.</label>
                                            <input type="text" name="registration" placeholder="Enter Your Registration No." class="form-control" value="" required>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>RC Available</label>
                                            <select class="form-select" name="rc_available" value="" required>
                                            <option value="" disabled="" selected="">RC Available</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Engine Condition</label>
                                            <select class="form-select" name="engine_condition" value="" required>
                                                <option value="" disabled="" selected="">Select Engine Condition</option>
                                                <option value="0-25%">0-25% (Poor)</option>
                                                <option value="26-50%">26-50% (Average)</option>
                                                <option value="51-75%">51-75% (Good)</option>
                                                <option value="76-100%">76-100% (Very Good)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Tyre Condition</label>
                                            <select class="form-select" name="tyre_condition" value="" required>
                                                    <option value="" disabled="" selected="">Select Tyre Condition</option>
                                                    <option value="0-25%">0-25% (Poor)</option>
                                                    <option value="26-50%">26-50% (Average)</option>
                                                    <option value="51-75%">51-75% (Good)</option>
                                                    <option value="76-100%">76-100% (Very Good)</option>
                                                    </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Financier / Hypothecation NOC -</label>
                                            <select class="form-select" name="financial_noc" value="" required>
                                            <option value="" selected="" disabled="">Financier / Hypothecation NOC</option>
                                            <option value="Not Financed">Not Financed</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>RTO No</label>
                                            <input type="text" name="ROT_no" placeholder="Enter Your RTO number" class="form-control" value="" required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>About Your Tractor</label>
                                            <textarea class="form-control" name="about" placeholder="Enter About Your Tractor" value="" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Overview</label>
                                            <textarea class="form-control" name="overview" placeholder="overview of tractor" value="" required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="button" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>
                            <fieldset id="fieldset3" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Upload Tractor Images</p>
                                        <p class="mb-4">Note: Please Upload Minimum Two(Left,Right) Images.</p>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-4">
                                        <p class="sellUsedTractor__imgtitle">Left Side Image</p>
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img0" class="image-upload uploadFile" 
                                                        name="left_image" accept="image/*" value="" onchange="leftPreview(event);" required>
                                                    </label>
                                                    <img style="width: 100%; height: 100%;" id="left-preview">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-4">
                                        <p class="sellUsedTractor__imgtitle">Right Side Image</p>
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img1" class="image-upload uploadFile" 
                                                        name="right_image" accept="image/*" value="" onchange="rightPreview(event);" required>
                                                        </label>
                                                        <img style="width:100%; height:100%;" id="right-preview">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-4">
                                        <p class="sellUsedTractor__imgtitle">Front Side Image</p>
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img2" class="image-upload uploadFile"
                                                         name="front_image" accept="image/*" value="" onchange="frontPreview(event);">
                                                        </label>
                                                        <img style="width: 100%; height: 100%;" id="front-preview">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-4">
                                        <p class="sellUsedTractor__imgtitle">Back Side Image</p>
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img3" class="image-upload uploadFile" 
                                                        name="back_image" accept="image/*" onchange="backPreview(event);" value="">
                                                        </label>
                                                        <img style="width: 100%; height: 100%;" id="back-preview">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-4">
                                        <p class="sellUsedTractor__imgtitle">Meter Image</p>
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                        <input type="file" id="img4" class="image-upload uploadFile" 
                                                        name="meter_image" accept="image/*" onchange="meterPreview(event);" value="">
                                                    </label>
                                                    <img style="width: 100%; height: 100%;" id="meter-preview">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-4">
                                        <p class="sellUsedTractor__imgtitle">Tyre Image</p>
                                        <div class="box">
                                            <div class="js--image-preview">
                                                <div class="upload-options">
                                                    <label>
                                                    <input type="file" id="img5" class="image-upload uploadFile" 
                                                    name="tyre_image" accept="image/*" onchange="tyrePreview(event);" value="">
                                                    </label>
                                                    <img style="width: 100%; height: 100%;" id="tyre-preview">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="button" id="upload_img" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>

                            <fieldset id="fieldset4" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12" id="ValuatedModel">
                                        <p class="fieldsetHeading">Recommended price for <span>Eicher 548</span></p>
                                    </div>
                                    <!-- <div class="col-12" id="SellTractrorLoader">
                                        <div class="sellTrcatorForm-delay">
                                            <img src="https://www.tractorjunction.com/assets/images/upload-1583389449.gif" alt="Price Calculator">
                                            <div class="priceBlock"><br>
                                                <p class="priceBlockRange">Calculating Best Price For You ...</p>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-12 d-none" id="sellTractorPriceResult">
                                        <div class="priceBlock">
                                            <!-- value from backend -->
                                            <p class="priceBlockRange" id="valautedPrice">₹ 510705 - ₹ 563355</p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-12 d-none" id="sellTractorPriceNote1">
                                        <div class="priceBlock">
                                            <p class="notesBlock">Note : These are indicative prices and depend on the condition of the tractor. Excellent condition tractors may more and tractors not in good condition may cost less.</p>
                                        </div>
                                    </div> -->
                                    <div class="col-12 col-md-6 offset-sm-3" id="sellTractorPrice">
                                        <div class="form-group mb-3">
                                            <label>Price</label>
                                            <input type="number" name="price" placeholder="Enter Your Price" value="" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="button" class="next btn btn-theme-dark">Next Step</button>
                            </fieldset>

                            <fieldset id="fieldset5" class="formfieldSet">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="fieldsetHeading">Your Personal Information</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Name</label>
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>e-mail</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Mobile No.</label>
                                            {{ form.phone_no }}
                                        </div>
                                    </div>
                                    {% comment %} <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Pincode</label>
                                            <input class="form-control" type="number" name="pincode" value="" placeholder="Enter Your Pincode">
                                        </div>
                                    </div> {% endcomment %}
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>Address</label>
                                            {{ form.address }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>State</label>
                                            {{ form.state }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-3">
                                            <label>District</label>
                                            {{ form.district }}
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="previous btn btn-reset">Previous Step</button>
                                <button type="submit" class="btn btn-theme-dark">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Tractor Junction is best place to sell your tractor</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock %}
<!-- End of content -->
{% block script %}
<script src="{% static 'js/stepform.js' %}"></script>
<script>
    function rightPreview(event){
        if(event.target.files.length > 0){
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById('right-preview');
            preview.src = src;

        }
    }
    function frontPreview(event){
        if(event.target.files.length > 0){
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById("front-preview");
            preview.src = src;
        }
    }

    function leftPreview(event){
        if(event.target.files.length > 0){
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById("left-preview");
            preview.src = src;
        }
    }

    function backPreview(event){
        if(event.target.files.length > 0){
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById("back-preview");
            preview.src = src;
        }
    }
    function meterPreview(event){
        if(event.target.files.length > 0){
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById("meter-preview");
            preview.src = src;
        }
    }
    function tyrePreview(event){
        if(event.target.files.length > 0){
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById("tyre-preview");
            preview.src = src;
        }
    }
</script>
<script>
    $("#state").change(function () {
      var url = $(".stateForm").attr("data-district-url");  // get the url of the `load_cities` view
      var provinceId = $(this).val();  // get the selected country ID from the HTML input
  
      $.ajax({                       // initialize an AJAX request
        url: url, 
        method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'state': provinceId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#district").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
  
    });
  </script>
{% endblock %}