{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Tractor Valuation{% endblock %}
<!--  Start of content -->
{% block content %}
<section class="brands">
    <div class="container">
        <h4 class="tractor-year__title">Get True Price of a Used Tractor</h4>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="header-bg-container">
                    <h4 class="tractor-year__title">Get True Price of a Used Tractor</h4>
                </div>
                <div class="roadPriceForm-container">
                    <form class="tractorform" method="POST" action="">
                        {% csrf_token %}
                        <input name="_token" type="hidden" value="">
                        <fieldset id="fieldset1">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>Brand</label>
                                        {{ form.brand }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>Model</label>
                                        {{ form.model }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>State</label>
                                        {{ form.state }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>Owners</label>
                                        {{ form.owner }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>Manufacture Year</label>
                                        {{ form.manufacture_year }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>Tyre Condition</label>
                                        {{ form.tyre_condition }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>Name</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group mb-3">
                                        <label>Mobile No.</label>
                                        {{ form.mobile }}
                                        <span class="form-error">{{ form.errors.mobile }}</span>
                                    </div>
                                </div>


                                <div class="col-12 text-center">
                                    <button type="submit" class="btn-block btn btn-theme-dark">Get Valuation </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/513X345.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="recent-views">
    <div class="container">
        <h4 class="recent-views__title">
            Price Analysis for Used Popular Tractors
        </h4>
        <div class="row g-3">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="priceCard">
                    <a href="">
                        <p class="priceCard__heading">2017 Sonalika DI 745 III</p>
                    </a>
                    <p class="priceCard__avgPrice">Average Price - Nrs: 480375</p>
                    <p class="priceCard__minMax">
                        Nrs:370000 - 812000
                        <span>
                            <i class="fas fa-list"></i> 16 Listings</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="priceCard">
                    <a href="">
                        <p class="priceCard__heading">2017 Sonalika DI 745 III</p>
                    </a>
                    <p class="priceCard__avgPrice">Average Price - Nrs: 480375</p>
                    <p class="priceCard__minMax">
                        Nrs:370000 - 812000
                        <span>
                            <i class="fas fa-list"></i> 16 Listings</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="priceCard">
                    <a href="">
                        <p class="priceCard__heading">2017 Sonalika DI 745 III</p>
                    </a>
                    <p class="priceCard__avgPrice">Average Price - Nrs: 480375</p>
                    <p class="priceCard__minMax">
                        Nrs:370000 - 812000
                        <span>
                            <i class="fas fa-list"></i> 16 Listings</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="priceCard">
                    <a href="">
                        <p class="priceCard__heading">2017 Sonalika DI 745 III</p>
                    </a>
                    <p class="priceCard__avgPrice">Average Price - Nrs: 480375</p>
                    <p class="priceCard__minMax">
                        Nrs:370000 - 812000
                        <span>
                            <i class="fas fa-list"></i> 16 Listings</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="priceCard">
                    <a href="">
                        <p class="priceCard__heading">2017 Sonalika DI 745 III</p>
                    </a>
                    <p class="priceCard__avgPrice">Average Price - Nrs: 480375</p>
                    <p class="priceCard__minMax">
                        Nrs:370000 - 812000
                        <span>
                            <i class="fas fa-list"></i> 16 Listings</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="priceCard">
                    <a href="">
                        <p class="priceCard__heading">2017 Sonalika DI 745 III</p>
                    </a>
                    <p class="priceCard__avgPrice">Average Price - Nrs: 480375</p>
                    <p class="priceCard__minMax">
                        Nrs:370000 - 812000
                        <span>
                            <i class="fas fa-list"></i> 16 Listings</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="priceCard">
                    <a href="">
                        <p class="priceCard__heading">2017 Sonalika DI 745 III</p>
                    </a>
                    <p class="priceCard__avgPrice">Average Price - Nrs: 480375</p>
                    <p class="priceCard__minMax">
                        Nrs:370000 - 812000
                        <span>
                            <i class="fas fa-list"></i> 16 Listings</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="priceCard">
                    <a href="">
                        <p class="priceCard__heading">2017 Sonalika DI 745 III</p>
                    </a>
                    <p class="priceCard__avgPrice">Average Price - Nrs: 480375</p>
                    <p class="priceCard__minMax">
                        Nrs:370000 - 812000
                        <span>
                            <i class="fas fa-list"></i> 16 Listings</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="priceCard">
                    <a href="">
                        <p class="priceCard__heading">2017 Sonalika DI 745 III</p>
                    </a>
                    <p class="priceCard__avgPrice">Average Price - Nrs: 480375</p>
                    <p class="priceCard__minMax">
                        Nrs:370000 - 812000
                        <span>
                            <i class="fas fa-list"></i> 16 Listings</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="priceCard">
                    <a href="">
                        <p class="priceCard__heading">2017 Sonalika DI 745 III</p>
                    </a>
                    <p class="priceCard__avgPrice">Average Price - Nrs: 480375</p>
                    <p class="priceCard__minMax">
                        Nrs:370000 - 812000
                        <span>
                            <i class="fas fa-list"></i> 16 Listings</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}