{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Videos{% endblock %}
<!-- Static block -->
{% block static %}
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" /> {% endblock %}
<!-- End of static block -->
<!--  Start of content -->
{% block content %}
<section class="brands">
    <div class="container">
        <div class="sorting">
            <div class="row g-2">
                <div class="col-sm-12 col-md-8 col-lg-9 align-self-center">
                    <h5 class="sorting__title">Tractor Video Gallery</h5>
                </div>
                <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block">
                    <div class="soritng__price">
                        <select class="form-select" aria-label="Default select example">
                    <option selected>Video Sort by</option>
                    <option value="1">Latest</option>
                    <option value="2">Popular</option>
                    <option value="3">Upcoming</option>
                </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-4">
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="videoSection__inner">
                    <a href="#agriVideoPopup" target="_blank" class="popup-modal headerVideoLink">
                        <div class="videoSection__inner--img">
                            <img src="{% static 'images/videoimg.jpg' %}" class="img-fluid">
                        </div>
                    </a>
                    <div class="videoSection__content">
                        <a href="#agriVideoPopup" target="_blank" class="popup-modal headerVideoLink">
                            <p class="videoSection__content--title">New VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </a>
                        <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published On 1 Week ago</p>
                    </div>
                    <div id="agriVideoPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <div class="header-video">
                            <p class="videoSection__content--title">New VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </div>
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/qN3OueBm9F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="videoSection__inner">
                    <a href="#agriVideoPopup2" target="_blank" class="popup-modal headerVideoLink">
                        <div class="videoSection__inner--img">
                            <img src="{% static 'images/Tractor-loader.jpg' %}" class="img-fluid">
                        </div>
                    </a>
                    <div class="videoSection__content">
                        <a href="#agriVideoPopup2" target="_blank" class="popup-modal headerVideoLink">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </a>
                        <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published On 1 Week ago</p>
                    </div>
                    <div id="agriVideoPopup2" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <div class="header-video">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </div>
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/qN3OueBm9F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="videoSection__inner">
                    <a href="#agriVideoPopup4" target="_blank" class="popup-modal headerVideoLink">
                        <div class="videoSection__inner--img">
                            <img src="{% static 'images/Tractor-loader.jpg' %}" class="img-fluid">
                        </div>
                    </a>
                    <div class="videoSection__content">
                        <a href="#agriVideoPopup4" target="_blank" class="popup-modal headerVideoLink">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </a>
                        <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published On 1 Week ago</p>
                    </div>
                    <div id="agriVideoPopup4" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <div class="header-video">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </div>
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/qN3OueBm9F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="videoSection__inner">
                    <a href="#agriVideoPopup3" target="_blank" class="popup-modal headerVideoLink">
                        <div class="videoSection__inner--img">
                            <img src="{% static 'images/maxresdefault.jpg' %}" class="img-fluid">
                        </div>
                    </a>
                    <div class="videoSection__content">
                        <a href="#agriVideoPopup3" target="_blank" class="popup-modal headerVideoLink">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </a>
                        <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published On 1 Week ago</p>
                    </div>
                    <div id="agriVideoPopup3" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <div class="header-video">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </div>
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/qN3OueBm9F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="videoSection__inner">
                    <a href="#agriVideoPopup1" target="_blank" class="popup-modal headerVideoLink">
                        <div class="videoSection__inner--img">
                            <img src="{% static 'images/dc.jpeg' %}" class="img-fluid">
                        </div>
                    </a>
                    <div class="videoSection__content">
                        <a href="#agriVideoPopup1" target="_blank" class="popup-modal headerVideoLink">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </a>
                        <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published On 1 Week ago</p>
                    </div>
                    <div id="agriVideoPopup1" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <div class="header-video">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </div>
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/qN3OueBm9F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="videoSection__inner">
                    <a href="#tractorVideoPopup" target="_blank" class="popup-modal headerVideoLink">
                        <div class="videoSection__inner--img">
                            <img src="{% static 'images/videoimg.jpg' %}" class="img-fluid">
                        </div>
                    </a>
                    <div class="videoSection__content">
                        <a href="#tractorVideoPopup" target="_blank" class="popup-modal headerVideoLink">
                            <p class="videoSection__content--title">New VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </a>
                        <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published On 1 Week ago</p>
                    </div>
                    <div id="tractorVideoPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <div class="header-video">
                            <p class="videoSection__content--title">New VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </div>
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/qN3OueBm9F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="videoSection__inner">
                    <a href="#tractorVideoPopup1" target="_blank" class="popup-modal headerVideoLink">
                        <div class="videoSection__inner--img">
                            <img src="{% static 'images/dc.jpeg' %}" class="img-fluid">
                        </div>
                    </a>
                    <div class="videoSection__content">
                        <a href="#tractorVideoPopup1" target="_blank" class="popup-modal headerVideoLink">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </a>
                        <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published On 1 Week ago</p>
                    </div>
                    <div id="tractorVideoPopup1" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <div class="header-video">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </div>
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/qN3OueBm9F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="videoSection__inner">
                    <a href="#tractorVideoPopup2" target="_blank" class="popup-modal headerVideoLink">
                        <div class="videoSection__inner--img">
                            <img src="{% static 'images/Tractor-loader.jpg' %}" class="img-fluid">
                        </div>
                    </a>
                    <div class="videoSection__content">
                        <a href="#tractorVideoPopup2" target="_blank" class="popup-modal headerVideoLink">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </a>
                        <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published On 1 Week ago</p>
                    </div>
                    <div id="tractorVideoPopup2" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <div class="header-video">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </div>
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/qN3OueBm9F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="videoSection__inner">
                    <a href="#tractorVideoPopup3" target="_blank" class="popup-modal headerVideoLink">
                        <div class="videoSection__inner--img">
                            <img src="{% static 'images/maxresdefault.jpg' %}" class="img-fluid">
                        </div>
                    </a>
                    <div class="videoSection__content">
                        <a href="#tractorVideoPopup3" target="_blank" class="popup-modal headerVideoLink">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </a>
                        <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published On 1 Week ago</p>
                    </div>
                    <div id="tractorVideoPopup3" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <div class="header-video">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </div>
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/qN3OueBm9F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="videoSection__inner">
                    <a href="#tractorVideoPopup4" target="_blank" class="popup-modal headerVideoLink">
                        <div class="videoSection__inner--img">
                            <img src="{% static 'images/Tractor-loader.jpg' %}" class="img-fluid">
                        </div>
                    </a>
                    <div class="videoSection__content">
                        <a href="#tractorVideoPopup4" target="_blank" class="popup-modal headerVideoLink">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </a>
                        <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> Published On 1 Week ago</p>
                    </div>
                    <div id="tractorVideoPopup4" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <div class="header-video">
                            <p class="videoSection__content--title">VST Shakti Viraaj XP 9054 DI (50 HP) Features, Specification</p>
                        </div>
                        <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/qN3OueBm9F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="paginationBlock">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">..</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>

{% endblock%} {% block script %}
<script src="{% static 'js/magnific-popup.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.headerVideoLink').magnificPopup({
            type: 'inline',
            midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
        });
    });
</script>
{% endblock%}