{% extends "layout/base.html" %}
<!--  -->
{% load static %} {% block title %} | Videos{% endblock %}
{% load embed_video_tags %}

<!-- Static block -->
{% block static %}
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" /> {% endblock %}
<!-- End of static block -->
<!--  Start of content -->
{% block content %}
<section class="brands">
    <div class="container">
        <div class="sorting">
            <div class="row g-2">
                <div class="col-sm-12 col-md-8 col-lg-9 align-self-center">
                    <h5 class="sorting__title">Tractor Video Gallery</h5>
                </div>
                <div class="col-md-4 col-lg-3 d-none d-sm-none d-md-block">
                    <div class="soritng__price">
                        <select class="form-select" aria-label="Default select example">
                    <option selected>Video Sort by</option>
                    <option value="1">Latest</option>
                    <option value="2">Popular</option>
                    <option value="3">Upcoming</option>
                </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-4">
            {% for i in obj %}
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="videoSection__inner">
                    <a href="#agriVideoPopup" target="_blank" class="popup-modal headerVideoLink">
                            <p class="videoSection__content--title">{{i.title}}</p>
                        </a>
                    <a href="#agriVideoPopup-{{i.id}}" target="_blank" class="popup-modal headerVideoLink">
                         <div class="videoSection__inner--img">
                            <img src="{{i.thumbnail.url}}" class="img-fluid">
                        </div>
                    </a>
                    <div class="videoSection__content">
                     <p class="videoSection__content--blog"><i class="fa fa-calendar"></i> {{i.published_date|timesince}} ago
                     </p>
                    </div>
                    <div id="agriVideoPopup-{{i.id}}" class="mfp-hide embed-responsive embed-responsive-21by9">
                        <div class="header-video">
                            <p class="videoSection__content--title">{{i.title}}</p>
                         </div>
                        
                         {% video i.video %}
                   
                    </div>
                </div>
            </div>
            {% endfor %}
        <div class="paginationBlock">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">..</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>

{% endblock%} {% block script %}
<script src="{% static 'js/magnific-popup.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.headerVideoLink').magnificPopup({
            type: 'inline',
            midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
        });
    });
</script>
{% endblock%}