{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Detail{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">View Detail</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'lubricant-detail-create' %}">Lubricant</a></li>
                    <li class="breadcrumb-item active">View Detail</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="" action="">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="form-title">Lubricant</h6>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Name</td>
                                        <td class="w-50 view-detail">{{ lubricant.name }}</td>
                                    </tr>
                                    <tr> 
                                        <td class="w-50 view-title">Brand</td>
                                        <td class="w-50 view-detail">{{ lubricant.brand }}</td>
                                    </tr>
                                    <tr> 
                                        <td class="w-50 view-title">Type</td>
                                        <td class="w-50 view-detail">{{ lubricant.lubricantdetail_type }}</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Price</td>
                                        <td class="w-50 view-detail">Rs. {{ lubricant.price }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <h6 class="form-title">Lubricant Images</h6>
                                <div class="row">
                                    {% for img in lubricant.image.all %}
                                    <div class="col-md-6 col-sm-12 mb-2">
                                        <img style="width:60%" src="{{ img.image.url }}" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="form-title">Other Information</h6>
                            </div>
                            <div class="col-12">
                                <table class="detail-table table table-borderless table-striped">
                                    <tr>
                                        <td class="w-50 view-title">Weight </td>
                                        <td class="w-50 view-detail">{{ lubricant.weight }} mg KOH/gm</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Temperature</td>
                                        <td class="w-50 view-detail">{{ lubricant.temperature }} (°C Max)</td>
                                    </tr>
                                    <tr>
                                        <td class="w-50 view-title">Quantity</td>
                                        <td class="w-50 view-detail">{{ lubricant.quantity }} Ltr.</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a type="submit" href="{% url 'lubricant-detail-create' %}" class="btn btn-success btn-theme-admin rounded-0">Back to
                                    List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
