{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link
	rel="stylesheet"
	href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}"
/>
<link
	rel="stylesheet"
	href="{% static 'admin/css/custom-dataTables.css' %}"
/>
<link
	rel="stylesheet"
	href="{% static 'css/cooltipz.min.css' %}"
/>
<link
	rel="stylesheet"
	href="{% static 'admin/css/sweetalert2.min.css' %}"
/>
{% endblock %}
<!-- title -->
{% block title %}Lubricant{% endblock %}
{% block style %}
<style>{% include 'admin/documents/upload-file.css' %}</style>
{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<h5 class="content-title">Lubricant Detail</h5>
			</div>
			<!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">
						<a href="#">Home</a>
					</li>
					<li class="breadcrumb-item active">
						Lubricant Detail
					</li>
				</ol>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
	<div class="container-fluid">
		<div class="row mb-3">
			<div class="col-12 col-sm-6 col-md-3 col-lg-2">
				<a
					href=""
					data-toggle="modal"
					data-target="#addbrandModal"
					class="btn btn-block btn-success btn-theme-admin rounded-0"
					>Add Lubricant Detail</a
				>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="table-responsive">
					<table
						id="brand-table"
						class="table table-striped table-bordered"
						style="width: 100%"
					>
						<thead>							
							<tr>
								<th width="2%">SN</th>
								<th>Name</th>
								<th>Brand</th>
								<th>Type</th>
								<th>Price(Nrs)</th>
								<th>Weight mg KOH/gm</th>
								<th>Temperature(°C Max)</th>								
								<th>Quantity(L)</th>
								<th width="12%">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for lubdetail in lubricantdetails %}
							<tr>
								<td class="text-center">{{forloop.counter}}</td>
								<td>{{lubdetail.name}}</td>
								<td>
									<span
										class="badge bg-success f-14 font-weight-400 text-white"
										>{{lubdetail.brand}}</span
									>
								</td>
								<td>{{lubdetail.lubricantdetail_type}}</td>
								<td>
									<span
										class="badge bg-secondary f-14 font-weight-400 text-white"
										>{{lubdetail.price}}</span
									>
								</td>
								<td>{{lubdetail.weight}}</td>
								<td>{{lubdetail.temperature}}</td>
								<td>{{lubdetail.quantity}}</td>
								<td class="text-center">
									<span class="action-icon mr-3"><a href="{% url 'lubricant-detail-update' lubdetail.pk %}"
											data-cooltipz-dir="bottom" aria-label="Edit" class="btn btn-transparent bg-white p-0">
											<i class="fas fa-edit text-secondary"></i></a>
									</span>
									<span class="action-icon"><a href="{% url 'lubricant-detail-delete' lubdetail.pk %}"
											data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0">
											<i class="fas fa-trash text-danger"></i></a>
									</span>
									<span class="action-icon"><a href="{% url 'admin-lubricant-detail' lubdetail.pk %}"
                                        data-cooltipz-dir="bottom" class="btn btn-transparent bg-white p-0">
                                         <i class="fas fa-eye text-basic"></i></a>
                                   </span>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- add Modal -->
<div
	class="modal fade"
	id="addbrandModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header tractorModal__header">
				<h5
					class="modal-title tractorModal__header---title"
					id="exampleModalLabel"
				>
					Add Lubricant Detail
				</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body tractorModal__body">
				<form action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group mb-3">
						<label for="" class="tractor-label">Name</label>
						{{form.name}}
					</div>
					<div class="form-group mb-3">
						<label for="" class="tractor-label"
							>Image</label
						>
						{% include 'admin/drop-box.html' %}
					</div>
					<div class="form-group mb-3">
						<label for="" class="tractor-label"
							>Brand Name</label
						>
						{{form.brand}}
						
					</div>
					<div class="form-group mb-3">
						<label for="" class="tractor-label">Type</label>
						{{form.lubricantdetail_type}}
					</div>
					<div class="form-group mb-3">
						<label for="" class="tractor-label"
							>Price Nrs.</label
						>
						{{form.price}}
					</div>					
					<div class="form-group mb-3">
						<label for="" class="tractor-label"
							>Weight mg KOH/gm</label
						>
						{{form.weight}}
					</div>
					<div class="form-group mb-3">
						<label for="" class="tractor-label"
							>Temperature (°C Max)</label
						>
						{{form.temperature}}
					</div>				
					<div class="form-group mb-3">
						<label for="" class="tractor-label"
							>Quantity(L)</label
						>
						{{form.quantity}}
					</div>
					<button
						type="submit"
						class="btn btn-block btn-success btn-theme-admin rounded-0"
					>
						Add Lubricant Detail
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
	$(document).ready(function () {
		$("#brand-table").DataTable();
	});
	// delete alert
	$(".delete").click(function (e) {
		e.preventDefault();
		swal({
			title: "Are you sure?",
			text: "It will permanently deleted !",
			icon: "warning",
			buttons: true,
			dangerMode: true,
		}).then((willDelete) => {
			if (willDelete) {
				window.location.href = $(this).attr('href')
				swal(" 'Your file has been deleted.'!", {
					icon: "success",
				});
			}
		});
	});
</script>
<script>{% include 'admin/documents/upload-file.js' %}</script>
{% endblock %}
