{% extends "layout/base.html" %} {% load static %} {% block title %} | Certified Dealer{% endblock %} {% block content %}

<section class="fullbanner">
    <div class="fullbanner__image">
        <img src="{% static 'images/dealer-certified.jpg' %}" class="img-fluid" alt="Certified Dealer Banner">
    </div>
    <div class="find-tractor dealer-certified-form">
        <h4 class="find-tractor__title py-0 mb-2">Find Tractor Dealers</h4>
        <p class="mb-3 f-light">Find new tractors dealers and authorized showrooms in Nepal.</p>
        <form action="">
            <div class="row g-3">
                <div class="col-6 col-sm-6 col-md-4">
                    <div class="form-group">
                        <select class="form-select" name="brand_id">
                            <option value="">Select Brand</option>
                            <option value="64">ACE</option>
                            <option value="65">Captain</option>
                            <option value="211">Digitrac</option>
                            <option value="56">Eicher</option>
                            <option value="60">Escort</option>
                            <option value="75">Farmtrac</option>
                            <option value="66">Force</option>
                            <option value="68">Indo Farm</option>
                            <option value="59">John Deere</option>
                            <option value="63">Kubota</option>
                            <option value="55">Mahindra</option>
                            <option value="74">Massey Ferguson</option>
                            <option value="62">New Holland</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4">
                    <div class="form-group">
                        <select class="form-select" name="state_id">
                            <option value="">Select State</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4">
                    <div class="form-group">
                        <select class="form-select" name="dist_id">
                            <option value="">Select District</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6">
                    <button type="submit" class="btn btn-theme-light btn-block">Search Dealer <i class="fas fa-search ml-2"></i></button>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <a href="{% url 'dealership' %}" class="btn btn-theme-dark btn-block">Become Certified Dealer</a>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="recentCertfiedDealers tractor-year ">
    <div class="container">
        <h4 class="tractor-year__title">Recent Certified Dealers</h4>
        <div class="row g-3">
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="cardTractor">
                    <div class="cardTractor__header">
                        <div class="cardTractor__header---imageContainer">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="cardTractor__body">
                        <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                        <!-- brand name -->
                        <p class="cardTractor__body---price">Mahindra</p>
                        <a href="" class="btn btn-theme-light btn-block btn-sm">
                            <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="cardTractor">
                    <div class="cardTractor__header">
                        <div class="cardTractor__header---imageContainer">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="cardTractor__body">
                        <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                        <!-- brand name -->
                        <p class="cardTractor__body---price">Mahindra</p>
                        <a href="" class="btn btn-theme-light btn-block btn-sm">
                            <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="cardTractor">
                    <div class="cardTractor__header">
                        <div class="cardTractor__header---imageContainer">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="cardTractor__body">
                        <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                        <!-- brand name -->
                        <p class="cardTractor__body---price">Mahindra</p>
                        <a href="" class="btn btn-theme-light btn-block btn-sm">
                            <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="cardTractor">
                    <div class="cardTractor__header">
                        <div class="cardTractor__header---imageContainer">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="cardTractor__body">
                        <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                        <!-- brand name -->
                        <p class="cardTractor__body---price">Mahindra</p>
                        <a href="" class="btn btn-theme-light btn-block btn-sm">
                            <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="cardTractor">
                    <div class="cardTractor__header">
                        <div class="cardTractor__header---imageContainer">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="cardTractor__body">
                        <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                        <!-- brand name -->
                        <p class="cardTractor__body---price">Mahindra</p>
                        <a href="" class="btn btn-theme-light btn-block btn-sm">
                            <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="cardTractor">
                    <div class="cardTractor__header">
                        <div class="cardTractor__header---imageContainer">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="cardTractor__body">
                        <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                        <!-- brand name -->
                        <p class="cardTractor__body---price">Mahindra</p>
                        <a href="" class="btn btn-theme-light btn-block btn-sm">
                            <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="cardTractor">
                    <div class="cardTractor__header">
                        <div class="cardTractor__header---imageContainer">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="cardTractor__body">
                        <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                        <!-- brand name -->
                        <p class="cardTractor__body---price">Mahindra</p>
                        <a href="" class="btn btn-theme-light btn-block btn-sm">
                            <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="cardTractor">
                    <div class="cardTractor__header">
                        <div class="cardTractor__header---imageContainer">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="cardTractor__body">
                        <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                        <!-- brand name -->
                        <p class="cardTractor__body---price">Mahindra</p>
                        <a href="" class="btn btn-theme-light btn-block btn-sm">
                            <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="cardTractor">
                    <div class="cardTractor__header">
                        <div class="cardTractor__header---imageContainer">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="cardTractor__body">
                        <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                        <!-- brand name -->
                        <p class="cardTractor__body---price">Mahindra</p>
                        <a href="" class="btn btn-theme-light btn-block btn-sm">
                            <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="cardTractor">
                    <div class="cardTractor__header">
                        <div class="cardTractor__header---imageContainer">
                            <img src="{% static 'images/ct-1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="cardTractor__body">
                        <h6 class="cardTractor__body---tractorName">Mahindra JIVO 245 DI</h6>
                        <!-- brand name -->
                        <p class="cardTractor__body---price">Mahindra</p>
                        <a href="" class="btn btn-theme-light btn-block btn-sm">
                            <i class="fas fa-map-marker-alt mr-2"></i>Sanepa, Lalitpur
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="paginationBlock">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">..</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Find tractor dealers near you</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock content %}