{% extends 'layout/base.html' %}
<!--  -->
{% block title%} | Dealer Enquiry
<!--  -->
{% endblock%}
<!--  -->

<!--  Dealership Block -->
{% block content %}
<section class="brands">
    <div class="container">
        <h4 class="tractor-year__title">Tractor Dealer Enquiry</h4>
        <div class="banner-dealership">
            <div class="banner-dealership__img">
                <img src="/static/images/de.jpg" class="img-fluid" alt="" />
            </div>
        </div>
        <div class="dealership-form">
            {% include 'forms/dealership_form.html' %}
        </div>
    </div>
</section>

{% endblock content %}
<!-- End of Dealership block -->

<!-- Script Block -->
{% block script %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}