{% extends "layout/base.html" %} {% load static %} {% block title %} | Find Dealer{% endblock %} {% block content %}

<section class="fullbanner">
    <div class="fullbanner__image">
        <img src="{% static 'images/dealer-certified.jpg' %}" class="img-fluid" alt="Certified Dealer Banner">
    </div>
    <div class="find-tractor dealer-certified-form">
        <h4 class="find-tractor__title py-0 mb-2">Find a Tractor Dealers Near You</h4>
        <p class="mb-3 f-light">Where ever you are, you'll always find our dealership or service network. Find the one that's nearest to you.</p>
        <form action="{% url 'find-dealer' %}" method="GET" id="addressForm" data-district-url="{% url 'district-data' %}">
            <div class="row g-3">
                <div class="col-6 col-sm-6 col-md-4">
                    <div class="form-group">
                            <span>Select Brand</span>
                            {{ form.authorization }}
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4">
                    <div class="form-group">
                        <span>Select State</span>
                        {{ form.state }}
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4">
                    <div class="form-group">
                        <span>Select District</span>
                        {{ form.district }}
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-12">
                    <button href="" type="submit" class="btn btn-theme-dark btn-block">Search Dealer</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="recentCertfiedDealers tractor-year ">
    <div class="container">
        <h4 class="tractor-year__title">Dealers In Nepal <span>({{ total_dealer }})</span></h4>
        <div class="row g-3">
            {% for dealer in object_list %}
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="card findDealerSection-card">
                    <h6>{{ dealer.name|upper }}</h6>
                    <ul>
                        <li><span>Authorization:</span><span class="title"> {{ dealer.authorization|title }}</span></li>
                        <li>
                            <div class="row">
                                <div class="col-8">
                                    <span>Mobile No.:</span> {{ dealer.contact }}
                                </div>
                                <div class="col-4">
                                    <span>Pin No.:</span> {{ dealer.pin_no }}
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-8">
                                    <span>District:</span> {{ dealer.district }}
                                </div>
                                <div class="col-4">
                                    <span>State:</span> {{ dealer.state }}
                                </div>
                            </div>
                        </li>
                        <li><span>Address:</span>{{ dealer.address }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if page_obj.paginator.num_pages > 1 %}
        <div class="paginationBlock">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number != 1 %}
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                {% endif %}
                <li class="page-item "><a class="page-link" href="?page={{page_obj.previous_page_number}}">
                    {{ page_obj.previous_page_number }}
                </a></li>
                {% endif %}

                <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">
                    {{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    {{ page_obj.next_page_number }}
                </a></li>
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                    {{ page_obj.paginator.num_pages }}</a></li>
                {% endif %}
                {% endif %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</section>
<section class="description">
    <div class="container">
        <h5 class="description__title">Find tractor dealers near you</h5>
        <p class="description__detail">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quisquam blanditiis suscipit ipsam doloremque minima non voluptatem nemo obcaecati, placeat dolores quia officia delectus quidem deleniti. Aspernatur similique rem sapiente tenetur.
        </p>
    </div>
</section>
{% endblock content %}