<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{% block title %}{% endblock %} | Admin Dashboard</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/admin.css' %}"> {% block static %}{% endblock %}
    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/icon" sizes="16x16">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    {% block style %}

    {% endblock %}
    <style> 
        .form-error{
          color : red;
          padding: 0;
        }
  
        .form-error ul li{
          list-style:none;
          padding: 0;
        }
  
        .form-inline{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }   
  
        .form-inline input{
              margin: 5px 5px 5px 0;
        } 
  
        span .switch-btn{
          margin: 0px 10px 0 10px;
        }
        </style>

</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% include 'layout/admin/header.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            {% block content %} {% endblock %}
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        {% include 'layout/admin/footer.html' %}
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="{% static 'admin/js/popper.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'admin/js/bootstrap.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'admin/js/adminlte.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <!-- select2-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      $("#id_state").change(function () {
        var url = $("#addressForm").attr("data-district-url");  // get the url of the `load_cities` view
        var provinceId = $(this).val();  // get the selected country ID from the HTML input
    
        $.ajax({                       // initialize an AJAX request
          url: url, 
          method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'state': provinceId       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
    
      });
      $("#id_district").change(function () {
        var url = $("#addressForm").attr("data-municipality-url");  // get the url of the `load_cities` view
        var districtId = $(this).val();  // get the selected country ID from the HTML input
    
        $.ajax({                       // initialize an AJAX request
          url: url, 
          method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'district': districtId       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_municipality").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
    
      });
    </script>
    <script>
      $(".select2").select2({ 
            width: '100%',
        });

    </script>
    {% block script%}{% endblock %}
</body>

</html>