{% load static %}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
        </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
        <span >
            <a class="btn btn-warning mr-2 reset" href="{% url 'update-password' %}">
            <i class="fa fa-edit m-1" aria-hidden="true"></i>Change Password</a>
        </span>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
            <div class="">
                <a href="" class="dropdown-item">
                {{ user.username }}
            </a>
            </div>
        </li> 
        {% endif %}
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <div class="">
                <a href="{% url 'logout' %}" class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
            </div>
        </li>   
    </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img src="{% static 'images/logo/logo-white.png' %}" alt="Tractor" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-bold">Tractor Shop</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{% url 'admin-dashboard' %}" class="nav-link">
                        <i class="nav-icon t-nav-icon far fa-circle"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'home-slider' %}" class="nav-link">
                        <i class="nav-icon t-nav-icon fas fa-image"></i>
                        <p>
                            Home Slider
                        </p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon fas fa-warehouse"></i>
                        <p>
                            Inventory
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'brandcreate' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-clipboard"></i>
                                <p>Brands</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'category' %}" class="nav-link">
                                <i class="fas fa-link nav-icon t-nav-icon"></i>
                                <p>Categories</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'dimension-weights' %}" class="nav-link">
                                <i class="fas fa-weight-hanging nav-icon t-nav-icon"></i>
                                <p>Dimension And Weights</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'engine' %}" class="nav-link">
                                <i class="fab fa-searchengin nav-icon t-nav-icon"></i>
                                <p>Engines</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'fuel-tank' %}" class="nav-link">
                                <i class="fas fa-sort-amount-up nav-icon t-nav-icon"></i>
                                <p>Fuel Tanks</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'hydraulices' %}" class="nav-link">
                                <i class="fas fa-sort-amount-up nav-icon t-nav-icon"></i>
                                <p>Hydraulices</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="{% url 'other-information' %}" class="nav-link">
                                <i class="fas fa-info-circle nav-icon t-nav-icon"></i>
                                <p>Other Informations</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'powers' %}" class="nav-link">
                                <i class="fas fa-bolt nav-icon t-nav-icon"></i>
                                <p>Powers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'steerings' %}" class="nav-link">
                                <i class="far fa-circle nav-icon t-nav-icon"></i>
                                <p>Steering</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'transmission' %}" class="nav-link">
                                <i class="fas fa-dolly-flatbed nav-icon t-nav-icon"></i>
                                <p>Transmissions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'wheel-tyre' %}" class="nav-link">
                                <i class="fas fa-dharmachakra nav-icon t-nav-icon"></i>
                                <p>Wheel And Tyres</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'tractors' %}" class="nav-link">
                                <i class="fas fa-tractor nav-icon t-nav-icon"></i>
                                <p>Tractors</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'image-create' %}" class="nav-link">
                                <i class="fas fa-images nav-icon t-nav-icon"></i>
                                <p>Images</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'old-brandcreate' %}" class="nav-link">
                                <i class="fas fa-clipboard nav-icon t-nav-icon"></i>
                                <p>Old Tractor Brand</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'old-tractors' %}" class="nav-link">
                                <i class="fas fa-tractor nav-icon t-nav-icon"></i>
                                <p>Old Tractors</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tractor-tyre-brand' %}" class="nav-link">
                                <i class="fas fa-dharmachakra nav-icon t-nav-icon"></i>
                                <p>Tractor Tyres Brands</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tractor-tyre' %}" class="nav-link">
                                <i class="fas fa-dharmachakra nav-icon t-nav-icon"></i>
                                <p>Tractor Tyres</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fa fa-tractor nav-icon t-nav-icon"></i>
                        <p>
                            Implements
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin-implements' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-clipboard"></i>
                                <p>Implemetns</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'old-implement-list' %}" class="nav-link">
                                <i class="fa fa-clipboard nav-icon t-nav-icon"></i>
                                <p>Old Implements</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin-implement-brand-list' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-clipboard"></i>
                                <p>Brands</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin-implement-category-list' %}" class="nav-link">
                                <i class="fas fa-link nav-icon t-nav-icon"></i>
                                <p>Categorys</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin-implement-type-list' %}" class="nav-link">
                                <i class="fas fa-weight-hanging nav-icon t-nav-icon"></i>
                                <p>Types</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon fas fa-user-circle"></i>
                        <p>
                            Users
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'seller-detail' %}" class="nav-link">
                                <i class="fas fa-id-card nav-icon t-nav-icon"></i>
                                <p>Seller Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'customer-profile-list' %}" class="nav-link">
                                <i class="fas fa-id-card nav-icon t-nav-icon"></i>
                                <p>Customer List</p>
                            </a>
                        </li>
                        
                        {% if request.user.is_superuser %}

                        <li class="nav-item">
                            <a href="{% url 'admin-user-list' %}" class="nav-link">
                                <i class="fas fa-users nav-icon t-nav-icon"></i>
                                <p>User</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon far fa-user-circle"></i>
                        <p>
                            Customer
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'buyers-inqueries' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-question-circle"></i>
                                <p>Old Tractor Inqueries</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'implement-inquery' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-question-circle"></i>
                                <p>Old Implement Inqueries</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvester-inquery' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-question-circle"></i>
                                <p>Old harvester Inqueries</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'newsletter' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-envelope-open-text"></i>
                                <p>Newsletter</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'question' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-question-circle"></i>
                                <p>Questions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'answer' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-arrow-circle-right"></i>
                                <p>Answers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'apply-insurance' %}" class="nav-link">
                                <i class="fas fa-file-contract nav-icon t-nav-icon"></i>
                                <p>Apply Insurances</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'apply-loan' %}" class="nav-link">
                                <i class="fas fa-file-signature nav-icon t-nav-icon"></i>
                                <p>Apply Loan</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'get-on-road-price' %}" class="nav-link">
                                <i class="fa fa-money-bill-alt nav-icon t-nav-icon"></i>
                                <p>Get on Road Price</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tractor-valuation' %}" class="nav-link">
                                <i class="fa fa-tractor nav-icon t-nav-icon"></i>
                                <p>Tractor Valuation</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'finance_scheme' %}" class="nav-link">
                                <i class="fa fa-tractor nav-icon t-nav-icon"></i>
                                <p>Finance Scheme</p>
                            </a>
                        </li>

                        
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon far fa-user-circle"></i>
                        <p>
                            Dealer
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'dealership-enquiry' %}" class="nav-link">
                                <i class="t-nav-icon nav-icon fas fa-clipboard"></i>
                                <p>
                                    Dealership Enquirys
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'certified-dealer-list' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-envelope-open-text"></i>
                                <p>Certified Dealer</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'broker-dealer' %}" class="nav-link">
                                <i class="t-nav-icon nav-icon fas fa-clipboard"></i>
                                <p>
                                    Broker Dealer Enquirys
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon fas fa-video"></i>
                        <p>
                            Videos
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'video-lists' %}" class="nav-link">
                                <i class="t-nav-icon nav-icon fas fa-video"></i>
                                <p>
                                    Videos
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'video-category' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-camera"></i>
                                <p>Videos Category</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon nav-icon fas fa-newspaper"></i>
                        <p>
                            News
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'news-dashboard' %}" class="nav-link">
                                <i class="t-nav-icon nav-icon fas fa-newspaper"></i>
                                <p>
                                    News
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'news-category' %}" class="nav-link">
                                <i class="t-nav-icon nav-icon far fa-newspaper"></i>
                                <p>News Categorys</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a href="{% url 'post-category' %}" class="nav-link">
                        <i class="t-nav-icon nav-icon fas fa-blog"></i>
                        <p>
                            Posts Categorys
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'post' %}" class="nav-link">
                        <i class="t-nav-icon nav-icon fab fa-blogger-b"></i>
                        <p>
                            Posts
                        </p>
                    </a>
                </li> -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon fas fa-trash"></i>
                        <p>
                            Lubricants
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'lubricant-brand-create' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-trash-restore-alt"></i>
                                <p>Lubricant Brand</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'lubricant-type-create' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fab fa-bitbucket"></i><i class="fab fa-"></i>
                                <p>Lubricant Type</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'lubricant-detail-create' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-dumpster"></i>
                                <p>Lubricant Detail</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon fas fa-tools"></i>
                        <p>
                            Tools
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'tool-brand' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-hammer"></i>
                                <p>Tool Brand</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tool-category' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-wrench"></i>
                                <p>Tool Category</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin-tool-list' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-toolbox"></i>
                                <p>Tool Detail</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon fas fa-tools"></i>
                        <p>
                            Harvestor Inventory
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'old-harvester-list' %}" class="nav-link">
                                <i class="fa fa-hammer nav-icon t-nav-icon"></i>
                                <p>Old Harvesters</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-hammer"></i>
                                <p>Harvestor</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-engine' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fab fa-searchengin"></i>
                                <p>Engine</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvester-power-source' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fab fa-searchengin"></i>
                                <p>Power Source</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvester-brand' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fab fa-searchengin"></i>
                                <p>Harvester Brand</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-clutch' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-hammer"></i>
                                <p>Clutch</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-transmission' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-dolly-flatbed"></i>
                                <p>Transmission</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-cutterbar' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-hammer"></i>
                                <p>Cutter Bar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-straw-walker' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-hammer"></i>
                                <p>Straw Walker</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-cleaning' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-hammer"></i>
                                <p>Cleaning Sieves</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-capacity' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-hammer"></i>
                                <p>Capacity</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-battery' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-hammer"></i>
                                <p>Battery</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-dimensions' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-weight-hanging"></i>
                                <p>Main Dimension</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-concave' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-hammer"></i>
                                <p>Concave</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-tyre' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-dharmachakra"></i>
                                <p>Tyre</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'harvestor-threshing' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-hammer"></i>
                                <p>Threshing Drum</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>