{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
        </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-header">15 Notifications</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fa fa-envelope mr-2"></i> 4 new messages
                    <span class="float-right text-muted text-sm">3 mins</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fa fa-users mr-2"></i> 8 friend requests
                    <span class="float-right text-muted text-sm">12 hours</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fa fa-file mr-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">
                Logout
            </a>
            </div>
        </li>
    </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img src="{% static 'images/logo/logo-white.png' %}" alt="Tractor" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-bold">Tractor Shop</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon fas fa-warehouse"></i>
                        <p>
                            Inventory
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'brand-table' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-clipboard"></i>
                                <p>Brands</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-link nav-icon t-nav-icon"></i>
                                <p>Categorys</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-weight-hanging nav-icon t-nav-icon"></i>
                                <p>Dimension And Weights</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fab fa-searchengin nav-icon t-nav-icon"></i>
                                <p>Engines</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-sort-amount-up nav-icon t-nav-icon"></i>
                                <p>Hydraulices</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-images nav-icon t-nav-icon"></i>
                                <p>Images</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-tractor nav-icon t-nav-icon"></i>
                                <p>Old Tractors</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-info-circle nav-icon t-nav-icon"></i>
                                <p>Other Informations</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-bolt nav-icon t-nav-icon"></i>
                                <p>Powers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon t-nav-icon"></i>
                                <p>Steering</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-tractor nav-icon t-nav-icon"></i>
                                <p>Tractors</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-dolly-flatbed nav-icon t-nav-icon"></i>
                                <p>Transmissions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-dharmachakra nav-icon t-nav-icon"></i>
                                <p>Wheel And Tyres</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon fas fa-user-circle"></i>
                        <p>
                            Users
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-user"></i>
                                <p>Profiles</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'seller-detail' %}" class="nav-link">
                                <i class="fas fa-id-card nav-icon t-nav-icon"></i>
                                <p>Seller Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users nav-icon t-nav-icon"></i>
                                <p>User</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon t-nav-icon far fa-user-circle"></i>
                        <p>
                            Customer
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'question' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-question-circle"></i>
                                <p>Questions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'answer' %}" class="nav-link">
                                <i class="nav-icon t-nav-icon fas fa-arrow-circle-right"></i>
                                <p>Answers</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'apply-insurance' %}" class="nav-link">
                                <i class="fas fa-file-contract nav-icon t-nav-icon"></i>
                                <p>Apply Insurances</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'apply-loan' %}" class="nav-link">
                                <i class="fas fa-file-signature nav-icon t-nav-icon"></i>
                                <p>Apply Loan</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'dealership-enquiry' %}" class="nav-link">
                        <i class="t-nav-icon nav-icon fas fa-clipboard"></i>
                        <p>
                            Dealership Enquirys
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'news-category' %}" class="nav-link">
                        <i class="t-nav-icon nav-icon far fa-newspaper"></i>
                        <p>
                            News Categorys
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'news-dashboard' %}" class="nav-link">
                        <i class="t-nav-icon nav-icon fas fa-newspaper"></i>
                        <p>
                            News
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'post-category' %}" class="nav-link">
                        <i class="t-nav-icon nav-icon fas fa-blog"></i>
                        <p>
                            Posts Categorys
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'post' %}" class="nav-link">
                        <i class="t-nav-icon nav-icon fab fa-blogger-b"></i>
                        <p>
                            Posts
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>