<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tractor Shop Login</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

    <!-- End of static block -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />

    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/icon" sizes="16x16">
    <link type="text/css" href="{% static 'toastr/toastr.min.css' %}" rel="stylesheet">
    <style>
        .page-login {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient( 201deg, #003f58, #009fde);
        }
        
        .page-login-admin {
            background: white;
            border-radius: 15px;
            padding: 1rem 0 0;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
        }
    </style>
    <style> 
        .form-error{
          color : red;
          padding: 0;
        }
  
        .form-error ul li{
          list-style:none;
          padding: 0;
        }
  
        .form-inline{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }   
  
        .form-inline input{
              margin: 5px 5px 5px 0;
        } 
  
        </style>

</head>

<body>
    <div class="wrapper">
        <section class="page-login">
            <div class="container">
                <div class="col-12 col-md-6 mx-auto">
                    <div class="page-login-admin">
                        <a class="navbar-brand d-block text-center mb-3" href="{% url 'index' %}">
                            <img src="{% static 'images/logo/logo-blue.png' %}" class="topnav__logo" alt="" />
                        </a>
                        <div class="modal-body modal-content-adjust__body">
                            <h4 class="modal-title modal-content-adjust__body--title">Log In</h4>
                            <form method="POST" action="" class="form-adjust">
                                {% csrf_token %}
                                {% if error %}
                                <li class="form-error">{{error}}</li>
                                {% endif %}
                                <div class="form-group mb-3">
                                    <label for="email" class="control-label mb-2">Email</label>
                                    <input type="email" class="form-control form-adjust__input" name="email" value="" required="" placeholder="example@gmail.com" />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password" class="control-label mb-2">Password</label>
                                    <input type="password" class="form-control form-adjust__input" id="password" name="password" value="" required="" title="Please enter your password" />
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="checkbox mb-3 f-14">
                                        <label> <input type="checkbox" name="" /> Remember Me </label>
                                    </div>
                                    <div>
                                        <a href="{% url 'forgot-password' %}" class="font-weight-bold f-14 text-dark-theme">Forgot Password?</a>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-theme-dark btn-block mb-3">
                                    Login
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<!-- Toastr -->
<script src="{% static 'toastr/toastr.min.js' %}"></script>
<script>
    toastr.options = {
           "debug": false,
           "newestOnTop": false,
           "positionClass": "toast-top-right",
           "closeButton": true,
           "timeOut": "5000",
           "progressBar": false
       }; 

       {% for message in messages %} 
       {% if message.level == 20 %}
           toastr.info("{{ message }}"); 
       {% elif message.level == 25 %}
           toastr.success("{{ message }}");
       {% elif message.level == 30 %}
           toastr.warning("{{ message }}"); 
       {% elif message.level == 40 %}
           toastr.error("{{ message }}"); 
       {% endif %} 
       {% endfor %}
</script>
</body>

</html>