
<div class="modal-header tractorModal__header">
    <h5 class="modal-title tractorModal__header---title">Edit Answer</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>

<div class="modal-body tractorModal__body ">
    <form action="" method="POST" class="answerUpdate"> 
        {% csrf_token %}
        <div>
            <input type="hidden" name="" id="e-id">
        </div>
        <div class="form-group mb-3">
            <label for="" class="tractor-label">Your Question</label>
            {{ form.question }}
        </div>
        <div class="form-group mb-3">
            <label for="" class="tractor-label">Name</label>
            {{ form.name }}
        </div>
        <div class="form-group mb-3">
            <label for="" class="tractor-label">Phone</label>
            {{ form.mob_no }}
        </div>
        <div class="form-group mb-3">
            <label for="" class="tractor-label">Your Answer</label>
            {{ form.answer }}
        </div>
        <button id="editAnswerButton" type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Update Answer</button>
    </form>
</di>
