{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Answer{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Answer</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Answer</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addanswerModal" class="btn btn-block btn-success btn-theme-admin rounded-0" >Add Answer</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="answer" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th width="15%">Name</th>
                                <th width="11%">Phone</th>
                                <th width="30%">Question</th>
                                <th width="30%">Answer</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for answer in answerList %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{answer.name}}</td>
                                <td><span class="badge bg-theme-green f-14 font-weight-400 text-white">{{answer.mob_no}}</span></td>
                                <td>{{answer.question}}</td>
                                <td>{{answer.answer}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'answer_edit' answer.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Edit" class="edit-icon"><i class="fas fa-edit text-secondary"></i></button></span>
                                    <span class="action-icon"><a href="{% url 'answer_delete' answer.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Delete"
                                         class="delete btn btn-transparent bg-white p-0">
                                         <i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addanswerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Answer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Your Question</label>
                        {{ form.question }}
                    </div>

                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Name</label>
                       {{ form.name }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Phone</label>
                        {{ form.mob_no }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Your Answer</label>
                        {{ form.answer }}
                    </div>
                    <button type="submit" id="addAnswerButton" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Answer</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>

<!-- <script>
    $('body').on('click' ,'.edit-icon', function(){
        var url = $(this).data('url');
        $.get(url, function(data){
            $('#editquestionModal').empty().append(data);
        })
    })
</script> -->

<!-- delete answer -->
<script>

    $(document).ready(function() {
        $('#answer').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                                icon: "success",
                            });
                }
            });
    })
</script>
{% endblock %}