{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Old Implement Inquiries{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Old Implement Inquiries</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Old Implement Inquiries</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="" data-toggle="modal" data-target="#addinqueryModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Implement Inquery</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="buyers_inquires" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th width="15%">Name</th>
                                <th>Choosen Old Implement</th>
                                <th>Contact</th>
                                <th>State</th>
                                <th>District</th>
                                <th>Biding Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for buyer in buyers %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{buyer.name}}</td>
                                <td><a href="{% url 'admin-old-implement-detail' buyer.implement.id %}"><span class="badge bg-theme-green f-14 font-weight-400 text-white">brand: {{buyer.implement.brand}}, model:{{ buyer.implement.model }}
                                    <small>(by: {{buyer.implement.seller}})</small></span></a></td>
                                <td>{{buyer.contact}}</td>
                                <td>{{buyer.state}}</td>
                                <td>{{buyer.district}}</td>
                                <td>{{buyer.bid_price}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'implement-inquery-update' buyer.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Edit"
                                         class="edit-icon"><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'implement-inquery-delete' buyer.id %}" 
                                        data-cooltipz-dir="bottom" 
                                        aria-label="Delete" class="delete btn btn-transparent bg-white p-0" 
                                        ><i class="fas fa-trash text-danger"></i></button></span>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addinqueryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Old Implement Inquery</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST" id="addressForm" data-district-url="{% url 'district-data' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Name</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Phone</label>
                        {{ form.contact }}
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-5">
                            <label for="" class="tractor-label">State</label>
                           {{ form.state }}
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <label for="" class="tractor-label">District</label>
                            {{ form.district }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-5">
                            <label for="" class="tractor-label">Implement</label>
                           {{ form.implement }}
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <label for="" class="tractor-label">Bid Price</label>
                            {{ form.bid_price }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id="addQuestionButton">Add Old Implement Inquery</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>


<!-- data delete -->
<script>

    $(document).ready(function() {
        $('#buyers_inquires').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                                icon: "success",
                            });
                }
            });
    })
</script>


{% endblock %}