{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Answer{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Answer</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Answer</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    
                <a href="{% url 'finance-scheme-create' %}"class="btn btn-block btn-success btn-theme-admin rounded-0" >Add Finance Scheme</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="answer" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th width="15%">Bank Name</th>
                                <th width="11%">Title</th>
                                <th width="">Image</th>
                                <th width="30%">Desctiption</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for finance in finances %}
                            <tr>
                                <td class="text-center">1</td>
                                <td>{{finance.bank_name}}</td>
                                <td><span class="badge bg-theme-green f-14 font-weight-400 text-white">{{finance.title}}</span></td>
                                <td> <img style="width: 100px;" src="{{ finance.image.url }}" alt=""></td>
                                <td>{{finance.description|safe|truncatewords:30}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'finance-scheme-update' finance.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Edit" 
                                       class="edit-icon">
                                        <i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'finance-scheme-delete' finance.id %}" 
                                        data-cooltipz-dir="bottom" 
                                        aria-label="Delete" class="delete btn btn-transparent bg-white p-0" 
                                        ><i class="fas fa-trash text-danger">
                                        </i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<div class="modal fade" id="editFinanceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title">Edit Finance Scheme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST" > 
                    {% csrf_token %}
                    <textarea id="descriptionId">{{ form.description }}</textarea>
                    <div>
                        <input type="hidden" name="" id="e-id">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">{{ form.bank_name }}</label>
                        <input type="text" id="e-bank" class="form-control tractor-input">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Title</label>
                        <input id="e-title" type="text" class="form-control tractor-input" name="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image</label>
                        <input id="e-img" type="file" rows="3" class="form-control tractor-textarea" name="">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Description</label>
                        <textarea id="e-desc" name="" rows="3" class="form-control tractor-textarea"></textarea>
                    </div>
                    <button id="editAnswerButton" type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Update Answer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>


<!-- delete answer -->
<script>

    $(document).ready(function() {
        $('#answer').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                                icon: "success",
                            });
                }
            });
    })
</script>
{% endblock %}