{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
{% endblock %}
<!-- title -->
{% block title %}Scheme Create{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Finance Scheme Create</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Finance Scheme Create</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="news_id" name="id" value="{{id}}">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="mb-10">
                                    <label class="tractor-label">Bank Name</label>
                                    <span class="tractor-select">{{form.bank_name}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="mb-10">
                                    <label class="tractor-label">Scheme Title</label>
                                    <span class="tractor-select">{{form.title}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="mb-10">
                                    <label class="tractor-label">Description</label>
                                    <span class="tractor-input" type="text">{{form.description}}</span>

                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="mb-10">
                                    <label class="tractor-label">Image</label>
                                    <span class="tractor-input">{{form.image}}</span>
                                </div>
                            </div>
                        </div>                           
                        <div class="row">
                            <div class="col-12">
                                <button id="addOldTractorButton" type="submit" href="" class="btn btn-success btn-theme-admin rounded-0">Add
                                    Finance Scheme</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
