{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Apply Insurance Edit{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit Apply Insurance</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Edit Apply Insurance </li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">Name</label>
                            {{ form.name }}
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-sm-12 col-md-7">
                                <label for="" class="tractor-label">Phone</label>
                                {{ form.mob_no }}
                            <span class="form-error">{{ form.errors.mob_no }}</span>
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <label for="" class="tractor-label">State</label>
                                {{ form.state }}
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label" >Brand</label>
                                {{ form.brand }}
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Model</label>
                                {{ form.model }}
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Registration Number</label>
                                {{ form.reg_no }}
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Reg Year</label>
                                {{ form.reg_year }}
                            </div>
                        </div>
                        <button id="addInsButton" type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Edit Insurance</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}