{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Apply Insurance{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Apply Insurance</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Apply Insurance</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addinsuranceModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Insurance</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="insurance" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th width="15%">Name</th>
                                <th width="11%">Phone</th>
                                <th>Brand</th>
                                <th>Model</th>
                                <th>Registration Number</th>
                                <th>Reg year</th>
                                <th>State</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ins in insuranceList %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{ins.name}}</td>
                                <td><span class="badge bg-theme-green f-14 font-weight-400 text-white">{{ins.mob_no}}</span></td>
                                <td>{{ins.model}}</td>
                                <td>KB-2345</td>
                                <td><span class="badge bg-theme f-14 font-weight-400 text-white">{{ins.reg_no}}</span></td>
                                <td>{{ins.reg_year}}</td>
                                <td><span class="badge bg-secondary f-14 font-weight-400 text-white">{{ins.state}}</span></td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'apply-insurance-edit' ins.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Edit" class="edit-icon"><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'd_insurance-application' ins.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Delete" 
                                        class="delete btn btn-transparent bg-white p-0" >
                                        <i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addinsuranceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Insurance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Name</label>
                        {{ form.name }}
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-7">
                            <label for="" class="tractor-label">Phone</label>
                            {{ form.mob_no }}
                            <span class="form-error">{{ form.errors.mob_no }}</span>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <label for="" class="tractor-label">State</label>
                            {{ form.state }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label" >Brand</label>
                            {{ form.brand }}
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Model</label>
                            {{ form.model }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Registration Number</label>
                            {{ form.reg_no }}
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="" class="tractor-label">Reg Year</label>
                            {{ form.reg_year }}
                        </div>
                    </div>
                    <button id="addInsButton" type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Insurance</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>



<script>
    $(document).ready(function() {
        $('#insurance').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                                icon: "success",
                            });
                }
            });
    })
</script>
{% endblock %}