{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Apply Loan{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Apply Loan</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Apply Loan</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addloanModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Loan</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="loan" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>State</th>
                                <th>District</th>
                                <th>Type of Finance</th>
                                <th>Loan Amount(Rs)</th>
                                <th>Other Information</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for loan in loan_applyList %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{loan.name}}</td>
                                <td><span class="badge bg-theme-green f-14 font-weight-400 text-white">{{loan.mob_no}}</span></td>
                                <td><span class="badge bg-secondary f-14 font-weight-400 text-white">{{loan.state}}</span></td>
                                <td>{{loan.district}}</td>
                                <td>{{loan.type_finance}}</td>
                                <td><span class="badge bg-theme f-14 font-weight-400 text-white">{{loan.loan_amount}}</span></td>
                                <td>{{loan.other_info}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'loan_edit' loan.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Edit" class="edit-icon"><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'd_loan-application' loan.id %}" 
                                        data-cooltipz-dir="bottom" aria-label="Delete"
                                         class="delete btn btn-transparent bg-white p-0">
                                         <i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addloanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Loan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" method="POST" id="addressForm" data-district-url="{% url 'district-data' %}">
                    {% csrf_token %}
                    
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Name</label>
                        {{ form.name }}
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-7">
                            <label for="" class="tractor-label">Phone</label>
                            {{ form.mob_no }}
                            <span class="form-error">{{ form.errors.mob_no }}</span>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <label for="" class="tractor-label">Type of Finance</label>
                            {{ form.type_finance }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-5">
                            <label for="" class="tractor-label">State</label>
                           {{ form.state }}
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <label for="" class="tractor-label">District</label>
                            {{ form.district }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Loan Amount (Rs)</label>
                        {{ form.loan_amount }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Other Information</label>
                        {{ form.other_info }}
                    </div>
                    <button id="addLoanButton" type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Loan</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>


<!-- delete -->
<script>
    $(document).ready(function() {
        $('#loan').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
{% endblock %}