{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}On Road Price Edit{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Edit On Road Price</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Edit On Road Price </li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form action="" method="POST" id="addressForm" data-district-url="{% url 'district-data' %}" data-municipality-url="{% url 'municipality-data' %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">Name</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">Phone</label>
                            {{ form.mobile }}
                            <span class="form-error">{{ form.errors.mobile }}</span>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label" >Brand</label>
                                {{ form.brand }}
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">Model</label>
                                {{ form.model }}
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label" >State</label>
                                {{ form.state }}
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="" class="tractor-label">District</label>
                                {{ form.district }}
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="tractor-label">Municipality</label>
                            {{ form.municipality }}
                        </div>
                        <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id="addQuestionButton">Edit On Road Price</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}