{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Question{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Tractor Valuation</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Tracror Valuation</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addValuationModal" class="btn btn-block btn-success btn-theme-admin rounded-0" >Add Tractor Valuation</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="tractor_valuation" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th width="15%">Name</th>
                                <th>Phone</th>
                                <th>Model</th>
                                <th width="12%">Brand</th>
                                <th>State</th>
                                <th>Owner</th>
                                <th>Manufacture Year</th>
                                <th>Tyre condition</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for value in tractor_val %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{value.name}}</td>
                                <td><span class="badge bg-theme-green f-14 font-weight-400 text-white">{{value.mobile}}</span></td>
                                <td>{{value.model}}</td>
                                <td>{{value.brand}}</td>
                                <td>{{value.state}}</td>
                                <td>{{value.owner}}</td>
                                <td>{{value.manufacture_year}}</td>
                                <td>{{value.tyre_condition}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="{% url 'tractor-valuation-update' value.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Edit" 
                                         class="edit-icon"><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><a href="{% url 'tractor-valuation-delete' value.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Delete" 
                                         class="delete btn btn-transparent bg-white p-0" 
                                        ><i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addValuationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Tractor Valuation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" id="addModel" method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Name</label>
                       {{ form.name }}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Phone</label>
                        {{ form.mobile }}
                        <span class="form-error">{{ form.errors.mobile }}</span>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-5">
                            <label for="" class="tractor-label">Model</label>
                           {{ form.model }}
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <label for="" class="tractor-label">Brand</label>
                            {{ form.brand }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-5">
                            <label for="" class="tractor-label">State</label>
                           {{ form.state }}
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <label for="" class="tractor-label">Owner</label>
                            {{ form.owner }}
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col-sm-12 col-md-5">
                            <label for="" class="tractor-label">Manufacture Year</label>
                           {{ form.manufacture_year }}
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <label for="" class="tractor-label">Tyre Condition</label>
                            {{ form.tyre_condition }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id="addQuestionButton">Add Tractor Valuation</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>


<!-- data delete -->
<script>

    $(document).ready(function() {
        $('#tractor_valuation').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                                icon: "success",
                            });
                }
            });
    })
</script>


{% endblock %}