{% load static %}
<div id="side-drawer" class="position-fixed">
    <div class="h-100 bg-white">
        <!-- Side Drawer Title -->

        <a class="btn btn-home" href="{% url 'tool' %}">
            <i class="fas fa-home mr-1"></i>Argo Junction
        </a>
        <div class="mobileNavTitle">
            <h4>Tools Categories</h4>
        </div>
        <!-- Side Drawer Links -->
        <ul id="links" class="mobileMenu navbar-nav mobileMenu" onclick="closeSideDrawer()">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'tarpaulin' %}">Tarpaulin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'brush-cutter' %}">Brush Cutter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'power-weeder' %}">Power Weeder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'earth-auger' %}">Earth Auger</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'power-tiller' %}">Power Tiller</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'sprayers' %}">Sprayers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'power-reaper' %}">Power Reaper</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'mowers-trimmers' %}">Mowers &amp; Trimmers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accessories' %}">Accessories</a>
            </li>

        </ul>
    </div>
</div>
<div id="side-drawer-void" class="position-fixed d-none" onclick="closeSideDrawer()"></div>
<!-- End Side Drawer -->