{% load static %}
<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row g-2">
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="top-footer__logo-img">
                        <img src="{% static 'images/logo/logo-white.png' %}" width="70" />
                    </div>
                    <h5 class="top-footer__company-title">ARGO MART PVT LTD</h5>
                    <p class="top-footer__sub-title"><i class="fas fa-phone-alt mr-2"></i>1800 200 300</p>
                    <p class="top-footer__sub-title"><i class="fas fa-envelope mr-2"></i>support@gromart.com</p>
                    <p class="top-footer__sub-title pt-2">
                        <a href=""><i class="fab fa-facebook-square fa-2x mr-2"></i></a>
                        <a href=""><i class="fab fa-google-plus-square fa-2x mr-2"></i></a>
                        <a href=""><i class="fab fa-twitter-square fa-2x mr-2"></i></a>
                        <a href=""><i class="fab fa-instagram fa-2x mr-2"></i></a>
                        <a href=""><i class="fab fa-youtube fa-2x mr-2"></i></a>
                    </p>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                    <h5 class="title">Quick Links</h5>
                    <ul class="top-footer__quicklinks">
                        <li>
                            <a href="">About us</a>
                        </li>
                        <li>
                            <a href="">Contact us</a>
                        </li>
                        <li>
                            <a href="">FAQs</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <h5 class="title">Experience Our App</h5>
                    <div class="applestore mb-2">
                        <a href=""><img src="{% static 'images/applestore.png' %}" width="150"></a>
                    </div>
                    <div class="googleplay">
                        <a href=""><img src="{% static 'images/googleplay.png' %}" width="150"></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-6 col-12">
                    <h5 class="title">Subcribe To Our Newsletter</h5>
                    <form action="{% url 'send-newsletter' %}" method="POST" class="subscribeNewsletter">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            {{ n_form.name }}
                        </div>
                        <div class="form-group mb-3">
                            {{ n_form.mobile }}
                        </div>
                        <div class="form-group mb-3">
                            {{ n_form.state }}
                        </div>
                        <button class="btn btn-success btn-block">Subcribe</button>
                    </form>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="bottom-footer">
            <div class="row g-0">
                <div class="col-md-6 col-sm-12">
                    <p class="text-center">&copy; 2020 AgroJunction. All Rights Reserved. | Developed By: Uptechsys Pvt. Ltd.</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a href="" class="nav-link">Advertise With Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">On Road Price</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-img">
        <img src="{% static 'images/bluefooter.png' %}" class="img-fluid w-100" />
    </div>
</footer>