<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tractor Shop {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />


    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />

    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/icon" sizes="16x16">

    <!-- Static block -->
    {% block static %}
    <!--  -->
    {% endblock %}
    <!-- End of static block -->
</head>

<body>
    <div class="wrapper">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" id="msg" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> {{ message | safe }}
        </div>
        {% endfor %} {% include "tool/toolLayout/tool_header.html" %}
        <!-- Content Block  -->
        {% block content %}
        <!--  -->
        {% endblock %}
        <!-- End of bloc Content -->
        {% include "tool/toolLayout/tool_footer.html" %}
    </div>

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/side_drawer.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <script>
        setTimeout(function() {
            if ($('#msg').length > 0) {
                $('#msg').remove()
            }
        }, 2000)
    </script>

    <!--Script Block -->
    {% block script %}
    <!--  -->
    {% endblock %}
    <!-- End of Script block -->
</body>

</html>