{% load static %}
<header>
    {% include "tool/toolLayout/tool_mobileHeader.html" %}

    <!-- Begin Top Navbar -->
    <nav class="navbar navbar-expand-lg topnav toolnav">
        <div class="container">
            <button class="navbar-toggler" type="button" onclick="openSideDrawer()">
        <i class="fas fa-bars"></i>
      </button>
            <a class="navbar-brand mr-auto" href="{% url 'tool' %}">
                <img src="{% static 'images/logo/logo-blue.png' %}" class="topnav__logo" alt="" />
            </a>
            <!-- mobile/tab View -->
          
            <div class="toolsearchbar__main">
                <form action="{% url 'tool-search' %}" method="GET" class="toolsearchbar__form">
                    <input id="searchToolsFormInput" name="keyword" class="ToolsSearchInput" type="text" placeholder="search any tools ...">
                    <button id="typeahead" type="submit">Search</button>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    
                    </li>
                </ul>
                <!-- Desktop view -->
                <ul class="nav topnav__right">
                    <li class="nav-item">
                        <a class="btn btn-theme-dark" href="/"><i class="fas fa-home mr-1"></i>Argo Junction</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- End Top Navbar -->

    <nav class="bottomnav">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tarpaulin' %}">Tarpaulin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'brush-cutter' %}">Brush Cutter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'power-weeder' %}">Power Weeder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'earth-auger' %}">Earth Auger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'power-tiller' %}">Power Tiller</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sprayers' %}">Sprayers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'power-reaper' %}">Power Reaper</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mowers-trimmers' %}">Mowers &amp; Trimmers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accessories' %}">Accessories</a>
                </li>

            </ul>
        </div>
    </nav>
</header>