<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Tractor Shop {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />

    <!-- Static block -->
    {% block static %}
    <!--  -->
    {% endblock %}
    <!-- End of static block -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/all.css' %}" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />


    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/icon" sizes="16x16">
    <!-- toastr  -->
    <link type="text/css" href="{% static 'toastr/toastr.min.css' %}" rel="stylesheet">
    <!-- flatpickr  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    {% block style %}

    {% endblock %}
    <style> 
        .form-error{
          color : red;
          padding: 0;
        }
  
        .form-error ul li{
          list-style:none;
          padding: 0;
        }
  
        .form-inline{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }   
  
        .form-inline input{
              margin: 5px 5px 5px 0;
        } 
  
        span .switch-btn{
          margin: 0px 10px 0 10px;
        }
        </style>


</head>

<body>
    <div class="wrapper">
        {% comment %} {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" id="msg" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> {{ message | safe }}
        </div>
        {% endfor %} {% endcomment %} {% include "layout/header.html" %}
        <!-- Content Block  -->
        {% block content %}
        <!--  -->
        {% endblock %}
        <!-- End of bloc Content -->
        {% include "layout/footer.html" %}
    </div>

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/side_drawer.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Toastr -->
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <!-- flatpick  -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var footerbarHeight = $('#mobileNavFixed').outerHeight();
        $(window).scroll(function(event) {
            didScroll = true;
        });
        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            if (Math.abs(lastScrollTop - st) <= delta)
                return;
            if (st > lastScrollTop && st > footerbarHeight) {
                $('#mobileNavFixed').removeClass('mobileNavFixedTop').addClass('mobileNavFixedBottom');
            } else {
                if (st + $(window).height() < $(document).height()) {
                    $('#mobileNavFixed').removeClass('mobileNavFixedBottom').addClass('mobileNavFixedTop');
                }
            }
            lastScrollTop = st;
        }
        $('.search-btn').on('click', function(event) {
            event.preventDefault();
            $('.fixedsearchbar').show();
            $('body').css('overflow', 'hidden');
            $(".searchinput").focus();

            $('#exit-search-box').on('click', function(event) {
                event.preventDefault();
                $('body').css('overflow', '');
                $('.fixedsearchbar').hide();
            });
        });
    </script>
    <script>
        setTimeout(function() {
            if ($('#msg').length > 0) {
                $('#msg').remove()
            }
        }, 2000)
    </script>
    <script>
        $("#id_state").change(function () {
          var url = $("#addressForm").attr("data-district-url");  // get the url of the `load_cities` view
          var provinceId = $(this).val();  // get the selected country ID from the HTML input
      
          $.ajax({                       // initialize an AJAX request
            url: url, 
            method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'state': provinceId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_district").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
      
        });
        $("#id_district").change(function () {
        var url = $("#addressForm").attr("data-municipality-url");  // get the url of the `load_cities` view
        var districtId = $(this).val();  // get the selected country ID from the HTML input
    
        $.ajax({                       // initialize an AJAX request
          url: url, 
          method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'district': districtId       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_municipality").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
    
      });
      </script>

    <!--Script Block -->
    {% block script %}

    <!--  -->
    {% endblock %}

    <!-- End of Script block -->
    <script>
        $(".check-date").flatpickr({
          enableTime: false,
          dateFormat: "Y",
        minDate: "1990"
      
      });
      
      </script>
    <script>
        toastr.options = {
               "debug": false,
               "newestOnTop": false,
               "positionClass": "toast-top-right",
               "closeButton": true,
               "timeOut": "5000",
               "progressBar": false
           }; 
   
           {% for message in messages %} 
           {% if message.level == 20 %}
               toastr.info("{{ message }}"); 
           {% elif message.level == 25 %}
               toastr.success("{{ message }}");
           {% elif message.level == 30 %}
               toastr.warning("{{ message }}"); 
           {% elif message.level == 40 %}
               toastr.error("{{ message }}"); 
           {% endif %} 
           {% endfor %}
    </script>


<script>

    function rating(starnum){
        // let star = document.getElementById('starid').value;
        document.getElementById("rated_lebel").innerHTML = starnum;



    }



var $star_ratings = $('.rating-stars .fa');
var SetStarRatings = function() {
    return $star_ratings.each(function() {
    if (parseInt($star_ratings.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
        return $(this).removeClass('fa-star-o').addClass('fa-star');
    } else {
    return $(this).removeClass('fa-star').addClass('fa-star-o');
    }
    });
    };
$star_ratings.on('click', function() {
$star_ratings.siblings('input.rating-value').val($(this).data('rating'));
return SetStarRatings();
});
</script>
</body>

</html>