{% load static %}
<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row g-2">
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="top-footer__logo-img">
                        <img src="{% static 'images/logo/logo-white.png' %}" width="70" />
                    </div>
                    <h5 class="top-footer__company-title">ARGO MART PVT LTD</h5>
                    <p class="top-footer__sub-title"><i class="fas fa-phone-alt mr-2"></i>1800 200 300</p>
                    <p class="top-footer__sub-title"><i class="fas fa-envelope mr-2"></i>support@gromart.com</p>
                    <p class="top-footer__sub-title pt-2">
                        <a href=""><i class="fab fa-facebook-square fa-2x mr-2"></i></a>
                        <a href=""><i class="fab fa-google-plus-square fa-2x mr-2"></i></a>
                        <a href=""><i class="fab fa-twitter-square fa-2x mr-2"></i></a>
                        <a href=""><i class="fab fa-instagram fa-2x mr-2"></i></a>
                        <a href=""><i class="fab fa-youtube fa-2x mr-2"></i></a>
                    </p>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                    <h5 class="title">Quick Links</h5>
                    <ul class="top-footer__quicklinks">
                        <li>
                            <a href="">About us</a>
                        </li>
                        <li>
                            <a href="">Contact us</a>
                        </li>
                        <li>
                            <a href="">FAQs</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <h5 class="title">Experience Our App</h5>
                    <div class="applestore mb-2">
                        <a href=""><img src="{% static 'images/applestore.png' %}" width="150"></a>
                    </div>
                    <div class="googleplay">
                        <a href=""><img src="{% static 'images/googleplay.png' %}" width="150"></a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-6 col-12">
                    <h5 class="title">Subcribe To Our Newsletter</h5>
                    <form action="{% url 'send-newsletter' %}" method="POST" class="subscribeNewsletter">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            {{ n_form.name }}
                        </div>
                        <div class="form-group mb-3">
                            {{ n_form.mobile }}
                        </div>
                        <div class="form-group mb-3">
                            {{ n_form.state }}
                        </div>
                        <button class="btn btn-success btn-block">Subcribe</button>
                    </form>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="bottom-footer">
            <div class="row g-0">
                <div class="col-md-6 col-sm-12">
                    <p class="text-center">&copy; 2020 AgroJunction. All Rights Reserved. | Developed By: Uptechsys Pvt. Ltd.</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a href="" class="nav-link">Advertise With Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">On Road Price</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-img">
        <img src="{% static 'images/bluefooter.png' %}" class="img-fluid w-100" />
    </div>
</footer>

<div class="mobileNavFixedBottom" id="mobileNavFixed">
    <ul class="nav">
        <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-home"></i>Home</a></li>
        <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-rupee-sign"></i>Price</a></li>
        <li class="nav-item">
            <div class="selltractorbutton">
                <div class="newsellbutton">
                    <a href="" class="nav-link">
                        <i><img src="{% static 'images/icons/tractoriconNew.png' %}" alt=""></i>Buy Tractor</a>
                </div>
            </div>
        </li>
        <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-android"></i>Android</a></li>
        <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-phone"></i>Call</a></li>
    </ul>
</div>
<div class="fixedsearchbar">
    <div class="fixedsearchbar-form">
        <span class="fixedsearchbar-close" id="exit-search-box"><i class="fas fa-times"></i></span>
        <p>Find Your Right Tractor and Implements</p>
        <form action="" method="GET">
            <div class="form-group">
                <input id='search_input' type="text" class="searchinput" name="q" placeholder="Search Tractors, Implements ..." autocomplete="off">
                <button type="submit">Search <i class="fa fa-search"></i></button>
            </div>
        </form>
        <div class="fixedsearchbar-results">
            <div class="fixedsearchbar-resultsList" id ='results'>
                {% if search_tractors %}
                <p>Trending Tractors</p>
                <ul id="trendingTractors">
                    {% for tractor in search_tractors %}
                    <li><a href="{% url 'tractor-detail' tractor.id %}">{{tractor.brand }} {{ tractor.model }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if search_tractors %}
                <p>Old Tractors</p>
                <ul id="trendingTractors">
                    {% for tractor in search_tractors %}
                    <li><a href="{% url 'tractor-detail' tractor.id %}">{{tractor.brand }} {{ tractor.model }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if search_tractors %}
                <p>Trending Implements</p>
                <ul id="trendingTractors">
                    {% for tractor in search_tractors %}
                    <li><a href="{% url 'tractor-detail' tractor.id %}">{{tractor.brand }} {{ tractor.model }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    const data = '{{search_tractors}}'
    console.log(data)

    const rdata = JSON.parse(data.replace(/&quot;/g,'"'))
    console.log(rdata)

    const input = document.getElementById('search_input')
    let filteredArr = []
    input.addEventListener('keyup', ()=>{
        results.innerHTML = ""

    })
</script>