{% load static %}
<header>
    {% include "layout/mobileheader.html" %}

    <!-- Begin Top Navbar -->
    <nav class="navbar navbar-expand-lg topnav">
        <div class="container">
            <button class="navbar-toggler" type="button" onclick="openSideDrawer()">
        <i class="fas fa-bars text-dark-theme"></i>
      </button>
            <a class="navbar-brand mr-auto" href="{% url 'index' %}">
                <img src="{% static 'images/logo/logo-blue.png' %}" class="topnav__logo" alt="" />
            </a>
            <!-- mobile/tab View -->
            <div class="d-block d-sm-block d-md-block d-lg-none">
                <ul class="nav topnav__right">
                    <li class="nav-item">
                        <a href="Javascript:void(0);" class="nav-link search-btn">
                            <i class="fas fa-search mr-2"></i>Search</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="btn btn-theme-dark btn-sell" href="{% url 'sell' %}"><i class="fas fa-camera mr-1"></i>Sell</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all-brands' %}">Brands</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Tractors
            </a>
                        <ul class="dropdown-menu fade-up" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'compare' %}">Compare</a></li>
                            <li><a class="dropdown-item" href="{% url 'new-tractors' %}">New Tractors</a></li>
                            <li><a class="dropdown-item" href="{% url 'popular-tractors' %}">Popular Tractors</a></li>
                            <li><a class="dropdown-item" href="{% url 'latest-tractors' %}">Latest Tractors</a></li>
                            <li><a class="dropdown-item" href="{% url 'upcoming-tractors' %}">Upcoming Tractors</a></li>
                            <li><a class="dropdown-item" href="{% url 'mini-tractors' %}">Mini Tractors</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Old
            </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'used-tractor' %}">Buy Old Tractor</a></li>
                            <li><a class="dropdown-item" href="{% url 'sell_tractor' %}">Sell Old Tractor</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Implements
            </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'implement' %}">All Implements</a></li>
                            <li><a class="dropdown-item" href="{% url 'rotary_tiller' %}">Rotary Tiller/ Rotavator</a></li>
                            <li><a class="dropdown-item" href="{% url 'cultivator' %}">Cultivator</a></li>
                            <li><a class="dropdown-item" href="{% url 'plough' %}">Plough</a></li>
                            <li><a class="dropdown-item" href="{% url 'harrow' %}">Harrow</a></li>
                            <li><a class="dropdown-item" href="{% url 'trailer' %}">Trailer</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'harvester' %}">Harvesters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lubricant' %}">Lubricants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tool' %}">Tools
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tyre' %}">Tyres</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Buy
            </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'farm_implement' %}">Farm Implements</a></li>
                            <li><a class="dropdown-item" href="{% url 'buy_old_harvester' %}">Harvester</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              More
            </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'loan' %}">Finance</a></li>
                            <li><a class="dropdown-item" href="{% url 'insurance' %}">Insurance</a></li>
                            <li><a class="dropdown-item" href="{% url 'find-dealer' %}">Find Dealer</a></li>
                            <li><a class="dropdown-item" href="{% url 'emi-calculator' %}">Emi Calculator</a></li>
                            <li><a class="dropdown-item" href="{% url 'dealership' %}">Dealership Enquiry</a></li>
                            <li><a class="dropdown-item" href="{% url 'find-dealer' %}">Certified Dealers</a></li>
                            <li><a class="dropdown-item" href="{% url 'broker' %}">Broker Dealer <span class="tagMenu">New</span></a></li>
                            <li><a class="dropdown-item" href="{% url 'review' %}">Review</a></li>
                            <li><a class="dropdown-item" href="{% url 'ask-question' %}">Ask A Question</a></li>
                            <li><a class="dropdown-item" href="{% url 'video' %}">Videos</a></li>
                        </ul>

                    </li>
                </ul>
                <!-- Desktop view -->
                <ul class="nav topnav__right">
                    <li class="nav-item mr-2">
                        <a class="btn btn-theme-dark btn-sell" href="{% url 'sell' %}"><i class="fas fa-camera mr-1"></i>Sell</a>
                    </li>
                    <li class="nav-item">
                        {% if not request.user.is_authenticated %}
                        <a href="{% url 'customer-login' %}" class="nav-link">
                            <i class="fas fa-user mr-2"></i>Login</a>
                            <li class="nav-item">
                                <a href="{% url 'signup' %}" class="nav-link">| Sign Up</a>
                            </li>

                        {% else %}
                        <a href="{% url 'customer-logout' %}" class="nav-link"><i class="fas fa-user mr-2"></i>Logout</a> {% endif %}
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">{{user.username}}</span>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link search-btn">
                            <i class="fas fa-search mr-2"></i>Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Top Navbar -->

    <nav class="bottomnav">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sell_tractor' %}">Sell Tractor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dealership' %}">Dealership Enquiry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news' %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'find-dealer' %}">Certified Dealers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'loan' %}">Loan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'insurance' %}">Insurance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'review' %}">Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tractor_valuation' %}">Tractor Valutation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'video' %}">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'on_road_price' %}">On Road Price</a>
                </li>
            </ul>
        </div>
    </nav>
</header>