{% load static %}
<div id="side-drawer" class="position-fixed">
    <div class="h-100 bg-white">
        <!-- Side Drawer Title -->
        <div class="p-3 d-flex justify-content-between bg-light-theme border-bottom">
            <div>
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/logo/logo-white.png' %}" class="topnav__logo" alt="" />
                </a>
            </div>
            <div class="align-self-center">
                <a href="" class="nav-link text-light f-regular" data-toggle="modal" data-target="#loginModal">
                    <i class="fas fa-user mr-2"></i>Login</a>
            </div>

        </div>
        <!-- Side Drawer Links -->
        <ul id="links" class="mobileMenu navbar-nav mobileMenu" onclick="closeSideDrawer()">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'all-brands' %}">Brands</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Tractors
          </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'compare' %}">Compare</a></li>
                    <li><a class="dropdown-item" href="{% url 'new-tractors' %}">New Tractors</a></li>
                    <li><a class="dropdown-item" href="{% url 'popular-tractors' %}">Popular Tractors</a></li>
                    <li><a class="dropdown-item" href="{% url 'latest-tractors' %}">Latest Tractors</a></li>
                    <li><a class="dropdown-item" href="{% url 'upcoming-tractors' %}">Upcoming Tractors</a></li>
                    <li><a class="dropdown-item" href="{% url 'mini-tractors' %}">Mini Tractors</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Old
          </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'used-tractor' %}">Buy Old Tractor</a></li>
                    <li><a class="dropdown-item" href="{% url 'sell_tractor' %}">Sell Old Tractor</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Implements
          </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'implement' %}">All Implements</a></li>
                    <li><a class="dropdown-item" href="{% url 'rotary_tiller' %}">Rotary Tiller/ Rotavator</a></li>
                    <li><a class="dropdown-item" href="{% url 'cultivator' %}">Cultivator</a></li>
                    <li><a class="dropdown-item" href="{% url 'plough' %}">Plough</a></li>
                    <li><a class="dropdown-item" href="{% url 'harrow' %}">Harrow</a></li>
                    <li><a class="dropdown-item" href="{% url 'trailer' %}">Trailer</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'harvester' %}">Harvesters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lubricant' %}">Lubricants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tool' %}">Tools
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tyre' %}">Tyres</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
      Buy
    </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'farm_implement' %}">Farm Implements</a></li>
                    <li><a class="dropdown-item" href="{% url 'buy_old_harvester' %}">Harvester</a></li>
                    <li><a class="dropdown-item" href="{% url 'land_properties' %}">Land & Properties</a></li>
                    <li><a class="dropdown-item" href="{% url 'animal_livestock' %}">Animal / Livestock</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            More
          </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'loan' %}">Finance</a></li>
                    <li><a class="dropdown-item" href="{% url 'insurance' %}">Insurance</a></li>
                    <li><a class="dropdown-item" href="{% url 'find-dealer' %}">Find Dealer</a></li>
                    <li><a class="dropdown-item" href="{% url 'emi-calculator' %}">Emi Calculator</a></li>
                    <li><a class="dropdown-item" href="{% url 'dealership' %}">Dealership Enquiry</a></li>
                    <li><a class="dropdown-item" href="{% url 'find-dealer' %}">Certified Dealers</a></li>
                    <li><a class="dropdown-item" href="{% url 'broker' %}">Broker Dealer <span class="tagMenu">New</span></a></li>
                    <li><a class="dropdown-item" href="{% url 'review' %}">Review</a></li>
                    <li><a class="dropdown-item" href="{% url 'news' %}">News &amp; Update</a></li>
                    <li><a class="dropdown-item" href="{% url 'tractor-news' %}">Tractor News</a></li>
                    <li><a class="dropdown-item" href="{% url 'agriculture-news' %}">Agriculture News</a></li>
                    <li><a class="dropdown-item" href="{% url 'ask-question' %}">Ask A Question</a></li>
                    <li><a class="dropdown-item" href="{% url 'video' %}">Videos</a></li>
                    <li><a class="dropdown-item" href="{% url 'blog' %}">Blog</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div id="side-drawer-void" class="position-fixed d-none" onclick="closeSideDrawer()"></div>
<!-- End Side Drawer -->