.content-title {
    color: #102f4a;
    padding: 0 0 12px;
    position: relative;
    font-weight: 700;
}

.content-title::before {
    content: "";
    height: 4px;
    width: 55px;
    background: #109d59;
    position: absolute;
    bottom: 0;
    left: 0;
}

.dataTables_scrollBody {
    overflow-y: hidden !important;
}


/* breadcrumb */

.breadcrumb {
    font-size: 13px;
}


/* content */

.content-header {
    padding: 16px 8.5px;
}

.content-wrapper>.content {
    padding: 0 8.5px 16px;
}


/* sidebar */

.sidebar-dark-primary {
    background-color: #003f58;
}

.sidebar-dark-primary .brand-link {
    color: #fff;
    border-color: #fff;
}

.sidebar {
    background-color: #003f58;
}

.t-nav-icon {
    font-size: 14px !important;
    width: 1rem !important;
}

.nav-sidebar .nav-item>.nav-link {
    padding: .5rem;
    font-size: 14px;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-treeview {
    margin: 0 0 0 0.75rem;
    background-color: #456673;
    /* background: #009fde; */
    border-radius: 4px;
}


/* button */

.btn-theme-admin {
    box-shadow: none;
    color: white !important;
    transition: all 0.3s ease-in-out;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-theme-admin:active,
.btn-theme-admin:focus,
.btn-theme-admin:hover {
    box-shadow: none;
    outline: 0;
    background: #dceaff;
    border-color: #1e7e34;
    color: #1e7e34 !important;
    box-shadow: 4px 4px 0 1px #1e7e34;
    transform: translate(-4px, -4px);
}

.form-block {
    background: #ffffff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15);
    margin-bottom: 1rem;
}

.form-title {
    color: #102f4a;
    font-weight: 700;
    border-left: 3px solid #2f6fd0;
    padding-left: 12px;
}


/* form */

.tractor-input {
    font-size: 0.875rem;
    font-weight: 400;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    box-shadow: none;
}

.tractor-input:focus,
.tractor-input:active {
    box-shadow: none;
    border-color: #003f58;
}

.tractor-textarea {
    font-size: 0.875rem;
    font-weight: 400;
    border-radius: 0;
    box-shadow: none;
}

.tractor-textarea:focus,
.tractor-textarea:active {
    box-shadow: none;
    border-color: #003f58;
}

.tractor-label {
    font-size: 0.875rem;
    font-weight: 600;
    color: #4d4c4b;
    margin-bottom: 0.5rem;
}

.tractor-select {
    font-size: 0.875rem;
    font-weight: 400;
    color: #4d4c4b;
    border-radius: 0;
    border-color: #ced4da;
    height: 39px;
    line-height: 26px;
}

.tractor-select:focus,
.tractor-select:active {
    box-shadow: none;
    border-color: #003f58;
}

.tractor-check-input {
    width: 14px;
    height: 14px;
    margin-top: 3px;
}

.tractor-check-input:focus {
    box-shadow: none;
}

.tractor-check-input:checked {
    border-color: #003f58;
    background-color: #003f58;
}

.badge-light-tractor {
    background-color: #f0f0f5;
    color: #4d4c4b;
    font-size: 0.8125rem;
    font-weight: 400;
    padding: 0.3125rem 0.625rem;
}

.tractor-input-group-text {
    border: 0;
    padding: 0;
    background-color: transparent;
}

.tractorModal__header {
    border-bottom: 0;
}

.tractorModal__header---title {
    color: #003f58;
    line-height: 1.6;
}

.tractorModal__body {
    padding-top: 0;
}

.file-image {
    display: none;
}

.bg-theme-green {
    background-color: #109d59;
}

.bg-theme {
    background-color: #003f58;
}

.f-14 {
    font-size: 14px;
}

.font-weight-400 {
    font-weight: 400;
}


/* pagination */

.dataTables_info {
    font-size: 14px;
    font-weight: 400;
    color: #878787;
}

.dataTables_length label {
    font-size: 14px;
    color: #4d4c4b;
}

.dataTables_filter label {
    font-size: 14px;
    color: #4d4c4b;
}

.dataTables_filter input {
    font-size: 14px;
    color: #4d4c4b;
}

.dataTables_filter input:focus,
.dataTables_filter input:active {
    outline: 0;
    box-shadow: none;
    border-color: #003f58;
}

.paginate_button a {
    font-size: 14px;
}