{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
{% endblock %}
<!-- title -->
{% block title %}News Edit{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">News Edit</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'news-dashboard' %}">News</a></li>
                    <li class="breadcrumb-item active">News Edit</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-block">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="news_id" name="id" value="{{id}}">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="mb-10">
                                    <label class="tractor-label">Title</label>
                                    <span class="tractor-select">{{form.title}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="mb-10">
                                    <label class="tractor-label">Slug</label>
                                    <span class="tractor-select">{{form.slug}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="mb-10">
                                    <label class="tractor-label">Content</label>
                                    <span class="tractor-input" type="text">{{form.text}}</span>

                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="mb-10">
                                    <label class="tractor-label">Image</label>
                                    <span class="tractor-input">{{form.image}}</span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="mb-10">
                                    <label class="tractor-label">News Category</label>
                                    <span class="tractor-input">{{form.newscategory}}</span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="mb-10">
                                    <label class="tractor-label">Banner</label>
                                    <span class="tractor-input">{{form.banner}}</span>
                                </div>
                            </div>
                        </div>                           
                        <div class="row">
                            <div class="col-12">
                                <button id="addOldTractorButton" type="submit" href="" class="btn btn-success btn-theme-admin rounded-0">Add
                                    Old Tractor</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script%}
<script>
    $("#id_title" ).keyup(function( event ) {
        $("#id_slug").val($("#id_title").val().toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-'))  
    });
</script>
{% endblock %}