{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}News{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">News</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">News</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addNewsModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add News</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="news" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Category</th>
                                <th>Image</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for newslist in newslists %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{newslist.title}}</td>
                                <td>{{newslist.text|truncatechars:170}}</td>
                                <td><span class="badge bg-secondary f-14 font-weight-400 text-white">{{newslist.category}}</span></td>
                                <td class="table-image"><img src="{{newslist.image.url}}" alt=""></td>
                                <td class="text-center">
                                    <span class="action-icon mr-3">
                                        <a href="" data-cooltipz-dir="bottom" aria-label="Edit"
                                         data-toggle="modal" data-target="#editnesModal" 
                                         class=" edit_news_form" edit_id="{{newslist.id}}" 
                                         edit_title="{{newslist.title}}" edit_content="{{newslist.text}}" 
                                         edit_image="{{newslist.image}}" edit_category="{{newslist.category}}">
                                            <i class="fas fa-edit text-secondary"></i>
                                        </a></span>
                                    <span class="action-icon"><button data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0" data-sid="{{newslist.id}}"><i class="fas fa-trash text-danger"></i></button></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade addNewsModal" id="addNewsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add News</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" class="newsPostForm" enctype="multipart/form-Data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Title</label>
                        <input type="text" class="form-control tractor-input" name="" id="newsTitle" required>
                    </div>
                    <div class="form-group mb-3">
                        {{form.media}}
                        <label for="" class="tractor-label">Content</label>
                        {{form.text}}
                        <textarea rows="3" class="form-control tractor-textarea" name="" id="newsContent" required></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image</label>
                        <input type="file" class="form-control tractor-input" name="" id="newsImage" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Select Category</label>
                        <select class="form-control tractor-select" id="newsCategory" required>
                            {% for cat in categorylist %}
                            <option value="{{cat.id}}">{{cat.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add News</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<div class="modal fade" id="editnesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title">Edit News</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" id="newsEditForm" enctype="multipart/form-Data">
                    <input type="hidden" id="news_id" >
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Title</label>
                        <input type="text" class="form-control tractor-input" name="" id="news_title">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label" >Content</label>
                        <textarea rows="3" class="form-control tractor-textarea" name="" id="news_content"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image</label>
                        <input type="file" class="form-control tractor-input" name="" id="news_image">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Select Category</label>
                        <select class="form-control tractor-select" id="news_category">
                            {% for cat in categorylist %}
                            <option value="{{cat.id}}">{{cat.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id="newsUpdateBtn">Update News</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    $(document).ready(function() {
        $('#news').DataTable();
    });
     //add news
      var formData = new FormData();
   
      $(".newsPostForm").on('submit', function(e) {
            e.preventDefault();
            formData.append('title', $('#newsTitle').val())
            formData.append('content', $('#newsContent').val())
            formData.append('image',  $('#newsImage')[0].files[0])
            formData.append('category', $("#newsCategory").val())
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
          axios.post('{% url "newspost" %}', formData).then(function(thisnews){
            location.reload(true);
          })
        });
        //edit news form
    $('.edit_news_form').click(function(){
          let id = $(this).attr("edit_id");
          let title = $(this).attr("edit_title");
          let text = $(this).attr("edit_content");
          let image = $(this).attr("edit_image");
          let category = $(this).attr("edit_category");
           $('#news_id').val(id);
           $('#news_title').val(title); 
           $('#news_content').val(text); 
           $('#news_image').val(image);  
           $('#news_category').val(category);  

        })
      var fd = new FormData();
   
      $("#newsEditForm").on('submit', function(e) {
            e.preventDefault();
            fd.append('id', $('#news_id').val())
            fd.append('title', $('#news_title').val())
            fd.append('content', $('#news_content').val())
            fd.append('image',  $('#news_image')[0].files[0])
            fd.append('category', $("#news_category").val())
            fd.append('csrfmiddlewaretoken', '{{ csrf_token }}')
          axios.post('{% url "newsedit" %}', fd).then(function(response){
            location.reload(true);
          })
        });
    //

    // delete alert
    $('.delete').click(function() {
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                let id = $(this).attr("data-sid");
                    $.ajax({
                                url : "{% url 'newsdelete' %}",
                                dataType: "json",
                                data : {id : id, csrfmiddlewaretoken : "{{csrf_token}}"},
                                method : "POST",
                                success : function(response){
                                        swal(" 'Your file has been deleted.'!", {
                                            icon: "success",
                                        });
                                    }
                            })
                    $(this).parents("tr").animate({ backgroundColor: "#003" }, "slow")
                            .animate({ opacity: "hide" }, "slow");
                }
            });

    })
</script>
{% endblock %}