{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}News{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">News</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">News</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addNewsModal" class="btn btn-block btn-success btn-theme-admin rounded-0" id="addNewsFirst") >Add News</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="news" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Category</th>
                                <th>Image</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for newslist in newslists %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{newslist.title}}</td>
                                <td>{{newslist.text|striptags|truncatechars:170|safe}}</td>
                                <td><span class="badge bg-secondary f-14 font-weight-400 text-white">{{newslist.newscategory}}</span></td>
                                <td class="table-image"><img src="{{newslist.image.url}}" alt=""></td>
                                <td class="text-center">
                                    <span class="action-icon mr-3">
                                        <a href="{% url 'newsedit' newslist.id %}" data-cooltipz-dir="bottom" aria-label="Edit"
                                         data-toggle="">
                                            <i class="fas fa-edit text-secondary"></i>
                                        </a></span>
                                    <span class="action-icon"><a href="{% url 'newsdelete' newslist.id %}" data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0" ><i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade addNewsModal" id="addNewsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  style="min-width: 750px">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add News</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="{% url 'news-post' %}" id="newsPostForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="myid">
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Title</label>
                        {{form.title}}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Slug</label>
                        {{form.slug}}
                    </div>

                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Content</label>
                        {{form.text}}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image</label>
                       {{form.image}}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Select Category</label>
                        {{form.newscategory}}
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Banner</label>
                        {{form.banner}}
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id="newsAddButton">Add News</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>

<script>
    $("#id_title" ).keyup(function( event ) {
        $("#id_slug").val($("#id_title").val().toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-'))  
    });
</script>
<script>
    $(document).ready(function() {
        $('#news').DataTable();
    });

    $('#addNewsFirst').click(function(){
        var x = document.getElementById("myid");
                x.style.display = "none";
            $('#myid').val('');
           $('#id_title').val(''); 
           $('#id_text').val(''); 
           $('#id_image').val('');  
           $('#id_category').val(''); 
    }),
    $('.edit_news_form').click(function(){
            var element = document.getElementById("exampleModalLabel");
                element.innerHTML = "Edit News";
            var element = document.getElementById("newsAddButton");
                element.innerHTML = "Update News";
            
              var x = document.getElementById("myid");
                x.style.display = "block";

          let id = $(this).attr("edit_id");
          let title = $(this).attr("edit_title");
          let text = $(this).attr("edit_content");
          let image = $(this).attr("edit_image");
          let category = $(this).attr("edit_category");
           $('#myid').val(id);
           $('#id_title').val(title); 
           $('.note-editable').val(text); 
           $('#id_image').val(image);  
           $('#id_category').val(category); 
        })
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault()
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    $(this).parents("tr").animate({ backgroundColor: "#003" }, "slow")
                            .animate({ opacity: "hide" }, "slow");
                }
            });

    })
</script>
{% endblock %}