{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}News Category{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">News Category</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">News Category</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addnewsCategoryModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add News Category</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="news" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Name</th>
                                <th>Slug</th>
                                <th>Order ID</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for catnews in newscategories %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{catnews.name}}</td>
                                <td>{{catnews.slug}}</td>
                                <td>{{catnews.order_num}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3">
                                        <a href="" data-cooltipz-dir="bottom" aria-label="Edit" data-toggle="modal" data-target="#editcategoryModal" edit_id="{{catnews.id}}" class="edit_cat_form" name_id="{{catnews.name}}"  slug_id="{{catnews.slug}}" order_id="{{catnews.order_num}}" edit_name="{{catnews.name}}"><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon">
                                        <a href="{% url 'newscatdel' catnews.id %}" data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0" ><i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addnewsCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add News Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="{% url 'news-category-post' %}" method="POST" id="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Name</label>
                        <input type="text" class="form-control tractor-input" name="name" value="" id="id_name" required="">

                        <label for="" class="tractor-label">Slug</label>
                        {{form.slug}}
                        <label for="" class="tractor-label">Order ID</label>
                       {{form.order_num}}
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id="newscatbtn">Add News Category                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<div class="modal fade" id="editcategoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title">Edit News Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                  <form action="{% url 'news-category-post' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="hidden" id="cat_id" name="id">
                        <label for="" class="tractor-label">Name</label>
                        <input type="text" class="form-control tractor-input" name="name" value="" id="eid_name" required="">
                        <label for="" class="tractor-label">Slug</label>
                        <input type="text" class="form-control tractor-input" name="slug" value="" id="eid_slug" required="">
                        <label for="" class="tractor-label">Order ID</label>
                        <input type="text" class="form-control tractor-input" name="order_num" value="" id="eid_order_num" required="">
                    </div>
                       <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id="cat_update">Update News Category</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#news').DataTable();
    });
    $("#id_name" ).keyup(function( event ) {
        $("#id_slug").val($("#id_name").val().toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-'))  
    });
     $("#eid_name" ).keyup(function( event ) {
        $("#eid_slug").val($("#eid_name").val().toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-'))  
    });
    $('.edit_cat_form').click(function(){
            $('#eid_name').val($(this).attr("name_id"));
           $('#eid_slug').val($(this).attr("slug_id"));
           $('#eid_order_num').val($(this).attr("order_id"));
           $('#cat_id').val($(this).attr("edit_id")); 
    })


     // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    $(this).parents("tr").animate({ backgroundColor: "#003" }, "slow")
                            .animate({ opacity: "hide" }, "slow");
                }
            });

    })
</script>
{% endblock %}