{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Newsletter {% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Newsletter </h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Newsletter </li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <!-- <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#adddealershipModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Dealership</a>
            </div>
        </div> -->
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="enquiry" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>State</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for newsletter in object_list %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{newsletter.name}}</td>
                                <td><span class="badge bg-theme-green f-14 font-weight-400 text-white">{{newsletter.mobile}}</span></td>
                                <td><span class="badge bg-secondary f-14 font-weight-400 text-white">{{newsletter.state}}</span></td>
                                <td class="text-center">
                                    <span class="action-icon"><a href="{% url 'newsletter-delete' newsletter.id %}"
                                         data-cooltipz-dir="bottom" aria-label="Delete"
                                          class="delete btn btn-transparent bg-white p-0">
                                          <i class="fas fa-trash text-danger"></i></a></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#enquiry').DataTable();
    });
    // delete alert
    $('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                    if(willDelete){
                        window.location.href = $(this).attr('href');
                        swal(" 'Your file has been deleted.'!", {
                                            icon: "success",
                                        });
                    }
            });
    })
</script>
{% endblock %}