{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Post{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Post</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Post</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addpostModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Post</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="posts" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Category</th>
                                <th>Image</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td>{{post.title}}</td>
                                <td>{{post.text|truncatechars:170}}</td>
                                <td><span class="badge bg-secondary f-14 font-weight-400 text-white">{{post.category}}</span></td>
                                <td class="table-image"><img src="{{post.image.url}}" alt=""></td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="" data-cooltipz-dir="bottom" aria-label="Edit" data-toggle="modal" data-target="#editpostModal" class="edit_post_form" edit_id="{{post.id}}" edit_title="{{post.title}}" edit_content="{{post.text}}" edit_image="{{post.image}}" edit_category="{{post.category}}"><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><button data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0" data-sid="{{post.id}}"><i class="fas fa-trash text-danger"></i></button></span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addpostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" id="postPostForm" enctype="multipart/form-Data">
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Title</label>
                        <input type="text" class="form-control tractor-input" name="" id="postTitle">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Content</label>
                        <textarea rows="3" class="form-control tractor-textarea" name="" id="postContent"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image</label>
                        <input type="file" class="form-control tractor-input" name="" id="postImage">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Select Category</label>
                        <select class="form-control tractor-select" id="postCategory">
                            {% for postcat in category %}
                            <option value="{{postcat.id}}">{{postcat.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Post</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<div class="modal fade" id="editpostModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title">Edit Posts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" id="postEditForm" enctype="multipart/form-Data">
                    <input type="hidden" id="post_id">
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Title</label>
                        <input type="text" class="form-control tractor-input" name="" id="post_title">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Content</label>
                        <textarea rows="3" class="form-control tractor-textarea" name="" id="post_content"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Image</label>
                        <input type="file" class="form-control tractor-input" name="" id="post_image">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Select Category</label>
                        <select class="form-control tractor-select" id="post_category">
                            {% for cat in category %}
                            <option value="{{cat.id}}">{{cat.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id="postEditBtn">Update Posts</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    $(document).ready(function() {
        $('#posts').DataTable();
    });
    //post add 
     var formData = new FormData();
   
      $("#postPostForm").on('submit', function(e) {
            e.preventDefault();
            formData.append('title', $('#postTitle').val())
            formData.append('text', $('#postContent').val())
            formData.append('image',  $('#postImage')[0].files[0])
            formData.append('category', $("#postCategory").val())
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
          axios.post('{% url "post-post" %}', formData).then(function(thisnews){
            location.reload(true);
          })
        });
        //edit post
        $('.edit_post_form').click(function(){
              let id = $(this).attr("edit_id");
              let title = $(this).attr("edit_title");
              let text = $(this).attr("edit_content");
              let image = $(this).attr("edit_image");
              let category = $(this).attr("edit_category");
               $('#post_id').val(id);
               $('#post_title').val(title); 
               $('#post_content').val(text); 
               $('#post_image').val(image);  
               $('#post_category').val(category);  

        });

        var fd = new FormData();
         $("#postEditForm").on('submit', function(e) {
            e.preventDefault();
            fd.append('id', $('#post_id').val())
            fd.append('title', $('#post_title').val())
            fd.append('text', $('#post_content').val())
            fd.append('image',  $('#post_image')[0].files[0])
            fd.append('category', $("#post_category").val())
            fd.append('csrfmiddlewaretoken', '{{ csrf_token }}')
          axios.post('{% url "post-edit" %}', fd).then(function(response){
            location.reload(true);
          })
        });
    // delete alert    
    $('.delete').click(function() {
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                let id = $(this).attr("data-sid");
                    $.ajax({
                                url : "{% url 'post-del' %}",
                                dataType: "json",
                                data : {id : id, csrfmiddlewaretoken : "{{csrf_token}}"},
                                method : "POST",
                                success : function(response){
                                        swal(" 'Your file has been deleted.'!", {
                                            icon: "success",
                                        });
                                    }
                            })
                    $(this).parents("tr").animate({ backgroundColor: "#003" }, "slow")
                            .animate({ opacity: "hide" }, "slow");
                }
            });

    })
</script>
{% endblock %}