{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %} {% block static %}
<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/custom-dataTables.css' %}">
<link rel="stylesheet" href="{% static 'css/cooltipz.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/sweetalert2.min.css' %}"> {% endblock %}
<!-- title -->
{% block title %}Post Category{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="content-title">Post Category</h5>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Post Category</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <a href="" data-toggle="modal" data-target="#addpostCategoryModal" class="btn btn-block btn-success btn-theme-admin rounded-0">Add Post Category</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="post" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="2%">SN</th>
                                <th>Name</th>
                                <th width="12%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for postcat in postcategories %}
                            <tr>
                                <td class="text-center">{{postcat.id}}</td>
                                <td>{{postcat.name}}</td>
                                <td class="text-center">
                                    <span class="action-icon mr-3"><a href="" data-cooltipz-dir="bottom" aria-label="Edit" data-toggle="modal" data-target="#editpostModal"  edit_id="{{postcat.id}}" class="edit_postcat_form" name_id="{{postcat.name}}" edit_name="{{postcat.name}}"><i class="fas fa-edit text-secondary"></i></a></span>
                                    <span class="action-icon"><button data-cooltipz-dir="bottom" aria-label="Delete" class="delete btn btn-transparent bg-white p-0" data-sid="{{postcat.id}}"><i class="fas fa-trash text-danger"></i></button></span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add Modal -->
<div class="modal fade" id="addpostCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title" id="exampleModalLabel">Add Post Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" enctype="multipart/form-Data" id="postcatform">
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label" >Name</label>
                        <input type="text" class="form-control tractor-input" name="" id="postcatname">
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id=
                    "postcatbtn">Add Post Category</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<div class="modal fade" id="editpostModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tractorModal__header">
                <h5 class="modal-title tractorModal__header---title">Edit Post Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body tractorModal__body ">
                <form action="" enctype="multipart/form-Data">
                    {% csrf_token %}
                    <input type="hidden" id="e_post_cat_id">
                    <div class="form-group mb-3">
                        <label for="" class="tractor-label">Name</label>
                        <input type="text" class="form-control tractor-input" name="" value="name" id="e_post_cat_name">
                    </div>
                    <button type="submit" class="btn btn-block btn-success btn-theme-admin rounded-0" id="post_cat_update">Update Post Category</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script%}
<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/js/sweetalert.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#post').DataTable();
    });
    //edit
   $("#postcatbtn").click(function(){
    let name = $("#postcatname").val();
    let csrf = $("input[name = csrfmiddlewaretoken]").val();
        $.ajax({
            url : "{% url 'post-cat-post' %}",
            method : "POST",
            data : {name:name, csrfmiddlewaretoken:csrf},
            success : function(data){
 
            }
        });
    });

   $('.edit_postcat_form').click(function(){
          let id = $(this).attr("edit_id");
          let name = $(this).attr("name_id");
           $('#e_post_cat_name').val(name);
           $('#e_post_cat_id').val(id);  
    })


    $("#post_cat_update").click(function(){
        let name = $("#e_post_cat_name").val();
        let this_id = $("#e_post_cat_id").val();    
        let csrf = $("input[name = csrfmiddlewaretoken]").val();
            $.ajax({
                url : "{% url 'post-cat-edit' %}",
                method : "POST",
                data : {id:this_id, name:name, csrfmiddlewaretoken:csrf},
                success : function(response){
                    
                }
            });
    });

    // delete alert
    $('.delete').click(function() {
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                let id = $(this).attr("data-sid");
                    $.ajax({
                                url : "{% url 'post-cat-del' %}",
                                dataType: "json",
                                data : {id : id, csrfmiddlewaretoken : "{{csrf_token}}"},
                                method : "POST",
                                success : function(response){
                                        swal(" 'Your file has been deleted.'!", {
                                            icon: "success",
                                        });
                                    }
                            })
                    $(this).parents("tr").animate({ backgroundColor: "#003" }, "slow")
                            .animate({ opacity: "hide" }, "slow");
                }
            });

    })
</script>
{% endblock %}